{% extends "crud/detail.html" %}
{% load i18n %}
{% block actions %} {% endblock %}

{% block detail_content %}
<form method="POST">
	{% csrf_token %}
	<fieldset>
		<legend>Escolha da Legislatura e da Sessão Legislativa</legend>

    <div class="row">
      <div class="col-md-6">
        <label>Escolha uma Legislatura</label>
        <select name="legislatura"  onChange="form.submit();">
          {% for l in legislaturas %}
          <option value="{{l.id}}" {% if l == legislatura_selecionada %} selected {% endif %}>
          {{l}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-6">
        <label>Escolha uma Sessão Legislativa</label>
        <select name="sessao" onChange="form.submit();">
          {% for s in sessoes %}
          <option value="{{s.id}}" {% if s == sessao_selecionada %} selected {% endif %}>
          {{s}}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>
	</fieldset>

	<fieldset>
		<legend>Escolha da Composição da Mesa Diretora</legend>
    <div class="row">
      <div class="col-md-4">
        <label>Composição da Mesa Diretora</label>
        <select multiple size="5" name="composicao_mesa">
          {% for p in composicao_mesa %}
          <option value="{{p.parlamentar.id}}:{{p.cargo.id}}">
          {{p.parlamentar}} || {{p.cargo}}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-4">
        {% if cargos_vagos %} <input type="submit" name="Incluir" Value="Incluir" class="btn primary" /> {% endif %}
        <br />
        <br />
        <input type="submit" name="Excluir" Value="Excluir" class="btn primary" />
      </div>

      {% if cargos_vagos %}
      <div class="col-md-4">
        <label>Parlamentares</label>
        <select name="parlamentar" id="parlamentar">
          {% for p in parlamentares %}
          <option value="{{p.id}}">{{p.nome_completo}}</option>
          {% endfor %}
        </select>

        <select name="cargo" id="cargo">
          {% for c in cargos_vagos %}
          <option value="{{c.id}}">{{c}}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

    </div>
	</fieldset>
</form>
{% endblock detail_content %}