{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Mat&eacute;rias Legislativas</h1>
Este M&oacute;dulo tem por objetivo cadastrar as
Mat&eacute;rias em Tramita&ccedil;&atilde;o na Casa
Legislativa.<br />
Antes de entrar na parte de alimenta&ccedil;&atilde;o das
Mat&eacute;rias Legislativas &eacute; necess&aacute;rio que
alimente as tabelas auxiliares que d&atilde;o suporte &agrave;
esta transa&ccedil;&atilde;o, que s&atilde;o:<br />
<br />
<b>- Tabelas Auxiliares</b><br />
<br />
<ul>
  <li>&nbsp;&nbsp;&nbsp; <a href="tipo_materia_legislativa">Tipo
de Mat&eacute;ria Legislativa</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="origem">Origem</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="regime_tramitacao">Regime
de Tramita&ccedil;&atilde;o</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="modulo_comissoes">Comiss&atilde;o</a>
  </li>
  <li>&nbsp;&nbsp;&nbsp; <a href="tipo_autor">Tipo
de Autor</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="autor">Autor</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="tipo_norma_juridica">Tipo
de Normas Jur&iacute;dicas</a> (estas
informa&ccedil;&otilde;es ser&atilde;o utilizadas somente
para a fun&ccedil;&atilde;o Legisla&ccedil;&atilde;o
Citada)</li>
  <li>&nbsp;&nbsp;&nbsp; <a href="unidade_tramitacao">Unidade
de Tramita&ccedil;&atilde;o</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="orgao">&Oacute;rg&atilde;o</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="status_tramitacao">Status
da Tramita&ccedil;&atilde;o</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="modulo_parlamentares">Parlamentares</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="fim_relatoria">Tipo
de Fim de Relatoria</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="tipo_documento">Tipo
de Documento</a></li>
</ul>
<br />

<br />
  <a href="cadastro_comissoes">Anterior</a> |

  <a href="ajuda_index_html">&Iacute;ndice</a>

  | <a href="tipo_materia_legislativa">Pr&oacute;xima</a>

<br />


</div>

{% endblock base_content %}
