{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Sess&atilde;o Plen&aacute;ria - Mat&eacute;rias na Ordem do Dia</h1><br />
<br>Esta fun&ccedil;&atilde;o apresenta a lista de mat&eacute;rias legislativas que foram inscritas na Ordem do Dia da Sess&atilde;o Plen&aacute;ria para discuss&atilde;o. <br />
<br>Cada mat&eacute;ria na lista cont&eacute;m: identifica&ccedil;&atilde;o da mat&eacute;ria ( n&uacute;mero e origem), autor, ementa e observa&ccedil;&atilde;o. <br />
<br>Na identifica&ccedil;&atilde;o da mat&eacute;ria h&aacute; um link que, quando acionado, permite o acesso aos meta dados da mat&eacute;ria propriamente.<br />
<br>As mat&eacute;rias legislativas s&atilde;o inseridas na Ordem do Dia, por meio da fun&ccedil;&atilde;o <i>Ordem do Dia</i>, integrada a <i>Sess&atilde;o Plen&aacute;ria</i>.<br />
<br>Esta fun&ccedil;&atilde;o permite o acesso as fun&ccedil;&otilde;es <b>inclus&atilde;o individual</b> ou de <b>v&aacute;rias mat&eacute;rias</b> na mesma transa&ccedil;&atilde;o, conforme o bot&atilde;o que for acionado, via clique do mouse. <br />
<br>Tamb&eacute;m, &eacute; poss&iacute;vel reordenar as mat&eacute;rias na Ordem do Dia, de modo a restaurar o n&uacute;mero de ordem sequencial, bastando para isso, clicar no bot&atilde;o 'Reordenar Mat&eacute;rias na Ordem do Dia', as quais ser&atilde;o renumeradas em ordem de tipo, ano e n&uacute;mero. <br />
<br>O retorno a tela anterior &eacute; feito ao acionar o bot&atilde;o 'Retornar', que se encontra na parte inferior da tela.<br />
<br>  <a href="sessao_plenaria">Anterior</a> |

  <a href="ajuda_index_html">&Iacute;ndice</a>

  | <a href="sessao_plenaria_expedientes">Pr&oacute;xima</a>
<br />
<br />
</div>

{% endblock base_content %}
