{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Sess&atilde;o Plen&aacute;ria - Expedientes</h1><br />
<br>Esta fun&ccedil;&atilde;o permite a estrutura&ccedil;&atilde;o da Sess&atilde;o Plen&aacute;ria em partes ou t&oacute;picos de modo a melhor organizar os assuntos a serem tratados durante a Sess&atilde;o.<br />
<br>Para tanto, as partes da Sess&atilde;o dever&atilde;o ser previamente cadastradas na tabela auxiliar <b>Tipo de Expediente</b>. Para a ordena&ccedil;&atilde;o ou itemiza&ccedil;&atilde;o das partes da Sess&atilde;o, conforme desejado, sugerimos nomear os t&iacute;tulos dessas partes iniciando com uma numera&ccedil;&atilde;o. Por exemplo: 1.Abertura, 1.1.Leitura da Pauta, 1.2, 2, 2.1, etc.<br />
<br>O sistema ir&aacute; abrir uma caixa de texto para cada parte definida, de modo a permitir a edi&ccedil;&atilde;o de textos no seu interior. Assim, &eacute; poss&iacute;vel efetuar o registro de todas as a&ccedil;&otilde;es realizadas durante a Sess&atilde;o.<br />
<br>Ap&oacute;s digitar os textos dentro da caixa, acione o bot&atilde;o 'Salvar' para grava-los.<br />
<br><b>Nota:</b> Deve-se evitar copiar textos de outros editores MS Word, etc (Crtl-C e Crtl-V) para dentro da caixa de texto, uma vez que juntamente com o texto vem <i>tags</i> inseridas pelo Editor de Textos, as quais  nem sempre s&atilde;o reconhecidas ou pass&iacute;veis de tradu&ccedil;&atilde;o para o <i>html</i>, que &eacute; a linguagem do Navegador Web. Esta sugest&atilde;o &eacute; feita, pois sempre que uma <i>tag</i> existente no texto e n&atilde;o reconhecida pela fun&ccedil;&atilde;o de convers&atilde;o, o relat&oacute;rio em <i>PDF</i> deixa de ser gerado devido a ocorr&ecirc;ncias de erros decorrentes dessas <i>tags</i> n&atilde;o traduzidas.<br />
<br />
<br>  <a href="sessao_plenaria">Anterior</a> |

  <a href="ajuda_index_html">&Iacute;ndice</a>

  | <a href="recebimento_proposicao">Pr&oacute;xima</a>
<br />
<br />
</div>

{% endblock base_content %}
