{% extends 'base.html' %}
{% load i18n %}
{% block base_content %}

STATUS:
{% if painel.aberto %}
ABERTO
{% else %}
FECHADO
{% endif %}
<br/>
<form method="post">
    {% csrf_token %}
    Tipo de painel: {{ painel.get_mostrar_display }}</br>
    {% for id, value in PAINEL_TYPES %}        
    <input type="radio" name="tipo_painel" id="tipo_painel{{ forloop.counter }}" value="{{ id }}" {% if id == painel.mostrar %}checked="checked" {% endif %}>
        <label for="tipo_painel{{ forloop.counter }}">{{ value }}</label><br />
    {% endfor %}
    </br>
    <input type="submit" name="start-painel" value="Abrir Painel" class="button primary">
    <input type="submit" name="stop-painel" value="Fechar Painel" class="button primary">
    <input type="submit" name="save-painel" value="Salvar" class="button primary">
</form>
</br>
</br>
<a class="btn btn-primary" href="{{request.META.HTTP_REFERER}}">Voltar</a>

{% endblock %}
