{% load i18n %}
{% load common_tags %}

{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

<!DOCTYPE HTML>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TODO: does it need this head_title here? -->
    <title>{% block head_title %}{% trans 'SAPL - Sistema de Apoio ao Processo Legislativo' %}{% endblock %}</title>
    
      {% block webpack_loader_css %}
        {% render_chunk_vendors 'css' %}
        {% render_bundle  'global' 'css' %}
        {% render_bundle  'painel' 'css' %}
      {% endblock webpack_loader_css %}

    <style type="text/css">
        html, body {
            max-width: 100%;
            overflow-x: hidden;
        }
      @media screen {
        ul, li {
          list-style-type: none;
        }
      }
    </style>
  </head>
  <body class="painel-principal">
    <audio type="hidden" id="audio" src="{% webpack_static 'audio/ring.mp3' %}"></audio>

    {% if painel_config.exibir_nome_casa %}
      <div class="d-flex justify-content-center">
        <h1 id="casa_legislativa" class="title text-title" style="color:red">{{casa.nome}}</h1>
      </div>
    {% endif %}
    <div class="d-flex justify-content-center">
      <h1 id="sessao_plenaria" class="title text-title"></h1>
    </div>
    <div class="row ">
      <div class="col text-center">
        <span id="sessao_plenaria_data" class="text-value"></span>
      </div> 
      <div class="col text-center">
        <span id="sessao_plenaria_hora_inicio" class="text-value"></span>
      </div>
    </div>    

    <div class="row justify-content-center">
      <div class="col-1">
        <img src="" id="logo-painel" class="logo-painel" alt=""/>
      </div>
    </div>

    <div class="row justify-content-center">
      <h2 class="text-danger"><span id="message"></span></h2>
    </div>

    <div class="row">
      <div class="col text-center"><span class="text-value data-hora" id="date"></span></div>
      <div class="col text-center"><span class="text-value data-hora" id="relogio"></span></div>
    </div>

    <div class="">
      <div class="d-flex justify-content-start">
      
        {% if exibicao.parlamentares %}
        <div class="col-md-4">
          <div class="text-center painel">   
            <h2 class="text-subtitle">Parlamentares</h2>   
            <span id="parlamentares" class="text-value text-center"></span>
          </div>
        </div>
        {% endif %}

        <div class="d-flex col-md-8 painels">
          {% if exibicao.oradores %}
          <div class="col-md-6 text-center painel" id="aparecer_oradores">  
            <h2 class="text-subtitle">Oradores</h2>  
            <span id="orador" class="text-value" align="center"></span>     
          </div>
          {% endif %}

          {% if exibicao.cronometros %}
          <div class="col-md-6 text-center painel">  
            <h2 class="text-subtitle">{% if cronometros|length == 1 %}Cronômetro{% elif cronometros|length > 1%}Cronômetros{% endif %}</h2>
            <div class="text-value">
              {% for cronometro in cronometros %}
                {{cronometro}}: <span id="cronometro_{{cronometro.id}}"></span><br>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if exibicao.resultado %}
          <div class="col-md-6 text-center painel" id="resultado_votacao_div">      
            <h2 class="text-subtitle">Resultado</h2>   
            <span id="votacao" class="text-value"></span> 
            <h2><span id="resultado_votacao" lass="text-title"></span>
          </div>
          {% endif %}

          {% if exibicao.materia %}
          <div class="col-md-6 text-center painel" id="obs_materia_div">      
            <h2 class="text-subtitle" id="mat_em_votacao">Matéria em Votação</h2>   
            <span id="materia_legislativa_texto" class="text-value"></span>
            <span id="observacao_materia" class="text-value"></span>
          </div>
          {% endif %}

          <div class="col-md-6 text-center painel" id="tema_solene_div" style="display: none">      
            <h2 class="text-subtitle">Tema da Sessão Solene</h2>   
              <span id="sessao_solene_tema" class="text-value"></span>
          </div>
          
        </div>
      </div>
    </div>
  </body>

  {% block webpack_loader_js %}
    {% render_chunk_vendors 'js' %}
    {% render_bundle  'global' 'js' %}  
    {% render_bundle  'painel' 'js' %}      
  {% endblock webpack_loader_js %}

  {% block webpack_loader_chunks_js %}
  {% endblock webpack_loader_chunks_js %}

  <script type="text/javascript">
    var d = new Date();
    var n = d.toLocaleDateString();
    document.getElementById("date").innerHTML = n;

    function checkTime(i) {
      if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }

    function startTime() {
      var today=new Date();
      var h=today.getHours();
      var m=today.getMinutes();
      var s=today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      $("#relogio").text(h+":"+m+":"+s)
      var t = setTimeout(function(){
          startTime()
      }, 500);
    }

    function show_voto(voto) {
      if (voto == "Sim"){
          return '<font color="green"> Sim </font>'
      }
      else if (voto == "Não"){
          return '<font color="red"> Não </font>'
      }
      return voto
    }

    function playAudioNumVezes(audio, times, ended) {
      if (times <= 0) {
          return;
      }
      let played = 0;
      audio.addEventListener("ended", function() {
          played++;
          if (played < times) {            
              audio.play();
          } else if (ended) {
              ended();
          }
      });
      audio.play();
    }

    function convertValueToDuration(value){
      let h = Math.floor((value/1000) / 3600);
      h = checkTime(h);
      let m = Math.floor((value/1000) % 3600 / 60);
      m = checkTime(m);
      let s = Math.floor((value/1000) % 3600 % 60);
      s = checkTime(s);
      return h.toString() + ":" + m.toString() + ":" + s.toString();
    }

    $(document).ready(function() {
      //TODO: replace by a fancy jQuery clock
      startTime();

      var audioAlertFinish = document.getElementById("audio");

      // Obtém duração do disparo ao término do tempo e converte para segundos
      var duracao_disparo = "{{ painel_config.tempo_disparo_termino }}";
      let tmp = duracao_disparo.split(":");
      duracao_disparo = parseInt(tmp[0])*3600 + parseInt(tmp[1])*60 + parseInt(tmp[2]);
      var num_vezes_toca_audio = Math.round(duracao_disparo/audioAlertFinish.duration);

      var cronometros_previous = [];
      {% for cron in cronometros %}
        cronometros_previous.push(0);
        $('#cronometro_' + "{{cron.id}}").runner({
          autostart: {% if cron.status == "I"%} true {% else %} false {% endif %},
          countdown: true,
          startAt: 
            {% if cron.status == "R"%}
              parseInt("{{cron.duracao_cronometro|duration_to_seconds}}") * 1000
            {% elif cron.status == "S"%}
              {% if cron.last_stop_duration %} 
                parseInt("{{cron.last_stop_duration|duration_to_seconds}}") * 1000
              {% else %}
                parseInt("{{cron.duracao_cronometro|duration_to_seconds}}") * 1000
              {% endif %}
            {% elif cron.status == "I" %} 
              parseInt("{{cron.duracao_cronometro|duration_difference:cron.ultima_alteracao_status}}") * 1000
            {% endif %},
          stopAt: 0,
          milliseconds: false,
          format: convertValueToDuration
        }).on('runnerFinish', function(eventObject, info){
          playAudioNumVezes(audioAlertFinish, num_vezes_toca_audio);
        });
      {% endfor %}

      var tempo_disparo_antecedencia = "{{ painel_config.tempo_disparo_antecedencia }}"
      tmp = tempo_disparo_antecedencia.split(":");
      tempo_disparo_antecedencia = checkTime(parseInt(tmp[0])) + ":" + checkTime(parseInt(tmp[1])) + ":" + checkTime(parseInt(tmp[2]));

      var counter = 1;
      (function poll() {
        $.ajax({
           url: "{% url 'sapl.painel:dados_painel' sessao_id %}",
           type: "GET",
           success: function(data) {
              $("#sessao_plenaria").text(data["sessao_plenaria"])
              $("#sessao_plenaria_data").text("Data Início: " + data["sessao_plenaria_data"])
              $("#sessao_plenaria_hora_inicio").text("Hora Início: " + data["sessao_plenaria_hora_inicio"])
              $("#sessao_solene_tema").text(data["tema_solene"])
              if (data["status_painel"] == false) {
                $("#message").text("PAINEL ENCONTRA-SE FECHADO");
              } else {
                $("#message").text("");
              }

              if (data["sessao_solene"]){
                $("#resultado_votacao_div").hide();
                $("#obs_materia_div").hide();
                $('#tema_solene_div').show();
              }

              if (data["brasao"] != null)
                $("#logo-painel").attr("src", data["brasao"]);

              var presentes = $("#parlamentares");
              var votacao = $("#votacao");
              var oradores = $("#orador")
              $("#votacao").text('');
              presentes.children().remove();
              votacao.children().remove();
              oradores.children().remove();

              var oradores_list = data["oradores"];
              var presentes_list = data["presentes"];

              // Se painel está aberto
              if (data["status_painel"]) {
                presentes.append('<table id="parlamentares_list">');
                $.each(presentes_list, function (index, parlamentar) {
                  // Parlamentar já votou?
                  if (parlamentar.voto){
                    // Se a votação já foi finalizada, mostra todos os votos
                    if (data['tipo_resultado'] && data['tipo_resultado'] != "Ainda não foi votada."){
                      $('#parlamentares_list').append('<tr><td style="padding-right:20px; color:white" >' +
                          parlamentar.nome +
                          '</td> <td style="padding-right:20px; color:white">' +
                          parlamentar.partido + '</td> <td style="padding-right:20px; color:white">'
                          + show_voto(parlamentar.voto) + '</td></tr>');
                    }
                    // Senão verifica a configuração desejada
                    else{
                      {% if painel_config.mostrar_votos_antecedencia %} 
                        $('#parlamentares_list').append('<tr><td style="padding-right:20px; color:yellow" >' +
                            parlamentar.nome +
                            '</td> <td style="padding-right:20px; color:yellow">' +
                            parlamentar.partido + '</td> <td style="padding-right:20px; color:yellow">'
                            + show_voto(parlamentar.voto) + '</td></tr>');
                      {% else %}
                        $('#parlamentares_list').append('<tr><td style="padding-right:20px; color:yellow" >' +
                            parlamentar.nome +
                            '</td> <td style="padding-right:20px; color:yellow">' +
                            parlamentar.partido + '</td> <td style="padding-right:20px; color:yellow">'
                            + '</td></tr>');
                      {% endif %}
                    }
                  } else{
                    $('#parlamentares_list').append('<tr> <td style="padding-right:20px">' +
                        parlamentar.nome +
                        '</td> <td style="padding-right:20px">' +
                        parlamentar.partido + '</td> <td style="padding-right:20px">'
                        + show_voto(parlamentar.voto) + '</td></tr>')
                  }
                });

                presentes.append('</table>')

                if (data["oradores"].length > 0){
                  $('#aparecer_oradores').show();
                  oradores.append('<table id="oradores_list">');
                  $.each(oradores_list, function (index, orador) {
                    $('#oradores_list').append('<tr><td style="padding-right:20px; color:white" >' +
                        orador.numero + 'º &nbsp' +
                        orador.nome +'</td></tr>')
                  });
                  oradores.append('</table>');
                } else {
                  $('#aparecer_oradores').hide();
                }
              } else{
                presentes.append('<span id="parlamentares_list">');
                $('#parlamentares_list').append(
                    '<center>A listagem de parlamentares só aparecerá quando o painel estiver aberto.</center>')
                presentes.append('</span>');

                oradores.append('<span id="oradores_list">');
                $('#oradores_list').append(
                    '<center>A listagem de oradores só aparecerá quando o painel estiver aberto.</center>')
                oradores.append('</span>');

                votacao.append('<span id="votacao">');
                $("#votacao").append('<center>A votação só aparecerá quando o painel estiver aberto</center>');
                votacao.append('</span>');
              }

              if (data['materia_legislativa_texto'] && data["status_painel"]){

                var votacao = $("#votacao")

                var num_presentes = data["num_presentes"];

                votacao.append("<li>Sim: " + data["numero_votos_sim"] + "</li>")
                votacao.append("<li>Não: " + data["numero_votos_nao"] + "</li>")
                votacao.append("<li>Abstenções: " + data["numero_abstencoes"] + "</li>")
                votacao.append("<li>Presentes: " + num_presentes + "</li>")
                votacao.append("<li>Total votos: " + data["total_votos"] + "</li>")
              } else{
                  $("#votacao").append('<center>Não há votação, pois não há nenhuma matéria aberta ou já votada.</center>');
              };

              // obtém todos os ids em uma lista e
               // converte os dados do status dos cronômetros de dicionário para uma lista
              var ids = [];
              var status_cronometros = [];
              for (var key in data['cronometros']) {
                  if (data['cronometros'].hasOwnProperty(key)) {           
                      ids.push(key);
                      status_cronometros.push(data['cronometros'][key]);
                  }
              }

              // converte os dados de dicionário para uma lista
              var duracao_cronometros = [];
              for (let id of ids) {
                duracao_cronometros.push(data['duracao_cronometros'][id]);
              }

              for(let i=0; i<status_cronometros.length; i++){
                if (!cronometros_previous[i]){
                  cronometros_previous[i] = ''
                }

                // se houve alteração de status
                if (status_cronometros[i] != cronometros_previous[i]) {
                  if(status_cronometros[i] == 'reset'){
                    // é necessário recriar o cronômetro com o valor da duração original devido a limitações da API
                    $('#cronometro_' + ids[i]).runner({
                      autostart: false,
                      countdown: true,
                      startAt: parseInt(duracao_cronometros[i]) * 1000,
                      stopAt: 0,
                      milliseconds: false,
                      format: convertValueToDuration
                    }).on('runnerFinish', function(eventObject, info){
                      playAudioNumVezes(audioAlertFinish, num_vezes_toca_audio);
                    });
                  }
                  // ações de start e stop
                  else{
                    $('#cronometro_' + ids[i]).runner(status_cronometros[i]);
                  }
                  cronometros_previous[i] = status_cronometros[i];
                }

                // Dispara aviso prévio se estiver configurado
                if($('#cronometro_' + ids[i]).runner('info').formattedTime == tempo_disparo_antecedencia 
                  && "{{ painel_config.disparo_cronometro }}" == "True" ){
                  audioAlertFinish.play();
                }
                
              }

              if(data['sessao_finalizada']){
                $("#obs_materia_div").hide();
                $("#resultado_votacao_div").hide();
              }
              else if (data['materia_legislativa_texto']){
                if (data["status_painel"] == true){
                  $("#materia_legislativa_texto").text(data["materia_legislativa_texto"]);
                } else{
                  $("#materia_legislativa_texto").text('A Matéria em votação só aparecerá quando o painel estiver aberto');
                }
              } else{
                $("#materia_legislativa_texto").text('Não há nehuma matéria votada ou para votação');
              }

              if (data['observacao_materia'] && data["status_painel"] == true){
                var texto = data['observacao_materia'];
                if(texto.length > 151) {
                  $("#observacao_materia").text(texto.substr(0, 145).concat('(...)'));
                } else{
                    $("#observacao_materia").text(texto);
                }
              } else{
                $("#observacao_materia").text('');
              }

              if (data['tipo_resultado'] && data['status_painel']){
                $("#resultado_votacao").text(data["tipo_resultado"]);
                $("#resultado_votacao").css("color", "#45919D");
                var resultado_votacao_upper = $("#resultado_votacao").text().toUpperCase();
                if (resultado_votacao_upper.search("APROV") != -1){
                  $("#resultado_votacao").css("color", "green");
                  $("#mat_em_votacao").text("Matéria Votada");
                }
                if (resultado_votacao_upper.search("REJEIT") != -1){
                  $("#resultado_votacao").css("color", "red");
                  $("#mat_em_votacao").text("Matéria Votada");
                }
              }
              else{
                $("#resultado_votacao").text('');
                $("#mat_em_votacao").text("Matéria em Votação");
              }
          },
          error: function(err) {
            console.error(err);
          },
          dataType: "json",
          complete: setTimeout(function() {poll()}, 500),
          timeout: 20000 // TODO: decrease
        })
      })();
    });
  </script>
</html>

