{% load i18n %}
{% load common_tags %}

{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% trans 'SAPL - Sistema de Apoio ao Processo Legislativo' %}{% endblock %}</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
    />

    {% block webpack_loader_css %}
    {% render_chunk_vendors 'css' %}
    {% render_bundle 'global' 'css' %}
    {% render_bundle 'painel' 'css' %}
    {% endblock webpack_loader_css %}
</head>
<body class="min-vh-100 d-flex flex-column p-2">

{% block vue_content %}

<style>[v-cloak]{display:none}</style>
<div id="painel" v-cloak class="container-fluid" data-controller-id="{{ controller_id }}">
    <div class="row g-3">

        <div class="col-md-9 separador-vertical pe-4">
            <div class="painel p-3 h-100 d-flex flex-column">
                <painel-header ref="painelHeader"></painel-header>
                <painel-parlamentares ref="parlamentares"></painel-parlamentares>
            </div>
        </div>

        <div class="col-md-3 d-flex flex-column gap-3">
            <painel-materia ref="materia"></painel-materia>

            <painel-oradores ref="oradores"></painel-oradores>

            <painel-cronometro-list ref="cronometro_list"></painel-cronometro-list>

            <painel-resultado ref="resultado"></painel-resultado>

            <div class="painel p-3 d-flex flex-column" id="tema_solene_div" v-if="sessao && sessao.sessao_solene">
                <h2 class="text-subtitle">Tema da Sessão Solene</h2>
                <span id="sessao_solene_tema" class="text-value">[[ sessao.tema_solene ]]</span>
            </div>

            <painel-footer ref="painelFooter"></painel-footer>
        </div>

    </div>
</div>
{% endblock %}
</body>
{% block webpack_loader_js %}
{% render_chunk_vendors 'js' %}
{% render_bundle 'global' 'js' %}
{% render_bundle 'painel' 'js' %}
{% endblock webpack_loader_js %}

{% block webpack_loader_chunks_js %}
{% endblock webpack_loader_chunks_js %}
</html>