{% load i18n %}
{% load staticfiles sass_tags %}
<!DOCTYPE HTML>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% sass_src 'bootstrap-sass/assets/stylesheets/_bootstrap.scss' %}" type="text/css">
    <title>{% block head_title %}{% trans 'SAPL - Sistema de Apoio ao Processo Legislativo' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/jquery.runner.js' %}"></script>

    <style type="text/css">
      @media screen {
        body {
          background: #1c1b1b;
        }
        ul, li {
          list-style-type: none;
        }
      }
    </style>
  </head>

  <body>
    <h1><b><font color="#4FA64D"><p align="center">{{sessao}}</p></font></b></h1>
    <table style="width:100%">
      <tr>
        <th style="text-align:center"><font color="white" size="4">Data Início: {{hora}}</font></th>
        <th style="text-align:center"><font color="white" size="4">Hora Início: {{data}}</font></th>
      </tr>
    </table>
    <h1><font color="white"><p align="center"><span id="relogio"></span></p></font></h1>

    </br>
    </br>
    <h2><font color="red"><p align="center" style="font-family:Verdana">Voto: {{voto_parlamentar}}</p></font></h2>
    </br>
    </br>

    <h2><font color="#459170"><p align="center" style="font-family:Verdana">Matéria em Votação</p></font></h2>
    <table style="width:75%; border:1px;" align="center">
      <tr><th style="text-align:center"><h4><font color="white">{{materia}}</font></th></tr>
      <tr><th style="text-align:center"><h4><font color="white">{{ementa}}</font></th></tr>
      <tr><th style="text-align:center"><font color="#45919D"><span id="resultado_votacao"></span></font></th></tr>
    </table>

    <br /><br />
    <form method='POST'>
      {% csrf_token %}
      <table style="width:75%; border:1px;" align="center">
        <tr><th style="text-align:center">
          <select id="voto" name="voto" style="width:30%;">
            <option value="">Selecione</option>
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
            <option value="Absteção">Abstenção</option>
          </select>
        </th></tr>
        <tr><th style="text-align:center">
          <input type="submit" value="Votar" name="Votar" style="width:10%;"/>
        </th></tr>
      </table>
    </form>
  </body>
</html>
