{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}

{% block detail_content %}
<form method="post">
	{% csrf_token %}

	<fieldset>
		<legend>Votação Nominal</legend>
		<div>
			Matéria: {{materia.materia|safe}}
			<br />
			Ementa: {{materia.ementa|safe}}
		</div>
		<br />

		<fieldset>
			<legend>Votos</legend>
      <div class="row">
        {% for v in votos %}
        <div class="col-md-6">{{v.parlamentar}}</div>
        <div class="col-md-6">{{v.voto}}</div>
        {% endfor %}
      </div>
		</fieldset>

    <div class="row">
      <div class="col-md-12">
        Anular Votação
        <select id="anular_votacao" name="anular_votacao">
          <option value="1">Sim</option>
          <option value="0" selected>Não</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        Resultado da Votação:
        {% for tipo in view.get_tipos_votacao %}
        {% if votacao.tipo_resultado == tipo.id %}
        <b>{{ tipo.nome }}</b>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        Observações
        <textarea id="observacao" name="observacao" cols="10" rows="10">{{votacao.observacao|safe}}</textarea>
      </div>
    </div>

		<br /><br />
		<input type="submit" value="Salvar" class="btn primary" />
	</fieldset>
</form>
{% endblock detail_content %}

{% block foot_js %}
	<script language="JavaScript">
		document.getElementById("observacao").disabled = true;
	</script>
{% endblock %}