{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}

{% block detail_content %}
<form method="post">
	{% csrf_token %}

	<fieldset>
		<legend>Votação Secreta</legend>
		<div>
			Matéria: {{materia.materia|safe}}
			<br />
			Ementa: {{materia.ementa|safe}} 
		</div>
		<br />

		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Sim: <input type="text" id="votos_sim" name="votos_sim" value=""/></li>
			<li>Não: <input type="text" id="votos_nao" name="votos_nao" value=""/></li>
			<li>Abstenções: <input type="text" id="abstencoes" name="abstencoes" value=""/></li>
		</ul>

		<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
			<li>
				A totalização inclui o voto do Presidente?
				<select id="voto_presidente" name="voto_presidente">
					<option value="1">Sim</option>
					<option value="0" selected>Não</option>
				</select>
			</li>

			<li>
				Resultado da Votação
				<select id="resultado_votacao" name="resultado_votacao">
					<option value="" selected></option>
					{% for tipo in view.get_tipos_votacao %}
						<option value="{{tipo.id}}">{{tipo.nome}}</option>
					{% endfor %}
				</select>
			</li>
		</ul>

		<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
			<li>
				Observações
				<textarea id="observacao" name="observacao" cols="10" rows="10"></textarea>
			</li>
		</ul>
			
		<br /><br />
		<input type="submit" value="Salvar" />
	</fieldset>
</form>
{% endblock detail_content %}