{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}

{% block detail_content %}
<form method="post">
	{% csrf_token %}

	<fieldset>
		<legend>{{votacao_titulo}}</legend>
		<div>
			Matéria: {{materia.materia|safe}}
			<br />
			Ementa: {{materia.ementa|safe}}
		</div>
		<br />

		<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
			<li>
				Anular Votação
				<select id="anular_votacao" name="anular_votacao">
					<option value="1">Sim</option>
					<option value="0" selected>Não</option>
				</select>
			</li>
		</ul>

		<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
			<li>
				Resultado da Votação: 
				{% for tipo in view.get_tipos_votacao %}
					{% if votacao.tipo_resultado == tipo.id %}
						<b>{{ tipo.nome }}</b>
					{% endif %}
				{% endfor %}
			</li>
		</ul>

		<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
			<li>
				Observações
				<textarea id="observacao" name="observacao" cols="10" rows="10">{{votacao.observacao|safe}}</textarea>
			</li>
		</ul>
			
		<br /><br />
		<input type="submit" value="Salvar" />
	</fieldset>
</form>
{% endblock detail_content %}

{% block foot_js %}
	<script language="JavaScript">
		document.getElementById("observacao").disabled = true;
	</script>
{% endblock %}