{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}

{% block title %}
	<h1 class="page-header">
		Matérias em Tramitação <small>({{object}})</small>
	</h1>
{% endblock %}

{% block detail_content %}
	<fieldset>
		<legend>{{ comissao }}</legend>
		<b>Há {{ qtde }} matéria(s) em tramitação nesta unidade.</b> <br><br>
		{% for materia_em_tramitacao in page_obj %}
			<b><a href="{% url 'sapl.materia:materialegislativa_detail' materia_em_tramitacao.materia.id %}">
				{{ materia_em_tramitacao.materia.tipo.sigla }} {{ materia_em_tramitacao.materia.numero }}
				{{ materia_em_tramitacao.materia.ano }} - {{ materia_em_tramitacao.materia.tipo }}
			</b></a><br>
			{{ materia_em_tramitacao.materia }}<br>
			<b>Autor: </b>{{ materia_em_tramitacao.materia.autoria_set.first.autor.nome }}<br>
			<b>Situação: </b>{{ materia_em_tramitacao.tramitacao.status.descricao }}<br>
			<b>Data Fim Prazo da Última Tramitação: </b>
			{% if materia_em_tramitacao.tramitacao.data_fim_prazo %}
				{{ materia_em_tramitacao.tramitacao.data_fim_prazo }}
			{% else %}
				Não definida.
			{% endif %}<br>
			<br>
		{% endfor %}
	</fieldset>
{% endblock detail_content %}
