{% extends "crud/list.html" %}
{% load i18n common_tags crispy_forms_tags%}

{% block base_content %}
  {% if user.is_authenticated and perms.comissoes.add_reuniao %}
  <div class="context-actions clearfix">
    {% block actions %}
      <div class="actions btn-group pull-right btn-group-lg" role="group">
        {% if view.create_url %}
        <a href="{{ view.create_url }}" class="btn btn-default">
          {% blocktrans with verbose_name=view.verbose_name %} Adicionar {{ verbose_name }} {% endblocktrans %}
        </a>
        {% endif %}
        {% block more_buttons %}{% endblock more_buttons %}
      </div>
    {% endblock actions %}
  </div>
  {% endif %}

	</fieldset>
	<br/>
  {% if user.is_authenticated and perms.comissoes.add_documentoacessorio %}
    <div class="actions btn-group pull-right btn-group-lg" role="group">
        <a href="" class="btn btn-default">
        Adicionar Participação em Comissão
        </a>
    </div>
  {% endif %}
  <br />

{% endblock base_content %}
