{% extends "crud/list.html" %}
{% load i18n common_tags crispy_forms_tags%}

{% block base_content %}
  {% if user.is_authenticated and perms.comissoes.add_reuniao %}
  <div class="context-actions clearfix">
    {% block actions %}
      <div class="actions btn-group pull-right btn-group-lg" role="group">
        {% if view.create_url %}
        <a href="{{ view.create_url }}" class="btn btn-default">
          {% blocktrans with verbose_name=view.verbose_name %} Adicionar {{ verbose_name }} {% endblocktrans %}
        </a>
        {% endif %}
        {% block more_buttons %}{% endblock more_buttons %}
      </div>
    {% endblock actions %}
  </div>
  {% endif %}

  <fieldset class="form-group">
		<legend>Selecione a Reunião</legend>
		<form method="GET">
			<select name="pk" class="form-control" onChange="form.submit();">
				{% for r in reuniao_list %}
					<option value="{{r.id}}" {% if reuniao_pk == r.id %} selected {% endif %}>
						{{r}}
					</option>  
				{% endfor %}
			</select>
		</form>
	</fieldset>
	<br/>
  {% if user.is_authenticated and perms.comissoes.add_documentoacessorio %}
    <div class="actions btn-group pull-right btn-group-lg" role="group">
        <a href="{% url 'sapl.comissoes:documentoacessorio_create' reuniao_pk %}" class="btn btn-default">
        Adicionar Documento Acessório em Reunião
        </a>
    </div>
  {% endif %}
  <br />

 
{% endblock base_content %}
