language: python

python:
  - "3.4.3"

install:
  - pip install .
  - sudo ln -s /usr/bin/nodejs /usr/bin/node
  - sudo npm install -g bower
  - pkg-config postgresql postgresql-contrib pgadmin3 python-psycopg2 nodejs npm
  - pip install -r requirements/test-requirements.txt
  - pip install -q Django==$DJANGO_VERSION
  - python setup.py -q install

env:
  - DJANGO_VERSION=1.9

scripts:
  - test_and_check_qa
