language: python

python:
  - 3.6

services:
  - postgresql

install:
  - pip install -r requirements/test-requirements.txt

before_script:
  - cp sapl/.env_test sapl/.env
  - psql -c "CREATE USER sapl WITH PASSWORD 'sapl'" -U postgres;
  - psql -c "CREATE DATABASE sapl OWNER sapl;" -U postgres
  - ./scripts/django/check_migrations.sh

script:
  - ./manage.py migrate
  - py.test --create-db
  # - ./scripts/django/test_and_check_qa.sh

addons:
    hosts:
        - 127.0.0.1 sapldb
