sapldb:
  image: postgres:10.5-alpine
  restart: always
  environment:
    POSTGRES_PASSWORD: sapl
    POSTGRES_USER: sapl
    POSTGRES_DB: sapl
    PGDATA : /var/lib/postgresql/data/
  volumes:
    - sapldb_data:/var/lib/postgresql/data/
  ports:
    - "5432:5432"
sapl:
  image: interlegis/sapl:3.1.155
#  build: .
  restart: always
  environment:
    ADMIN_PASSWORD: interlegis
    ADMIN_EMAIL: email@dominio.net
    DEBUG: 'False'
    EMAIL_PORT: 587
    EMAIL_USE_TLS: 'False'
    EMAIL_HOST: smtp.dominio.net
    EMAIL_HOST_USER: usuariosmtp
    EMAIL_SEND_USER: usuariosmtp
    EMAIL_HOST_PASSWORD: senhasmtp
#    USE_SOLR: 'True'
#    SOLR_COLLECTION: sapl
#    SOLR_URL: http://saplsolr:8983
    TZ: America/Sao_Paulo
  volumes:
    - sapl_data:/var/interlegis/sapl/data
    - sapl_media:/var/interlegis/sapl/media
  links:
    - sapldb
#    - saplsolr
  ports:
    - "80:80"

#saplsolr:
#  image: solr:7.4-alpine
#  restart: always
#  command: bin/solr start -c -f
#  volumes:
#    - solr_data:/opt/solr/server/solr
#    - solr_configsets:/opt/solr/server/solr/configsets
#  ports:
#    - "8983:8983"


