sapldb:
  image: postgres
  environment:
    POSTGRES_PASSWORD: sapl
    POSTGRES_USER: sapl
    POSTGRES_DB: sapl
    PGDATA : /var/lib/postgresql/data/
  volumes:
    - sapldb_data:/var/lib/postgresql/data/
  ports:
    - "5532:5432"
sapl:
  build: .
  volumes:
    - sapl_data:/var/interlegis/sapl/data
    - sapl_media:/var/interlegis/sapl/media
  links:
    - sapldb
  ports:
    - "80:80"
