include README.rst LICENSE.txt
include sapl/webpack-stats.json
recursive-include sapl *.html *.yaml 
recursive-include sapl/static *
recursive-include sapl/relatorios/templates *.py
recursive-include sapl/compilacao *.sql
global-exclude __pycache__
global-exclude *.py[co]
