{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block base_content %}
  <div class="actions btn-group pull-right" role="group">
    <a href="{% url 'comissoes:cadastrar_comissao' %}" class="btn btn-default">
      {% blocktrans with verbose_name=view.verbose_name %} Adicionar Comissão {% endblocktrans %}
    </a>
  </div>
  <br /><br /><br />
	{% block detail_content %}
    <table class="table table-striped table-bordered">
      <thead class="thead-default">
  			<tr>
  				<th>Nome</th>
  				<th>Sigla</th>
  				<th>Tipo</th>
  				<th>Data de Criação</th>
  			</tr>
      </thead>
			{% for comissao in page_obj %}
				<tr>
					<td>
						<a href="{% url 'comissoes:comissao_detail' comissao.id %}">{{comissao}}</a>
					</td>
					<td>{{comissao.sigla}}</td>
					<td>{{comissao.tipo}}</td>
					<td>{{comissao.data_criacao}}</td>
				</tr>
			{% endfor %}
		</table>
	    {% include "paginacao.html" %}
	{% endblock %}
{% endblock %}
