{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block detail_content %}
	<table class="table table-striped">
		<thead class="thead-default">
			<tr>
				<th>Nome</th>
				<th>Cargo</th>
				<th>Titular</th>
				<th>Designação</th>
				<th>Desligamento</th>
				<th>Motivo</th>
				<th>Observação</th>
			</tr>
		</thead>
		{% for participacao in participacoes %}
				<tr>
					<td><a href="">{{participacao.parlamentar.nome_parlamentar}}</a></td>
					<td>{{participacao.cargo}}</td>
					<td>{{participacao.titular|yesno:"Sim,Não"}}</td>
					<td>{{participacao.data_designacao|date:"d/m/Y"}}</td>
					<td>{{participacao.data_desligamento|date:"d/m/Y"|default:"-"}}</td>
					<td>{{participacao.motivo_desligamento|default:"-"}}</td>
					<td>{{participacao.observacao|default:"-"}}</td>
				</tr>
		{% endfor %}
	</table>

	<a href="" class="btn btn-primary">Incluir Parlamentar</a>
{% endblock detail_content %}
