{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block base_content %}

	<div class="actions btn-group pull-right" role="group">
	  <a href="{% url 'comissoes:composicao_create' pk %}" class="btn btn-default">
	    {% blocktrans with verbose_name=view.verbose_name %} Adicionar Composição {% endblocktrans %}
	  </a>
	  {% block more_buttons %}{% endblock more_buttons %}
	</div>
	<br /><br /><br />
	{% if composicao_id != 0 %}
		<table class="table table-striped table-bordered">
			<thead class="thead-default">
				<tr>
					<th>Nome</th>
					<th>Cargo</th>
					<th>Titular</th>
					<th>Designação</th>
					<th>Desligamento</th>
					<th>Motivo</th>
					<th>Observação</th>
				</tr>
			</thead>

			<form method="GET">

				{% csrf_token %}
				<select id="periodo" name="periodo" class="form-control" onChange="form.submit();">
					{% for c in composicoes %}
						<option value="{{c.id}}" {% if composicao_id == c.id %} selected {% endif %}>
							{{ c.periodo.data_inicio|date:"d/m/Y" }} - {{ c.periodo.data_fim|date:"d/m/Y" }}
						</option>
					{% endfor %}
				</select>
			</form>
			<br />
			{% for participacao in participacoes %}
				{% if participacao.composicao_id == composicao_id %}
					<tr>
						<td><a href="{% url 'comissoes:comissao_parlamentar_edit' pk composicao_id participacao.id %}">{{participacao.parlamentar.nome_parlamentar}}</a></td>
						<td>{{participacao.cargo}}</td>
						<td>{{participacao.titular|yesno:"Sim,Não"}}</td>
						<td>{{participacao.data_designacao|date:"d/m/Y"}}</td>
						<td>{{participacao.data_desligamento|date:"d/m/Y"|default:"-"}}</td>
						<td>{{participacao.motivo_desligamento|default:"-"}}</td>
						<td>{{participacao.observacao|default:"-"}}</td>
					</tr>
				{% endif %}
			{% endfor %}

		</table>

		<a href="{% url 'comissoes:comissao_parlamentar' pk composicao_id %}" class="btn btn-primary">Incluir Parlamentar</a>
	{% endif %}

{% endblock %}
