{% extends "crud/form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block base_content %}
  <form method="POST">
	  {% csrf_token %}

    <div class="row">
      <div class="col-md-12" >
        {{ form.nome|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" >
        {{ form.data_criacao|as_crispy_field }}
      </div>
      <div class="col-md-6" >
        {{ form.data_extincao|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" >
        {{ form.descricao|as_crispy_field }}
      </div>
    </div>

		<br />
		<input type="submit" value="Salvar" class="btn btn-primary" />
	</form>

{% endblock base_content %}
