{% extends "crud/form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block extra_js %}
    <script language="Javascript">
        function coligacoes_disponiveis(){
            var id_legislatura = $("#id_legislatura").val();
            var id_coligacao = $("#id_coligacao").val();

            $("#id_coligacao option").remove();

            if (id_legislatura){
                $.get(
                    "{% url 'sapl.parlamentares:coligacao_legislatura_ajax' %}",
                    {legislatura: id_legislatura},
                    function(data){
                        lista_coligacoes = data['coligacoes'];

                        $('#id_coligacao').append('<option value=""' + '---------' + '</option>');

                        for (i=0; i<lista_coligacoes.length; i++){
                            $('#id_coligacao').append('<option value="' + lista_coligacoes[i][0] + '">' + lista_coligacoes[i][1] + '</option>');
                        }
                        $('#id_coligacao').val(id_coligacao);
                    }
                );
            } else {
                $("#id_coligacao option").remove();
            }
        }

        $(document).ready(
            function(){
                $("#id_legislatura").ready(coligacoes_disponiveis);
                $("#id_legislatura").change(coligacoes_disponiveis);
            }
        );
    </script>
{% endblock %}