{% extends "crud/list.html" %}
{% load i18n common_tags crispy_forms_tags cropping %}

{% block container_table_list %}
  {% if perms.add_mesadiretora %}
    {{ block.super }}
  {% else %}
    <div>
      <ul class="nav nav-tabs" role="tablist">
        {% for md in object_list %}
          {% if forloop.first %}
            <li class="nav-item">
              <a class="nav-link active" href="#tab-mesa-{{ md.id }}" data-toggle="tab" role="tab">{{ md }}</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#tab-mesa-{{ md.id }}" data-toggle="tab" role="tab">{{ md }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="tab-content" style="border: 1px solid #dee2e6; border-top: 0; border-radius: 0 0 0.25rem 0.25rem;">
        {% for md in object_list %}
          {% if forloop.first or request.GET.mesadiretora == md.id|stringformat:"s" %}
            <div class="tab-pane fade show active" id="tab-mesa-{{ md.id }}" role="tabpanel">
          {% else %}
            <div class="tab-pane fade" id="tab-mesa-{{ md.id }}" role="tabpanel">
          {% endif %}
              <i class="text-muted p-2 d-inline-block">(De {{md.data_inicio }} a {{ md.data_fim }})</i>

              <table class="table table-striped table-hover table-link-ordering m-0 p-0">
                <thead>
                  <tr>
                    <th>Nome do Parlamentar</th>
                    <th>Partido</th>
                    <th>Cargo</th>
                  </tr>
                </thead>
                <tbody>
                  {% for p in md.composicaomesa_set.all %}
                    <tr>
                      <td>
                        <div id="d-flex">
                          {% if p.parlamentar.fotografia %}
                            <img class="img-fluid img-thumbnail" src="{% cropped_thumbnail p.parlamentar "cropping"%}">
                          {% endif %}
                          <a class="pl-2" href="{% url 'sapl.parlamentares:parlamentar_detail' p.parlamentar.pk %}">
                          {{p.parlamentar.nome_parlamentar}}</a>
                        </div>
                      </td>
                      <td>{{p.parlamentar.filiacao_atual}}</td>
                      <td>{{p.cargo}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        {% endfor %}
    </div>
  {% endif %}

{% endblock container_table_list %}
