{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags static %}

{% block base_content %}
	{% if not show_results %}
		{% crispy filter.form %}
	{% else %}
		<div class="actions btn-group float-right btn-group-sm" role="group">
			<a href="{% url 'sapl.parlamentares:pesquisar_parlamentar' %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
			{% if not request.user.is_anonymous  %}
				<a href="{% url 'sapl.parlamentares:parlamentar_create' %}"class="btn btn-outline-primary">Cadastrar Parlamentar</a>
			{% endif %}
		</div>
		<br>
		{% if numero_res > 0 %}
			{% if numero_res == 1 %}
				<p>Foi encontrado {{ numero_res }} resultado</p>
			{% else %}
				<p>Foram encontrados {{ numero_res }} resultados</p>
			{% endif %}
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Nome do Parlamentar</th>
						<th>Nome Completo</th>
						<th>Ativo</th>
					</tr>
				</thead>
				<tbody>
					{% for usuario in page_obj %}
						<tr>
							<td>
								<a href="{% url 'sapl.parlamentares:parlamentar_detail' usuario.pk %}">{{usuario.nome_parlamentar}}</a>
							</td>
							<td>{{ usuario.nome_completo }}</td>
							<td>{% if usuario.ativo %} Sim {% else %} Não {% endif %}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
			<font size="4"><p align="center">{{ NO_ENTRIES_MSG }}</p></font>
		{% endif %}
	{% endif %}
	<br/>
	{% include 'paginacao.html'%}
	<br /><br /><br />
{% endblock base_content %}
