{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block actions %}
  {% if not rows %}
    <div class="actions btn-group pull-right btn-group-lg" role="group">
      {% if view.create_url %}
      <a href="{{ view.create_url }}" class="btn btn-default">
        {% blocktrans with verbose_name=view.verbose_name %} Adicionar {{ verbose_name }} {% endblocktrans %}
      </a>
      {% endif %}
      {% block more_buttons %}{% endblock more_buttons %}
    </div>
  {% endif %}
{% endblock actions %}
