{% load i18n menus %}
{% load common_tags %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}{% trans 'SAPL - Sistema de Apoio ao Processo Legislativo' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_content %}
      <link rel="icon" href="{% webpack_static 'img/favicon.ico' %}"  type="image/png" >

        {% render_chunk_vendors 'css' %}
        {% render_bundle  'global' 'css' %}

    {% endblock %}
  </head>

  <body>
    <div class="page fadein">

      {% if not request|has_iframe %}
      {% block navigation %}
      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

          </div><!--/.nav-collapse -->
        </div>
      </nav>
      {% endblock navigation %}

      {# Header #}
      {% block main_header %}
      <header class="masthead">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img src="{% if logotipo %}{{ MEDIA_URL }}{{ logotipo }}{% else %}{% webpack_static 'img/logo.png' %}{% endif %}"
              alt="Logo" class="img-responsive visible-md-inline-block visible-lg-inline-block" >
              <span class="vcenter">
                {# XXX Make better use of translation tags in html blocks ie. actually use the proper blocktrans tag efficiently #}

                <br/><small>{% trans 'Sistema de Apoio ao Processo Legislativo' %}</small>
              </span>
            </a>
          </div>
          <div class="hidden-print">
            {% block sections_nav %} {% subnav %} {% endblock sections_nav %}
          </div>
        </div>
      </header>
      {% endblock main_header %}
      {% else %}
              <div class="btn-cancel-iframe">
                <a href="?iframe=0" target="_blank"><i class="fa fa-2x fa-arrows-alt"></i></a>
              </div>
              <header class="masthead">
                <div class="container">
                  <div class="hidden-print">
                    {% subnav %}
                  </div>
                </div>
              </header>
      {% endif %}
      <div class="container">
      <span class="text-center">
        <br/><h1><big>{% trans 'Página não encontrada! Erro 404' %}</big></h1>
      </span>
  </div>
      {% block base_content %}
      {% endblock %}
      {% if not request|has_iframe %}
      {% block footer_container %}
      <footer id="footer" class="footer page__row hidden-print">
        <div class="container">

          <div class="row">
            <div class="col-md-4">

              <a class="footer__logo" href="#">
                <a href="http://www.interlegis.leg.br/">
                  <img src="{% webpack_static 'img/logo_interlegis.png' %}" alt="{% trans 'Logo do Interlegis' %} ">
                </a>
              </a>
              <p>
                <small>
                  Desenvolvido pelo <a href="http://www.interlegis.leg.br/">Interlegis</a> em software livre e aberto.
                </small>
              </p>
            </div>
            <div class="col-md-4">
              <a class="footer__logo" href="#">
                <img src="{% webpack_static 'img/logo_cc.png' %}" alt="{% trans 'Logo do Creative Commons BY SA' %}">
              </a>
              <p>
                <small>
                  Conteúdo e dados sob licença <a href="https://creativecommons.org">Creative Commons</a> 4.0 <a href="https://creativecommons.org/licenses/by/4.0/">Atribuir Fonte - Compartilhar Igual</a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    {% endblock footer_container %}
    {% endif %}

    {% block foot_js %}
    
      {% render_chunk_vendors 'js' %}
      {% render_bundle  'global' 'js' %}    
    
      {% block extra_js %}{% endblock %}

      <script type="text/javascript" >
        function inIframe () {
          try {
              return window.self !== window.top;
          } catch (e) {
              return true;
          }
        }
        $(document).ready(function(){
          let iframe_set_backend = {{ request|has_iframe|lower }}
          if (iframe_set_backend && !inIframe() ) {
            location.href = location.origin + '?iframe=0'
          }
        });
      </script>

    {% endblock foot_js %}
  </body>
</html>
