{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block base_content %}
<div class="conteudo">
	<h2>Tópicos do Manual de Ajuda</h2>
	<br />
	<ul class="manual">
		<li>
			<a href="{% url 'sapl.base:help_topic' 'consultas' %}">Acessando o Sistema</a>
			<ul>
				<li><a href="{% url 'sapl.base:help_topic' 'consultas' %}">Consulta à Mesa Diretora</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'consultas' %}">Consulta às Comissões</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'consultas' %}">Consulta à Ordem do Dia</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'consultas' %}">Consulta Sessão Plenária</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'consultas' %}">Consulta Parlamentares</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'consultas' %}">Consulta às Matérias Legislativas</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'consultas' %}">Consulta às Normas Jurídicas</a></li>
			</ul>
		</li>

		<li><a href="{% url 'sapl.base:help_topic' 'tramitacao_lote' %}">Tramitando Processos em Lote</a></li>
		<li><a href="{% url 'sapl.base:help_topic' 'impressos' %}">Impressos</a></li>
		<li>
			<a href="{% url 'sapl.base:help_topic' 'relatorios' %}">Emitindo Relatórios Administrativos</a>
			<ul>
				<li><a href="{% url 'sapl.base:help_topic' 'relatorios' %}">Emite Proposituras por Tipo, Autor e Ano</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'relatorios' %}">Emite Proposituras por Autor</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'relatorios' %}">Emite Matérias Legislativas por status da tramitação e prazo limite</a></li>
			</ul>
		</li>

		<li><a href="{% url 'sapl.base:help_topic' 'acessando_alimenta' %}">Acessando o modulo de alimentação das informações</a></li>
		<li><a href="{% url 'sapl.base:help_topic' 'casa_legislativa' %}">Casa Legislativa</a></li>
		<li>
			<a href="{% url 'sapl.base:help_topic' 'modulo_parlamentares' %}">Parlamentares</a>
			<ul>
				<li><a href="{% url 'sapl.base:help_topic' 'legislatura' %}">Legislatura</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'tipo_afastamento' %}">Tipo de Afastamento</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'tipo_dependente' %}">Tipo de Dependente</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'tipo_situa_militar' %}">Tipo de Situação Militar</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'nivel_instrucao' %}">Nível de Instrução</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'partidos' %}">Partidos</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'coligacao' %}">Coligação</a>
				<ul><li><a href="{% url 'sapl.base:help_topic' 'coligacao' %}">Composição</a></li></ul>
				</li>
				<li><a href="{% url 'sapl.base:help_topic' 'cadastro_parlamentares' %}">Cadastro de Parlamentares</a>
					<ul>
						<li><a href="{% url 'sapl.base:help_topic' 'mandatos_parlamentar' %}">Mandatos do Parlamentar</a></li>
						<li><a href="{% url 'sapl.base:help_topic' 'filiacoes_partidarias' %}">Filiações Partidárias</a></li>
						<li><a href="{% url 'sapl.base:help_topic' 'dependentes' %}">Dependentes</a></li>
					</ul>
				</li>
			</ul>
		</li>

		<li><a href="{% url 'sapl.base:help_topic' 'modulo_mesa_diretora' %}">Mesa Diretora</a>
			<ul>
				<li><a href="{% url 'sapl.base:help_topic' 'sessao_legislativa' %}">Sessão Legislativa</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'cargo_mesa' %}">Cargo Mesa</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'cadastro_mesa_diretora' %}">Cadastro da Mesa Diretora</a></li>
			</ul>
		</li>

		<li><a href="{% url 'sapl.base:help_topic' 'modulo_comissoes' %}">Comissões</a>
			<ul>
				<li><a href="{% url 'sapl.base:help_topic' 'cargo_comissao' %}">Cargo Comissão</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'tipo_comissao' %}">Tipo de Comissão</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'periodo_composicao_comissao' %}">Período da Composição da Comissão</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'cadastro_comissoes' %}">Cadastro de Comissões</a>
					<ul><li><a href="">Composição</a></li></ul>
				</li>
			</ul>
		</li>

		<li>
			<a href="{% url 'sapl.base:help_topic' 'modulo_tramitacao_materias' %}">Matérias Legislativas</a>
			<ul><li><a href="{% url 'sapl.base:help_topic' 'acomp_materia' %}">Acompanhamento de Matéria Legislativa, via e-mail</a></ul>
			<ul>
				<li><a href="{% url 'sapl.base:help_topic' 'tipo_materia_legislativa' %}">Tipo de Matéria Legislativa</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'regime_tramitacao' %}">Regime de Tramitação</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'origem' %}">Origem</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'autor' %}">Autor</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'tipo_autor' %}">Tipo de Autor</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'unidade_tramitacao' %}">Unidade de Tramitação</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'orgao' %}">Órgão</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'fim_relatoria' %}">Tipo de Fim de Relatoria</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'status_tramitacao' %}">Status de Tramitação</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'tipo_documento' %}">Tipo de Documento</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'cadastro_materia' %}">Cadastro das Matérias Legislativas</a>
					<ul>
						<li><a href="{% url 'sapl.base:help_topic' 'despacho_autoria' %}">Para inclusão do Despacho Inicial, acione a função "Despacho Inicial"</a></li>
						<li><a href="{% url 'sapl.base:help_topic' 'despacho_autoria' %}">Para inclusão de Autoria, acione a função "Autoria"</a></li>
						<li><a href="{% url 'sapl.base:help_topic' 'legislacao_cita_matenexada' %}">Para inclusão de Legislação Citada, acione a função "Legislação Citada"</a></li>
						<li><a href="{% url 'sapl.base:help_topic' 'materia_anexada' %}">Para inclusão de Matéria Anexada, acione a função "Matéria Anexada"</a></li>
						<li><a href="{% url 'sapl.base:help_topic' 'tramitacao_relatoria' %}">Para inclusão de Tramitação, acione a função "Tramitação"</a></li>
						<li><a href="{% url 'sapl.base:help_topic' 'tramitacao_relatoria' %}">Para inclusão da Relatoria, acione a função "Relatoria"</a></li>
						<li><a href="{% url 'sapl.base:help_topic' 'numeracao_docsacess' %}">Para inclusão de Numeração, acione a função "Numeração"</a></li>
						<li><a href="{% url 'sapl.base:help_topic' 'numeracao_docsacess' %}">Para inclusão de Documentos Acessórios, acione a função "Documentos Acessórios"</a></li>
					</ul>
				</li>
			</ul>
			</li>
			<li><a href="{% url 'sapl.base:help_topic' 'modulo_norma_juridica' %}">Norma Jur&iacute;dica</a>
				<ul>
					<li><a href="{% url 'sapl.base:help_topic' 'tipo_norma_juridica' %}">Tipo de Norma Jurídica</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'norma_juridica' %}">Cadastro de Normas Jurídicas</a></li>
				</ul>
			</li>
			<li><a href="{% url 'sapl.base:help_topic' 'ordem_dia' %}">Ordem do Dia</a></li>
			<li><a href="{% url 'sapl.base:help_topic' 'troca_senha' %}">Troca de Senha</a></li>
			<li><a href="{% url 'sapl.base:help_topic' 'gerenciamento_usuarios' %}">Gerenciar Usuários</a></li>
			<li><a href="{% url 'sapl.base:help_topic' 'lexml' %}">Pesquisar no LexML</a></li>

			<li><a href="{% url 'sapl.base:help_topic' 'proposicao_legislativa' %}">Proposições Legislativas</a>
				<ul>
					<li><a href="{% url 'sapl.base:help_topic' 'tipo_proposicao' %}">Tipos de Proposições</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'proposicao' %}">Proposições - elaboração</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'proposicao' %}">Proposições - atualização</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'recebimento_proposicao' %}">Recebimento de Proposições</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'envio_proposicao' %}">Envio de Proposições</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'autor' %}">Autor</a></li>
				</ul>
			</li>

			<li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria' %}">Sessão Plenária</a>
				<ul>
					<li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_mesa' %}">Mesa</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_oradores' %}">Oradores</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_lista_presença_sessao' %}">Lista de Presença Sesão</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_presenca_ordem_dia' %}">Lista de Presença - Ordem do Dia</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_votacao' %}">Votação</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_ata' %}">Agenda</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_materias_ordem_dia' %}">Matérias</a></li>
					<li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_materias_expediente' %}">Expedientes</a></li>
				</ul>
			</li>

			<li><a href="{% url 'sapl.base:help_topic' 'glossario' %}">Glossário</a></li>
			<li><a href="{% url 'sapl.base:help_topic' 'anexos' %}">Anexos</a></li>

			<ul>
				<li><a href="{% url 'sapl.base:help_topic' 'anexos' %}">A - Acesso a Banco de Dados</a></li>
				<li><a href="{% url 'sapl.base:help_topic' 'anexos' %}">B - Procedimentos de Backup das Tabelas MySQL</a></li>
			</ul>
		</li>
	</ul>
</div>
{% endblock base_content %}
