{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block base_content %}
<div class="conteudo">
	<h2>Tópicos do Manual de Ajuda</h2>
	<br />
	<ul class="manual">
		<li>
			<a href="{% url 'sapl.base:help_topic'%}?topic=consultas">Acessando o Sistema</a>
			<ul>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=consultas">Consulta à Mesa Diretora</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=consultas">Consulta às Comissões</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=consultas">Consulta à Ordem do Dia</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=consultas">Consulta Sessão Plenária</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=consultas">Consulta Parlamentares</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=consultas">Consulta às Matérias Legislativas</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=consultas">Consulta às Normas Jurídicas</a></li>
			</ul>
		</li>

		<li><a href="{% url 'sapl.base:help_topic'%}?topic=tramitacao_lote">Tramitando Processos em Lote</a></li>
		<li><a href="{% url 'sapl.base:help_topic'%}?topic=impressos">Impressos</a></li>
		<li>
			<a href="{% url 'sapl.base:help_topic'%}?topic=relatorios">Emitindo Relatórios Administrativos</a>
			<ul>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=relatorios">Emite Proposituras por Tipo, Autor e Ano</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=relatorios">Emite Proposituras por Autor</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=relatorios">Emite Matérias Legislativas por status da tramitação e prazo limite</a></li>
			</ul>
		</li>

		<li><a href="{% url 'sapl.base:help_topic'%}?topic=acessando_alimenta">Acessando o modulo de alimentação das informações</a></li>
		<li><a href="{% url 'sapl.base:help_topic'%}?topic=casa_legislativa">Casa Legislativa</a></li>
		<li>
			<a href="{% url 'sapl.base:help_topic'%}?topic=modulo_parlamentares">Parlamentares</a>
			<ul>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=legislatura">Legislatura</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=tipo_afastamento">Tipo de Afastamento</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=tipo_dependente">Tipo de Dependente</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=tipo_situa_militar">Tipo de Situação Militar</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=nivel_instrucao">Nível de Instrução</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=partidos">Partidos</a></li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=coligacao">Coligação</a>
				<ul><li><a href="">Composição</a></li></ul>
				</li>
				<li><a href="{% url 'sapl.base:help_topic'%}?topic=cadastro_parlamentares">Cadastro de Parlamentares</a>
					<ul>
						<li><a href="">Mandatos do Parlamentar</a></li>
						<li><a href="">Filiações Partidárias</a></li>
						<li><a href="">Dependentes</a></li>
					</ul>
				</li>
			</ul>
		</li>

		<li><a href="">Mesa Diretora</a>
			<ul>
				<li><a href="">Sessão Legislativa</a></li>
				<li><a href="">Cargo Mesa</a></li>
				<li><a href="">Cadastro da Mesa Diretora</a></li>
			</ul>
		</li>

		<li><a href="">Comissões</a>
			<ul>
				<li><a href="">Cargo Comissão</a></li>
				<li><a href="">Tipo de Comissão</a></li>
				<li><a href="">Período da Composição da Comissão</a></li>
				<li><a href="">Cadastro de Comissões</a>
					<ul><li><a href="">Composição</a></li></ul>
				</li>
			</ul>
		</li>

		<li>
			<a href="">Matérias Legislativas</a>
			<ul><li><a href="">Acompanhamento de Matéria Legislativa, via e-mail</a></ul>
			<ul>
				<li><a href="">Tipo de Matéria Legislativa</a></li>
				<li><a href="">Regime de Tramitação</a></li>
				<li><a href="">Origem</a></li>
				<li><a href="">Autor</a></li>
				<li><a href="">Tipo de Autor</a></li>
				<li><a href="">Unidade de Tramitação</a></li>
				<li><a href="">Órgão</a></li>
				<li><a href="">Tipo de Fim de Relatoria</a></li>
				<li><a href="">Status de Tramitação</a></li>
				<li><a href="">Tipo de Documento</a></li>
				<li><a href="">Cadastro das Matérias Legislativas</a>
					<ul>
						<li><a href="">Para inclusão do Despacho Inicial, acione a função "Despacho Inicial"</a></li>
						<li><a href="">Para inclusão de Autoria, acione a função "Autoria"</a></li>
						<li><a href="">Para inclusão de Legislação Citada, acione a função "Legislação Citada"</a></li>
						<li><a href="">Para inclusão de Matéria Anexada, acione a função "Matéria Anexada"</a></li>
						<li><a href="">Para inclusão de Tramitação, acione a função "Tramitação"</a></li>
						<li><a href="">Para inclusão da Relatoria, acione a função "Relatoria"</a></li>
						<li><a href="">Para inclusão de Numeração, acione a função "Numeração"</a></li>
						<li><a href="">Para inclusão de Documentos Acessórios, acione a função "Documentos Acessórios"</a></li>
					</ul>
				</li>
			</ul>
			</li>
			<li><a href="">Norma Jur&iacute;dica</a>
				<ul>
					<li><a href="">Tipo de Norma Jurídica</a></li>
					<li><a href="">Cadastro de Normas Jurídicas</a></li>
				</ul>
			</li>
			<li><a href="">Ordem do Dia</a></li>
			<li><a href="">Troca de Senha</a></li>
			<li><a href="">Gerenciar Usuários</a></li>
			<li><a href="">Pesquisar no LexML</a></li>

			<li><a href="">Proposições Legislativas</a>
				<ul>
					<li><a href="">Tipos de Proposições</a></li>
					<li><a href="">Proposições - elaboração</a></li>
					<li><a href="">Proposições - atualização</a></li>
					<li><a href="">Recebimento de Proposições</a></li>
					<li><a href="">Envio de Proposições</a></li>
					<li><a href="">Autor</a></li>
				</ul>
			</li>

			<li><a href="">Sessão Plenária</a>
				<ul>
					<li><a href="">Mesa</a></li>
					<li><a href="">Oradores</a></li>
					<li><a href="">Lista de Presença Sesão</a></li>
					<li><a href="">Lista de Presença - Ordem do Dia</a></li>
					<li><a href="">Votação</a></li>
					<li><a href="">Agenda</a></li>
					<li><a href="">Matérias</a></li>
					<li><a href="">Expedientes</a></li>
				</ul>
			</li>

			<li><a href="">Glossário</a></li>
			<li><a href="">Anexos</a></li>

			<ul>
				<li><a href="">A - Acesso a Banco de Dados</a></li>
				<li><a href="">B - Procedimentos de Backup das Tabelas MySQL</a></li>
			</ul>
		</li>
	</ul>
</div>
{% endblock base_content %}
