{% load i18n staticfiles sass_tags menus %}
{% load common_tags %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}{% trans 'SAPL - Sistema de Apoio ao Processo Legislativo' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_content %}
      <link rel="icon" href="{% static 'img/favicon.ico' %}"  type="image/png" >

      {# Styles #}
      <link rel="stylesheet" href="{% static 'components-font-awesome/css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% sass_src 'bootstrap-sass/assets/stylesheets/_bootstrap.scss' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'drunken-parrot-flat-ui/css/drunken-parrot.css' %}">
      <link rel="stylesheet" href="{% sass_src 'styles/app.scss' %}" type="text/css">

      <link rel="stylesheet" href="{% static 'jquery-ui/themes/cupertino/jquery-ui.min.css' %}">

      {# Scripts #}
      {# modernizr must be in head (see http://modernizr.com/docs/#installing) #}
    {% endblock %}
  </head>

  <body>
    <div class="page fadein">
      {% block navigation %}

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/" role="button" aria-haspopup="true" aria-expanded="false">Inicio<span class="caret"></span></a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Institucional <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.parlamentares:mesa_diretora' %}">Mesa Diretora</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.comissoes:comissao_list' %}">Comissões</a></li>
                    <!-- <li class="nav__sub-item"><a class="nav__sub-link" href="#">Bancadas</a></li> -->
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.parlamentares:parlamentar_list' %}">Parlamentares</a></li>
                  </ul>
                </li>
              {% if perms.protocoloadm %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Protocolo <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.protocoloadm:protocolo' %}">Pesquisar Protocolo</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.materia:receber-proposicao' %}">Receber Proposições</a></li>
                    <!-- <li class="nav__sub-item"><a class="nav__sub-link" href="/materia">Protocolo Legislativo</a></li> -->
                    {# <li class="nav__sub-item"><a class="nav__sub-link" href="">Protocolo Geral</a></li> #}
                    {# <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.materia:proposicao' %}">Proposições</a></li> #}
                  </ul>
              </li>
              {% endif %}

            {% if user|get_doc_adm_template_perms %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentos Administrativos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.protocoloadm:pesq_doc_adm' %}">Pesquisar Documento Administrativo</a></li>
                </ul>
            </li>
            {% endif %}

              <li class="dropdown">
              

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Atividade Legislativa <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% if perms.materia.add_proposicao %}
                      <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.materia:proposicao_list' %}">Proposições</a></li>
                    {% endif %}
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.materia:pesquisar_materia' %}">Matérias Legislativas</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.sessao:pesquisar_sessao' %}">Sessões Plenárias</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.sessao:pesquisar_pauta' %}">Pautas das Sessões</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.materia:primeira_tramitacao_em_lote' %}">Tramitação em Lote</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.materia:acessorio_em_lote' %}">Acessório em Lote</a></li>
                    <!-- <li class="nav__sub-item"><a class="nav__sub-link" href="#">Atas das Sessões</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Reuniões das Comissões</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Impressos</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Relatórios</a></li> -->
                  </ul>
                </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Legislação'%} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sapl.norma:norma_pesquisa'%}">{% trans 'Pesquisar Normas Jurídicas'%}</a></li>
                    <!-- <li class="nav__sub-item"><a class="nav__sub-link" href="#">Índice de Assuntos</a></li> -->
                  </ul>
                </li>
              {% if user|ver_menu_sistema_perm %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistema <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav__sub-item"><a class="nav__sub-link" href="/sistema">Tabelas Auxiliares</a></li>
<!--                <li class="nav__sub-item"><a class="nav__sub-link" href="#">Provedor LexML</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Publicador LexML</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Gerenciar Usuários</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Backup e Restauração</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Migração de Dados</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Sobre</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">ZopeEdit Windows</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Troca de Senha</a></li> -->
                  </ul>
                </li>
              {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right" id="autenticacao">
              <li class="dropdown pesquisa">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{% static 'img/search.png' %}"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav__sub-item">
                      <form class="navbar-form search-form" method="get" action="http://sapl3.interlegis.leg.br/generico/lexml_pesquisar">
                				<input type="text" class="form-control" placeholder="Pesquisar no LexML" />
                			</form>
                    </li>
                  </ul>
              </li>
              <li><a href="/ajuda"><img src="{% static 'img/manual.png' %}"></a></li>
              {% if not user.is_authenticated %}
                <li><a href="{% url 'sapl.base:login' %}"><img src="{% static 'img/user.png' %}"></a></li>
              {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img height="30" width="30" src="{% static 'img/authenticated.png' %}"><span class="caret"></span></a>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a>{{user.username}}</a></li>
                    <li><a href="{% url 'sapl.base:logout' %}">Sair</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </nav>
      {% endblock navigation %}

      {# Header #}
      {% block main_header %}
      <header class="masthead">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img height="95" width="95" src="{% if logotipo %}{{ MEDIA_URL }}{{ logotipo }}{% else %}{% static 'img/logo.png' %}{% endif %}"
              alt="Logo" class="img-responsive visible-lg-inline-block vcenter" >
              <span class="vcenter">
                {# XXX Make better use of translation tags in html blocks ie. actually use the proper blocktrans tag efficiently #}
                {% if nome %}
                  {{ nome }}
                {% else %}
                  {% trans 'Câmara/Assembléia não configurada'%}
                {% endif %}
                <br/><small>{% trans 'Sistema de Apoio ao Processo Legislativo' %}</small>
              </span>
            </a>
          </div>
          {% block sections_nav %} {% subnav %} {% endblock sections_nav %}
        </div>
      </header>
      {% endblock main_header %}

      {# Main content #}
      {% block content_container %}
        <main id="content" class="content page__row">

          <div class="container">

            {# Feedback messages #}
            {% for message in messages %}
              <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                {{ message|safe }}
              </div>
            {% endfor %}

            {# Content header #}
            {% block base_header %}
              <div class="clearfix">

                {% block help %}
                  {% if view.help_path %}
                    <a class="contextual-help right" href="{% url 'sapl.base:help_base' %}{{ view.help_path }}">{% trans 'Ajuda' %}</a>
                  {% endif %}
                {% endblock %}

                {% block title %}
                  <h1 class="page-header">
                    {% if title %}
                      {{ title|safe|linebreaksbr }}
                    {% elif object %}
                      {{ object|safe|linebreaksbr }}
                    {% endif %}
                  </h1>
                {% endblock %}

              </div>
            {% endblock base_header %}

            {# Content per se #}
            {% block base_content %}{% endblock %}

          </div>
        </main>

      {% endblock content_container %}

      <footer id="footer" class="footer page__row">
        <div class="container">

          <div class="row">
            <div class="col-md-4">

              <a class="footer__logo" href="#">
                <img src="{% static 'img/logo_interlegis.png' %}" alt="{% trans 'Logo do Interlegis' %} ">
              </a>
              <p>
                <small>
                  Desenvolvido pelo <a href="#">Interlegis</a> em software livre e aberto.
                </small>
              </p>
            </div>
            <div class="col-md-4">
              <a class="footer__logo" href="#">
                <img src="{% static 'img/logo_cc.png' %}" alt="{% trans 'Logo do Creative Commons BY SA' %}">
              </a>
              <p>
                <small>
                  Conteúdo e dados sob licença <a href="#">Creative Commons</a> 4.0 <a href="#">Atribuir Fonte - Compartilhar Igual</a>
                </small>
              </p>
            </div>
            <div class="col-md-4">
              {% if nome %}
              <address>
                <small>
                  <strong>
                    <span class="org">{{ nome }}</span> de <span class="locality">{{ municipio }}</span> - <abbr class="region" title="{{ state }}">{{ uf }}</abbr>
                  </strong>
                  <br>
                  <span class="street-address">{{ endereco }}</span>
                  <br> CEP: <span class="postal-code">{{ cep }}</span> | Telefone: <span>{{ telefone }}</span>
                  <br>
                  <a href="{{endereco_web}}" class="url">{% trans 'Site da Câmara' %}</a> |
                  <a href="{{email}}" class="email">{% trans 'Fale Conosco' %}</a>
                </small>
              </address>
              {% else %}
                 Casa Legislativa não configurada.
                 <br>
                 <a href="{{casa_legislativa}}">Favor configurar clicando aqui</a>
              {% endif %}
            </div>
          </div>
        </div>
      </footer>
    </div>

    {% block foot_js %}
      <!-- Bootstrap core JavaScript ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'jquery-ui/ui/i18n/datepicker-pt-BR.js' %}"></script>

      <script type="text/javascript" src="{% static 'jQuery-runner/build/jquery.runner.js' %}"></script>
      <script type="text/javascript" src="{% static 'jquery-mask-plugin/dist/jquery.mask.js' %}"></script>

      <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'jsdiff/diff.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

      {% block extra_js %}{% endblock %}

    {% endblock foot_js %}
  </body>
</html>
