{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title%}
<head>
</head>
<br />
<div id="conteudo" style="min-height: 60px">
  <div id="homeIndex">
    <div class="homeBlock">
        <div class="homeFront">
            <div class="homeIcon">
                <img src="{% static 'img/icon_mesa_diretora.png' %}" alt="Mesa Diretora">
            </div>
            <h2>Mesa Diretora</h2>
        </div>
        <div class="homeContent">
            <div class="homeTitle">
                <img src="{% static 'img/icon_mesa_diretora.png' %}">
                <h2>Mesa Diretora</h2>
            </div>
            <p>
                Órgão colegiado, composto de no mínimo três membros efetivos - Presidente e 1° e 2° Secretários - a quem cabe a direção dos trabalhos legislativos. Os parlamentares integrantes da Mesa Diretora são eleitos por seus pares na primeira reunião de instalação do período legislativo, para um mandato de um a dois anos.
            </p>
        </div>
        <a href="{% url 'sapl.parlamentares:mesa_diretora' %}"></a>
    </div>

    <div class="homeBlock">
        <div class="homeFront">
            <div class="homeIcon">
                <img src="{% static 'img/icon_comissoes.png' %}" alt="Comissões">
            </div>
            <h2>Comissões</h2>
        </div>
        <div class="homeContent">
            <div class="homeTitle">
                <img src="{% static 'img/icon_comissoes.png' %}">
                <h2>Comissões</h2>
            </div>
            <p>
                Órgãos da Casa Legislativa, de natureza técnica especializada e que têm por objetivo prestar melhores esclarecimentos aos parlamentares para a tomada de decisões. Assim, as comissões elaboram estudos, pareceres a respeito de determinados projetos de lei e investigação de irregularidades sobre fato determinado.
            </p>
        </div>
        <a href="{% url 'sapl.comissoes:comissao_list' %}"></a>
    </div>

    <div class="homeBlock">
        <div class="homeFront">
            <div class="homeIcon">
                <img src="{% static 'img/icon_parlamentares.png' %}" alt="Parlamentares">
            </div>
            <h2>Parlamentares</h2>
        </div>
        <div class="homeContent">
            <div class="homeTitle">
                <img src="{% static 'img/icon_parlamentares.png' %}">
                <h2>Parlamentares</h2>
            </div>
            <p>
                O Poder Legislativo, exercido pelo sistema de representação, tem nos parlamentares a sua expressão máxima. Devem transformar os anseios de seus representados em ações diretas, na forma de leis ou buscando junto do Executivo obras e atos que beneficiem a sua comunidade. Possuem funções legisladora, administrativa, julgadora e de fiscalização sobre a conduta do Executivo.
            </p>
        </div>
        <a href="{% url 'sapl.parlamentares:parlamentar_list' %}"></a>
    </div>

    <div class="homeBlock">
        <div class="homeFront">
            <div class="homeIcon">
                <img src="{% static 'img/icon_pautas.png' %}" alt="Pautas das Sessões">
            </div>
            <h2>Pautas das Sessões</h2>
        </div>
        <div class="homeContent">
            <div class="homeTitle">
                <img src="{% static 'img/icon_pautas.png' %}">
                <h2>Pautas das<br>Sessões</h2>
            </div>
            <p>
                Utilizadas para se determinar quais matérias serão discutidas e votadas. A responsabilidade pela elaboração das Pautas, que incluem Expediente e Ordem do Dia, é definida no Regimento Interno que, em geral, dá poderes ao Presidente da Casa Legislativa para a sua elaboração. Também, pode ficar a cargo de um colégio de líderes dos partidos políticos.
            </p>
        </div>
        <a href="{% url 'sapl.sessao:pesquisar_pauta' %}"></a>
    </div>

    <div class="homeBlock">
        <div class="homeFront">
            <div class="homeIcon">
                <img src="{% static 'img/icon_plenarias.png' %}" alt="Sessão Plenária">
            </div>
            <h2>Sessão Plenária</h2>
        </div>
        <div class="homeContent">
            <div class="homeTitle">
                <img src="{% static 'img/icon_plenarias.png' %}">
                <h2>Sessão Plenária</h2>
            </div>
            <p>
                Foro apropriado para a tomada de decisões sobre os projetos de lei e outras matérias legislativas ou administrativas, aprovadas ou rejeitadas em votação pelos parlamentares. É dirigida pela Mesa Diretora de acordo com o Regimento Interno da Casa. As decisões votadas em Plenário são soberanas e prevalecem sobre interesses ou vontades individuais.
            </p>
        </div>
        <a href="{% url 'sapl.sessao:pesquisar_sessao' %}"></a>
    </div>

    <div class="homeBlock">
        <div class="homeFront">
            <div class="homeIcon">
                <img src="{% static 'img/icon_materia_legislativa.png' %}" alt="Matérias Legislativas">
            </div>
            <h2>Matérias Legislativas</h2>
        </div>
        <div class="homeContent">
            <div class="homeTitle">
                <img src="{% static 'img/icon_materia_legislativa.png' %}">
                <h2>Matérias<br>Legislativas</h2>
            </div>
            <p>
                Têm início com o processo de criação de leis e a apresentação de projetos no Poder Legislativo. Na apreciação de matérias, podem haver eventuais conflitos de interpretação ou de entendimento entre o que estabelece o Regimento Interno da Casa e a Lei Orgânica do Município. Nestes casos, prevalece a Lei Orgânica.
            </p>
        </div>
        <a href="{% url 'sapl.materia:pesquisar_materia' %}"></a>
    </div>

    <div class="homeBlock">
        <div class="homeFront">
            <div class="homeIcon">
                <img src="{% static 'img/icon_normas_juridicas.png' %}" alt="Normas Jurídicas">
            </div>
            <h2>Normas Jurídicas</h2>
        </div>
        <div class="homeContent">
            <div class="homeTitle">
                <img src="{% static 'img/icon_normas_juridicas.png' %}">
                <h2>Normas Jurídicas</h2>
            </div>
            <p>
                Nos Municípios, referem-se às emendas à Lei Orgânica, às leis complementares, às leis ordinárias, aos decretos legislativos e às resoluções.
            </p>
        </div>
        <a href="{% url 'sapl.norma:norma_pesquisa'%}"></a>
    </div>

      <div class="homeBlock">
        <div class="homeFront">
            <div class="homeIcon">
                <img src="{% static 'img/icon_relatorios.png' %}" alt="Relatórios">
            </div>
            <h2>Relatórios</h2>
        </div>
        <div class="homeContent">
            <div class="homeTitle">
                <img src="{% static 'img/icon_relatorios.png' %}">
                <h2>Relatórios</h2>
            </div>
            <p>
                Contém informações estatísticas sobre a produção legislativa dos parlamentares e da Casa, dispostas e agrupadas de diferentes formas de acordo com parâmetros fornecidos.
            </p>
        </div>
        <a href="/relatorios"></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
