{% if is_paginated %}
  <nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{filter_url}}">
            Anterior
          </a>
        </li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="">Anterior</a></li>
      {% endif %}

      {% for page in page_range %}
        {% if page == None or page == 'None' %}
          <li class="page-item disabled">
            <a class="page-link" href="">...</a>
          </li>
        {% else %}
          <li {% if page == page_obj.number %} class="page-item active" {% endif %}>
            <a class="page-link" href="?page={{ page }}{{filter_url}}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}{{filter_url}}">
            Próxima
          </a>
        </li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="">Próxima</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}