{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block base_content %}

	<h2>Configuração Gerais</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sapl.base:casalegislativa_list' %}" class="btn btn-link">Casa Legislativa</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.base:autor_list' %}" class="btn btn-link">Autor</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.base:appconfig_list' %}" class="btn btn-link">Configurações da Aplicação</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.base:tipoautor_list' %}" class="btn btn-link">Tipo de Autor</a></div>
  </div>
	<hr />

	<h2>Módulo Parlamentares</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sapl.parlamentares:legislatura_list' %}" class="btn btn-link">Legislatura</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.parlamentares:tipoafastamento_list' %}" class="btn btn-link">Tipo de Afastamento</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.parlamentares:tipodependente_list' %}" class="btn btn-link">Tipo de Dependente</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.parlamentares:situacaomilitar_list' %}" class="btn btn-link">Tipo de Situação Militar</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.parlamentares:nivelinstrucao_list' %}" class="btn btn-link">Nível de Instrução</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.parlamentares:partido_list' %}" class="btn btn-link">Partido</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.parlamentares:coligacao_list' %}" class="btn btn-link">Coligação</a></div>
  </div>
	<hr />

	<h2>Módulo Mesa Diretora</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sapl.parlamentares:sessaolegislativa_list' %}" class="btn btn-link">Sessão Legislativa</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.parlamentares:cargomesa_list' %}" class="btn btn-link">Cargo da Mesa</a></div>
  </div>
	<hr />

	<h2>Módulo Comissões</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sapl.comissoes:cargocomissao_list' %}" class="btn btn-link">Cargo de Comissão</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.comissoes:periodo_list' %}" class="btn btn-link">Período de Composição</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.comissoes:tipocomissao_list' %}" class="btn btn-link">Tipo de Comissão</a></div>
  </div>
	<hr />

	<h2>Módulo Bancadas</h2>
  <div class="row">
		<div class="col-md-6"><a href="{% url 'sapl.sessao:bancada_list' %}" class="btn btn-link">Bancadas</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.sessao:cargobancada_list' %}" class="btn btn-link">Cargo de Bancada</a></div>
		<div class="col-md-6"><a href="{% url 'sapl.parlamentares:frente_list' %}" class="btn btn-link">Frente</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.sessao:bloco_list' %}" class="btn btn-link">Bloco</a></div>
  </div>
	<hr />

	<h2>Módulo Proposições</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sapl.materia:tipoproposicao_list' %}" class="btn btn-link">Tipo de Proposição</a></div>
  </div>
	<hr />

	<h2>Módulo Matéria Legislativa</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sapl.materia:tipomaterialegislativa_list' %}" class="btn btn-link">Tipo de Matéria Legislativa</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.materia:regimetramitacao_list' %}" class="btn btn-link">Regime de Tramitação</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.materia:tipodocumento_list' %}" class="btn btn-link">Tipo de Documento</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.materia:tipofimrelatoria_list' %}" class="btn btn-link">Tipo de fim de Relatoria</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.materia:unidadetramitacao_list' %}" class="btn btn-link">Unidade de Tramitação</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.materia:origem_list' %}" class="btn btn-link">Origem</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.materia:statustramitacao_list' %}" class="btn btn-link">Status da Tramitação</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.materia:orgao_list' %}" class="btn btn-link">Órgão</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.materia:assuntomateria_list' %}" class="btn btn-link">Assunto Matéria</a></div>
  </div>
	<hr />

	<h2>Módulo Normas Jurídicas</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sapl.norma:tiponormajuridica_list' %}" class="btn btn-link">Tipo de Norma Jurídica</a></div>
		<div class="col-md-6"><a href="{% url 'sapl.norma:assuntonorma_list' %}" class="btn btn-link">Assunto de Norma Jurídica</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.norma:tipovinculonormajuridica_list' %}" class="btn btn-link">Tipo de Vínculo</a></div>
  </div>
	<hr />

	<h2>Módulo Sessão Plenária</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sapl.sessao:tiposessaoplenaria_list' %}" class="btn btn-link">Tipo de Sessão Plenária</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.sessao:tiporesultadovotacao_list' %}" class="btn btn-link">Tipo de Resultado da Votação</a></div>
    <div class="col-md-6"><a href="#" class="btn btn-link">Cadastro dos endereços dos computadores dos parlamentares</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.sessao:tipoexpediente_list' %}" class="btn btn-link">Tipo de Expediente</a></div>
    <div class="col-md-6"><a href="#" class="btn btn-link">Propriedades do Painel Eletrônico</a></div>
  </div>
	<hr />

	<h2>Módulo LexML</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sapl.lexml:lexmlprovedor_list' %}" class="btn btn-link">Provedor</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.lexml:lexmlpublicador_list' %}" class="btn btn-link">Publicador</a></div>
  </div>
	<hr />

	<h2>Módulo Administrativo</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sapl.protocoloadm:tipodocumentoadministrativo_list' %}" class="btn btn-link">Tipo de Documento</a></div>
    <div class="col-md-6"><a href="{% url 'sapl.protocoloadm:statustramitacaoadministrativo_list' %}" class="btn btn-link">Status de Tramitação</a></div>
  </div>

{% endblock base_content %}
