{% extends "crud/detail.html" %}
{% load i18n common_tags %}
{% load render_bundle from webpack_loader %}

{% block title%}
  <h2 class="page-header">Sistema de Deliberação Remota (SDR)</h2>
{% endblock %}

{% block base_content %}
    {{ block.super }}
    <div id="content">
        <h3>Título: {{ object.titulo }}<br/></h3>
        <h3>Descrição: {{ object.descricao }}<br/></h3>
        <h5>ID: {{ object.chat_id }}</h5><br/>
        {% if is_parlamentar %}
            <h4>Parlamentar: {{ parlamentar.nome_parlamentar }}</h4><br/>
        {% else %}
            <h4>Usuário: {{ nome_usuario }}</h4><br/>
        {% endif %}
    </div>
    <div class="container">
        <div id="meet" class="col-md"></div>
        <div id="painel" class="col-md">
            <div class="row">
                <div class="sm-6" style="margin-right:60px">
                    <br/><h3>Dados Básicos</h3>
                    Sessão: {{ object.sessao_plenaria }} <br/>
                    Data Início: {{ object.sessao_plenaria.data_inicio }} <br/>
                    Hora Início: {{ object.sessao_plenaria.hora_inicio }} <br/>
                    Iniciada: {{ object.sessao_plenaria.iniciada|yesno:"Sim,Não" }} <br/>
                    <br/>
                </div>
            </div>
            <!-- TODO: pegar de REST WS -->
            <div class="row">
                <div class="sm-5" style="margin-right:60px">
                    <h3>Presença Sessão Plenária</h3>
                    <ul>
                        {% for p in object.sessao_plenaria.sessaoplenariapresenca_set.all %}
                            <li>{{ p.parlamentar }}</li>
                        {% endfor %}
                        <br/>
                    </ul>
                </div>
                <div class="sm-5" style="margin-right:60px">
                    <h3>Presentes Ordem do Dia:</h3>
                    <ul>
                        {% for p in object.sessao_plenaria.presencaordemdia_set.all %}
                            <li>{{ p.parlamentar }}</li>
                        {% endfor %}
                        <br/>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock base_content %}

{% block extra_js %}
{{block.super}}
    <script src='https://meet.jit.si/external_api.js'></script>
    <script language="Javascript">
        api = undefined;
        $(document).ready(function() {
            const domain = 'meet.jit.si';
            const options= {
                roomName: '{{ object.chat_id }}',
                // width: 700,
                height: 700,
                configOverwrite: { defaultLanguage: 'ptBR' },
                parentNode: document.querySelector('#meet'),
                interfaceConfigOverwrite: {TOOLBAR_BUTTONS: [
                    'microphone', 'camera', 'hangup', 'chat', 'recording', 'livestreaming', 'raisehand',
                    'videoquality', 'shortcuts', 'tileview'
                ]}
            };
            
            api = new JitsiMeetExternalAPI(domain, options);

            api.executeCommand('toggleTileView');
            // api.executeCommand('toggleChat');
            api.executeCommand('subject', '{{ object.titulo }}');
            api.executeCommand('displayName', '{{ nome_usuario }}');

            // api.addEventListener('videoConferenceJoined', (response) => {
            //     api.executeCommand('password', {{ password }});
            // });

            api.on('readyToClose', () => {
                console.log('Closed session');
                window.location.href = "{% url 'sapl.sdr:deliberacaoremota_list' %}";
            });
        });
    </script>
{% endblock extra_js %}