{% extends "crud/detail.html" %}
{% load i18n common_tags %}
{% load render_bundle from webpack_loader %}

{% block detail_content %}
    {{block.super}}
    <div class="row">
        <div class="col-sm-5">
            <div id="div_inicio" class="form_group">
                <p class="control-label">Data e Hora de Início</p>
                <div class="controls">
                    <div class="form-control-static">
                        <div class="dont-break-out">
                            {{ deliberacao.inicio }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div id="div_inicio" class="form_group">
                <p class="control-label">Data e Hora de Término</p>
                <div class="controls">
                    <div class="form-control-static">
                        <div class="dont-break-out">
                            {% if deliberacao.termino %}
                                {{ deliberacao.termino }}
                            {% else %}
                                Não finalizada
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div id="div_inicio" class="form_group">
                <p class="control-label">Finalizada?</p>
                <div class="controls">
                    <div class="form-control-static">
                        <div class="dont-break-out">
                            {% if deliberacao.finalizada %}
                                Sim
                            {% else %}
                                Não
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_superuser %}
            {% if deliberacao.created_by %}
                <br/>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="div_id_user" class="form-group">
                            <p class="control-label">Criado por</p>
                            <div class="controls">
                                <div class="form-control-static">
                                    <div class="dont-break-out">
                                        <a href="{% url 'sapl.base:user_edit' deliberacao.created_by.pk %}">
                                            {{ deliberacao.created_by }}
                                          </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
    {% endif %}
    <br/>
    <a href="{% url 'sapl.sdr:chat-session' object.pk %}"><strong>Link da sessão de vídeo</strong></a>
{% endblock detail_content %}