{% extends "materia/materia_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
	<form method="POST">
		{% csrf_token %}
		{{ form.as_table }}
		</br>
		<input type="submit" name="salvar" value="Salvar" class="button primary" />
	</form>
{% endblock %}

{% block foot_js %}
   <script type="text/javascript">
    	$(function () {
			$('.dateinput').fdatepicker({
				// TODO localize
				format: 'dd/mm/yyyy',
				language: 'pt',
				endDate: '31/12/2100',
				todayBtn: true
			});
		});
	</script>
{% endblock %}