{% extends "crud/detail.html" %}
{% load i18n %}
{% block sections_nav %}

<ul class="nav nav-pills navbar-right">
  <li>
    <a href="{% url 'normajuridica:detail' object.pk %}">{% trans 'Início' %}</a>
  </li>

  {% comment %}
  Opção adicionada para chamar o TextoArticulado da norma.
  para integração foram necessárias apenas criar a url norma_ta em urls.py
  e a view NormaTa(IntegracaoTaView) em views.py
  Em nada mais a integração interfere em Norma Jurídica
  {% endcomment %}
  <li><a href="{% url 'normajuridica:ta' object.pk %}">{% trans 'Texto da Norma' %}</a></li>
</ul>

{% endblock sections_nav %}
