{% load i18n staticfiles thumbnail %}

<div id="div_{{ field.auto_id }}"
    class="control-group
    {% if form_show_errors %}
        {% if field.errors %} error{% endif %}
    {% endif %}
    {% if field.css_classes %} {{ field.css_classes }}{% endif %}">
    {% if field.label %}
        <label for="{{ field.id_for_label }}"
            class="control-label
            {{ label_class }}
            {% if field.field.required %}
                requiredField
            {% endif %}">
            {{ field.label|safe }}{% if field.field.required %}
                <span class="asteriskField">*</span>{% endif %}
        </label>
    {% endif %}

    <div class="controls {{ field_class }}">
        <div class="fileupload fileupload-new"
            data-provides="fileupload">
            {% if value.url %}
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ value.url }}"
                          height="300" width="300"
                          alt="{{ value }}" class="img-thumbnail"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox"
                            name="{{ checkbox_name }}"
                            id="{{ checkbox_id }}" />
                        <label for="{{ checkbox_id }}">
                            {% trans "Clear" %}
                        </label>
                    </div>
                </div>

            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        <img src="{% static 'img/perfil.png' %}""
                            class="img-thumbnail"/>
                    </div>
                </div>
            {% endif %}
            <div>
                <br />
            <div class="form-inline">
                <input type="{{ type }}" name="{{ name }}"
                    {% if required %}required{% endif %}
                    class="filestyle"
                    data-icon="false"
                    data-classButton="btn btn-default"
                    data-classInput="form-control">
            </div>
            </div>
        </div>
        {% include 'bootstrap3/layout/help_text_and_errors.html' %}
    </div>
</div>
