{% extends "base.html" %}
{% load i18n %}

{% block base_content %}
<form action="" method="post">{% csrf_token %}
  <div class="callout panel text-center radius clearfix">

    <p>
      {% blocktrans %}
        Tem certeza que deseja apagar o orador?
      {% endblocktrans %}
    </p>

    <div class="button-group">
      <a href="{{ view.detail_url }}" class="btn btn-primary">{% trans 'Cancelar'  %}</a>
      <input name="submit" value="{% trans 'Confirmar' %}" class="btn btn-danger" type="submit" ></li>
    </div>

  </div>
</form>
{% endblock %}
