{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}

<fieldset class="form-group">
	<legend>Editar Orador</legend>
	{% if form.errors %}
		<div class="alert-box alert">
			<b><h4>Os seguintes erros foram encontrados:</h4></b>
			<ul>
				{% for field in form %}
					{% if field.errors %}
						<li>O campo <b>{{field.label}}</b> é obrigatório!</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<form method="POST" action="">
	    {% csrf_token %}

      <div class="row">
        <div class="col-md-4">Ordem de pronunciamento</div>
        <div class="col-md-4">Parlamentar</div>
        <div class="col-md-4">URL Discurso</div>
      </div>
      <div class="row">
        <div class="col-md-4"><input type="text" id="numero_ordem" name="numero_ordem" value="{{orador.numero_ordem}}" class="form-control"/></div>
        <div class="col-md-4"><input type="text" id="parlamentar" name="parlamentar" value="{{orador.parlamentar.nome_parlamentar}}" disabled class="form-control"/></div>
        <div class="col-md-4"><input type="text" id="url_discurso" name="url_discurso" value="{{orador.url_discurso}}" class="form-control"/></div>
      </div>
		<br />
		<input type="submit" value="Salvar Orador" class="btn btn-primary" />
	</form>
</fieldset>

{% endblock detail_content %}
