{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}

<fieldset>
	<legend>Editar Orador</legend>
	{% if form.errors %}
		<div class="alert-box alert">
			<b><h4>Os seguintes erros foram encontrados:</h4></b>
			<ul>
				{% for field in form %}
					{% if field.errors %}
						<li>O campo <b>{{field.label}}</b> é obrigatório!</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<form method="POST" action="">
	    {% csrf_token %}

		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
		        <li>Ordem de pronunciamento</li>
		        <li>Parlamentar</li>
		        <li>URL Discurso</li>
		</ul>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
	        <li><input type="text" id="numero_ordem" name="numero_ordem" value="{{orador.numero_ordem}}" /></li>
	        <li><input type="text" id="parlamentar" name="parlamentar" value="{{orador.parlamentar.nome_parlamentar}}" disabled /></li>
	        <li><input type="text" id="url_discurso" name="url_discurso" value="{{orador.url_discurso}}"/></li>
		</ul>
		<input type="submit" value="Salvar Orador" />
	</form>
</fieldset>

{% endblock detail_content %}
