{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}

<form method="post">
	{% csrf_token %}

	{% for e in expedientes %}
		<fieldset>
			<legend>{{e.tipo}}</legend>

			<input type="hidden" name="tipo" id="tipo" value="{{e.tipo.id}}" />
			<textarea rows="5" cols="50" name="conteudo" id="conteudo" >{{e.conteudo}}</textarea>

		</fieldset>
	{% endfor %}

	<br />
	<input type="submit" value="Salvar" class="button primary"/>
</form>

{% endblock detail_content %}
