{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}

<form method="post">
	{% csrf_token %}

	{% for e in expedientes %}
		<fieldset class="form-group">
			<legend>{{e.tipo}}</legend>
			<input type="hidden" name="tipo" id="tipo" value="{{e.tipo.id}}" class="form-control"/>
			<textarea rows="5" cols="50" name="conteudo" id="conteudo" class="form-control">{{e.conteudo}}</textarea>
			<br />
		</fieldset>
	{% endfor %}

	<br />
	<input type="submit" value="Salvar" class="btn btn-primary"/>
</form>

{% endblock detail_content %}
