{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}

<fieldset class="form-group">
	<legend>Oradores das Explicações Pessoais</legend>
	<table class="table table-striped table-bordered">
		<thead class="thead-default">
			<tr>
				<th>Ordem de pronunciamento</th>
				<th>Parlamentar</th>
				<th>URL Discurso</th>
				<th>Editar/Excluir</th>
			</tr>
		</thead>
		{% for numero_ordem, url_discurso, parlamentar in view.get_oradores %}
	    <tr>
	      <td>{{numero_ordem}}</td>
	      <td>{{parlamentar.nome_parlamentar }}</td>
	      <td>{% if not url_discurso %}Orador sem discurso cadastrado{% else %}{{url_discurso}}{% endif %}</td>
	      <td>
	        <a id="editar-orador" href="{% url 'sessao:explicacaoeditar' object.pk parlamentar.id %}" class="btn btn-primary btn-sm active">Editar</a>
	         <a id="excluir-orador" href="{% url 'sessao:explicacaoexcluir' object.pk parlamentar.id %}" class="btn btn-danger btn-sm active">Excluir</a>
	      </td>
	    </tr>
		{% endfor %}
	</table>
</fieldset>

<fieldset class="form-group">
	<legend>Adicionar Orador</legend>
	{% if form.errors %}
		<div class="alert-box alert">
			<b><h4>Os seguintes erros foram encontrados:</h4></b>
			<ul>
				{% for field in form %}
					{% if field.errors %}
						<li>O campo <b>{{field.label}}</b> é obrigatório!</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<form method="POST" action="">
	    {% csrf_token %}

      <div class="row">
        <div class="col-md-4">Ordem de pronunciamento</div>
        <div class="col-md-4">Parlamentar</div>
        <div class="col-md-4">URL Discurso</div>
      </div>

      <div class="row">
        <div class="col-md-4"><input type="text" id="numero_ordem" name="numero_ordem" class="form-control"/></div>

        <div class="col-md-4"><select name="parlamentar" id="parlamentar" class="form-control">
            {% for parlamentar in view.get_candidatos_orador %}
            	<option value="{{parlamentar.id}}">{{parlamentar.nome_parlamentar}}</option>
            {% endfor %}
        </select></div>
        <div class="col-md-4"><input type="text" id="url_discurso" name="url_discurso" class="form-control"/></div>
      </div>
			<br />
		<input type="submit" value="Adicionar Orador" name="adicionar" id="adicionar" class="btn btn-primary" />
		<input type="submit" value="Reordenar Oradores" name="reordenar" id="reordenar" class="btn btn-primary" />
	</form>
</fieldset>
{% endblock detail_content %}
