{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}

<fieldset>
	<legend>Oradores das Explicações Pessoais</legend>
  <div class="row">
    <div class="col-md-3">Ordem de pronunciamento</div>
    <div class="col-md-3">Parlamentar</div>
    <div class="col-md-3">URL Discurso</div>
    <div class="col-md-3">Editar/Excluir</div>
  </div>
		{% for numero_ordem, url_discurso, parlamentar in view.get_oradores %}
    <div class="row">
      <div class="col-md-3">{{numero_ordem}}</div>
      <div class="col-md-3">{{parlamentar.nome_parlamentar }}</div>
      <div class="col-md-3">{% if not url_discurso %}Orador sem discurso cadastrado{% else %}{{url_discurso}}{% endif %}</div>
      <div class="col-md-3">
        <a id="editar-orador" href="{% url 'sessaoplenaria:explicacaoeditar' object.pk parlamentar.id %}">Editar</a>
        / <a id="excluir-orador" href="{% url 'sessaoplenaria:explicacaoexcluir' object.pk parlamentar.id %}">Excluir</a>
      </div>
    </div>
		{% endfor %}
</fieldset>

<fieldset>
	<legend>Adicionar Orador</legend>
	{% if form.errors %}
		<div class="alert-box alert">
			<b><h4>Os seguintes erros foram encontrados:</h4></b>
			<ul>
				{% for field in form %}
					{% if field.errors %}
						<li>O campo <b>{{field.label}}</b> é obrigatório!</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<form method="POST" action="">
	    {% csrf_token %}

      <div class="row">
        <div class="col-md-4">Ordem de pronunciamento</div>
        <div class="col-md-4">Parlamentar</div>
        <div class="col-md-4">URL Discurso</div>
      </div>

      <div class="row">
        <div class="col-md-4"><input type="text" id="numero_ordem" name="numero_ordem"/></div>

        <div class="col-md-4"><select name="parlamentar" id="parlamentar">
            {% for parlamentar in view.get_candidatos_orador %}
            <option value="{{parlamentar.id}}">{{parlamentar.nome_parlamentar}}</option>
            {% endfor %}
        </select></div>
        <div class="col-md-4"><input type="text" id="url_discurso" name="url_discurso" /></div>
      </div>
		<input type="submit" value="Adicionar Orador" name="adicionar" id="adicionar" class="button primary" />
		<input type="submit" value="Reordenar Oradores" name="reordenar" id="reordenar" class="button primary" />
	</form>
</fieldset>
{% endblock detail_content %}
