{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}

{% block detail_content %}
<div>
	{{ error_message }}
</div>

{% if form.errors %}
	<div class="alert-box alert">
		<b><h4>Os seguintes erros foram encontrados:</h4></b>
		<ul>
			{% for field in form %}
				{% if field.errors %}
					<li>O campo <b>{{field.label}}</b> é obrigatório!</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endif %}

<form method="POST">
	{% csrf_token %}
		 
	<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
		<li>Data da Sessão: <input type="text" value='{{data_sessao|date:"d/m/Y" }}' disabled /></li>
		<input type="hidden" id="data_sessao" name="data_sessao" length="10" maxlength="10" value='{{data_sessao|date:"d/m/Y" }}' />
		<li>
			Tipo da Sessão: <select id="tipo_sessao" name="tipo_sessao" >
			<option value=""></option>
			{% for tipo in tipo_sessao %}
				<option value="{{tipo.id}}" {% if tipo == tipo_sessao_selected %} selected {% endif %} >{{tipo.nome}}</option>
			{% endfor %}	  	
			</select>
		</li>
		<li> Número Ordem: <input type="text" id="numero_ordem" name="numero_ordem" value="{{numero_ordem}}" /></li>
	</ul>

	<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
		<li>
			Tipo Matéria: 
			<select id="tipo_materia" name="tipo_materia">
				<option value=""></option>	  	
				{% for tipo in tipo_materia %}
					<option value="{{tipo.id}}" {% if tipo == tipo_materia_selected %} selected {% endif %}>{{tipo.descricao}}</option>
				{% endfor %}
			</select>
		</li>
		<li>Número Matéria: <input type="text" id="numero_materia" name="numero_materia" value="{{numero_materia}}"/></li>
		<li>Ano Matéria: <input type="text" id="ano_materia" name="ano_materia" value="{{ano_materia}}" /></li>
	</ul>

	<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
		<li>
			Tipo Votação:
			<select id="tipo_votacao" name="tipo_votacao">
				<option value=""></option>	  	
				{% for id, descricao in tipo_votacao %}
					<option value="{{id}}" {% if id == tipo_votacao_selected %} selected {% endif %}>{{descricao}}</option>
				{% endfor %}  	
			</select>
		</li>
	</ul>
	
	<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
		<li> Ementa: <textarea id="observacao" name="observacao" cols="10" rows="10">{{observacao}}</textarea> </li>
	</ul>

	<input type="submit" id="update-ordemdia" name="update-ordemdia" value="Salvar" />
	<input type="submit" id="delete-ordemdia" name="delete-ordemdia" value="Remover" />


</form>
{% endblock detail_content %}