{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block detail_content %}
<div>
	{{ error_message }}
</div>

{% if form.errors %}
	<div class="alert-box alert">
		<b><h4>Os seguintes erros foram encontrados:</h4></b>
		<ul>
			{% for field in form %}
				{% if field.errors %}
					<li>O campo <b>{{field.label}}</b> é obrigatório!</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endif %}

<form method="POST">
	{% csrf_token %}

  <div class="row">
    <div class="col-md-4">Data da Sessão: <input type="text" value='{{ data_sessao|date:"d/m/Y" }}' disabled /></div>
    <input type="hidden" id="data_sessao" name="data_sessao" length="10" maxlength="10" value='{{ data_sessao|date:"d/m/Y" }}' />
    <div class="col-md-4">
      Tipo da Sessão: <select id="tipo_sessao" name="tipo_sessao" >
        <option value=""></option>
        {% for tipo in tipo_sessao %}
        <option value="{{ tipo.id }}" {% if tipo == tipo_sessao_selected %} selected {% endif %} >{{tipo.nome}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4"> Número Ordem: <input type="text" id="numero_ordem" name="numero_ordem" value="{{numero_ordem}}" /></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Tipo Matéria:
      <select id="tipo_materia" name="tipo_materia">
        <option value=""></option>
        {% for tipo in tipo_materia %}
        <option value="{{ tipo.id }}" {% if tipo == tipo_materia_selected %} selected {% endif %}>{{tipo.descricao}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4">Número Matéria: <input type="text" id="numero_materia" name="numero_materia" value="{{ numero_materia }}"/></div>
    <div class="col-md-4">Ano Matéria: <input type="text" id="ano_materia" name="ano_materia" value="{{ ano_materia }}" /></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      Tipo Votação:
      <select id="tipo_votacao" name="tipo_votacao">
        <option value=""></option>
        {% for id, descricao in tipo_votacao %}
        <option value="{{ id }}" {% if id == tipo_votacao_selected %} selected {% endif %}>{{descricao}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"> Ementa: <textarea id="observacao" name="observacao" cols="10" rows="10">{{observacao}}</textarea> </div>
  </div>

	<input type="submit" id="update-ordemdia" name="update-ordemdia" value="Salvar" class="btn primary" />
	<input type="submit" id="delete-ordemdia" name="delete-ordemdia" value="Remover" class="btn primary" />


</form>
{% endblock detail_content %}