{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}

{% block detail_content %}

Matérias da Ordem do Dia

		<table border="1">
				<tr><td>Matéria</td><td>Ementa</td><td>Resultado da Votação</td></tr>
			{% for m in materias_ordem %}
				<tr>
					<td>
						{{m.numero}} - {{m.titulo}}					
						&nbsp;
						</br>
						{{m.autor}}
					</td>
					<td>
						{{m.ementa}}
					</td>
					<td>
						{% if m.resultado %}{{m.resultado}}{%endif%}
					</td>
				</tr>
			{% endfor %}
		</table>
		</ul>
		</br>
		<a href="{% url 'sessaoplenaria:materiaordemdia_create' object.pk %}" class="button secondary">{% trans 'Adicionar Matérias' %}</a></dd>
{% endblock detail_content %}