{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}

{% block detail_content %}

Matérias da Ordem do Dia

	<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
		<li>Matéria</li>
		<li>Ementa</li>
		<li>Resultado da Votação</li>
	</ul>
	<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
		{% for m in materias_ordem %}
			<li>
				{{m.numero}} - <a href="{% url 'sessaoplenaria:materiaordemdia_edit' m.pk m.oid %}">{{m.titulo}}</a>
				&nbsp;
				</br>
				{{m.autor}}
			</li>
			<li>{{m.ementa|safe}}</li>
			<li>
				{% if m.resultado %}
					{% if m.tipo_votacao == 1 %}
						<b><a href="{% url 'sessaoplenaria:votacaosimbolicaedit' m.pk m.oid m.ordem_id %}">{{m.resultado}}</a></b>
					{% elif m.tipo_votacao == 2 %}
						<b><a href="{% url 'sessaoplenaria:votacaonominaledit' m.pk m.oid %}">{{m.resultado}}</a></b>
					{% elif m.tipo_votacao == 3%}
						<b><a href="{% url 'sessaoplenaria:votacaosecretaedit' m.pk m.oid %}">{{m.resultado}}</a></b>
					{% endif %}
				{% else %}
					Matéria não votada <br />
					{% if m.tipo_votacao == 1 %}
						<b><a href="{% url 'sessaoplenaria:votacaosimbolica' m.pk m.oid m.ordem_id %}">Registrar Votação</a></b>
					{% elif m.tipo_votacao == 2 %}
						<b><a href="{% url 'sessaoplenaria:votacaonominal' m.pk m.oid %}">Registrar Votação</a></b>
					{% elif m.tipo_votacao == 3%}
						<b><a href="{% url 'sessaoplenaria:votacaosecreta' m.pk m.oid %}">Registrar Votação</a></b>
					{% endif %}
				{% endif %}
			</li>
		{% endfor %}
	</ul>

	</br>
	<a href="{% url 'sessaoplenaria:materiaordemdia_create' object.pk %}" class="button secondary">
		{% trans 'Adicionar Matérias' %}
	</a></dd>

	<!-- TODO implment -->
<!--
	<button>Incluir várias matérias</button>
	<button>Reordenar Matérias na Ordem do Dia</button>
	<button>Atualizar</button>
-->

{% endblock detail_content %}