{% extends "sessao/sessaoplenaria_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}

<fieldset>
	<legend>Oradores do Expediente</legend>
	<ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-4">
	        <li>Ordem de pronunciamento</li>
	        <li>Parlamentar</li>
	        <li>URL Discurso</li>
		    <li>Editar/Excluir</li>
	</ul>
		{% for numero_ordem, url_discurso, parlamentar in view.get_oradores %}
		    <ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-4">
		        <li>{{numero_ordem}}</li>
	            <li>{{parlamentar.nome_parlamentar }}</li>
		        <li>{% if not url_discurso %}Orador sem discurso cadastrado{% else %}{{url_discurso}}{% endif %}</li>
	            <li>
	            	<a id="editar-orador" href="{% url 'sessaoplenaria:oradoreditar' object.pk parlamentar.id %}">Editar</a>
	              / <a id="excluir-orador" href="{% url 'sessaoplenaria:oradorexcluir' object.pk parlamentar.id %}">Excluir</a>
	            </li>
		    </ul>
		{% endfor %}
</fieldset>

<fieldset>
	<legend>Adicionar Orador</legend>
	{% if form.errors %}
		<div class="alert-box alert">
			<b><h4>Os seguintes erros foram encontrados:</h4></b>
			<ul>
				{% for field in form %}
					{% if field.errors %}
						<li>O campo <b>{{field.label}}</b> é obrigatório!</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<form method="POST" action="">
	    {% csrf_token %}

		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
		        <li>Ordem de pronunciamento</li>
		        <li>Parlamentar</li>
		        <li>URL Discurso</li>
		</ul>
		
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
	        <li><input type="text" id="numero_ordem" name="numero_ordem"/></li>

	        <li><select name="parlamentar" id="parlamentar">
	        {% for parlamentar in view.get_candidatos_orador %}
	        	<option value="{{parlamentar.id}}">{{parlamentar.nome_parlamentar}}</option>        
	        {% endfor %}
	        </select></li>
	        <li><input type="text" id="url_discurso" name="url_discurso" /></li>
		</ul>
		<input type="submit" value="Adicionar Orador" name="adicionar" id="adicionar" />
		<input type="submit" value="Reordenar Oradores" name="reordenar" id="reordenar" />
	</form>
</fieldset>
{% endblock detail_content %}
