{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}{% endblock %}

{% block detail_content %}
<br>
<div align=right><a href="{% url 'relatorio_sessao_plenaria' object.id %}">> PDF</a></li></div>
<fieldset>
	<legend>Pauta da Sessão</legend>
	<h5 align="center">{{ sessaoplenaria }}</h5>
	
	<fieldset>
		<legend>Identificação Básica</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			{% for b in basica %}
				<li>{{b}}</li>
			{% endfor %}
		</ul>
	</fieldset>

	<fieldset>
		<legend>Expedientes</legend>
		<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
			{% for e in expedientes %}
				<li><b>{{e.tipo}}:</b></li>
				<li>{{e.conteudo|safe}}</li>
			{% endfor %}
		</ul>
	</fieldset>

	<fieldset>
		<legend>Matérias do Expediente</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Matéria</li>
			<li>Ementa</li>
			<li>Resultado da Votação</li>
		</ul>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			{% for m in materia_expediente %}
				<li>
					{{m.numero}} - <a href="{% url 'sessaoplenaria:pauta_expediente_detail' m.id %}">{{m.titulo}}</a>
					<br />
					<b>Autor{{ m.autor|length|pluralize:"es" }}</b>: {{ m.autor|join:', ' }}
				</li>
				<li>{{m.ementa|safe}}</li>
				<li>{{m.situacao}}</li>
			{% endfor %}
		</ul>
	</fieldset>

	<fieldset>
		<legend>Oradores do Expediente</legend>
		<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
		<li>Parlamentar</li>
		<li>Discurso</li>
		</ul>
		<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
			{% for o in oradores %}
				<li><b>{{o.numero_ordem}}</b> - {{o.parlamentar}}</li>
				<li>{{o.url_discurso}}</li>
			{% endfor %}
		</ul>
	</fieldset>

	<fieldset>
		<legend>Matérias da Ordem do Dia</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Matéria</li>
			<li>Ementa</li>
			<li>Resultado da Votação</li>
		</ul>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			{% for m in materias_ordem %}
				<li>
					{{m.numero}} - <a href="{% url 'sessaoplenaria:pauta_ordem_detail' m.id %}">{{m.titulo}}</a>
					<br />
					<b>Autor{{ m.autor|length|pluralize:"es" }}</b>: {{ m.autor|join:', ' }}
				</li>
				<li>{{m.ementa|safe}}</li>
				<li>{{m.situacao}}</li>
			{% endfor %}
		</ul>
	</fieldset>

</fieldset>
{% endblock detail_content %}