{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block base_content %}
<h2><b>Sessões Plenárias</b></h2>
<div class="actions btn-group pull-right" role="group">
  <a href="{% url 'sessaoplenaria:sessao_cadastro' %}" class="btn btn-default">
    {% blocktrans with verbose_name=view.verbose_name %} Adicionar Sessão Plenária {% endblocktrans %}
  </a>
</div>
	{% block detail_content %}
		<table width="100%">
			{% for sessao in page_obj %}
				<tr>
					<th>
						<a href="{% url 'sessaoplenaria:detail' sessao.id %}">{{sessao}}</a>
						<br />
						Data: {{sessao.data_inicio}} - Abertura {{sessao.hora_inicio}}
					</th>
				</tr>
			{% endfor %}
		</table>
	    {% include "paginacao.html" %}
	{% endblock %}
{% endblock %}