{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Cargo Comiss&atilde;o</h1>
<br />
Esta tabela&nbsp; tem por objetivo cadastrar os cargos que
comp&otilde;em uma comiss&atilde;o.<br />
<br />
Ao ter acesso a esta tabela ser&aacute; exibido a
rela&ccedil;&atilde;o de cargos j&aacute; cadastrados e um
campo em branco, onde deve&nbsp; ser digitado o tipo do cargo, ex.:
Presidente, vice-presidente, secret&aacute;rio etc.<br />
Campo de preenchimento obrigat&oacute;rio.<br />
Informe se o tipo de cargo que esta sendo inclu&iacute;do
&eacute; &uacute;nico. (ex. Presidente &eacute; um cargo
&uacute;nico, porque na composi&ccedil;&atilde;o da
comiss&atilde;o s&oacute; pode ter um presidente, j&aacute;
secret&aacute;rio pode haver 1&ordm; secret&aacute;rio,
2&ordm; secret&aacute;rio etc.) <br />
Campo de preenchimento obrigat&oacute;rio.<br />
Acione o bot&atilde;o &ldquo;Incluir Cargo&rdquo; para
efetivar a inclus&atilde;o. <br />
Ser&aacute; enviada a mensagem !Cargo Comiss&atilde;o salvo com
sucesso!<br />
Acione a fun&ccedil;&atilde;o Continuar para&nbsp; repetir
a opera&ccedil;&atilde;o para outros Cargos, ou acione a
fun&ccedil;&atilde;o Sair para sair do cadastramento de Cargo
Comiss&atilde;o e voltar &agrave; tela inicial do sistema.<br />
Para alterar o cargo, escreva a altera&ccedil;&atilde;o no
cargo j&aacute; existente acione a a&ccedil;&atilde;o
&ldquo;Atualizar&rdquo;.<br />
<br />
Para mudar a situa&ccedil;&atilde;o de cargo &uacute;nico
de um cargo j&aacute; existente acione a a&ccedil;&atilde;o
cargo &uacute;nico e em seguida a a&ccedil;&atilde;o
&ldquo;Atualizar&rdquo;.<br />
Para exclui o cargo, acione a a&ccedil;&atilde;o excluir.<br />
Ser&aacute; enviada a pergunta &ldquo;Deseja realmente
excluir?&rdquo;<br />
Acione OK em caso positivo ou Cancelar para o caso de
desist&ecirc;ncia da exclus&atilde;o.<br />
Quando for informado OK ser&aacute; enviada a mensagem !Cargo
Comiss&atilde;o exclu&iacute;do com sucesso!.<br />

<br />
  <a href="{% url 'sapl.base:help_topic'%}?topic=modulo_comissoes">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic'%}?topic=tipo_comissao">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
