{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">




<h1 class="firstHeading"><a NAME="colig_topo">Coliga&ccedil;&atilde;o</a></h1>
<br />
Esta tabela tem por objetivo cadastrar as
Coliga&ccedil;&otilde;es Partid&aacute;rias existentes na
Casa Legislativa<br />
<br />
Ao ter acesso a esta tabela ser&aacute; exibida uma tela com as
coliga&ccedil;&otilde;es j&aacute; cadastradas e o
bot&atilde;o &ldquo;Incluir
Coliga&ccedil;&atilde;o&rdquo;. Ao ser acionado este
bot&atilde;o ser&aacute; exibida a tela com os seguintes campos
para serem preenchidos:<br />
<br />
<center>
<table width="653">
  <col width="154" /> <col width="94" /> <col
 width="372" /> <thead> <tr valign="top">
    <td bgcolor="#c7d8eb" width="154">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Nome do Campo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="94">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Tipo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="372">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Instru&ccedil;&otilde;es para
Preenchimento</b></font></p>
    </td>
  </tr>
  </thead> <tbody>
    <tr valign="top">
      <td width="154">
      <p><font style="font-size: 11pt;" size="3">Nome</font></p>
      </td>
      <td width="94">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="372">
      <p><font style="font-size: 11pt;" size="3">Preencher
este campo com o nome da coliga&ccedil;&atilde;o
partid&aacute;ria</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td height="28" width="154">
      <p><font style="font-size: 11pt;" size="3">N.&ordm;
Legislatura</font></p>
      </td>
      <td width="94">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="372">
      <p><font style="font-size: 11pt;" size="3">Selecione
na caixa N.&deg; Legislatura o n&uacute;mero da legislatura na
qual a coliga&ccedil;&atilde;o foi realizada.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="154">
      <p><font style="font-size: 11pt;" size="3">N.&ordm;
de Votos Recebidos</font></p>
      </td>
      <td width="94">
      <p><font style="font-size: 11pt;" size="3">Opcional</font></p>
      </td>
      <td width="372">
      <p><font style="font-size: 11pt;" size="3">Informe
o n&uacute;mero de votos que a coliga&ccedil;&atilde;o
recebeu</font></p>
      </td>
    </tr>
  </tbody>
</table>
</center>
<br />
Acione a tecla&nbsp; &ldquo;Salvar&rdquo; para que as
informa&ccedil;&otilde;es sejam salvas no arquivo.<br />
Ser&aacute; enviada a mensagem !Coliga&ccedil;&atilde;o
salva com sucesso!<br />
Acione a fun&ccedil;&atilde;o Continuar para&nbsp; repetir
a opera&ccedil;&atilde;o para outras
Coliga&ccedil;&otilde;es, ou acione a
fun&ccedil;&atilde;o Sair para sair do cadastramento de
Coliga&ccedil;&otilde;es e voltar a tela inicial do sistema.<br />
<br />
Para alterar uma Coliga&ccedil;&atilde;o, selecione a
Coliga&ccedil;&atilde;o&nbsp; desejada, altere as
informa&ccedil;&otilde;es e acione a
fun&ccedil;&atilde;o &ldquo;Salvar&rdquo;.<br />
Para excluir uma Coliga&ccedil;&atilde;o, selecione a
Coliga&ccedil;&atilde;o desejada e acione a
fun&ccedil;&atilde;o &ldquo;Excluir&rdquo;.<br />
Ser&aacute; enviada a pergunta &ldquo;Deseja realmente
excluir?&rdquo;<br />
Acione OK em caso positivo ou Cancelar para o caso de
desist&ecirc;ncia da exclus&atilde;o.<br />
Quando for informado OK ser&aacute; enviada a mensagem
!Coliga&ccedil;&atilde;o exclu&iacute;da com sucesso!<br />
A fun&ccedil;&atilde;o &ldquo;In&iacute;cio&rdquo;
retorna &agrave; tela com a rela&ccedil;&atilde;o de
Coliga&ccedil;&otilde;es j&aacute; cadastradas.<br />
<br />
<h1 class="firstHeading"><a NAME="colig_compo">Composi&ccedil;&atilde;o</a></h1>
<b><br />
Observa&ccedil;&atilde;o:</b> - Ao ser acionado a
fun&ccedil;&atilde;o
&ldquo;Composi&ccedil;&atilde;o&rdquo;, <u>caso
os dados da Coliga&ccedil;&atilde;o ainda n&atilde;o tenham
sido salvos</u>ser&aacute; exibida a
seguinte pergunta :<br />
Deseja salvar os dados?<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Acione o bot&atilde;o OK.<br />
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Na tela
seguinte ira ser exibida a mensagem: !Coliga&ccedil;&atilde;o
salva com sucesso!<br />
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; E logo a
seguir a fun&ccedil;&atilde;o Continuar;<br />
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Acione a
fun&ccedil;&atilde;o Continuar.<br />
&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<i><b>
Nota:. O bot&atilde;o Cancelar n&atilde;o salva os dados
inclu&iacute;dos ou alterados. Abre direto a p&aacute;gina de
alimenta&ccedil;&atilde;o da composi&ccedil;&atilde;o.</b></i><br />
<br />
Preencha os campos:<br />
<br />
Selecione na Caixa de Partidos, os partidos que comp&otilde;em a
Coliga&ccedil;&atilde;o.<br />
Campo de preenchimento obrigat&oacute;rio.<br />
Acione o Bot&atilde;o Incluir.<br />
Ser&aacute; enviada a mensagem !Composi&ccedil;&atilde;o
salva com sucesso!<br />
Acione a fun&ccedil;&atilde;o Continuar para repetir a
opera&ccedil;&atilde;o para outras
Composi&ccedil;&otilde;es, ou acione a
fun&ccedil;&atilde;o Sair para sair do cadastramento de
Composi&ccedil;&atilde;o e voltar a tela inicial do sistema.<br />
Efetue esta opera&ccedil;&atilde;o tantas vezes quantas forem
os partidos que comp&otilde;em a coliga&ccedil;&atilde;o.<br />
<br />
Para alterar um partido da composi&ccedil;&atilde;o, selecione
o partido na rela&ccedil;&atilde;o de partidos
inclu&iacute;dos, e acione a a&ccedil;&atilde;o
&ldquo;Atualizar&rdquo;.<br />
Ser&aacute; enviada a mensagem !Composi&ccedil;&atilde;o
salva com sucesso.<br />
Acione a fun&ccedil;&atilde;o Continuar para voltar a tela de
cadastramento de Composi&ccedil;&atilde;o.<br />
<br />
Para excluir uma Composi&ccedil;&atilde;o, e acione a
a&ccedil;&atilde;o &ldquo;Excluir&rdquo;.<br />
Ser&aacute; enviada a pergunta &ldquo;Confirma a
exclus&atilde;o?&rdquo;<br />
Acione OK em caso positivo ou Cancelar para o caso de
desist&ecirc;ncia da exclus&atilde;o.<br />
Quando for informado OK ser&aacute; enviada a mensagem
!Composi&ccedil;&atilde;o exclu&iacute;da com sucesso!<br />
A fun&ccedil;&atilde;o &ldquo;In&iacute;cio&rdquo;
retorna a tela com a rela&ccedil;&atilde;o de
Coliga&ccedil;&otilde;es j&aacute; cadastradas.<br />

<br />
  <a href="{% url 'sapl.base:help_topic' 'partidos' %}">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic' 'cadastro_parlamentares' %}">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
