{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Envio de Proposi&ccedil;&otilde;es</h1>
<br />
Este M&oacute;dulo permite a um usu&aacute;rio com o perfil
<b>&ldquo;Autor&rdquo;</b> (normalmente, um parlamentar) fazer o envio
de proposi&ccedil;&otilde;es em meio eletr&ocirc;nico, por
meio do SAPL.<br />
<br />
O acesso a este m&oacute;dulo se d&aacute; por login
espec&iacute;fico, feito pelo autor, utilizando o nome de
usu&aacute;rio criado para ele no momento do seu cadastramento.
Veja o cap&iacute;tulo sobre a tabela auxiliar
&ldquo;Autor&rdquo; para maiores detalhes.<br />
No primeiro acesso do autor ao sistema, ser&aacute; solicitado a
ele que fa&ccedil;a a mudan&ccedil;a da sua senha.<br />
<br />
Ao clicar no item de menu
&ldquo;Proposi&ccedil;&otilde;es&rdquo;,
ser&aacute; exibido ao autor uma lista das
proposi&ccedil;&otilde;es criadas por ele. Cada uma dessas
proposi&ccedil;&otilde;es pode estar em um dos&nbsp;
seguintes estados: &ldquo;Em
elabora&ccedil;&atilde;o&rdquo;,
&ldquo;Enviada&rdquo;, &ldquo;Recebida&rdquo;,
Incorporada&rdquo; ou &ldquo;Devolvida&rdquo;.<br />
<br />
Para criar uma nova proposi&ccedil;&atilde;o, clique no link
&ldquo;Elaborar Nova Proposi&ccedil;&atilde;o&rdquo;,
localizada no canto superior esquerdo do quadro. Ser&aacute;
exibida uma tela com os seguintes campos a serem preenchidos.<br />
<br />
<table width="100%">
  <col width="60*" /> <col width="40*" /> <col
 width="156*" /> <thead> <tr valign="top">
    <td bgcolor="#c7d8eb" width="24%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Nome do Campo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="15%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Tipo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="61%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Instru&ccedil;&otilde;es para
Preenchimento</b></font></p>
    </td>
  </tr>
  </thead> <tbody>
    <tr valign="top">
      <td width="24%">
      <p><font style="font-size: 11pt;" size="3">Tipo</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="61%">
      <p><font style="font-size: 11pt;" size="3">Selecione
o tipo de mat&eacute;ria legislativa ou de documento
acess&oacute;rio a ser criado com a
proposi&ccedil;&atilde;o.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="24%">
      <p><font style="font-size: 11pt;" size="3">Descri&ccedil;&atilde;o</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="61%">
      <p><font style="font-size: 11pt;" size="3">Informe
um texto descritivo para a proposi&ccedil;&atilde;o. Deve ser
um texto curto, e serve apenas para facilitar a
identifica&ccedil;&atilde;o da proposi&ccedil;&atilde;o
nas listagens exibidas na tela.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="24%">
      <p><font style="font-size: 11pt;" size="3">Mat&eacute;ria
Legislativa + N&uacute;mero + Ano</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Desativado
ou Obrigat&oacute;rio</font></p>
      </td>
      <td width="61%">
      <p><font style="font-size: 11pt;" size="3">Caso
a proposi&ccedil;&atilde;o esteja criando uma
mat&eacute;ria legislativa, esses campos estar&atilde;o
desativados. Caso esteja criando um documento acess&oacute;rio,
esses campos estar&atilde;o ativados e ser&atilde;o de
preenchimento obrigat&oacute;rio: Devem conter o tipo, o
n&uacute;mero e o ano de uma mat&eacute;ria legislativa
j&aacute; existente, dentro da qual ser&aacute;
inclu&iacute;do o documento acess&oacute;rio que
est&aacute; sendo proposto.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="24%">
      <p><font style="font-size: 11pt;" size="3">Texto
Integral: Criar Texto em XML</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Op&ccedil;&atilde;o</font></p>
      </td>
      <td width="61%">
      <p><font style="font-size: 11pt;" size="3">Caso
marcado, o sistema permitir&aacute; a edi&ccedil;&atilde;o
do texto da proposi&ccedil;&atilde;o no pr&oacute;prio
SAPL; ela ter&aacute; um formato padronizado, definido pelo
administrador do SAPL.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="24%">
      <p><font style="font-size: 11pt;" size="3">Texto
Integral: Carregar Arquivo Externo</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Op&ccedil;&atilde;o</font></p>
      </td>
      <td width="61%">
      <p><font style="font-size: 11pt;" size="3">Caso
marcado, o sistema permitir&aacute; o envio de um arquivo externo
(em formato .doc, .pdf, .html, .txt ou outros), a ser anexado como
texto da proposi&ccedil;&atilde;o. Informe o caminho do arquivo
no campo subjacente, ou clique no bot&atilde;o
&ldquo;Procurar&rdquo; para localizar esse arquivo em disco.</font></p>
      </td>
    </tr>
  </tbody>
</table>
<br />

<br />
  <a href="recebimento_proposicao">Anterior</a> |

  <a href="ajuda_index_html">&Iacute;ndice</a>

  | <a href="autor">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
