{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Filia&ccedil;&otilde;es Partid&aacute;rias</h1>
<br />
Para incluir as filia&ccedil;&otilde;es partid&aacute;rias
do Parlamentar, selecione o Parlamentar, e acione a
fun&ccedil;&atilde;o Filia&ccedil;&atilde;o
Partid&aacute;ria que est&aacute; na barra superior da tela.<br />
Observa&ccedil;&atilde;o: - Ao ser acionado a
fun&ccedil;&atilde;o &ldquo;Filia&ccedil;&otilde;es
Partid&aacute;rias&rdquo; caso os dados Parlamentar ainda
n&atilde;o tenham sido salvos ser&aacute; exibida a seguinte
pergunta :<br />
&nbsp;&nbsp;&nbsp; Deseja salvar os dados?<br />
Acione o bot&atilde;o OK.<br />
Na tela seguinte ira ser exibida a mensagem: !Dados salvos com sucesso!<br />
E logo a seguir a fun&ccedil;&atilde;o Continuar;<br />
Acione a fun&ccedil;&atilde;o Continuar.<br />
Nota: O bot&atilde;o Cancelar n&atilde;o salva os dados
inclu&iacute;dos ou alterados. Abre direto a p&aacute;gina de
alimenta&ccedil;&atilde;o de filia&ccedil;&atilde;o
partid&aacute;ria.<br />
<br />
Acione o bot&atilde;o &ldquo;Incluir
Filia&ccedil;&atilde;o Partid&aacute;ria&rdquo;.<br />
<br />
Campos a serem preenchidos:<br />
<br />
<center>
<table width="653">
  <col width="145" /> <col width="75" /> <col
 width="401" /> <thead> <tr valign="top">
    <td bgcolor="#c7d8eb" width="145">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Nome do Campo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="75">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Tipo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="401">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Instru&ccedil;&otilde;es para
Preenchimento</b></font></p>
    </td>
  </tr>
  </thead> <tbody>
    <tr valign="top">
      <td width="145">
      <p><font style="font-size: 11pt;" size="3">Partido</font></p>
      </td>
      <td width="75">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">Escolha
na caixa de partidos a sigla do partido que o parlamentar
est&aacute; ou j&aacute; foi filiado.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="145">
      <p><font style="font-size: 11pt;" size="3">Data
Filia&ccedil;&atilde;o</font></p>
      </td>
      <td width="75">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">Informe
a data de filia&ccedil;&atilde;o do parlamentar ao partido no
formato dia, m&ecirc;s e ano (ano com quatro
posi&ccedil;&otilde;es).</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="145">
      <p><font style="font-size: 11pt;" size="3">Data
Desfilia&ccedil;&atilde;o</font></p>
      </td>
      <td width="75">
      <p><font style="font-size: 11pt;" size="3">Opcional</font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">Informe
a data de desfilia&ccedil;&atilde;o do parlamentar ao partido
no formato dia, m&ecirc;s e ano (ano com quatro
posi&ccedil;&otilde;es).</font></p>
      </td>
    </tr>
  </tbody>
</table>
</center>
<br />
<br />
Acione a fun&ccedil;&atilde;o&nbsp;
&ldquo;Salvar&rdquo; para que as
informa&ccedil;&otilde;es sejam salvas no arquivo.<br />
Ser&aacute; enviada a mensagem !Filia&ccedil;&atilde;o
Partid&aacute;ria salva com sucesso!<br />
Acione a fun&ccedil;&atilde;o Continuar para&nbsp; repetir
a opera&ccedil;&atilde;o para outras
Filia&ccedil;&otilde;es Partid&aacute;rias, ou acione a
fun&ccedil;&atilde;o Sair para sair do cadastramento de
filia&ccedil;&atilde;o partid&aacute;ria e voltar a tela
inicial do sistema.<br />
<br />
Para alterar uma Filia&ccedil;&atilde;o Partid&aacute;ria,
selecione a filia&ccedil;&atilde;o partid&aacute;ria
desejada, altere as informa&ccedil;&otilde;es e acione a
fun&ccedil;&atilde;o &ldquo;Salvar&rdquo;.<br />
<br />
Para excluir uma Filia&ccedil;&atilde;o Partid&aacute;ria,
selecione a Filia&ccedil;&atilde;o Partid&aacute;ria
desejada e acione a fun&ccedil;&atilde;o
&ldquo;Excluir&rdquo;.<br />
Ser&aacute; enviada a pergunta &ldquo;Deseja realmente
excluir?&rdquo;<br />
Acione OK em caso positivo ou Cancelar para o caso de
desist&ecirc;ncia da exclus&atilde;o.<br />
Quando for informado OK ser&aacute; enviada a mensagem <i>!Filia&ccedil;&atilde;o
Partid&aacute;ria exclu&iacute;da com sucesso!</i><br />
A fun&ccedil;&atilde;o &ldquo;In&iacute;cio&rdquo;
retorna a tela com os dados b&aacute;sicos do parlamentar.<br />

<br />
  <a href="{% url 'sapl.base:help_topic' 'mandatos_parlamentar' %}">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic' 'dependentes' %}">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
