{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Tipo de Fim de Relatoria</h1>
<br />
Esta tabela tem por objetivo cadastrar as causas de fim de relatoria
das mat&eacute;rias legislativas.<br />
Ao ter acesso a esta tabela ser&aacute; exibida uma tela com os
tipos de Fim de Relatorias j&aacute; cadastrados, e um campo em
branco.<br />
<br />
Preencha o Tipo Fim Relatoria no campo tipo fim relatoria e acione o
bot&atilde;o &ldquo;Incluir Tipo Fim Relatoria&rdquo;.
Campo de preenchimento obrigat&oacute;rio. <br />
Ser&aacute; enviada a mensagem<i> !Tipo Fim Relatoria salvo
com sucesso!</i><br />
Acione a fun&ccedil;&atilde;o Continuar para&nbsp; repetir
a opera&ccedil;&atilde;o para outros Tipos Fim de Relatoria, ou
acione a fun&ccedil;&atilde;o Sair para sair do cadastramento
de Tipo Fim Relatoria e voltar a tela inicial do sistema.<br />
<br />
Para alterar os dados de um tipo fim de relatoria j&aacute;
cadastrada, altere as informa&ccedil;&otilde;es e acione a
a&ccedil;&atilde;o &ldquo;Atualizar&rdquo;.Para excluir
um tipo fim relatoria , acione a a&ccedil;&atilde;o
&ldquo;Excluir&rdquo;.<br />
Ser&aacute; informado que o tipo fim de relatoria foi
exclu&iacute;do com sucesso sem pergunta de
confirma&ccedil;&atilde;o.<br />

<br />
  <a href="orgao">Anterior</a> |

  <a href="ajuda_index_html">&Iacute;ndice</a>

  | <a href="status_tramitacao">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
