{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Gerenciamento de Usu&aacute;rios</h1>
Este M&oacute;dulo tem por objetivo possibilitar ao gerente de
usu&aacute;rios cadastrar os usu&aacute;rios que
ir&atilde;o fazer a alimenta&ccedil;&atilde;o da base de
dados.<br />
O Gerente de Usu&aacute;rios tem acesso somente aos
M&oacute;dulos &ldquo;Gerenciamento de
Usu&aacute;rios&rdquo; e &ldquo;Troca de Senha&rdquo;.<br />
Ao ter acesso a este m&oacute;dulo ser&aacute; exibida uma tela
com a rela&ccedil;&atilde;o de operadores j&aacute;
cadastrados.<br />
Para alterar os dados e um operador, selecione o operador e efetue as
altera&ccedil;&otilde;es.<br />
Para adicionar mais operadores acione a fun&ccedil;&atilde;o
&ldquo;Adicionar&rdquo; e preencha os seguintes campos:<br />
<br />
<center>
<table width="85%">
  <col width="60*" /> <col width="40*" /> <col
 width="157*" /> <thead> <tr valign="top">
    <td bgcolor="#c7d8eb" width="23%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Nome do Campo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="15%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Tipo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="61%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Instru&ccedil;&otilde;es para
Preenchimento</b></font></p>
    </td>
  </tr>
  </thead> <tbody>
    <tr valign="top">
      <td width="23%">
      <p><font style="font-size: 11pt;" size="3">Nome</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="61%">
      <p><font style="font-size: 11pt;" size="3">Informe
o Nome (login) do Operador</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="23%">
      <p><font style="font-size: 11pt;" size="3">Nova
Senha</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="61%">
      <p><font style="font-size: 11pt;" size="3">Informe
a senha do Operador.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="23%">
      <p><font style="font-size: 11pt;" size="3">Confirmar</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="61%">
      <p><font style="font-size: 11pt;" size="3">Confirme
a senha informada no campo acima.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="23%">
      <p><font style="font-size: 11pt;" size="3">Perfil</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="61%">
      <p style="margin-bottom: 0cm;"><font
 style="font-size: 11pt;" size="3">Selecione na lista
o perfil que o operador ter&aacute;. Este perfil define a
&aacute;rea de atua&ccedil;&atilde;o do operador para
manipula&ccedil;&atilde;o dos dados.</font></p>
      <p style="margin-bottom: 0cm;"><font
 style="font-size: 11pt;" size="3">Selecione um ou
mais. Para selecionar mais de um perfil acione a tecla Ctrl e clique no
perfil desejado.</font></p>
      <p><font style="font-size: 11pt;" size="3"><i>Obs.
O perfil &ldquo;Operador&rdquo; tem acesso a todas as
fun&ccedil;&otilde;es de manipula&ccedil;&atilde;o de
dados</i>.</font></p>
      </td>
    </tr>
  </tbody>
</table>
</center>
<br />
Acione a fun&ccedil;&atilde;o&nbsp;
&ldquo;Salvar&rdquo; para que as
informa&ccedil;&otilde;es sejam salvas no arquivo.<br />
Ser&aacute; enviada a mensagem !O Usu&aacute;rio foi salvo com
sucesso!<br />
Para <b>alterar</b> os dados de um usu&aacute;rio, selecione o
usu&aacute;rio e efetue as altera&ccedil;&otilde;es<br />
Para <b>excluir</b> um usu&aacute;rio, marque o usu&aacute;rio que
deseja excluir e acione a fun&ccedil;&atilde;o
&ldquo;Excluir&rdquo;.<br />
Ser&aacute; enviada a mensagem: <i>O(s) Usu&aacute;rio(s)
exclu&iacute;do(s) com sucesso!</i><br />
<br />
Lista dos Perfis e suas fun&ccedil;&otilde;es:<br />
<center>
<table width="85%">
  <col width="145" /> <col width="486" /> <tbody>
    <tr valign="top">
      <td width="145">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2"><b>Administrador</b></font></font></p>
      </td>
      <td width="486">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2">T&ecirc;m
acesso as informa&ccedil;&otilde;es de
administra&ccedil;&atilde;o de operadores. Criar novos
operadores e alterar os dados do mesmo e a
manuten&ccedil;&atilde;o das tabelas auxiliares.</font></font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="145">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2"><b>Operador</b></font></font></p>
      </td>
      <td width="486">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2">T&ecirc;m
acesso a todas as informa&ccedil;&otilde;es da base de dados.
Cadastramento e manuten&ccedil;&atilde;o e todas as
informa&ccedil;&otilde;es.</font></font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="145">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2"><b>Operador
Comiss&atilde;o</b></font></font></p>
      </td>
      <td width="486">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2">T&ecirc;m
acesso aos dados de Comiss&otilde;es, para cadastramento e
manuten&ccedil;&atilde;o.</font></font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="145">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2"><b>Operador
Mat&eacute;ria</b></font></font></p>
      </td>
      <td width="486">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2">T&ecirc;m
acesso aos dados das Mat&eacute;rias Legislativas, para
cadastramento e manuten&ccedil;&atilde;o.</font></font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="145">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2"><b>Operador
Mesa Diretora</b></font></font></p>
      </td>
      <td width="486">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2">T&ecirc;m
acesso aos dados da Mesa Diretora, para cadastramento e
manuten&ccedil;&atilde;o.</font></font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="145">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2"><b>Operador
Norma</b></font></font></p>
      </td>
      <td width="486">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2">T&ecirc;m
acesso aos dados das Normas Jur&iacute;dicas, para cadastramento e
manuten&ccedil;&atilde;o.</font></font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="145">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2"><b>Operador
Ordem do Dia</b></font></font></p>
      </td>
      <td width="486">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2">T&ecirc;m
acesso aos dados da Ordem do Dia, para cadastramento e
manuten&ccedil;&atilde;o.</font></font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="145">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2"><b>Operador
Parlamentar</b></font></font></p>
      </td>
      <td width="486">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2">T&ecirc;m
acesso aos dados dos Parlamentares, para cadastramento e
manuten&ccedil;&atilde;o.</font></font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="145">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2"><b>Operador
Tabela Auxiliar</b></font></font></p>
      </td>
      <td width="486">
      <p><font face="Helvetica, sans-serif"><font
 style="font-size: 11pt;" size="2">T&ecirc;m
acesso aos dados das tabelas, para cadastramento e
manuten&ccedil;&atilde;o.</font></font></p>
      </td>
    </tr>
  </tbody>
</table>
</center>
<br />

<br />
  <a href="{% url 'sapl.base:help_topic' 'troca_senha' %}">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic' 'recebimento_proposicao' %}">Pr&oacute;xima</a>

<br />


</div>

{% endblock base_content %}
