{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">


<h1 class="firstHeading">T&oacute;picos do Manual de Ajuda</h1>
<ul class="manual">
  <li>
      <a href="consultas#cons_topo">Acessando o Sistema</a>
      <ul>
          <li><a href="consultas#cons_mesadir">Consulta &agrave; Mesa Diretora</a></li>
          <li><a href="consultas#cons_comissoes">Consulta &agrave;s Comiss&otilde;es</a></li>
          <li><a href="consultas#cons_ordem_dia">Consulta &agrave; Ordem do Dia</a></li>
          <li><a href="consultas#cons_sessao_plenaria">Consulta Sess&atilde;o Plen&aacute;ria</a></li>
          <li><a href="consultas#cons_dadosparl">Consulta Parlamentares</a></li>
          <li><a href="consultas#cons_materia">Consulta &agrave;s Mat&eacute;rias Legislativas</a></li>
          <li><a href="consultas#cons_norma">Consulta &agrave;s Normas Jur&iacute;dicas</a></li>
      </ul>
  </li>
  <li><a href="tramitacao_lote">Tramitando Processos em Lote</a></li>
  <li><a href="impressos">Impressos</a><li>
  <li><a href="relatorios#rel_topo">Emitindo Relat&oacute;rios Administrativos</a>
  <ul>
    <li><a href="relatorios#rel_tipo_autor_ano">Emite Proposituras por Tipo, Autor e Ano</a></li>
    <li><a href="relatorios#rel_autor">Emite Proposituras por Autor</a></li>
    <li><a href="relatorios#rel_materia">Emite Mat&eacute;rias Legislativas por status da tramita&ccedil;&atilde;o e prazo limite</a>
    </li>
  </ul>
  </li>
  <li><a href="acessando_alimenta">Acessando o modulo de alimenta&ccedil;&atilde;o das informa&ccedil;&otilde;es</a></li>
  <li><a href="{{casa_legislativa}}">Casa Legislativa</a></li>
  <li><a href="modulo_parlamentares">Parlamentares</a>
  <ul>
    <li><a href="legislatura">Legislatura</a></li>
    <li><a href="tipo_afastamento">Tipo de Afastamento</a></li>
    <li><a href="tipo_dependente">Tipo de Dependente</a></li>
    <li><a href="tipo_situa_militar">Tipo de Situa&ccedil;&atilde;o Militar</a></li>
    <li><a href="nivel_instrucao">N&iacute;vel de Instru&ccedil;&atilde;o</a></li>
    <li><a href="partidos">Partidos</a></li>
    <li><a href="coligacao#colig_topo">Coliga&ccedil;&atilde;o</a>
    <ul>
      <li><a href="coligacao#colig_compo">Composi&ccedil;&atilde;o</a></li>
    </ul>
    </li>
    <li><a href="cadastro_parlamentares">Cadastro de Parlamentares</a>
    <ul>
      <li><a href="mandatos_parlamentar">Mandatos do Parlamentar</a></li>
      <li><a href="filiacoes_partidarias">Filia&ccedil;&otilde;es Partid&aacute;rias</a></li>
      <li><a href="dependentes">Dependentes</a></li>
    </ul>
    </li>
  </ul>
  </li>
  <li><a href="modulo_mesa_diretora">Mesa Diretora</a>
  <ul>
    <li><a href="sessao_legislativa">Sess&atilde;o Legislativa</a></li>
    <li><a href="cargo_mesa">Cargo Mesa</a></li>
    <li><a href="cadastro_mesa_diretora">Cadastro da Mesa Diretora</a></li>
  </ul>
  </li>
  <li><a href="modulo_comissoes">Comiss&otilde;es</a>
  <ul>
    <li><a href="cargo_comissao">Cargo Comiss&atilde;o</a></li>
    <li><a href="tipo_comissao">Tipo de Comiss&atilde;o</a></li>
    <li><a href="periodo_composicao_comissao">Per&iacute;odo da Composi&ccedil;&atilde;o da Comiss&atilde;o</a></li>
    <li><a href="cadastro_comissoes#comis_topo">Cadastro de Comiss&otilde;es</a>
    <ul>
      <li><a href="cadastro_comissoes#comis_compo">Composi&ccedil;&atilde;o</a></li>
    </ul>
    </li>
  </ul>
  </li>
  <li><a href="modulo_tramitacao_materias">Mat&eacute;rias Legislativas</a>
  <ul>
    <li><a href="acomp_materia">Acompanhamento de Mat&eacute;ria Legislativa, via e-mail</a>
  </ul>
  <ul>
    <li><a href="tipo_materia_legislativa">Tipo de Mat&eacute;ria Legislativa</a></li>
    <li><a href="regime_tramitacao">Regime de Tramita&ccedil;&atilde;o</a></li>
    <li><a href="origem">Origem</a></li>
    <li><a href="autor">Autor</a></li>
    <li><a href="tipo_autor">Tipo de Autor</a></li>
    <li><a href="unidade_tramitacao">Unidade de Tramita&ccedil;&atilde;o</a></li>
    <li><a href="orgao">&Oacute;rg&atilde;o</a></li>
    <li><a href="fim_relatoria">Tipo de Fim de Relatoria</a></li>
    <li><a href="status_tramitacao">Status de Tramita&ccedil;&atilde;o</a></li>
    <li><a href="tipo_documento">Tipo de Documento</a></li>
    <li><a href="cadastro_materia">Cadastro das Mat&eacute;rias Legislativas</a>
    <ul>
      <li><a href="despacho_autoria#despacho">Para inclus&atilde;o do Despacho Inicial, acione a fun&ccedil;&atilde;o "Despacho Inicial"</a></li>
      <li><a href="despacho_autoria#autoria">Para inclus&atilde;o de Autoria, acione a fun&ccedil;&atilde;o "Autoria"</a></li>
      <li><a href="legislacao_cita_matanexada#legislacao_citada">Para inclus&atilde;o de Legisla&ccedil;&atilde;o Citada, acione a fun&ccedil;&atilde;o "Legisla&ccedil;&atilde;o Citada"</a></li>
      <li><a href="legislacao_cita_matanexada#materia_anexada">Para inclus&atilde;o de Mat&eacute;ria Anexada, acione a fun&ccedil;&atilde;o "Mat&eacute;ria Anexada"</a></li>
      <li><a href="tramitacao_relatoria#tramitacao">Para inclus&atilde;o de Tramita&ccedil;&atilde;o, acione a fun&ccedil;&atilde;o "Tramita&ccedil;&atilde;o"</a></li>
      <li><a href="tramitacao_relatoria#relatoria">Para inclus&atilde;o da Relatoria, acione a fun&ccedil;&atilde;o "Relatoria"</a></li>
      <li><a href="numeracao_docsacess#numeracao">Para inclus&atilde;o de Numera&ccedil;&atilde;o, acione a fun&ccedil;&atilde;o "Numera&ccedil;&atilde;o"</a></li>
      <li><a href="numeracao_docsacess#docsacess">Para inclus&atilde;o de Documentos Acess&oacute;rios, acione a fun&ccedil;&atilde;o "Documentos Acess&oacute;rios"</a></li>
    </ul>
    </li>
  </ul>
  </li>
  <li><a href="modulo_norma_juridica">Norma Jur&iacute;dica</a>
  <ul>
    <li><a href="tipo_norma_juridica">Tipo de Norma Jur&iacute;dica</a></li>
    <li><a href="norma_juridica">Cadastro de Normas Jur&iacute;dicas</a></li>
  </ul>
  </li>
  <li><a href="ordem_dia">Ordem do Dia</a></li>
  <li><a href="troca_senha">Troca de Senha</a></li>
 <li><a href="gerenciamento_usuarios">Gerenciar Usu&aacute;rios</a></li>
 <li><a href="lexml">Pesquisar no LexML</a></li>
  <li><a href="proposicao_legislativa">Proposi&ccedil;&otilde;es Legislativas</a>
  <ul>
  <li><a href="tipo_proposicao">Tipos de Proposi&ccedil;&atilde;o</a></li>
  <li><a href="proposicao">Proposi&ccedil;&atilde;o - elabora&ccedil;&atilde;o</a></li>
  <li><a href="proposicao_editor">Proposi&ccedil;&atilde;o - atualiza&ccedil;&atilde;o</a></li>
  <li><a href="recebimento_proposicao">Recebimento de Proposi&ccedil;&otilde;es</a></li>
  <li><a href="envio_proposicao">Envio de Proposi&ccedil;&otilde;es</a></li>
  <li><a href="autor">Autor</a></li>
 </ul>
 </li>
  <li><a href="sessao_plenaria">Sess&atilde;o Plen&aacute;ria</a>
  <ul>
  <li><a href="sessao_plenaria_mesa">Mesa</a></li>
  <li><a href="sessao_plenaria_oradores">Oradores</a></li>
  <li><a href="sessao_plenaria_lista_presenca_sessao">Lista de Presen&ccedil;a Sess&atilde;o</a></li>
  <li><a href="sessao_plenaria_lista_presenca_ordem_dia">Lista de Presen&ccedil;a - Ordem do Dia</a></li>
  <li><a href="sessao_plenaria_votacao">Vota&ccedil;&atilde;o</a></li>
  <li><a href="sessao_plenaria_agenda">Agenda</a></li>
  <li><a href="sessao_plenaria_materias">Mat&eacute;rias</a></li>
  <li><a href="sessao_plenaria_expedientes">Expedientes</a></li>
 </ul>
 </li>
  <li><a href="glossario">Gloss&aacute;rio</a></li>
  <li><a href="anexos">Anexos</a></li>
  <ul>
    <li><a href="anexos#acesso_banco">A - Acesso a Banco de Dados</a></li>
    <li><a href="anexos#bk_tabela">B - Procedimentos de Backup das Tabelas MySQL</a></li>
  </ul>
  </li>
</ul>
</div>

{% endblock base_content %}
