{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">LexML</h1>
<br/>
<p>O que é o LexML?</p>
<table><tr><td align="left"><div class="helpsapl"><a id="ajuda" href="http://projeto.lexml.gov.br" target="_blank"> veja o Projeto LexML</a></div></tr></td></table><br />
<br />
<h2><a name="pesquisa">Pesquisa no LexML</a></h2><br />
<table><tr><td align="left">
<div class="helpsapl"><a id="ajuda" href="http://sapl3.interlegis.leg.br/generico/lexml_infografico">INFOGRÁFICO - Como funciona o LexML</a>
</div></td></tr></table>
<br />  <a href="{% url 'sapl.base:help'%}">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic' 'consultas' %}">Pr&oacute;xima</a>
<br/>
</div>

{% endblock base_content %}
