{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">LexML</h1>
<p>O que é o LexML?</p>
<table><tr><td align="left"><div class="helpsapl"><a id="ajuda" href="http://projeto.lexml.gov.br" target="_blank"> veja o Projeto LexML</a></div></tr></td></table><br />
<br />
<h2><a name="pesquisa">Pesquisa no LexML</a></h2><br />
<table><tr><td align="left">
<div class="helpsapl"><a id="ajuda" href="http://sapl3.interlegis.leg.br/generico/lexml_infografico">INFOGRÁFICO - Como funciona o LexML</a>
</div></td></tr></table><br /><br />

<br />  <a href="ajuda">Anterior</a> |

  <a href="ajuda_index_html">&Iacute;ndice</a>

  | <a href="ajuda/consultas#cons_topo">Pr&oacute;xima</a>
<br/>
<br />
</div>

{% endblock base_content %}
