{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Mandatos do Parlamentar</h1>
<br />
Para incluir Mandatos do Parlamentar, selecione o Parlamentar, e acione
a fun&ccedil;&atilde;o Mandatos que est&aacute; na barra
superior da tela.<br />
<br />
Ser&aacute; exibido uma tela com os mandatos j&aacute;
cadastrados e o bot&atilde;o &ldquo;Incluir Mandato&rdquo;.<br />
Acione o bot&atilde;o &ldquo;Incluir Mandato&rdquo;.<br />
Observa&ccedil;&atilde;o: - Ao ser acionado a
fun&ccedil;&atilde;o &ldquo;Mandatos&rdquo;, c<u>aso
os dados Parlamentar ainda n&atilde;o tenham sido salvos</u>
ser&aacute; exibida a seguinte pergunta :<br />
&nbsp;&nbsp;&nbsp;&nbsp;Deseja salvar os dados?<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Acione o bot&atilde;o OK.<br />
&nbsp;&nbsp;&nbsp; Na tela seguinte ira ser exibida a
mensagem: !Dados salvos com sucesso!<br />
&nbsp;&nbsp;&nbsp; E logo a seguir a
fun&ccedil;&atilde;o Continuar;<br />
&nbsp;&nbsp;&nbsp; Acione a fun&ccedil;&atilde;o
Continuar.<br />
<i>Nota:. O bot&atilde;o Cancelar n&atilde;o salva os
dados inclu&iacute;dos ou alterados. Abre direto a
p&aacute;gina de alimenta&ccedil;&atilde;o de mandatos.<br />
</i><br />
Campos a serem preenchidos:<br />
&nbsp;<br />
<center>
<table width="649">
  <col width="143" /> <col width="73" /> <col
 width="401" /> <thead> <tr valign="top">
    <td bgcolor="#c7d8eb" width="143">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Nome do Campo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="73">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Tipo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="401">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Instru&ccedil;&otilde;es para
Preenchimento</b></font></p>
    </td>
  </tr>
  </thead> <tbody>
    <tr valign="top">
      <td width="143">
      <p><font style="font-size: 11pt;" size="3">Legislatura</font></p>
      </td>
      <td width="73">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">Escolha
na caixa de legislatura a legislatura correspondente ao
per&iacute;odo do mandato do parlamentar.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="143">
      <p><font style="font-size: 11pt;" size="3">Coliga&ccedil;&atilde;o</font></p>
      </td>
      <td width="73">
      <p><font style="font-size: 11pt;" size="3">Opcional</font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">Escolha
na caixa de Coliga&ccedil;&atilde;o a
coliga&ccedil;&atilde;o que o parlamentar est&aacute;
filiado.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="143">
      <p><font style="font-size: 11pt;" size="3">N&deg;.
Votos Recebidos</font></p>
      </td>
      <td width="73">
      <p><font style="font-size: 11pt;" size="3">Opcional</font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">Informe
o n&uacute;mero de votos que o parlamentar obteve nas
elei&ccedil;&otilde;es.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="143">
      <p><font style="font-size: 11pt;" size="3">Data
Fim Mandato</font></p>
      </td>
      <td width="73">
      <p><font style="font-size: 11pt;" size="3">Opcional</font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">Informe
a data de fim do mandato do parlamentar no formato dia m&ecirc;s e
ano (ano com quatro posi&ccedil;&otilde;es), se for o caso.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="143">
      <p><font style="font-size: 11pt;" size="3">Data
Expedi&ccedil;&atilde;o Diploma</font></p>
      </td>
      <td width="73">
      <p><font style="font-size: 11pt;" size="3">Opcional</font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">Informe
a data que o diploma de posse do parlamentar foi expedido no formato
dia, m&ecirc;s e ano (ano com quatro
posi&ccedil;&otilde;es).</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="143">
      <p><font style="font-size: 11pt;" size="3">Causa
do Fim do Mandato</font></p>
      </td>
      <td width="73">
      <p><font style="font-size: 11pt;" size="3"> - </font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">O Dispositivo Legal est&aacute; associado ao Tipo de Afastamento na tabela de tipos de afastamentos.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="143">
      <p><font style="font-size: 11pt;" size="3">Tipo
de Afastamento</font></p>
      </td>
      <td width="73">
      <p><font style="font-size: 11pt;" size="3">Opcional</font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">Escolha
na caixa de tipo de afastamento, o motivo que fez com que o parlamentar
se afastasse das suas atividades legislativas.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="143">
      <p><font style="font-size: 11pt;" size="3">Observa&ccedil;&atilde;o</font></p>
      </td>
      <td width="73">
      <p><font style="font-size: 11pt;" size="3">Opcional</font></p>
      </td>
      <td width="401">
      <p><font style="font-size: 11pt;" size="3">Informe
neste campo observa&ccedil;&otilde;es complementares referentes
ao mandato do parlamentar.</font></p>
      </td>
    </tr>
  </tbody>
</table>
</center>
<br />
<br />
Acione a fun&ccedil;&atilde;o&nbsp;
&ldquo;Salvar&rdquo; para que as
informa&ccedil;&otilde;es sejam salvas no arquivo.<br />
Ser&aacute; enviada a mensagem !Mandato Parlamentar salvo com
sucesso!<br />
Acione a fun&ccedil;&atilde;o Continuar para&nbsp; repetir
a opera&ccedil;&atilde;o para outros Mandatos, ou acione a
fun&ccedil;&atilde;o Sair para sair do cadastramento de
Mandatos de Parlamentar e voltar a tela inicial do sistema.<br />
<br />
Para alterar um mandato parlamentar, selecione o mandato desejado,
altere as informa&ccedil;&otilde;es e acione a
fun&ccedil;&atilde;o &ldquo;Salvar&rdquo;.<br />
<br />
Para excluir um Mandato, selecione o mandato desejado e acione a
fun&ccedil;&atilde;o &ldquo;Excluir&rdquo;.<br />
Ser&aacute; enviada a pergunta &ldquo;Deseja realmente
excluir?&rdquo;<br />
Acione OK em caso positivo ou Cancelar para o caso de
desist&ecirc;ncia da exclus&atilde;o.<br />
Quando for informado OK ser&aacute; enviada a mensagem !Mandato
exclu&iacute;do com sucesso!<br />
A fun&ccedil;&atilde;o &ldquo;In&iacute;cio&rdquo;
retorna a tela com os dados b&aacute;sicos do parlamentar.<br />

<br />
  <a href="{% url 'sapl.base:help_topic'%}?topic=cadastro_parlamentares">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic'%}?topic=filiacoes_partidarias">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
