{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Parlamentares</h1>
<br />
Antes de entrar na parte de alimenta&ccedil;&atilde;o dos dados
parlamentares &eacute; necess&aacute;rio que alimente as
tabelas auxiliares que d&atilde;o suporte a esta
transa&ccedil;&atilde;o, que s&atilde;o:<br />
<br />
<b>- Tabelas Auxiliares<br />
</b><br />
<ul>
  <li>&nbsp;&nbsp;&nbsp; <a href="legislatura">Legislatura</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="tipo_afastamento">Tipo
de afastamento</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="tipo_dependente">Tipo
de Dependente</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="tipo_situa_militar">Tipo
de Situa&ccedil;&atilde;o Militar</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="nivel_instrucao">N&iacute;vel
de Instru&ccedil;&atilde;o</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="partidos">Partidos</a></li>
  <li>&nbsp;&nbsp;&nbsp; <a href="coligacao">Coliga&ccedil;&atilde;o</a></li>
</ul>

<br />
  <a href="casa_legislativa">Anterior</a> |

  <a href="ajuda_index_html">&Iacute;ndice</a>

  | <a href="legislatura">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
