{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Comiss&otilde;es</h1>
Antes de entrar na parte de alimenta&ccedil;&atilde;o dos dados
das comiss&otilde;es &eacute; necess&aacute;rio que
alimente as tabelas auxiliares que d&atilde;o suporte &agrave;
esta transa&ccedil;&atilde;o, que s&atilde;o:<br />

<br />
<b>- Tabelas Auxiliares</b><br />
<br />
<ul>
  <li>&nbsp;&nbsp;&nbsp;<a href="{% url 'sapl.base:help_topic'%}?topic=tipo_comissao">Tipo de Comiss&atilde;o</a></li>
  <li>&nbsp;&nbsp;&nbsp;<a href="{% url 'sapl.base:help_topic'%}?topic=periodo_composicao_comissao">Per&iacute;odo da
Composi&ccedil;&atilde;o da Comiss&atilde;o</a></li>
  <li>&nbsp;&nbsp;&nbsp;<a href="{% url 'sapl.base:help_topic'%}?topic=modulo_parlamentares">Parlamentares</a></li>
  <li>&nbsp;&nbsp;&nbsp;<a href="{% url 'sapl.base:help_topic'%}?topic=cargo_comissao">Cargo Comiss&atilde;o</a></li>
  <li>&nbsp;&nbsp;&nbsp;<a href="{% url 'sapl.base:help_topic'%}?topic=partidos">Partidos</a></li>
  <li>&nbsp;&nbsp;&nbsp;<a href="{% url 'sapl.base:help_topic'%}?topic=tipo_autor">Tipo Autor</a></li>
  <li>&nbsp;&nbsp;&nbsp;<a href="{% url 'sapl.base:help_topic'%}?topic=autor">Autor</a></li>
</ul>
<br /><br />

Para a comiss&atilde;o ficar com status de Ativa="sim" &eacute; necess&aacute;rio que a data da sua extin&ccedil;&atilde;o n&atilde;o esteja preenchida e,
tamb&eacute;m, que lhe tenha sido atribuido o login de autor.<br />

A inativa&ccedil;&atilde;o da comiss&atilde;o deve ser feita atualizando-se a
data a partir da qual ela ficou inativa; devendo, nesse caso, ser posterior a da apresenta&ccedil;&atilde;o da &uacute;ltima mat&eacute;ria da qual tenha sido autora.<br />
<br />
A exclus&atilde;o da comiss&atilde;o somente ser&aacute; poss&iacute;vel se n&atilde;o tiver havido qualquer tramita&ccedil;&atilde;o de mat&eacute;ria para ela. Ent&atilde;o, deve-se exclui-la antes da tabela de unidades de tramita&ccedil;&atilde;o. <br />
<br />

  <a href="{% url 'sapl.base:help_topic'%}?topic=cadastro_mesa_diretora">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic'%}?topic=cargo_comissao">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
