{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">N&iacute;vel de Instru&ccedil;&atilde;o</h1>
<br />
Esta tabela tem por objetivo cadastrar os tipos de N&iacute;vel de
Instru&ccedil;&atilde;o.<br />
<br />
Ao ter acesso a esta tabela ser&aacute; exibido a
rela&ccedil;&atilde;o de n&iacute;vel de
instru&ccedil;&atilde;o j&aacute; cadastrado se houve, e um
campo em branco, onde deve&nbsp; ser digitado o tipo do
n&iacute;vel de instru&ccedil;&atilde;o, ex.: Superior
Incompleto, Superior, Prim&aacute;rio, etc.<br />
Campo de preenchimento obrigat&oacute;rio.<br />
Acione o bot&atilde;o &ldquo;Incluir N&iacute;vel de
Instru&ccedil;&atilde;o&rdquo; para efetivar a
inclus&atilde;o. <br />
Ser&aacute; enviada a mensagem !N&iacute;vel de
Instru&ccedil;&atilde;o salvo com sucesso!<br />
<br />
Acione a fun&ccedil;&atilde;o Continuar para&nbsp; repetir
a opera&ccedil;&atilde;o para outros N&iacute;veis de
Instru&ccedil;&atilde;o, ou acione a
fun&ccedil;&atilde;o Sair para sair do cadastramento de
n&iacute;vel de instru&ccedil;&atilde;o e voltar a tela
inicial do sistema.<br />
<br />
Para alterar o n&iacute;vel de instru&ccedil;&atilde;o,
&eacute; s&oacute; escrever a altera&ccedil;&atilde;o
no n&iacute;vel j&aacute; existente acionar a
a&ccedil;&atilde;o &ldquo;Atualizar&rdquo;.<br />
Para excluir o n&iacute;vel, acione a a&ccedil;&atilde;o
&ldquo;Excluir&rdquo;.<br />
Ser&aacute; informado que o n&iacute;vel de
instru&ccedil;&atilde;o&nbsp; foi exclu&iacute;do com
sucesso sem pergunta de confirma&ccedil;&atilde;o.<br />

<br />
  <a href="tipo_situa_militar">Anterior</a> |

  <a href="ajuda_index_html">&Iacute;ndice</a>

  | <a href="partidos">Pr&oacute;xima</a>

<br />


</div>

{% endblock base_content %}
