{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Partidos</h1>
<br />
Esta tabela tem por objetivo cadastrar os Partidos Pol&iacute;ticos
pelos quais&nbsp; os parlamentares foram eleitos e os partidos que
comp&otilde;e as coliga&ccedil;&otilde;es
partid&aacute;rias.<br />
<br />
Ao ter acesso a esta tabela ser&aacute; exibida uma tela com a
rela&ccedil;&atilde;o de partidos j&aacute; cadastrados e o
bot&atilde;o &ldquo;Incluir Partido&rdquo;. Ao ser acionado
este bot&atilde;o ser&aacute; exibida a tela com os seguintes
campos para serem preenchidos:<br />
<br />
<center>
<table width="85%">
  <col width="57*" /> <col width="40*" /> <col
 width="159*" /> <thead> <tr valign="top">
    <td bgcolor="#c7d8eb" width="22%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Nome do Campo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="15%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Tipo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="62%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Instru&ccedil;&otilde;es para
Preenchimento</b></font></p>
    </td>
  </tr>
  </thead> <tbody>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Nome</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Informe
o nome do partido Pol&iacute;tico.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Sigla</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Informe
a sigla do Partido</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Data
da Cria&ccedil;&atilde;o</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Opcional</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Informe
a data de cria&ccedil;&atilde;o do partido no formato dia,
m&ecirc;s e ano (ano com quatro posi&ccedil;&otilde;es)</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Data
de Extin&ccedil;&atilde;o</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Opcional</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Informe
a data de Extin&ccedil;&atilde;o do partido no formato dia,
m&ecirc;s e ano (ano com quatro posi&ccedil;&otilde;es)</font></p>
      </td>
    </tr>
  </tbody>
</table>
</center>

<br />
<br />
Acione a fun&ccedil;&atilde;o&nbsp;
&ldquo;Salvar&rdquo; para que as
informa&ccedil;&otilde;es sejam salvas no arquivo.<br />
Ser&aacute; enviada a mensagem !Partido salvo com sucesso! <br />
Acione a fun&ccedil;&atilde;o Continuar para&nbsp; repetir
a opera&ccedil;&atilde;o para outros Partidos, ou acione a
fun&ccedil;&atilde;o Sair para sair do cadastramento de Partido
e voltar a tela inicial do sistema.<br />
<br />
Para alterar a informa&ccedil;&otilde;es de um Partido
j&aacute; cadastrado, selecione o Partido&nbsp; desejado,
altere as informa&ccedil;&otilde;es e acione a
fun&ccedil;&atilde;o &ldquo;Salvar&rdquo;.<br />
<br />
Para excluir um Partido, selecione o Partido desejado e acione a
fun&ccedil;&atilde;o &ldquo;Excluir&rdquo;.<br />
Ser&aacute; enviada a pergunta &ldquo;Deseja realmente
excluir?&rdquo;<br />
Acione OK em caso positivo ou Cancelar para o caso de
desist&ecirc;ncia da exclus&atilde;o.<br />
Quando for informado OK ser&aacute; enviada a mensagem !Partido
exclu&iacute;do&nbsp; com sucesso!<br />
A fun&ccedil;&atilde;o &ldquo;In&iacute;cio&rdquo;
retorna &agrave; tela com a rela&ccedil;&atilde;o de
Partidos j&aacute; cadastrados.<br />

<br />
  <a href="{% url 'sapl.base:help_topic' 'nivel_instrucao' %}">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic' 'coligacao' %}">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
