{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Sess&atilde;o Plen&aacute;ria</h1>
<br>A fun&ccedil;&atilde;o Sess&atilde;o Plen&aacute;ria tem por objetivo permitir o registro do que acontece na Sess&atilde;o Plen&aacute;ria da Casa Legislativa.<br />
<br>Ao selecionar esta fun&ccedil;&atilde;o, o sistema ir&aacute; apresentar a lista contendo as datas das Sess&otilde;es j&aacute; cadastradas com a mais recente indicada no combobox no canto superior esquerdo da tela. Uma outra data anterior poder&aacute; ser selecionada para pesquisa.
<br />
<br>Al&eacute;m das informa&ccedil;&otilde;es b&aacute;sicas de identifica&ccedil;&aacute;o da Sess&atilde;o &eacute; poss&iacute;vel acessar o &aacute;udio num dos formatos <i>mp3</i> e <i>aac</i> e o video num dos formatos: <i>mp4</i>, <i>flv</i> e <i>webM</i> por meio das respectivas <b>URL's</b>, caso tenham sido gerados. Ao selecionar uma sess&atilde;o espec&iacute;fica, o sistema ir&aacute; apresentar o seguinte menu de op&ccedil;&oacute;es, relativo a sess&atilde;o plen&aacute;ria:<br />
<br><b>Menu de Op&ccedil;&otilde;es</b><br />
<ul>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_mesa' %}">Mesa</a></li>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_lista_presenca_sessao' %}">Presen&ccedil;a Sess&atilde;o</a></li>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_expedientes' %}">Expedientes</a></li>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_materias_expediente' %}">Mat&eacute;rias Expediente</a></li>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_oradores_expediente' %}">Oradores Expediente</a></li>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_presenca_ordem_dia' %}">Presen&ccedil;a Ordem do Dia</a></li>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_materias_ordem_dia' %}">Ordem Dia</a></li>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_oradores_explicacoes_pessoais' %}">Explica&ccedil;&otilde;es Pessoais</a></li>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria' %}">Resumo</a></li>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_ata' %}">Ata</a></li>
  <li><a href="{% url 'sapl.base:help_topic' 'sessao_plenaria' %}">In&iacute;cio</a></li>
</ul><br />
<br>Ao ter acesso, para cadastro, ser&aacute; exibida a op&ccedil;&atilde;o de Incluir, para a inclus&atilde;o de novas Sess&otilde;es. Ao ser acionada essa fun&ccedil;&atilde;o, ser&aacute; exibida a tela Formul&aacute;rio de Cadastro.<br />
<br>Para a efetiva&ccedil;&atilde;o do cadastramento ser&atilde;o necess&aacute;rios dados das seguintes tabelas auxiliares:<br />
<br />
<b>Tabelas Auxiliares</b><br />
<ul>
   <li><a href="{% url 'sapl.base:help_topic' 'tipo_sessao_plenaria' %}">Tipo de Sess&atilde;o Plen&aacute;ria</a></li>
   <li><a href="{% url 'sapl.base:help_topic' 'legislatura' %}">Legislatura</a></li>
   <li><a href="{% url 'sapl.base:help_topic' 'sessao_legislativa' %}">Sess&atilde;o Legislativa</a></li>
</ul><br />
Os seguintes campos dever&atilde;o ser preenchidos:<br />
<br />
<center>
<table width="85%">
  <col width="57*" /> <col width="40*" /> <col
 width="159*" /> <thead> <tr valign="top">
    <td bgcolor="#c7d8eb" width="22%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Nome do Campo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="15%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Tipo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="62%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Instru&ccedil;&otilde;es para
Preenchimento no cadastro de Sess&atilde;o Plen&aacute;ria</b></font></p>
    </td>
  </tr>
  </thead> <tbody>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">N&uacute;mero da Sess&atilde;o</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">N&uacute;mero da Sess&atilde;o - (n&uacute;mero
seq&uuml;encial &ndash; ex. 1,2,3, etc) -  gerado pelo sistema. </font> </p>
      </td>
    </tr>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Tipo</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Selecione o Tipo de Sess&atilde;o Plen&aacute;ria conforme uma das op&ccedil;&otilde;es previamente cadastradas.</font></p>
      </td>
    </tr>
   <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Legislatura</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Selecione a Legislatura, previamente cadastrada, na qual dar-se-&aacute; a Sess&atilde;o Plen&aacute;ria. O sistema posiciona a Legislatura mais recente.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Sess&atilde;o Legislativa
</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Selecione a Sess&atilde;o Legislativa, na Legislatura indicada, na qual dar-se-&aacute; a Sess&atilde;o Plen&aacute;ria. O sistema posiciona a Sess&atilde;o Legislativa mais recente da Legislatura indicada.</font></p>
      </td>
    </tr>
   <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Encerramento</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Informe
a data de encerramento da sess&atilde;o plen&aacute;ria no formato dd/mm/aaaa e a hora no formato hh:mm.</font></p>
      </td>
    </tr>
    <tr valign="top">
     <td width="22%"><p><font style="font-size: 11pt;" size="3">&Aacute;udio/V&iacute;deo</font></p>
     </td>
     <td width="15%"><p><font style="font-size: 11 pt;" size="3">Opcionais</font></p>
     </td>
     <td width="62%">
     <p><font style="font-size: 11pt;" size="3">Informe os endere&ccedil;os ( URL's ) onde se encontram os arquivos de &Aacute;udio e/ou V&iacute;deo, caso existam, nos formatos sugeridos.</font></p>
      </td>
     </tr>
</tbody>
</table>
</center>

<br />
<br>Acione a fun&ccedil;&atilde;o&nbsp;&ldquo;Salvar&rdquo; para que as informa&ccedil;&otilde;es sejam salvas no arquivo.<br />
<br>Ser&aacute; enviada a mensagem <i>!Sess&atilde;o Plen&aacute;ria salva com sucesso!</i> <br />
<br>Acione a fun&ccedil;&atilde;o &ldquo;Sair&rdquo; para sair do cadastramento de Sess&otilde;es e voltar a tela anterior.<br />
<br>  <a href="{% url 'sapl.base:help_topic' 'ordem_dia' %}">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic' 'recebimento_proposicao' %}">Pr&oacute;xima</a>
<br />
<br />
</div>

{% endblock base_content %}
