{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">




<h1 class="firstHeading">Sess&atilde;o Plen&aacute;ria - lista de presen&ccedil;a na Ordem do Dia - para vota&ccedil;&atilde;o</h1><br />
<br>Esta fun&ccedil;&atilde;o permite cadastrar a lista de presen&ccedil;as dos parlamentares na Ordem do Dia - para a Vota&ccedil;&atilde;o.<br />
<br>Para isso, o sistema apresenta uma lista dos parlamentares bastando assinalar - com um clique do mouse - no quadro, que se encontra a esquerda do nome de cada parlamentar, a presen&ccedil;a na Ordem do Dia e, ao final, acionar o bot&atilde;o 'Salvar'. <br />
<br>Para excluir o parlamentar da lista de presen&ccedil;as basta desmarcar - com um clique do mouse - o quadro correspondente ao nome do parlamentar e acionar o bot&atilde;o 'Salvar'.<br />
<br>O sistema ir&aacute; exibir a mensagem <i>!Lista de presen&ccedil;a da Ordem do Dia cadastrada com sucesso!</i>.<br />
<br>Para a execu&ccedil;&atilde;o desta fun&ccedil;&atilde;o ser&atilde;o necess&aacute;rios que os <a href="{% url 'sapl.base:help_topic' 'modulo_parlamentares' %}">Parlamentares</a> bem como os <a href="{% url 'sapl.base:help_topic' 'tipo_sessao_plenaria' %}">Tipos de Sess&atilde;o Plen&aacute;ria</a> - em <b>tabelas auxiliares</b>, estejam previamente cadastrados. <br />
<br />
<br>  <a href="{% url 'sapl.base:help_topic' 'sessao_plenaria' %}">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic' 'sessao_plenaria_votacao' %}">Pr&oacute;xima</a>
<br />
<br />
</div>

{% endblock base_content %}
