{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Tipo de Situa&ccedil;&atilde;o Militar</h1>
<br />
Ao ter acesso a esta tabela ser&aacute; exibido a lista de
situa&ccedil;&atilde;o militar j&aacute; cadastrada se
houver, e um campo em branco, onde deve&nbsp; ser digitado o tipo
da situa&ccedil;&atilde;o Militar, ex.: Dispensado, Servidor
etc. <br />
Campo de preenchimento obrigat&oacute;rio.<br />
Logo abaixo o bot&atilde;o &ldquo;Incluir Tipo de
Situa&ccedil;&atilde;o Militar&rdquo;. <br />
Ser&aacute; enviada a mensagem <i>!Tipo de
Situa&ccedil;&atilde;o Militar salvo com sucesso!</i><br />
<br />
Acione a fun&ccedil;&atilde;o Continuar para&nbsp; repetir
a opera&ccedil;&atilde;o para outros Tipo de
Situa&ccedil;&atilde;o Militar, ou acione a
fun&ccedil;&atilde;o Sair para sair do cadastramento de tipo de
situa&ccedil;&atilde;o militar e voltar a tela inicial do
sistema.<br />
<br />
Para alterar o tipo de situa&ccedil;&atilde;o militar,
&eacute; s&oacute; escrever a altera&ccedil;&atilde;o
no tipo j&aacute; existente e acionar a a&ccedil;&atilde;o
&ldquo;Atualizar&rdquo;.<br />
Para exclui o tipo de situa&ccedil;&atilde;o militar,
&eacute; s&oacute; acionar a a&ccedil;&atilde;o
&ldquo;Excluir&rdquo;.<br />
Ser&aacute; informado que o tipo de situa&ccedil;&atilde;o
militar foi exclu&iacute;do com sucesso sem pergunta de
confirma&ccedil;&atilde;o.<br />

<br />
  <a href="{% url 'sapl.base:help_topic' 'tipo_dependente' %}">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic' 'nivel_instrucao' %}">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
