{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Tipo de Dependente</h1>
<br />
Esta tabela tem por objetivo cadastrar os tipos de dependentes do
Parlamentar.<br />
<br />
Ao ter acesso a esta tabela ser&aacute; exibido a lista de tipo de
dependentes j&aacute; cadastrados se houver, e um campo em branco,
onde deve ser digitado o tipo de dependente do Parlamentar, ex.: Esposa
, filho, filha etc.<br />
Campo de preenchimento obrigat&oacute;rio.<br />
Logo abaixo um bot&atilde;o [Adicionar Tipo de
Dependente]. <br />
Ser&aacute; enviada a mensagem:<i> Tipo de Dependente salvo
com sucesso!</i><br />
<br />
Para <b>alterar</b> o tipo de dependente, &eacute; s&oacute; escrever
a altera&ccedil;&atilde;o no tipo j&aacute; existente e
acionar a a&ccedil;&atilde;o &ldquo;Atualizar&rdquo;.<br />
Para <b>excluir</b> um tipo de dependente, selecione o tipo de dependente
desejado e acione a a&ccedil;&atilde;o
&ldquo;Excluir&rdquo;.<br />
Ser&aacute; enviada a pergunta &ldquo;Deseja realmente
excluir?&rdquo;<br />
Acione Confirmar em caso positivo ou Cancelar para o caso de
desist&ecirc;ncia da exclus&atilde;o.<br />
Quando for informado Confirmar ser&aacute; enviada a mensagem:
<i>Tipo dependente exclu&iacute;do com
sucesso!</i><br />

<br />
  <a href="{% url 'sapl.base:help_topic' 'tipo_afastamento' %}">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic' 'tipo_situa_militar' %}">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
