{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">


<h1 class="firstHeading">Tipo de Sess&atilde;o Plen&aacute;ria</h1>
<br>
Esta tabela tem por objetivo cadastrar os Tipos de Sess&otilde;es
Plen&aacute;rias da casa Legislativa.<br>
Ao ter acesso a esta tabela ser&aacute; exibida uma tela com a
rela&ccedil;&atilde;o de Tipos de Sess&otilde;es
j&aacute; cadastradas e um bot&atilde;o &#8220;Incluir Tipo
Sess&atilde;o Plen&aacute;ria&#8221;<br>
Ao ser acionado o bot&atilde;o Incluir Tipo Sess&atilde;o
Plen&aacute;ria ser&aacute; exibida a tela como os seguintes
campos a
serem preenchidos:<br>
<br>
<center>
<table style="" border="1" cellpadding="5" cellspacing="0" width="85%">
<col width="60*"> <col width="40*"> <col width="156*"> <thead> <tr valign="top">
<td bgcolor="#c7d8eb" width="24%">
<p align="justify"><font style="font-size: 11pt;" size="3"><b>Nome do Campo</b></font></p>
</td>
<td bgcolor="#c7d8eb" width="16%">
<p align="justify"><font style="font-size: 11pt;" size="3"><b>Tipo</b></font></p>
</td>
<td bgcolor="#c7d8eb" width="61%">
<p align="justify"><font style="font-size: 11pt;" size="3"><b>Instru&ccedil;&otilde;es para
Preenchimento</b></font></p>
</td>
</tr>
</thead> <tbody>
<tr valign="top">
<td width="24%">
<p>Tipo</p>
</td>
<td width="16%">
<p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
</td>
<td width="61%">
<p><font style="font-size: 11pt;" size="3">Informe
a nome da </font>Sess&atilde;o Plen&aacute;ria<font style="font-size: 11pt;" size="3">.</font></p>
</td>
</tr>
<tr valign="top">
<td width="24%">
<p>Qu&oacute;rum</p>
</td>
<td width="16%">
<p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
</td>
<td width="61%">
<p><font style="font-size: 11pt;" size="3">Informe
o qu&oacute;rum m&iacute;nimo para a
realiza&ccedil;&atilde;o da </font>Sess&atilde;o
Plen&aacute;ria<font style="font-size: 11pt;" size="3">.</font></p>
</td>
</tr>
</tbody>
</table>
</center>
<br>
Acione a bot&atilde;o &#8220;Salvar&#8221; para gravar as
informa&ccedil;&otilde;es no arquivo.<br>
Ser&aacute; enviada a mensagem&nbsp;<i style="font-style: italic;">Tipo de </i><span style="font-style: italic;">Sess&atilde;o
Plen&aacute;ria</span><i style="font-style: italic;">
salvo com sucesso!</i><br>
Acione a fun&ccedil;&atilde;o Continuar para&nbsp; repetir
a opera&ccedil;&atilde;o para outros Tipos de
Sess&otilde;es Plen&aacute;rias, ou acione a
fun&ccedil;&atilde;o Sair para sair do cadastramento de Tipo
de&nbsp;Sess&atilde;o Plen&aacute;ria e voltar a tela
inicial do sistema.<br>
<br>
Para alterar um Tipo de&nbsp;Sess&atilde;o Plen&aacute;ria
j&aacute;
cadastrada, selecione o Tipo de&nbsp;Sess&atilde;o
Plen&aacute;ria desejado, altere as
informa&ccedil;&otilde;es e acione a
fun&ccedil;&atilde;o &#8220;Salvar&#8221;.<br>
Para excluir um Tipo de&nbsp;Sess&atilde;o Plen&aacute;ria,
selecione o
Tipo de&nbsp;Sess&atilde;o Plen&aacute;ria e acione a
fun&ccedil;&atilde;o &#8220;Excluir&#8221;.<br>
Ser&aacute; enviada a pergunta &#8220;Deseja realmente
excluir?&#8221;<br>
Acione OK em caso positivo ou Cancelar para o caso de
desist&ecirc;ncia da exclus&atilde;o.<br>
Quando for informado OK ser&aacute; enviada a mensagem <i>!Tipo
de
Sess&atilde;o Plen&aacute;ria exclu&iacute;do com sucesso!</i><br>
A fun&ccedil;&atilde;o &#8220;In&iacute;cio&#8221;
retorna a tela com a rela&ccedil;&atilde;o de tipo
de&nbsp;Sess&atilde;o Plen&aacute;ria.<br>
<br>
</div>

{% endblock base_content %}
