{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Tipo de Mat&eacute;ria Legislativa</h1>
<br />
Esta tabela tem por objetivo cadastrar os Tipos de Mat&eacute;rias
Legislativas que tramita na casa Legislativa.<br />
Ao ter acesso a esta tabela ser&aacute; exibida uma tela com a
rela&ccedil;&atilde;o de Tipo de Mat&eacute;rias
j&aacute; cadastradas.<br />
Ao ser acionado o bot&atilde;o [Adicionar Tipo de Mat&eacute;ria
Legislativa] ser&aacute; exibida a tela como os seguintes campos a
serem preenchidos:<br />
<br />
<center>
<table width="85%">
  <col width="60*" /> <col width="40*" /> <col
 width="156*" /> <thead> <tr valign="top">
    <td bgcolor="#c7d8eb" width="24%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Nome do Campo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="16%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Tipo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="61%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Instru&ccedil;&otilde;es para
Preenchimento</b></font></p>
    </td>
  </tr>
  </thead> <tbody>
    <tr valign="top">
      <td width="24%">
      <p><font style="font-size: 11pt;" size="3">Sigla</font></p>
      </td>
      <td width="16%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="61%">
      <p><font style="font-size: 11pt;" size="3">Informe
a Sigla da Mat&eacute;ria Legislativa.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="24%">
      <p><font style="font-size: 11pt;" size="3">Descri&ccedil;&atilde;o</font></p>
      </td>
      <td width="16%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="61%">
      <p><font style="font-size: 11pt;" size="3">Informe
a descri&ccedil;&atilde;o (nome) da Mat&eacute;ria
Legislativa.</font></p>
      </td>
    </tr>
  </tbody>
</table>
</center>
<br />
Acione a bot&atilde;o &ldquo;Salvar&rdquo; para gravar as
informa&ccedil;&otilde;es no arquivo.<br />
Ser&aacute; enviada a mensagem: <i>Tipo de Mat&eacute;ria
Legislativa salva com sucesso!</i><br />

<br />
Para <b>alterar</b> um Tipo de Mat&eacute;ria Legislativa j&aacute;
cadastrada, selecione o Tipo de Mat&eacute;ria
Legislativa&nbsp; desejado, altere as
informa&ccedil;&otilde;es e acione a
fun&ccedil;&atilde;o &ldquo;Salvar&rdquo;.<br />
<br/>
Para <b>excluir</b> um Tipo de Mat&eacute;ria Legislativa, selecione o
Tipo de Mat&eacute;ria Legislativa e acione a
fun&ccedil;&atilde;o &ldquo;Excluir&rdquo;.<br />
Ser&aacute; enviada a pergunta &ldquo;Deseja realmente
excluir?&rdquo;<br />
Acione Confirmar em caso positivo ou Cancelar para o caso de
desist&ecirc;ncia da exclus&atilde;o.<br />
Quando for informado Confirmar ser&aacute; enviada a mensagem: <i>Tipo de
Mat&eacute;ria Legislativa exclu&iacute;da com sucesso!</i><br />

<br />
  <a href="{% url 'sapl.base:help_topic' 'modulo_tramitacao_materias' %}">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic' 'regime_tramitacao' %}">Pr&oacute;xima</a>

<br />


</div>

{% endblock base_content %}
