{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

            <div id="conteudo">



<h1 class="firstHeading">Tipo de Proposi&ccedil;&atilde;o</h1>
Esta tabela tem por objetivo cadastrar os Tipos de Proposi&ccedil;&otilde;es
Legislativas.<br />
Ao ter acesso a esta tabela ser&aacute; exibida uma tela com a
rela&ccedil;&atilde;o de Tipo de Proposi&ccedil;&otilde;es j&aacute;
cadastradas e um bot&atilde;o &ldquo;Incluir Tipo de
Proposi&ccedil;&atilde;o&ldquo;.<br />
<br />
Ao ser&nbsp; acionado o bot&atilde;o Incluir Tipo Proposi&ccedil;&atilde;o
ser&aacute; exibida a tela com os seguintes campos a serem
preenchidos:<br />
<br />
<center>
<table width="85%">
  <col width="57*" /> <col width="40*" /> <col
 width="159*" /> <thead> <tr valign="top">
    <td bgcolor="#c7d8eb" width="22%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Nome do Campo</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="15%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Descri&ccedil;&atilde;o</b></font></p>
    </td>
    <td bgcolor="#c7d8eb" width="62%">
    <p align="justify"><font style="font-size: 11pt;"
 size="3"><b>Instru&ccedil;&otilde;es para
Preenchimento</b></font></p>
    </td>
  </tr>
  </thead> <tbody>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Descri&ccedil;&atilde;o</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Fa&ccedil;a breve descri&ccedil;&atilde;o sobre o tipo de proposi&ccedil;&atilde;o em quest&atilde;o.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Indica&ccedil;&atilde;o - Gera Mat&eacute;ria ou Documento</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Assinale se o
tipo que est&aacute; sendo criado poder&aacute; gerar uma mat&eacute;ria ou um Documento.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Tipo Mat&eacute;ria ou Documento</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Selecione conforme foi anteriormente assinalado.</font></p>
      </td>
    </tr>
    <tr valign="top">
      <td width="22%">
      <p><font style="font-size: 11pt;" size="3">Modelo XML</font></p>
      </td>
      <td width="15%">
      <p><font style="font-size: 11pt;" size="3">Obrigat&oacute;rio</font></p>
      </td>
      <td width="62%">
      <p><font style="font-size: 11pt;" size="3">Selecione o modelo XML que estar&aacute; associado ao Tipo que est&aacute; sendo criado.</font></p>
      </td>
    </tr>
  </tbody>
</table>
</center>
<br />
<br />
Acione a fun&ccedil;&atilde;o&nbsp;
&ldquo;Salvar&rdquo; para que as
informa&ccedil;&otilde;es sejam salvas no arquivo.<br />
Ser&aacute; enviada a mensagem <i>!Tipo Proposi&ccedil;&atilde;o salvo com
sucesso!</i><br /><br />
Acione a fun&ccedil;&atilde;o Continuar para&nbsp; repetir
a opera&ccedil;&atilde;o para outros Tipo de Proposi&ccedil;&atilde;o, ou acione a
fun&ccedil;&atilde;o &ldquo;In&iacute;cio&ldquo; para retornar a lista de Tipo de Proposi&ccedil;&otilde;es.<br />
<br />
Para <b>alterar</b> um Tipo Proposi&ccedil;&atilde;o, selecione clicando sobre o Tipo de Proposi&ccedil;&atilde;o desejado, altere as informa&ccedil;&otilde;es e acione a fun&ccedil;&atilde;o &ldquo;Salvar&rdquo;.<br /> <br />
Para <b>excluir</b> um Tipo de Proposi&ccedil;&atilde;o, selecione clicando sobre o Tipo
 e acione a fun&ccedil;&atilde;o &ldquo;Excluir&rdquo;. Ser&aacute; enviada a pergunta &ldquo;Deseja realmente excluir?&rdquo;<br />
Acione OK em caso positivo ou Cancelar para o caso de desist&ecirc;ncia da exclus&atilde;o.<br />
Quando for informado OK ser&aacute; enviada a mensagem <i>!Tipo Proposi&ccedil;&atilde;o exclu&iacute;do com sucesso!</i><br />
A fun&ccedil;&atilde;o &ldquo;In&iacute;cio&rdquo;
retorna a tela com a rela&ccedil;&atilde;o de tipo de proposi&ccedil;&otilde;es
j&aacute; cadastradas.<br />

<br />
  <a href="{% url 'sapl.base:help_topic'%}?topic=proposicao_editor">Anterior</a> |

  <a href="{% url 'sapl.base:help'%}">&Iacute;ndice</a>

  | <a href="{% url 'sapl.base:help_topic'%}?topic=recebimento_proposicao">Pr&oacute;xima</a>

<br />

</div>

{% endblock base_content %}
