{% load common_tags %}
{% if presenca_ordem %}
    <fieldset>
        <p style="text-align: justify;margin-top: 0">
            <strong>Lista de Presença na Ordem do Dia: </strong>
            {% for p in presenca_ordem %}
                {{ p.nome_parlamentar }} / {% if p|filiacao_data_filter:object.data_inicio %}
                {{ p|filiacao_data_filter:object.data_inicio }} {% else %} Sem partido {% endif %}
                {% if not forloop.last %} ; {% endif %}
            {% endfor %}
        </p>
    </fieldset>
{% endif %}
