<fieldset>
	</br>
	<strong>Matérias da Ordem do Dia: </strong>
	</br></br>
	{% for m in materias_ordem %}
	<p>
		<b>Materia do Expediente: {{m.numero}} - {{m.titulo}}</b>
		Descrição: {{m.ementa|safe}}
		Autor: {{ m.autor|length|pluralize:"es" }}: {{ m.autor|join:', ' }}
		{% if m.numero_protocolo %}
			Número de Protocolo: {{ m.numero_protocolo }}
		{% endif %}
		{% if m.numero_processo %}
		Processo:{{ m.numero_processo }}
		{% endif %}
		Turno: {{m.turno}}
		Tipo: {{m.tipo_votacao}}
		Sim:{{m.voto_sim}}
		Não:{{m.voto_nao}}
		Abstenções:{{m.voto_abstencoes}}
		Resultado:</b> 	{{m.resultado}} {{m.resultado_observacao}}
		{% if m.voto_nominal%}
		<b>Votos Nominais :</b>
			{% for voto in m.voto_nominal %}
				/ {{voto.0}} - {{voto.1}}
			{% endfor %};
		{% endif %}
	</p>
	{% endfor %}
</fieldset>