{% load common_tags %}

<fieldset>
	<p align="justify">
	{% if oradores %}
    	<strong>Oradores do Expediente: </strong>
    	{% for o in oradores %}
				<b>{{o.numero_ordem}}</b> - {{o.parlamentar.nome_completo}} / {% if o.parlamentar|filiacao_data_filter:object.data_inicio %} {{ o.parlamentar|filiacao_data_filter:object.data_inicio }} {% else %} Sem partido {% endif %}
				{% if o.observacao %} - {{o.observacao}} {% endif %}
				{% if not forloop.last %} ; {% endif %}
    	{% endfor %}
	{% endif %}	
	</p>
</fieldset>
