{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
</meta>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="{% static 'sapl/css/header-relatorio.css'%}"> 
</head>

<body>
    <section id="informations">
       
        <dl>
            <dt class="image-header"> 
                <img src="{% static '/sapl/img/logo.png' %}"
                alt="Logo" >
            </dt>
            <dd class="title">
                <ul>
                    <li><h1>{{casa}}</h1></li>
                    <li><h3>Sistema de Apoio ao Processo Legislativo</h3></li>
                    <li><h4></h4></li>
                </ul>
            </dd>
        </dl>
    </section>
    <p></p>

</body>

</html>