{% load common_tags %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
</meta>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="{% static 'sapl/css/header-relatorio.css'%}">
</head>

<body>
    <section id="informations">
        <dl>
            <dt class="image-header"> 
                <img style="max-height:2cm;max-width:2cm" src="{% if logotipo %}{{ MEDIA_URL }}{{ logotipo }}{% else %}{% webpack_static 'img/logo.png' %}{% endif %}">
            </dt>
            <dd class="title">
                <ul>
                    <li style="margin-top:10px;max-height:2cm;"><h2>{{casa.nome}}</h2></li>
                    <li><h3>Sistema de Apoio ao Processo Legislativo</h3></li>
                </ul>
            </dd>
        </dl>
    </section>
    {% if info %}
        <p><b>{{info}}</b></p>
    {% else %}
        <p></p>
    {% endif %}
</body> 

</html>