{% extends "relatorios/base_relatorio.html" %}
{% load i18n %}
{% load common_tags %}
{% load static %}


{% block content %}
  <h2>Normas por mês</h2>

    <b>PARÂMETROS DE PESQUISA:<br /></b>
    &emsp;Ano: {{ ano }} <br />
    <br/>
    {% if normas_mes|length == 0 %}
        <br>
        <h3>{% trans 'Não foi encontrada nenhuma norma com os parâmetros buscados.'%}</h3>
    {% endif %}
    {% for mes, normas in normas_mes.items %}
      <div style="overflow:auto; ">
        <table class="table table-bordered table-hover" style="margin-bottom: 0px;">
          <thead class="thead-default">
            <tr>
              <th><h3 style="text-align:center;">Mês: {{ mes }}</h3></th>
            </tr>
          </thead>
        </table>
        <table class="table table-bordered table-hover" style="width:100%; margin-bottom: 0px;">
          <thead class="thead-default" >
            <tr class="active">
              {% for k, v in quant_normas_mes.items %}
                {% if k == mes %}
                  {% if v > 1 %}
                    <th>Quantidade encontrada no mês: {{ v }} normas.</th>
                  {% else %}
                    <th>Quantidade encontrada no mês: 1 norma.</th>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
        </table>
        <table class="table table-bordered table-hover" style="width:100%; margin-bottom: 30px;">
          <thead class="thead-default" >
            <tr class="active">
              <th>Norma</th>
              <th>Ementa</th>
            </tr>
          </thead>
          <tbody>
            {% for n in normas %}
              <tr>
                <td>
                  {{n.tipo.descricao}} - {{n.tipo.sigla}} {{n.numero}}/{{n.ano}}
                </td>
                <td>{{n.ementa}}<br>{{n.observacao}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
{% endblock content %} 
