{% extends "relatorios/base_relatorio.html" %}
{% load i18n %}
{% load common_tags %}
{% load static %}

{% block head_extra_css %}
  @page {
    margin-left: 1.5cm;
    margin-right: 1.5cm;
  }
  table {
    border-collapse: collapse;
    font-size: 10pt;
    margin-bottom: 30px
  }
  td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: middle;
  }
  th {
    text-align: center;
    padding: 10px 3px;
  }
  td:nth-child(1), td:nth-child(2) {
    text-align: center;
  }

{% endblock head_extra_css %}


{% block content %}
  <h2>Estatísticas de acesso de normas</h2>

    <b>PARÂMETROS DE PESQUISA:<br /></b>
    &emsp;Ano: {{ ano }} <br />
    <br/>
    {% if normas_mes|length == 0 %}
        <br>
        <h3>{% trans 'Nenhuma norma teve acesso neste ano.'%}</h3>
    {% else %}
      {% for mes, normas in normas_mes.items %}
        <div style="overflow:auto; ">
            <table class="table table-bordered">
              <thead class="thead-default">
                <tr>
                  <th colspan=3><h3>Mês: {{ mes }}</h3></th>
                </tr>
                <tr class="active">
                  <th>Posição</th>
                  <th>Acessos</th>
                  <th>Norma</th>
                </tr>
              </thead>
              <tbody>
                {% for n in normas %}
                  {% if n.norma_count > 0 %}
                    <tr>
                      <td>{{n.mais_acessadas}}º</td>
                      <td>{{n.norma_count}}</td>
                      <td>
                        <strong>
                          {{n.norma_tipo_descricao}} nº {{n.norma_numero}}, de {{n.norma_data}}
                        </strong>
                        <br>{{n.norma_ementa}}
                        {% if n.norma_observacao %}
                        <small>
                          <i>
                            <br><strong>Observações:</strong> {{n.norma_observacao}}
                          </i>
                        </small>
                        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
        </div>
      {% endfor %}
    {% endif %}
{% endblock content %}
