{% extends "relatorios/base_relatorio.html" %}
{% load static %}

{% block content %}
<div style="margin-bottom: 3cm">

    {% include 'relatorios/blocos_sessao_plenaria/'|add:primeiro_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:segundo_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:terceiro_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:quarto_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:quinto_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:sexto_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:setimo_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:oitavo_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:nono_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:decimo_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:decimo_primeiro_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:decimo_segundo_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:decimo_terceiro_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:decimo_quarto_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:decimo_quinto_ordenacao %}

    {% include 'relatorios/blocos_sessao_plenaria/'|add:decimo_sexto_ordenacao %}

</div>


{% endblock content %}
