{% extends "relatorios/base_relatorio.html" %}
{% load common_tags %}
{% load static %}
{% block content %}
    <h3 style="text-align:center;">Ata Eletrônica da {{sessaoplenaria}}</h3>
    {% include 'sessao/blocos_ata/'|add:primeiro_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:segundo_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:terceiro_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:quarto_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:quinto_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:sexto_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:setimo_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:oitavo_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:nono_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:decimo_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:decimo_primeiro_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:decimo_segundo_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:decimo_terceiro_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:decimo_quarto_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:decimo_quinto_ordenacao %}
    {% include 'sessao/blocos_ata/'|add:decimo_sexto_ordenacao %}

    {% if assinatura_mesa or assinatura_presentes %}

    <div style="padding:5px;margin-top:50px;border-top: 1px solid black;">
        <legend >{{texto_assinatura}}</legend>

        <table style="margin-top:80px">
            <colgroup>
                <col>
            </colgroup>
            <tbody>
        	    {% for p in assinatura_mesa %}
                    {% if forloop.counter0|divisibleby:2 %}
        	            <tr style="margin-top:20px">
                            <td>
                                <div style="float: left; position: relative; top: 0px; left: 8px; width: 120px">____________________ </br>
        	        	            <p style="font-size:8pt"><b>{{p.cargo}}: </b> {{p.parlamentar.nome_completo}} / {% if p.parlamentar|filiacao_data_filter:object.data_inicio %} {{ p.parlamentar|filiacao_data_filter:object.data_inicio }} {% else %} Sem partido {% endif %}</p>
        	        	        	    </br></br>
        	          	        </div>
                    {% else %}
                                <div style="float: left; position: relative; top: 0px; left: 142px; width: 120px; margin-right:-220px;">____________________ </br>
        	        	            <p style="font-size:8pt"><b>{{p.cargo}}: </b> {{p.parlamentar.nome_completo}} / {% if p.parlamentar|filiacao_data_filter:object.data_inicio %} {{ p.parlamentar|filiacao_data_filter:object.data_inicio }} {% else %} Sem partido {% endif %}</p>
        	        	        	    </br></br>
        	          	        </div>
                            </td>
                        </tr>
                    {% endif %}
        	    {% endfor %}

          	    {% for p in assinatura_presentes %}
                    {% if forloop.counter0|divisibleby:2 %}
        	            <tr style="margin-top:20px">
                            <td>
                                <div style="float: left; position: relative;top: 0px; left: 8px; width: 120px;">_____________________</br>
        	        	            <p style="font-size:8pt">
                                        {{p.nome_completo}} / {% if p|filiacao_data_filter:object.data_inicio %} {{ p|filiacao_data_filter:object.data_inicio }} {% else %} Sem partido {% endif %}</p>
                                        </br></br>
        	          	        </div>
                    {% else %}
                                <div style="float: left; position: relative; top: 0px;left: 142px; width: 120px; margin-right:-220px;">_____________________ </br>
        	        	            <p style="font-size:8pt">{{p.nome_completo}} / {% if p|filiacao_data_filter:object.data_inicio %} {{ p|filiacao_data_filter:object.data_inicio }} {% else %} Sem partido {% endif %}</p>
        	        	        	    </br></br>
        	          	        </div>
                            </td>
                        </tr>
                    {% endif %}
        	    {% endfor %}
            </tbody>
        </table>
        {% endif%}
    </div>


{% endblock content %}
