{% extends "crud/detail.html" %}
{% load i18n crispy_forms_tags %}
{% block actions %}{% endblock %}
{% block sections_nav %}{% endblock %}
{% block detail_content %}

  {% if not filter_url %}
    {% crispy filter.form %}
  {% endif %}

  {% if filter_url %}
    {% if object_list.count > 0 %}
      {% if object_list.count == 1 %}
        <h3 style="text-align: right;">{% trans 'Pesquisa concluída com sucesso! Foi encontrada 1 matéria.'%}</h3>
      {% else %}
        <h3 style="text-align: right;">{% blocktrans with object_list.count as total_materias %}Foram encontradas {{total_materias}} matérias.{% endblocktrans %}</h3>
      {% endif %}
    {% else %}
      <tr><td><h3 style="text-align: right;">Nenhuma matéria encontrada.</h3></td></tr>
    {% endif %}

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Matérias</th>
        </tr>
      </thead>

      <tbody>
        <form method="POST">
          {% csrf_token %}
          {% for materia in object_list %}
            <tr>
              <td>
                <input type="checkbox" name="materia_id" value="{{materia.id}}" {% if check %} checked {% endif %}/>
                {{materia.tipo.sigla}} {{materia.numero}}/{{materia.ano}} - {{materia.tipo.descricao}}
              </td>
            </tr>
          {% endfor %}
        </form>
      </tbody>
    </table>
  {% endif %}
{% endblock detail_content %}
