{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}{% endblock %}

{% block detail_content %}
  {% block buttons %}
    <div class="actions btn-group pull-right" role="group">
      <a href="{% url 'sapl.materia:autoria_list' pk_materia %}" class="btn btn-default">{% trans 'Autorias' %}</a>
    </div>
    <br />
    <br />
  {% endblock buttons %}

  {% crispy filter.form %}

  <table class="table table-striped table-bordered">
    <thead class="thead-default">
      <tr><td><h3>{% trans "Autor" %}</h3></td></tr>
    </thead>
    <br />
    <form method="POST" enctype="application/x-www-form-urlencoded">
      {% csrf_token %}
      {% for m in filter.qs %}
        <tr>
          <td>
            <input type="checkbox" name="autor_id" id="{{m.id}}" value="{{m.id}}" {% if check %} checked {% endif %}>
            &nbsp;&nbsp;
            <strong>{{m}}</strong></a></br>
          </td>
        </tr>
      {% endfor %}

  </table>
    <div class="btn-group" style="float:right;">
      <input type="submit" value="Adicionar autores selecionados" class="btn btn-primary">
    </div>
  </form>
{% endblock detail_content %}
