{% extends "crud/form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block extra_js %}

<script language="Javascript">

  function atualizar_autores() {
    var tipo_autor = $("#id_tipo_autor").val();
    var materia_id = {{ root_pk }};
    var autor_id = $("#id_autor").val();

    // Limpa a listagem para atualizar
    $("#id_autor").find("option").remove();

    $.get("/materia/autoria/atualizar-autores",
        {tipo_autor: tipo_autor, materia_id: materia_id, autor_id: autor_id},
        function(data) {
          // Caso não venha nenhum dado da requisição, retorna null
          if ($.isEmptyObject(data)){
            return null
          }

          lista_autores = data['lista_autores'];
          // Atualiza a listagem de autores

          $.each(lista_autores, function(index, value) {
            $('#id_autor').append(
                '<option value="' + value[0] + '">' +
                value[1] + '</option>');
          });

          if (data['manter_autor'] == true){
              $('#id_autor').val(autor_id);
          }
        });
  }
  $("#id_tipo_autor").change(function () {
        atualizar_autores();
    });
</script>

{% endblock %}
