{% extends "crud/form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block extra_js %}
   <script language="Javascript">

     function compare(a, b) {
       if (a.text < b.text)
         return -1;
       if (a.text > b.text)
         return 1;
       return 0;
     }

      $(document).ready(function() {
          $("#id_tipo_autor").change(function() {
              $("#id_autor option").remove()
              var selected = $("#id_tipo_autor").val();
              if (selected !== undefined && selected !== null) {
                var json_data = {
                   tipo : selected,
                   data_relativa : $("#id_data_relativa").val()
                }
                $.getJSON("/api/autor/possiveis", json_data, function(data){
                    if (data) {
                      var results = data.sort(compare);
                      if (results.length > 1) {
                        $("#id_autor").append("<option>-----</option>");
                      }
                      $.each(results, function(idx, obj) {
                          $("#id_autor")
                            .append($("<option></option>")
                            .attr("value", obj.value)
                            .text(obj.text));
                      });
                    }
                });
            }
          });
      });
   </script>
{% endblock %}
