{% extends "crud/detail.html" %}
{% load i18n %}
{% block sub_actions %}
    {{ block.super }}
    {% if object.em_tramitacao and mail_service_configured %}
       <div class="actions btn-group btn-group-sm" role="group">
       <a href="{% url 'sapl.materia:acompanhar_materia' object.id %}" class="btn btn-outline-primary">Acompanhar Matéria</a>
       </div>
    {% endif %}
{% endblock sub_actions %}
{% block detail_content %}
    {{ block.super }}
    {% if object.registrovotacao_set.exists %}
        <strong>Data Votação:</strong>
        {% for rv in object.registrovotacao_set.all %}
            {% if rv.ordem %}
              <a href="{% url 'sapl.sessao:ordemdia_list' rv.ordem.sessao_plenaria_id %}">
                {{ rv.ordem.sessao_plenaria.data_inicio }}
              </a>
            {% elif rv.expediente %}
              <a href="{% url 'sapl.sessao:expedientemateria_list' rv.expediente.sessao_plenaria_id %}">
                {{ rv.expediente.sessao_plenaria.data_inicio }}
              </a>
            {% endif %}
            </br>
        {% endfor %}
    {% endif %}
    {% if object.normajuridica_set.last %}
       <p class="control-label">&emsp; Norma Jurídica Relacionada</p>
       <div class="actions btn-group btn-group-sm" role="group">
       &emsp;&emsp;<a href="{% url 'sapl.norma:normajuridica_detail' object.normajuridica_set.last.id %}">
           {{ object.normajuridica_set.last }}</a>
       </div>
    {% endif %}
    {% if object.audienciapublica_set.exists %}
       <p class="control-label">&emsp; Audiência(s) Pública(s)</p>
       <div class="actions btn-group btn-group-sm" role="group">
          {% for ap in object.audienciapublica_set.all %}
            &emsp;&emsp;<a href="{% url 'sapl.audiencia:audienciapublica_detail' ap.id %}">
                {{ ap.nome }}
            </a>
              {% if not forloop.last %} </br> {% endif %}
          {% endfor %}
       </div>
    {% endif %}
    {% if user.is_superuser %}
      <div class="row">
        {% if materia.user %}
          <div class="col-sm-6">
            <div id="div_id_user" class="form-group">
              <p class="control-label">Usuário</p>
              <div class="controls">
                <div class="form-control-static">
                  <div class="dont-break-out">
                    <a href="{% url 'sapl.base:user_edit' materia.user.pk %}">{{materia.user}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if materia.ip %}
          <div class="col-sm-6">
            <div id="div_ip_user" class="form-group">
              <p class="control-label">IP</p>
              <div class="controls">
                <div class="form-control-static">
                  <div class="dont-break-out">{{materia.ip}}</div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
{% endblock detail_content %}
