{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

  {% block actions %}
    <div class="actions btn-group pull-right" role="group">
      <a href="{% url 'sapl.base:haystack_search' %}" class="btn btn-default">
          Pesquisa Textual
      </a>

      {% if perms.materia.add_materialegislativa %}
      <a href="{% url 'sapl.materia:materialegislativa_create' %}" class="btn btn-default">
          {% blocktrans with verbose_name=view.verbose_name %} Adicionar Matéria Legislativa {% endblocktrans %}
      </a>
      {% endif %}
    {% if show_results %}
        <a href="{% url 'sapl.materia:pesquisar_materia' %}" class="btn btn-default">{% trans 'Fazer nova pesquisa' %}</a>
    {% endif %}
    </div>
  {% endblock %}

  {% block detail_content %}
    {% if not show_results %}
      {% crispy filter.form %}
    {% endif %}

    {% if show_results %}
      <table class="table table-striped table-bordered">
        <thead class="thead-default">
          <tr><td><h3>{% trans "Resultados" %}</h3></td></tr>
        </thead>
        {% if paginator.count %}
          {% if paginator.count > 1 %}
            <h3>{% blocktrans with paginator.count as total_materias %}Pesquisa concluída com sucesso! Foram encontradas {{total_materias}} matérias.{% endblocktrans %}</h3>
          {% elif paginator.count == 1 %}
            <h3>{% trans 'Pesquisa concluída com sucesso! Foi encontrada 1 matéria.'%}</h3>
          {% endif %}

          {% for m in page_obj %}
            <tr>
              <td>
                <strong><a href="{% url 'sapl.materia:materialegislativa_detail' m.id %}">{{m.tipo.sigla}} {{m.numero}}/{{m.ano}} - {{m.tipo}}</strong></a>
                </br>
                <strong>Ementa:</strong>&nbsp;{{ m.ementa|safe }}
                </br>
                {% if m.data_apresentacao %}
                   <strong>Apresentação: </strong>{{ m.data_apresentacao }}
                   </br>
                {% endif %}
                {% if m.data_fim_prazo %}
                   <strong>Data Fim Prazo (Matéria): </strong>{{ m.data_fim_prazo|default_if_none:"" }}
                   </br>
                {% endif %}
                {% if m.numeracao_set.first %}
                   <strong>Processo: </strong>{{ m.numeracao_set.first.numero_materia }} / {{ m.numeracao_set.first.ano_materia }}
                   </br>
                {% endif %}
                {% if m.numero_protocolo %}
                    <strong>Protocolo: </strong>{{m.numero_protocolo}}/{{m.ano}} &nbsp;&nbsp; <strong>Data Entrada:</strong> {{m.data_entrada_protocolo|default_if_none:"" }} </br>

                {% endif %}
                {% if m.autoria_set.all %}
		<strong>Autor:</strong>
		{% for a in m.autoria_set.all %}
                    {% if not forloop.first %}
                         </br> {{a.autor}}
                    {% else %}
                         &nbsp;{{a.autor}}
                    {% endif %}
                {% endfor %}
                </br>
                {% endif %}
                {% if m.tramitacao_set.last.unidade_tramitacao_destino %}
                <strong>Localização Atual:</strong> &nbsp;{{m.tramitacao_set.last.unidade_tramitacao_destino}}</br>
                {% endif %}
                {% if m.tramitacao_set.last.status %}
                  <strong>Status:</strong> &nbsp;{{m.tramitacao_set.last.status}}</br>
                  <strong>Data Fim Prazo (Tramitação):</strong>&nbsp;{{m.tramitacao_set.last.data_fim_prazo|default_if_none:""}}</br>
                {% endif %}
                {% if m.registrovotacao_set.exists %}
                    <strong>Data Votação:</strong>
                    {% for rv in m.registrovotacao_set.all %}
                        {% if rv.ordem %}
                          <a href="{% url 'sapl.sessao:ordemdia_list' rv.ordem.sessao_plenaria_id %}">
                            {{ rv.ordem.sessao_plenaria.data_inicio }}
                          </a>
                        {% elif rv.expediente %}
                          <a href="{% url 'sapl.sessao:expedientemateria_list' rv.expediente.sessao_plenaria_id %}">
                            {{ rv.expediente.sessao_plenaria.data_inicio }}
                          </a>
                        {% endif %}
                        </br>
                    {% endfor %}
                {% endif %}
                {% if m.tramitacao_set.last.data_tramitacao %}
                <strong>Data da última Tramitação:</strong> &nbsp;{{m.tramitacao_set.last.data_tramitacao}}</br>
                <strong>Ultima Ação:</strong> &nbsp; {{m.tramitacao_set.last.texto}}</br>
                {% endif %}
                {% if m.anexo_de.exists %}
                  {% for a in m.materia_anexada_set.all %}
                  <strong>Matéria Anexadora: </strong>&nbsp;
                  <a href="{% url 'sapl.materia:materialegislativa_detail' a.materia_principal.id %}">
                      {{ a.materia_principal }}&nbsp;
                  </a>
                  <strong>Data Anexação:</strong> {{a.data_anexacao}}
                  </br>
                  {% endfor %}
                {% endif %}
                {% if m.anexadas.all.exists %}
                  {% for anexada in m.materia_principal_set.all %}
                  <strong>Matéria Anexada: </strong>&nbsp;
                  <a href="{% url 'sapl.materia:materialegislativa_detail' anexada.materia_anexada.id %}">
                      {{ anexada.materia_anexada }}&nbsp;
                  </a>
                  <strong>Data Anexação:</strong> {{anexada.data_anexacao}}
                  </br>
                  {% endfor %}
                {% endif %}
                {% if m.documentoacessorio_set.all.exists %}
                    <strong>Documentos Acessórios:</strong>
                    <a href="{% url 'sapl.materia:documentoacessorio_list' m.id %}">
                        {{ m.documentoacessorio_set.all.count }}
                    </a>
                    </br>
                {% endif %}
                {% if m.texto_original %}<strong><a href="{{m.texto_original.url}}">Texto Original</a></strong></br>{% endif %}
                {% if m.texto_articulado.exists %}<strong><a href="{% url 'sapl.materia:materia_ta' m.id%}">Texto Articulado</a></strong></br>{% endif %}
                {% if m.normajuridica_set.exists %}
                    {% for nr in m.normajuridica_set.all %}
                      <strong>Norma Jurídica Vinculada: </strong>
                      <a href="{% url 'sapl.norma:normajuridica_detail' nr.id %}">
                        {{ nr }}
                      </a>
                      </br>
                    {% endfor %}
                {% endif %}
                <p></p>
                {% if m.em_tramitacao %}
                  <a href="{% url 'sapl.materia:acompanhar_materia' m.id %}">Acompanhar Matéria</a>
                {% endif %}
                </td>
            </tr>
          {% endfor %}
        {% else  %}
          <tr><td><h3>Nenhuma matéria encontrada com essas especificações</h3></tr>
        {% endif %}
      </table>
      {% include "paginacao.html" %}
    {% endif %}
    {% endblock detail_content %}
  {% block table_content %}
  {% endblock table_content %}
