
{% extends "crud/form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block extra_js %}

<script language="Javascript">

  function recuperar_numero_ano() {
    var tipo = $("#id_tipo").val()
    var ano = $("#id_ano").val()

    if (tipo) {
      $.get("/materia/recuperar-materia",{tipo: tipo, ano: ano},
                                        function(data, status) {
                                          $("#id_numero").val(data.numero);
                                          $("#id_ano").val(data.ano);
                                          console.log(data)
                                        });
    }
  }
  $("#id_tipo, #id_ano").change(recuperar_numero_ano);
</script>

{% endblock %}
