{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

  {% block actions %}
    <div class="actions btn-group pull-right" role="group">
      {% if perms.materia %}
      <a href="{% url 'sapl.materia:materialegislativa_create' %}" class="btn btn-default">
          {% blocktrans with verbose_name=view.verbose_name %} Adicionar Matéria Legislativa {% endblocktrans %}
      </a>
      {% endif %}
    {% if filter_url %}
        <a href="{% url 'sapl.materia:pesquisar_materia' %}" class="btn btn-default">{% trans 'Fazer nova pesquisa' %}</a>
    {% endif %}
    </div>
  {% endblock %}

  {% block detail_content %}
    {% if not filter_url %}
      {% crispy filter.form %}
    {% endif %}

    {% if filter_url %}
      <table class="table table-striped table-bordered">
        <thead class="thead-default">
          <tr><td><h3>{% trans "Resultados" %}</h3></td></tr>
        </thead>
        {% if paginator.count %}
          {% if paginator.count > 1 %}
            <h3>{% blocktrans with paginator.count as total_materias %}Pesquisa concluída com sucesso! Foram encontradas {{total_materias}} matérias.{% endblocktrans %}</h3>
          {% elif paginator.count == 1 %}
            <h3>{% trans 'Pesquisa concluída com sucesso! Foi encontrada 1 matéria.'%}</h3>
          {% endif %}

          {% for m in page_obj %}
            <tr>
              <td>
                <strong><a href="{% url 'materia:materialegislativa_detail' m.id %}">{{m.tipo.sigla}} {{m.numero}}/{{m.ano}} - {{m.tipo}}</strong></a></br>
                <strong>Ementa:</strong>&nbsp;{{ m.ementa|safe }}
                {% if m.texto_original %}</br></br><strong><a href="{{m.texto_original.url}}">Texto Original</a></strong>{% endif %}
                {% if m.texto_articulado.exists %}</br></br><strong><a href="{% url 'sapl.materia:materia_ta' m.id%}">Texto Articulado</a></strong>{% endif %}
                </br>
                <strong>Autores:</strong>
                {% for a in m.autoria_set.all %}
                  {% if not forloop.first %}
                    , &nbsp;&nbsp; {{a.autor|default_if_none:"Não Informado"}}
                  {% else %}
                    &nbsp;{{a.autor|default_if_none:"Não Informado"}}
                  {% endif %}
                {% endfor %}
                </br>
                <strong>Localização Atual:</strong> &nbsp;{{m.tramitacao_set.last.unidade_tramitacao_destino|default_if_none:"Não Informada"}}</br>
                <strong>Status:</strong> &nbsp;{{m.tramitacao_set.last.status|default_if_none:"Não Informada"}}</br>
                {% if m.registrovotacao_set.exists %}
                    <strong>Data da última Votação:</strong>
                    {% if m.registrovotacao_set.last.ordem %}
                      <a href="{% url 'sapl.sessao:ordemdia_list' m.registrovotacao_set.last.ordem.sessao_plenaria_id %}">
                        {{ m.registrovotacao_set.last.ordem.data_ordem }}
                      </a>
                    {% elif m.registrovotacao_set.last.expediente %}
                      <a href="{% url 'sapl.sessao:expedientemateria_list' m.registrovotacao_set.last.expediente.sessao_plenaria_id %}">
                        {{ m.registrovotacao_set.last.expediente.data_ordem }}
                      </a>
                    {% endif %}
                    </br>
                {% endif %}
                <strong>Data da última Tramitação:</strong> &nbsp;{{m.tramitacao_set.last.data_tramitacao|default_if_none:"Não Informada"}}</br>
                {% if m.anexo_de.exists %}
                  {% for a in m.materia_anexada_set.all %}
                  <strong>Matéria Anexadora: </strong>&nbsp;
                  <a href="{% url 'materia:materialegislativa_detail' a.materia_principal.id %}">
                      {{ a.materia_principal }}&nbsp;
                  </a>
                  <strong>Data Anexação:</strong> {{a.data_anexacao}}
                  </br>
                  {% endfor %}
                {% endif %}
                {% if m.anexadas.all.exists %}
                  {% for anexada in m.materia_principal_set.all %}
                  <strong>Matéria Anexada: </strong>&nbsp;
                  <a href="{% url 'materia:materialegislativa_detail' anexada.materia_anexada.id %}">
                      {{ anexada.materia_anexada }}&nbsp;
                  </a>
                  <strong>Data Anexação:</strong> {{anexada.data_anexacao}}
                  </br>
                  {% endfor %}
                {% endif %}
                {% if m.documentoacessorio_set.all.exists %}
                    <strong>Documentos Acessórios:</strong> {{ m.documentoacessorio_set.all.count }}
                {% endif %}
                <p></p>
            </tr>
          {% endfor %}
        {% else  %}
          <tr><td><h3>Nenhuma matéria encontrada com essas especificações</h3></tr>
        {% endif %}
      </table>
      {% include "paginacao.html" %}
    {% endif %}
    {% endblock detail_content %}
  {% block table_content %}
  {% endblock table_content %}
