{% extends "crud/detail.html" %}
{% load i18n %}
{% block sub_actions %}
    {{ block.super }}
    {% if object.em_tramitacao %}
       <div class="actions btn-group btn-group-sm" role="group">
       <a href="{% url 'sapl.materia:acompanhar_materia' object.id %}" class="btn btn-default">Acompanhar Matéria</a>
       </div>
    {% endif %}
{% endblock sub_actions %}
{% block detail_content %}
    {{ block.super }}
    {% if object.normajuridica_set.last %}
       <p class="control-label">&emsp; Norma Jurídica Relacionada</p>
       <div class="actions btn-group btn-group-sm" role="group">
       &emsp;&emsp;<a href="{% url 'sapl.norma:normajuridica_detail' object.normajuridica_set.last.id %}">
           {{ object.normajuridica_set.last }}</a>
       </div>
    {% endif %}
{% endblock detail_content %}
