{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% load common_tags %}
{% block base_content %}
  <fieldset>
    <legend>Proposições Não Recebidas</legend>
    {% if not object_list %}
      <p>{{ NO_ENTRIES_MSG }}</p>
    {% else %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Data de Envio</th>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Autor</th>
            {% if not AppConfig.receber_recibo_proposicao %}
                <th>Código do Documento</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for prop in object_list %}
            <tr>
              <td>
                 <a href="{% url 'sapl.materia:proposicao_detail' prop.pk %}">{{ prop.data_envio|localtime|date:"d/m/Y H:i:s" }}</a>
              </td>
              <td>{{ prop.tipo.descricao }}</td>
              <td>{{ prop.descricao }}</td>
              <td>{{prop.autor}}</td>
              <td>
                {% if not AppConfig.receber_recibo_proposicao %}
                  {%if prop.hash_code %}
                    <a href="{% url 'sapl.materia:proposicao-confirmar' prop.hash_code|strip_hash prop.pk %}">{{ prop.hash_code }}</a>
                  {% else %}
                    {{ prop.hash_code }}
                  {% endif %}
                {% endif %}
              </td>
             </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </fieldset>
  {% include 'paginacao.html'%}
{% endblock %}
