{% extends "crud/form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block extra_js %}
   <script type="text/javascript">

    $(document).ready(function(){

    	$("input[name=tipo_texto]").change(function(event) {
        if (this.value == 'D' && this.checked)
          $("#div_id_texto_original").removeClass('hidden');
        else if (this.value == 'D' && !this.checked)
          $("#div_id_texto_original").addClass('hidden');
      });

      $("select[name=tipo_materia], input[name=numero_materia], input[name=ano_materia]").change(function(event) {
        var url = '{% url 'sapl.api:materialegislativa-list'%}'

        var formData = {
              'tipo'   : $("select[name=tipo_materia]").val(),
              'ano'    : $("input[name=ano_materia]").val(),
              'numero' : $("input[name=numero_materia]").val(),
        }
        if (formData.tipo == '' || formData.ano == '' || formData.numero == '')
          return;
        $.get(url, formData).done(function(data) {
          if (data.pagination.total_entries == 1)
            $(".ementa_materia").html(data.results[0].ementa).removeClass('hidden');
          else
            $(".ementa_materia").html('').addClass('hidden');
        });
  		});

      $("input[name=tipo_texto], select[name=tipo_materia]").trigger('change');

    });
	</script>
{% endblock %}
