{% extends "crud/form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block base_content %}
  {% if form.comissao.value == 0 %}
    <div class="alert alert-danger alert-dismissible " role="alert">
      A localização atual deve ser uma comissão e a Unidade de Destino da última tramitação não pode ser vazia.
    </div>
  {% else %}
    {% crispy form %}
  {% endif %}
{% endblock %}

{% block extra_js %}
  <script language="Javascript">
    $("#id_comissao").attr("disabled", true);

    $(document).ready(function() {
      $("#id_composicao").change(function() {
        var composicao_id = $("#id_composicao").val();
        var json_data = { composicao_id: composicao_id };
        var parlamentar_field = $("#id_parlamentar");

        $.getJSON("/sistema/comissao/recupera-participacoes", json_data, function(data) {
          parlamentar_field.children().remove();
          parlamentar_field.append($("<option></option>").attr("value", '').text('---------'));

          if (data) {
            $.each(data, function(idx, parlamentar) {
              parlamentar_field.append($("<option></option>").attr("value", parlamentar.id).text(parlamentar.nome));
            });
          }
        });
      });
    });
  </script>
{% endblock extra_js %}
