{% extends "crud/form.html" %}
{% load i18n %}
aaa
{% block extra_js %}

<script type="text/javascript">

$(document).ready(function(){
  var initial_select = $("input[name=tipo_conteudo_related]").val();
  $("input[name=tipo_conteudo_related]").remove();
  $('#id_content_type').change(function(event) {
    var pk = this[event.target.selectedIndex].value;
    var url = '{% url 'sapl.api:model_list' 0 ''%}'
    url = url.replace('0', pk) + '?pagination=False'

    $.get(url).done(function(data) {
      var radios = $("#div_id_tipo_conteudo_related_radio .controls").html('');
      data.forEach(function (val, index) {
        var html_radio = '<div class="radio'+(initial_select==val.value?' checked':'')+'"> <label><span class="icons"><span class="first-icon"></span><span class="second-icon"></span></span><input type="radio" name="tipo_conteudo_related" id="id_tipo_conteudo_related_'+index+'" value="'+val.value+'"'+(initial_select?' checked="checked"':'')+' style="display:none;">'+val.text+'</label></div>';

        if (val === initial_select)
          initial_select='';
        radios.append(html_radio);
      });



    });
  });
  $('#id_content_type').trigger('change');
  $("#div_id_tipo_conteudo_related_radio .controls").addClass('controls-radio-checkbox');
});


</script>

{% endblock %}
