{% extends "crud/form.html" %}
{% load i18n %}

{% block extra_js %}

<!-- HACK: incluir uma div modal em um form de uma tela CRUD automática -->
<div id="dialog" title="Dados ausentes" style="display: none">
  <p>Não existem tipos vinculados para a definição de tipos informada.
      <strong>Isto não permitirá salvar registros nessa tela.</strong></br>
      Acesse a tela Tabelas Auxiliares presente no submenu Sistema.
      Em seguida procure a seção entitulada "Matérias Legislativas".
      Nesta seção terão dois links: TIPO DE MATÉRIA LEGISLATIVA e TIPO DE DOCUMENTO.
      Cadastre os tipos antes de retornar a esta tela.
  </p>
</div>

<script type="text/javascript">

$(document).ready(function(){
  var initial_select = parseInt($("input[name=tipo_conteudo_related]").val());
  $("input[name=tipo_conteudo_related]").remove();
  $('#id_content_type').change(function(event) {
    const url_part_pattern = this[event.target.selectedIndex].value
    const url = `/api/${url_part_pattern}/?o=id&page=1&page_size=100`

    const rad_tip_conteudo = $("#div_id_tipo_conteudo_related_radio > div").html('');
    const popule_rad_tip_conteudo = function(url_get) {
      $.get(url_get).done(function(response) {
        if (response.pagination.total_entries === 0) {
          $( "#dialog" ).dialog({
              resizable: false,
              height: "auto",
              width: 400,
              modal: true,
              buttons: {
                  OK: function() {
                      $( this ).dialog( "close" );
                  }
              }
          });
          return;
        }
        response.results.forEach(function (val, index) {
          var html_radio = `
            <div class="radio">
              <label id="id_tipo_conteudo_related_${val.id}">
                <input type="radio"
                  name="tipo_conteudo_related"
                  id="id_tipo_conteudo_related_${val.id}"
                  value="${val.id}"
                  ${(initial_select ?'checked="checked"':'')}>
                  ${val.__str__}
              </label>
            </div>`
            if (val.id === initial_select)
              initial_select=0;
            rad_tip_conteudo.append(html_radio);
          })
          if(response.pagination.links.next !== null )
            popule_rad_tip_conteudo(response.pagination.links.next)
      })
    }
    popule_rad_tip_conteudo(url)
  })
  $('#id_content_type').trigger('change')
})
</script>
{% endblock %}
