{% extends "crud/form.html" %}
{% load i18n %}

{% block extra_js %}

<script type="text/javascript">
    // Caso o campo esteja desabilitado (quando não é a primeira tramitação),
    // habilita ele no momento do submit para que o valor de unidade local
    // não seja enviado como vazio

    $(document).ready(function(){
        $('input[type=submit]').click(function() {
            $('#id_unidade_tramitacao_local').attr('disabled', false);
            $('#id_unidade_tramitacao_local').parents('form').submit();
        });
    });
</script>

{% endblock %}
