{% extends "crud/detail.html" %}
{% load i18n %}

{% block actions %} {% endblock %}
{% block detail_content %}
    {{ block.super }}
    {% if tramitacao.user and user.is_superuser %}
        <div class="row">
            <div class="col-sm-6">
                <div id="div_id_user" class="form-group">
                    <p class="control-label">Usuário</p> 
                    <div class="controls">
                        <div class="form-control-static">
                            <div class="dont-break-out">
                                <a href="{% url 'sapl.base:user_edit' user.pk %}">{{tramitacao.user}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div id="div_ip_user" class="form-group">
                    <p class="control-label">IP</p> 
                    <div class="controls">
                        <div class="form-control-static">
                            <div class="dont-break-out">
                                {{tramitacao.ip}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock detail_content %}