{% extends "crud/detail_detail.html" %}
{% load i18n %}

{% block detail_content %}
    {{ block.super }}
    {% if user.is_superuser %}
        <div class="row">
            {% if tramitacao.user %}
                <div class="col-sm-6">
                    <div id="div_id_user" class="form-group">
                        <p class="control-label">Usuário</p> 
                        <div class="controls">
                            <div class="form-control-static">
                                <div class="dont-break-out">
                                    <a href="{% url 'sapl.base:user_edit' tramitacao.user.pk %}">{{tramitacao.user}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if tramitacao.ip %}
                <div class="col-sm-6">
                    <div id="div_ip_user" class="form-group">
                        <p class="control-label">IP</p> 
                        <div class="controls">
                            <div class="form-control-static">
                                <div class="dont-break-out">
                                    {{tramitacao.ip}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock detail_content %}