{% extends "base.html" %}
{% load i18n %}

{% block base_content %}
  <form action="" method="post">{% csrf_token %}
    <br>
    <div class="panel panel-danger">
      <div class="panel-heading  text-center">
        {% blocktrans %}
          Confirma exclusão de "{{ object }}"?
        {% endblocktrans %}
      </div>
      <div class="panel-body text-center">
        <a href="{{ view.cancel_url }}" class="btn btn-inverse">{% trans 'Cancelar'  %}</a>
        <input name="submit" value="{% trans 'Confirmar' %}" class="btn btn-danger" type="submit"></li>
      </div>
    </div>
  </form>
{% endblock %}
