{% extends "base.html" %}
{% load i18n common_tags%}

{% block base_content %}

  <div class="context-actions clearfix">
    {% block actions %}

      {% block sub_actions %}

        <div class="actions btn-group btn-group-sm" role="group">
          {% if view.list_url %}
            <a href="{{ view.list_url }}" class="btn btn-default">{% trans 'Listar' %} {{view.verbose_name_plural}}</a>
          {% endif %}
          {% if view.search_url %}
            <a href="{{ view.search_url }}" class="btn btn-default">{% trans 'Fazer Nova Pesquisa' %}</a>
          {% endif %}
          {% if view.create_url %}
            <a href="{{ view.create_url }}" class="btn btn-default">
              {% blocktrans with verbose_name=view.verbose_name %} Adicionar {{ verbose_name }} {% endblocktrans %}
            </a>
          {% endif %}
        </div>
          {% if view.extras_url %}
            <div class="actions btn-group btn-group-sm" role="group">
          {% for url, css_class, text in view.extras_url %}
            <a href="{{url}}" class="btn btn-default {{css_class}}">
                  {{text}}
                </a>
              {% endfor %}
            </div>
          {% endif %}
      {% endblock sub_actions %}

      {% block extra_actions %}
      {% endblock extra_actions %}

      <div class="editons pull-right">
        {% block editions %}
          {% if view.update_url or view.delete_url %}
            <div class="actions btn-group" role="group">
              {% if view.update_url %}
                <a href="{{ view.update_url }}" class="btn btn-default">{% trans 'Editar' %}</a>
              {% endif %}
              {% if view.delete_url %}
                <a href="{{ view.delete_url }}" class="btn btn-default btn-excluir">{% trans 'Excluir' %}</a>
              {% endif %}
            </div>
          {% endif %}
        {% endblock %}
      </div>

    {% endblock actions %}
  </div>

  <div class="container-detail clearfix">
    {% block detail_content %}
      {% for fieldset in view.layout_display %}
        <h2 class="legend">{{ fieldset.legend }}</h2>
        {% for row in fieldset.rows %}
          <div class="row-fluid">
            {% for column in row %}
              <div class="col-sm-{{ column.span }}">
                <div id="div_id_{{ column.id }}" class="form-group">
                  <p class="control-label">{{ column.verbose_name }}</p>
                  <div class="controls">
                    {% comment %}TODO Transformar os links em URLs diretamente no CRUD{% endcomment %}
                    {% if column.text|url %}
                      <div class="form-control-static"><a href="{{ column.text|safe }}"> {{ column.text|safe }} </a></div>
                    {% else %}
                      <div class="form-control-static">{{ column.text|safe }}</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endfor %}
    {% endblock detail_content %}
  </div>

  {% block table_content %}
    <div class="container-table">
      {% if not rows %}
        <p>{{ NO_ENTRIES_MSG }}</p>
      {% else %}
        <div class="result-count">{% blocktrans with verbose_name_plural=view.model_set_verbose_name_plural %}Total de {{ verbose_name_plural }}: <strong>{{count}}</strong>{% endblocktrans %}</div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              {% for name in headers %}
              <th>{{ name }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for value_list in rows %}
          <tr>
            {% for value, href in value_list %}
            <td>
              {% if href %}
              <a href="{{ href }}">{{ value }}</a>
              {% elif 'None' not in value %}
                {{ value|safe }}
              {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
        </table>
        {% endif %}
    </div>
    {% include "paginacao.html" %}
  {% endblock table_content %}
{% endblock base_content %}
