{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

<div class="actions btn-group pull-right" role="group">
  <a href="{{ view.create_url }}" class="btn btn-default">
    {% blocktrans with verbose_name=view.verbose_name %} Adicionar {{ verbose_name }} {% endblocktrans %}
  </a>
  {% block more_buttons %}{% endblock more_buttons %}
</div>

<br/><br/>
{% block extra_content %} {% endblock %}

{% if not rows %}
  <p>{{ NO_ENTRIES_MSG }}</p>
{% else %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        {% for name in headers %}
        <th>{{ name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for value_list in rows %}
    <tr>
      {% for value, href in value_list %}
      <td>
        {% if href %}
        <a href="{{ href }}">{{ value }}</a>
        {% else %}
          {{ value|safe }}
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  </table>
{% endif %}

{% include "paginacao.html" %}

{% endblock %}
