{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
  <fieldset>
    <legend>Matéria Legislativa</legend>
    {% include "materia/resumo_detail_materia.html" %}

    <fieldset>
      <legend>Autorias</legend>
      <table class="table table-striped table-bordered">
				<thead class="thead-default">
          <tr>
            <th>Nome Autor</th>
            <th>Tipo Autor</th>
            <th>Primeiro Autor</th>
            <th>Partido Autor</th>
          </tr>
        </thead>
          {% for a in autorias %}
            <tr>
              <td><a href="{% url 'autoria_edit' object.id a.id %}">{{a.autor}}</a></td>
              <td>{{a.autor.tipo.descricao}}</td>
              <td>{{a.primeiro_autor|yesno:"Sim,Não"}}</td>
              <td>{{a.partido.sigla|default_if_none:"Não Informado"}}</td>
            </tr>
          {% endfor %}
      </table>
    </fieldset>
    {% crispy form %}
  </fieldset>
{% endblock %}
