{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
  <fieldset>
    <legend>Matéria Legislativa</legend>
    {% include "materia/resumo_detail_materia.html" %}

    <fieldset class="form-group">
      <legend>Editar Autoria</legend>
      <div class="row">
        <div class="col-md-3">Tipo do Autor</div>
        <div class="col-md-3">Nome Autor</div>
        <div class="col-md-3">Primeiro Autor</div>
        <div class="col-md-3">Partido</div>
      </div>
      <form method="POST">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-3">
            <select name="tipo_autor" onChange="form.submit();" class="form-control">
              {% for tipo in tipo_autores %}
              <option value="{{tipo.id}}" {% if tipo.id == tipo_autor_id %} selected {% endif %}>
              {{tipo.descricao}}
              </option>
              {% endfor %}
            </select>
          </div>

          <div class="col-md-3">
            <select name="nome_autor" class="form-control">
              {% for a in autores %}
              {% if a.tipo_id == tipo_autor_id %}
              <option value="{{a.id}}" {% if a.id == autor_id%} selected {% endif %}>
              {{a}}
              </option>
              {% endif %}
              {% endfor %}
            </select>
          </div>

          <div class="col-md-3">
            <select name="primeiro_autor" class="form-control">
              <option value="1">Sim</option>
              <option value="0" selected>Não</option>
            </select>
          </div>

          <div class="col-md-3">
            <select name="partido" class="form-control">
              {% for p in partido %}
                {% if tipo_autor_id == 1 %}
                  <option value="{{p.sigla}}">
                    {{p}}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
        <br />
        <input type="submit" name="salvar" value="Salvar" class="btn btn-primary">
        <input type="submit" value="Excluir" id="excluir" name="excluir" class="btn btn-danger" />
      </form>
    </fieldset>
  </fieldset>
{% endblock %}
