{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
    <div class="row">
      <div class="col-md-4">Tipo: <b>{{object.tipo.sigla}}</b></div>
      <div class="col-md-4">Número: <b>{{object.numero}}</b></div>
      <div class="col-md-4">Ano: <b>{{object.ano}}</b></div>
    </div>
		Ementa: <b>{{object.ementa}}</b>
		<form method="POST">
		{% csrf_token %}

			<fieldset>
				<legend>Editar Despacho</legend>
				<select name="comissao">
					{% for c in comissoes %}
						<option value="{{c.id}}" {% if c.id == despacho.comissao.id %} selected {% endif %}> {{c.nome}} </option>
					{% endfor %}
				</select>

				<input type="submit" value="Salvar" id="salvar" name="salvar" class="primary button" />
				<input type="submit" value="Excluir" id="excluir" name="excluir" class="primary button" />
			</fieldset>
		</form>
	</fieldset>
{% endblock %}