{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		{% include "materia/resumo_detail_materia.html" %}

		<fieldset>
			<legend>Despachos</legend>
			<table class="table table-striped table-bordered">
				<thead class="thead-default">
					<tr>
						<th>Comissão</th>
						<th>Sigla</th>
					</tr>
				</thead>
					{% for d in despachos %}
						<tr>
							<td><a href="{% url 'materia:despacho_inicial_edit' object.id d.id %}">{{d.comissao.nome}}</a></td>
							<td>{{d.comissao.sigla}}</td>
						</tr>
					{% endfor %}
			</table>
		</fieldset>
		{% crispy form %}
	</fieldset>
{% endblock %}
