{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Tipo: <b>{{materialegislativa.tipo.sigla}}</b></li>
			<li>Número: <b>{{materialegislativa.numero}}</b></li>
			<li>Ano: <b>{{materialegislativa.ano}}</b></li>
		</ul>
		Ementa: <b>{{materialegislativa.ementa}}</b>
		<form method="POST">
		{% csrf_token %}

			<fieldset>
				<legend>Editar Despacho</legend>
				<select name="comissao">
					{% for c in comissoes %}
						<option value="{{c.id}}" {% if c.id == despacho.comissao.id %} selected {% endif %}> {{c.nome}} </option>
					{% endfor %}
				</select>

				<input type="submit" value="Salvar" id="salvar" name="salvar" class="primary button" />
				<input type="submit" value="Excluir" id="excluir" name="excluir" class="primary button" />		
			</fieldset>
		</form>
	</fieldset>
{% endblock %}