{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
    <div class="row">
      <div class="col-md-4">Tipo: <b>{{object.tipo.sigla}}</b></div>
      <div class="col-md-4">Número: <b>{{object.numero}}</b></div>
      <div class="col-md-4">Ano: <b>{{object.ano}}</b></div>
    </div>
		Ementa: <b>{{object.ementa}}</b>

		<fieldset>
			<legend>Documentos Acessório</legend>
			<table>
				<tr>
					<th>Nome</th>
					<th>Tipo</th>
					<th>Data</th>
					<th>Autor</th>
				</tr>
					{% for d in docs %}
						<tr>
							<td><a href="{% url 'documento_acessorio_edit' object.id d.id %}">{{d.nome}}</a></td>
							<td>{{d.tipo.descricao}}</td>
							<td>{{d.data|date:'d/m/Y'}}</td>
							<td>{{d.autor}}</td>
						</tr>
					{% endfor %}
			</table>
		</fieldset>
		{% crispy form %}
	</fieldset>
{% endblock %}
