{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		{% include "materia/resumo_detail_materia.html" %}

		<fieldset>
			<legend>Documentos Acessório</legend>
			<table class="table table-striped table-bordered">
				<thead class="thead-default">
					<tr>
						<th>Nome</th>
						<th>Tipo</th>
						<th>Data</th>
						<th>Autor</th>
					</tr>
				</thead>
					{% for d in docs %}
						<tr>
							<td><a href="{% url 'materia:documento_acessorio_edit' object.id d.id %}">{{d.nome}}</a></td>
							<td>{{d.tipo.descricao}}</td>
							<td>{{d.data|date:'d/m/Y'}}</td>
							<td>{{d.autor}}</td>
						</tr>
					{% endfor %}
			</table>
		</fieldset>
		{% crispy form %}
	</fieldset>
{% endblock %}
