{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Tipo: <b>{{materialegislativa.tipo.sigla}}</b></li>
			<li>Número: <b>{{materialegislativa.numero}}</b></li>
			<li>Ano: <b>{{materialegislativa.ano}}</b></li>
		</ul>
		Ementa: <b>{{materialegislativa.ementa}}</b>

		<fieldset>
			<legend>Legislação Citada</legend>
			<table>
				<tr>
					<th>Tipo Norma</th>
					<th>Número</th>
					<th>Ano</th>
					<th>Disposição</th>
				</tr>
				{% for l in legislacao %}
					<tr>
						<td><a href="{% url 'legislacao_citada_edit' materialegislativa.id l.id %}">{{l.norma.tipo.descricao}}</a></td>
						<td>{{l.norma.numero}}</td>
						<td>{{l.norma.ano}}</td>
						<td>{{l.disposicoes}}</td>
					</tr>
				{% endfor %}
			</table>
		</fieldset>
		{% if error %} <h5 align="center"><font color="#FF0000">{{ error }}</font></h5> {% endif %}
		{% crispy form %}
	</fieldset>
{% endblock %}