{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Tipo: <b>{{materialegislativa.tipo.sigla}}</b></li>
			<li>Número: <b>{{materialegislativa.numero}}</b></li>
			<li>Ano: <b>{{materialegislativa.ano}}</b></li>
		</ul>
		Ementa: <b>{{materialegislativa.ementa}}</b>

		<fieldset>
			<legend>Editar Legislação Citada</legend>
			<form method="POST">
				{% csrf_token %}

				<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
					<li>
						<label>Tipo Norma*</label>
						<select name="tipo">
							{% for tipo in tipos_norma %}
								<option value="{{tipo.id}}" {% if tipo == legislacao.norma.tipo %} selected {% endif %}>
									{{tipo.sigla}} - {{tipo.descricao}}
								</option>
							{% endfor %}
						</select>
					</li>
					<li>
						<label>Número*</label>
						<input type="text" name="numero" value="{{legislacao.norma.numero}}" />
					</li>
					<li>
						<label>Ano*</label>
						<input type="text" name="ano" value="{{legislacao.norma.ano}}" />
					</li>
				</ul>

				<ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-4">
					<li>
						<label>Disposição</label>
						<input type="text" name="disposicao" value="{{legislacao.disposicoes}}" />
					</li>
					<li>
						<label>Parte</label>
						<input type="text" name="parte" value="{{legislacao.parte}}" />
					</li>
					<li>
						<label>Livro</label>
						<input type="text" name="livro" value="{{legislacao.livro}}" />
					</li>
					<li>
						<label>Título</label>
						<input type="text" name="titulo" value="{{legislacao.titulo}}" />
					</li>
				</ul>

				<ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-4">
					<li>
						<label>Capítulo</label>
						<input type="text" name="capitulo" value="{{legislacao.capitulo}}" />
					</li>
					<li>
						<label>Seção</label>
						<input type="text" name="secao" value="{{legislacao.secao}}" />
					</li>
					<li>
						<label>Subseção</label>
						<input type="text" name="subsecao" value="{{legislacao.subsecao}}" />
					</li>
					<li>
						<label>Artigo</label>
						<input type="text" name="artigo" value="{{legislacao.artigo}}" />
					</li>
				</ul>

				<ul class="small-block-grid-4 medium-block-grid-4 large-block-grid-4">
					<li>
						<label>Inciso</label>
						<input type="text" name="inciso" value="{{legislacao.inciso}}" />
					</li>						
					<li>
						<label>Alínea</label>
						<input type="text" name="alinea" value="{{legislacao.alinea}}" />
					</li>
					<li>
						<label>Item</label>
						<input type="text" name="item" value="{{legislacao.item}}" />
					</li>
				</ul>
				
				<input type="submit" value="Salvar" id="salvar" name="salvar" class="primary button" />
				<input type="submit" value="Excluir" id="excluir" name="excluir" class="primary button" />
			</form>
		</fieldset>
	</fieldset>
{% endblock %}