{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		{% include "materia/resumo_detail_materia.html" %}

		<fieldset class="form-group">
			<legend>Editar Legislação Citada</legend>
			<form method="POST">
				{% csrf_token %}

        <div class="row">
          <div class="col-md-4">
            <label>Tipo Norma*</label>
            <select name="tipo" class="form-control">
              {% for tipo in tipos_norma %}
	              <option value="{{tipo.id}}" {% if tipo == legislacao.norma.tipo %} selected {% endif %}>
	              	{{tipo.sigla}} - {{tipo.descricao}}
	              </option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-4">
            <label>Número*</label>
            <input type="text" name="numero" value="{{legislacao.norma.numero}}" class="form-control"/>
          </div>
          <div class="col-md-4">
            <label>Ano*</label>
            <input type="text" name="ano" value="{{legislacao.norma.ano}}" class="form-control"/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label>Disposição</label>
            <input type="text" name="disposicao" value="{{legislacao.disposicoes}}" class="form-control"/>
          </div>
          <div class="col-md-3">
            <label>Parte</label>
            <input type="text" name="parte" value="{{legislacao.parte}}" class="form-control"/>
          </div>
          <div class="col-md-3">
            <label>Livro</label>
            <input type="text" name="livro" value="{{legislacao.livro}}" class="form-control"/>
          </div>
          <div class="col-md-3">
            <label>Título</label>
            <input type="text" name="titulo" value="{{legislacao.titulo}}" class="form-control"/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label>Capítulo</label>
            <input type="text" name="capitulo" value="{{legislacao.capitulo}}" class="form-control"/>
          </div>
          <div class="col-md-3">
            <label>Seção</label>
            <input type="text" name="secao" value="{{legislacao.secao}}" class="form-control"/>
          </div>
          <div class="col-md-3">
            <label>Subseção</label>
            <input type="text" name="subsecao" value="{{legislacao.subsecao}}" class="form-control"/>
          </div>
          <div class="col-md-3">
            <label>Artigo</label>
            <input type="text" name="artigo" value="{{legislacao.artigo}}" class="form-control"/>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label>Inciso</label>
            <input type="text" name="inciso" value="{{legislacao.inciso}}" class="form-control" />
          </div>
          <div class="col-md-3">
            <label>Alínea</label>
            <input type="text" name="alinea" value="{{legislacao.alinea}}" class="form-control"/>
          </div>
          <div class="col-md-3">
            <label>Item</label>
            <input type="text" name="item" value="{{legislacao.item}}" class="form-control"/>
          </div>
        </div>
				<br />
				<input type="submit" value="Salvar" id="salvar" name="salvar" class="btn btn-primary" />
				<input type="submit" value="Excluir" id="excluir" name="excluir" class="btn btn-danger" />
			</form>
		</fieldset>
	</fieldset>
{% endblock %}
