{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}{% endblock %}

{% block sections_nav %} {% endblock %}

{% block detail_content %}
  <h1><b>Pesquisar Matéria</b></h1>
  <br></br>
  <form action="" method="get">
      {{ filter.form.as_p }}
      <input type="submit" value="Pesquisar" />
  </form>
  <p></p>
  <table class="table table-striped table-bordered">
        <thead class="thead-default">
            <tr><td><h3>Resultados</h3></td></tr>
        </thead>
        {% for m in page_obj %}
            <tr>
                <td>
                    <strong><a href="{% url 'materialegislativa:detail' m.id %}">{{m.tipo.sigla}} {{m.numero}}/{{m.ano}} - {{m.tipo}}</strong></a></br>
                    {{ m.ementa|safe }}</br>
                    <strong>Localização Atual:</strong> {{m.tramitacao_set.last.unidade_tramitacao_destino|default_if_none:"Não Informada"}}</br>
                    <p></p>
            </tr>
        {% endfor %}
    </table>

{% if is_paginated %}
<nav class="text-center">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
        <span class="pager-prev">Anterior</span>
      </a>
    </li>
    {% else %}
    <li class="pager-prev disabled"><a href="">Anterior</a></li>
    {% endif %}

    {% for page in page_range %}
    {% if page == None or page == 'None' %}
    <li class="page-item disabled">
      <a class="page-link" href="">...</a>
    </li>
    {% else %}
    <li {% if page == page_obj.number %} class="page-item active" {% endif %}>
      <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">
        <span class="pager-next">Próxima</span>
      </a>
    </li>
    {% else %}
    <li class="pager-next disabled"><a href="">Próxima</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock detail_content %}