{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Tipo: <b>{{materialegislativa.tipo.sigla}}</b></li>
			<li>Número: <b>{{materialegislativa.numero}}</b></li>
			<li>Ano: <b>{{materialegislativa.ano}}</b></li>
		</ul>
		Ementa: <b>{{materialegislativa.ementa}}</b>
		<fieldset>
			<legend>Editar Matéria Anexada</legend>
			<form method="POST"> 
				{% csrf_token %}
				{% if error %} <h5 align="center"><font color="#FF0000">{{ error }}</font></h5> {% endif %}
				<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
					<li>
						<label>Tipo*</label>
						<select id="tipo" name="tipo">
							{% for tipo in get_tipos_materia %}
								<option value="{{tipo.id}}" {% if tipo.id == data.tipo.id %} selected {% endif %}>{{tipo.sigla}} - {{tipo.descricao}}</option>
							{% endfor %}
						</select>
					</li>

					<li>
						<label>Número*</label>
						<input type="text" id="numero" name="numero" value="{{data.numero}}"/>
					</li>

					<li>
						<label>Ano*</label>
						<input type="text" id="ano" name="ano" value="{{data.ano}}"/>
					</li>
				</ul>

				<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2">
					<li>
						<label>Data Anexação*</label>
						<input type="text" id="data_anexacao" name="data_anexacao" value="{{data.data_anexacao|date:'d/m/Y'}}" class="dateinput"/>
					</li>

					<li>
						<label>Data Desanexação</label>
						<input type="text" id="data_desanexacao" name="data_desanexacao" value="{{data.data_desanexacao|date:'d/m/Y'}}" class="dateinput"/>
					</li>
				</ul>
				<input type="submit" value="Salvar" id="salvar" name="salvar" class="primary button" />
				<input type="submit" value="Excluir" id="excluir" name="excluir" class="primary button" />				
			</form>
		</fieldset>
	</fieldset>
{% endblock %}
