{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
    <div class="row">
      <div class="col-md-4">Tipo: <b>{{object.tipo.sigla}}</b></div>
      <div class="col-md-4">Número: <b>{{object.numero}}</b></div>
      <div class="col-md-4">Ano: <b>{{object.ano}}</b></div>
    </div>
		Ementa: <b>{{object.ementa}}</b>

		<fieldset>
			<legend>Matérias Anexadas</legend>
			<table>
				<tr>
					<th>Matéria Anexada</th>
					<th>Data Anexação</th>
					<th>Data Desanexação</th>
				</tr>
					{% for a in anexadas %}
						<tr>
							<td><a href="{% url 'materia_anexada_edit' materialegislativa.id a.id %}">{{a.materia_anexada.tipo.sigla}} {{a.materia_anexada.numero}}/{{a.materia_anexada.ano}}</a></td>
							<td>{{a.data_anexacao|date:"d/m/Y"}}</td>
							<td>{{a.data_desanexacao|date:"d/m/Y"}}</td>
						</tr>
					{% endfor %}
			</table>
		</fieldset>
		{% csrf_token %}
		{% crispy form %}
	</fieldset>
{% endblock %}