{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Tipo: <b>{{materia.tipo.sigla}}</b></li>
			<li>Número: <b>{{materia.numero}}</b></li>
			<li>Ano: <b>{{materia.ano}}</b></li>
		</ul>
		Ementa: <b>{{materia.ementa}}</b>
		<fieldset>
			<legend>Editar Matéria Anexada</legend>
			<form method="POST"> 
				{% csrf_token %}
				{% if error %} <h5 align="center"><font color="#FF0000">{{ error }}</font></h5> {% endif %}
				Tipo:
				<select id="tipo" name="tipo">
					{% for tipo in get_tipos_materia %}
						<option value="{{tipo.id}}" {% if tipo.id == data.tipo.id %} selected {% endif %}>{{tipo.sigla}} - {{tipo.descricao}}</option>
					{% endfor %}
				</select>
				Número:
				<input type="text" id="numero" name="numero" value="{{data.numero}}"/>
				Ano:
				<input type="text" id="ano" name="ano" value="{{data.ano}}"/>
				Data Anexação:
				<input type="text" id="data_anexacao" name="data_anexacao" value="{{data.data_anexacao|date:'d/m/Y'}}" class="dateinput"/>
				Data Desanexação:
				<input type="text" id="data_desanexacao" name="data_desanexacao" value="{{data.data_desanexacao|date:'d/m/Y'}}" class="dateinput"/>

				<input type="submit" value="Salvar" id="salvar" name="salvar" class="primary button" />
				<input type="submit" value="Excluir" id="excluir" name="excluir" class="primary button" />				
			</form>
		</fieldset>
	</fieldset>
{% endblock %}
