{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}{% endblock %}

{% block sections_nav %} {% endblock %}

{% block detail_content %}
  <h1><b>Pesquisar Matéria</b></h1>
  <br></br>
  <form action="" method="get">
      {{ filter.form | crispy }}
      <input type="submit" value="Pesquisar" />
  </form>
  <p></p>
  <table class="table table-striped table-bordered">
        <thead class="thead-default">
            <tr><td><h3>Resultados</h3></td></tr>
        </thead>
        {% if page_obj|length %}
          {% if filter_url %}
            <h3>Pesquisa concluída com sucesso! Foram encontradas {{numero_res}} matérias.</h3>
          {% endif %}
          {% for m in page_obj %}
            
              <tr>
                  <td>
                      <strong><a href="{% url 'materialegislativa:detail' m.id %}">{{m.tipo.sigla}} {{m.numero}}/{{m.ano}} - {{m.tipo}}</strong></a></br>
                      {{ m.ementa|safe }}</br>
                      <strong>Localização Atual:</strong> {{m.tramitacao_set.last.unidade_tramitacao_destino|default_if_none:"Não Informada"}}</br>
                      <p></p>
              </tr>
          {% endfor %}
        {% else  %}
            <tr>
                <td>
                    <h3>Nenhuma matéria encontrada com essas especificações</h3>
                 </tr>
        {% endif %}
        
    </table>

{% include "paginacao_pesquisa_materia.html" %}

{% endblock detail_content %}