{% extends "crud/detail.html" %}
{% load i18n %}

{% block sections_nav %}
  <dl class="sub-nav left">
    <dd><a href="" class="button secondary">{% trans 'Início' %}</a></dd>
    <dd><a href="{% url 'materia_anexada' materia.id %}" class="button secondary">{% trans 'Anexada' %}</a></dd>
    <dd><a href="" class="button secondary">{% trans 'Autoria' %}</a></dd>
    <dd><a href="{% url 'materia_anexada' materia.id %}" class="button secondary">{% trans 'Despacho Inicial' %}</a></dd>
    <dd><a href="" class="button secondary">{% trans 'Documento Acessório' %}</a></dd>
    <dd><a href="{% url 'legislacao_citada' materia.id %}" class="button secondary">{% trans 'Legislação Citada' %}</a></dd>
    <dd><a href="" class="button secondary">{% trans 'Numeração' %}</a></dd>
    <dd><a href="" class="button secondary">{% trans 'Tramitação' %}</a></dd>
    <dd><a href="" class="button secondary">{% trans 'Relatoria' %}</a></dd>
  </dl>
{% endblock sections_nav %}
