{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}{% endblock %}

{% block sections_nav %} 
{% endblock %}

{% block detail_content %}
  <h1><b>Pesquisar Matéria</b></h1>
  <br></br>
    {% if filter_url %}
      <div class="actions btn-group pull-right" role="group">
        <a href="{% url 'materia:pesquisar_materia' %}" class="btn btn-default">{% trans 'Fazer nova pesquisa' %}</a>
      </div>
    {% endif %}
 
  {% if not filter_url %}
    {% crispy filter.form %}
  {% endif %}
        
  <p></p>
  {% if filter_url %}
  <table class="table table-striped table-bordered">
        <thead class="thead-default">
            <tr><td><h3>Resultados</h3></td></tr>
        </thead>
        {% if page_obj|length %}
          {% if numero_res > 1 %}
              <h3>Pesquisa concluída com sucesso! Foram encontradas {{numero_res}} matérias.</h3>
            {% elif numero_res == 1 %}
              <h3>Pesquisa concluída com sucesso! Foi encontrada {{numero_res}} matéria.</h3>
            {% endif %}
          {% for m in page_obj %}
            
              <tr>
                  <td>
                      <strong><a href="{% url 'materia:materialegislativa_detail' m.id %}">{{m.tipo.sigla}} {{m.numero}}/{{m.ano}} - {{m.tipo}}</strong></a></br>
                      <strong>Autores:</strong>
                      {% for a in m.autoria_set.all %}
                        {% if not forloop.first %}
                          , &nbsp;&nbsp; {{a.autor|default_if_none:"Não Informado"}}
                        {% else %}
                          &nbsp;{{a.autor|default_if_none:"Não Informado"}}
                        {% endif %} 
                      {% endfor %}
                      </br>
                      <strong>Localização Atual:</strong> &nbsp;{{m.tramitacao_set.last.unidade_tramitacao_destino|default_if_none:"Não Informada"}}</br>
                      <strong>Status:</strong> &nbsp;{{m.tramitacao_set.last.status|default_if_none:"Não Informada"}}</br>
                      <strong>Data da última Tramitação:</strong> &nbsp;{{m.tramitacao_set.last.data_tramitacao|default_if_none:"Não Informada"}}</br>
                      <strong>Ementa:</strong>&nbsp;{{ m.ementa|safe }}</br>
                      <p></p>
              </tr>
          {% endfor %}
        {% else  %}
            <tr>
                <td>
                    <h3>Nenhuma matéria encontrada com essas especificações</h3>
                 </tr>
        {% endif %}
        
    </table>


{% include "paginacao.html" %}
{% endif %}

{% endblock detail_content %}