{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		{% include "materia/resumo_detail_materia.html" %}

		<fieldset>
			<legend>Numeração</legend>
			<table class="table table-striped table-bordered">
				<thead class="thead-default">
					<tr>
						<th>Tipo Matéria</th>
						<th>Descrição</th>
						<th>Número</th>
						<th>Ano</th>
						<th>Data</th>
					</tr>
				</thead>
				{% for n in numeracao %}
					<tr>
						<td><a href="{% url 'numeracao_edit' object.id n.id %}">{{n.tipo_materia.sigla}}</a></td>
						<td>{{n.tipo_materia.descricao}}</td>
						<td>{{n.numero_materia}}</td>
						<td>{{n.ano_materia}}</td>
						<td>{{n.data_materia|date:'d/m/Y'}}</td>
					</tr>
				{% endfor %}
			</table>
		</fieldset>
		{% crispy form %}
	</fieldset>
{% endblock %}
