{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
    <div class="row">
      <div class="col-md-4">Tipo: <b>{{materialegislativa.tipo.sigla}}</b></div>
      <div class="col-md-4">Número: <b>{{materialegislativa.numero}}</b></div>
      <div class="col-md-4">Ano: <b>{{materialegislativa.ano}}</b></div>
    </div>
		Ementa: <b>{{materialegislativa.ementa}}</b>

		<fieldset>
			<legend>Numeração</legend>
			<table>
				<tr>
					<th>Tipo Matéria</th>
					<th>Descrição</th>
					<th>Número</th>
					<th>Ano</th>
					<th>Data</th>
				</tr>
				{% for n in numeracao %}
					<tr>
						<td><a href="{% url 'numeracao_edit' materialegislativa.id n.id %}">{{n.tipo_materia.sigla}}</a></td>
						<td>{{n.tipo_materia.descricao}}</td>
						<td>{{n.numero_materia}}</td>
						<td>{{n.ano_materia}}</td>
						<td>{{n.data_materia|date:'d/m/Y'}}</td>
					</tr>
				{% endfor %}
			</table>
		</fieldset>
		{% crispy form %}
	</fieldset>
{% endblock %}