{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Tipo: <b>{{materia.tipo.sigla}}</b></li>
			<li>Número: <b>{{materia.numero}}</b></li>
			<li>Ano: <b>{{materia.ano}}</b></li>
		</ul>
		Ementa: <b>{{materia.ementa}}</b>

		<fieldset>
			<legend>Relatorias</legend>
			<table>
				<tr>
					<th>Data Designação</th>
					<th>Comissão</th>
					<th>Parlamentar</th>
				</tr>
					{% for r in relatorias %}
						<tr>
							<td><a href="">{{r.data_designacao_relator|date:'d/m/Y'}}</a></td>
							<td>{{r.comissao}}</td>
							<td>{{r.parlamentar}}</td>
						</tr>
					{% endfor %}
			</table>
		</fieldset>
		<!-- {% crispy form %} -->
	</fieldset>
{% endblock %}