{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
    <div class="row">
      <div class="col-md-4">Tipo: <b>{{materialegislativa.tipo.sigla}}</b></div>
      <div class="col-md-4">Número: <b>{{materialegislativa.numero}}</b></div>
      <div class="col-md-4">Ano: <b>{{materialegislativa.ano}}</b></div>
    </div>
		Ementa: <b>{{materialegislativa.ementa}}</b>

		<fieldset>
			<legend>Editar Relator</legend>
			<form method="POST">
				{% csrf_token %}

        <div class="row">
          <div class="col-md-12">
            Localização Atual
            <input type="text" name="comissao" disabled value="{{relatoria.comissao.nome}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Data Designação*
            <input type="text" name="data_designacao_relator" class ="dateinput" value="{{relatoria.data_designacao_relator}}" />
          </div>
          <div class="col-md-6">
            Data Destituição
            <input type="text" name="data_destituicao_relator" class ="dateinput" value="{{relatoria.data_destituicao_relator}}" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            Parlamentar*
            <select name="parlamentar">
              <option value=""> ---------- </option>
              {% for p in parlamentares %}
              <option value="{{p.parlamentar_id}}" {% if relatoria.parlamentar_id == p.parlamentar_id %} selected {% endif %}>
              {{p.parlamentar}}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-6">
            Motivo Fim Relatoria
            <select name="tipo_fim_relatoria">
              <option value=""> ---------- </option>
              {% for t in tipo_fim_relatorias %}
              <option value="{{t.id}}" {% if t.id == relatoria.tipo_fim_relatoria_id %} selected {% endif %}>
              {{t.descricao}}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>
				<input type="submit" name="salvar" value="Salvar" class="primary button"/>
				<input type="submit" name="excluir" value="Excluir" class="primary button"/>
			</form>
		</fieldset>
	</fieldset>
{% endblock %}