{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Tipo: <b>{{materialegislativa.tipo.sigla}}</b></li>
			<li>Número: <b>{{materialegislativa.numero}}</b></li>
			<li>Ano: <b>{{materialegislativa.ano}}</b></li>
		</ul>
		Ementa: <b>{{materialegislativa.ementa}}</b>

		<fieldset>
			<legend>Relatorias</legend>
			<table>
				<tr>
					<th>Data Designação</th>
					<th>Comissão</th>
					<th>Parlamentar</th>
				</tr>
					{% for r in relatorias %}
						<tr>
							<td><a href="{% url 'relatoria_edit' materialegislativa.id r.id %}">{{r.data_designacao_relator|date:'d/m/Y'}}</a></td>
							<td>{{r.comissao}}</td>
							<td>{{r.parlamentar}}</td>
						</tr>
					{% endfor %}
			</table>
		</fieldset>
		
		<fieldset>
			<legend>Adicionar Relator</legend>
				<form method="POST">
					{% csrf_token %}

					<ul class='small-block-grid-1 medium-block-grid-1 large-block-grid-1'>
						<li>
							Localização Atual
							<input type="text" name="comissao" disabled value="{{comissao.nome}}" />
						</li>
					</ul>
					<ul class='small-block-grid-2 medium-block-grid-2 large-block-grid-2'>
						<li>
							Data Designação*
							<input type="text" name="data_designacao_relator" class ="dateinput" />
						</li>
						<li>
							Data Destituição
							<input type="text" name="data_destituicao_relator" class ="dateinput" />
						</li>
					</ul>
					<ul class='small-block-grid-2 medium-block-grid-2 large-block-grid-2'>
						<li>
							Parlamentar*
							<select name="parlamentar">
								<option value=""> ---------- </option>
								{% for p in parlamentares %}
									<option value="{{p.parlamentar_id}}"> {{p.parlamentar}} </option>
								{% endfor %}
							</select>
						</li>
						<li>
							Motivo Fim Relatoria
							<select name="tipo_fim_relatoria">
								<option value=""> ---------- </option>
								{% for t in tipo_fim_relatoria %}
									<option value="{{t.id}}"> {{t.descricao}} </option>
								{% endfor %}
							</select>
						</li>
					</ul>
					<input type="submit" name="salvar" value="Salvar" class="primary button"/>
				</form>
			{% endif %}
		</fieldset>
	</fieldset>
{% endblock %}