{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
    <div class="row">
      <div class="col-md-4">Tipo: <b>{{object.tipo.sigla}}</b></div>
      <div class="col-md-4">Número: <b>{{object.numero}}</b></div>
      <div class="col-md-4">Ano: <b>{{object.ano}}</b></div>
    </div>
		Ementa: <b>{{object.ementa}}</b>

		<fieldset>
			<legend>Editar Tramitação</legend>
				<form method="POST">
					{% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <label>Data Tramitação</label>
              <input type="text" name="data_tramitacao" class="dateinput" value="{{tramitacao.data_tramitacao|date:'d/m/Y'}}" disabled />
            </div>
            <div class="col-md-6">
              <label>Unidade Local</label>
              <input type="text" name="unidade_tramitacao_local" value="{{tramitacao.unidade_tramitacao_local}}" disabled />
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label>Status*</label>
              <select name="status">
                {% for s in status %}
                <option value="{{s.id}}" {% if s.id == tramitacao.status.id %} selected {% endif %}>
                {{s.descricao}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <label>Turno*</label>
              <select name="turno">
                {% for a, b in turno %}
                <option value="{{a}}">{{b}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-4">
              <input type="checkbox" name="urgente" value="{{tramtiacao.urgente}}" /> Urgente ?<br />
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label>Unidade Destino</label>
              <select name="unidade_tramitacao_destino">
                {% for u in unidade_tramitacao %}
                <option value="{{u.id}}" {% if u.id == tramitacao.unidade_tramitacao_destino.id %} selected {% endif %}>
                {{u.orgao}} - {{u.comissao}}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Data Encaminhamento</label>
              <input type="text" name="data_encaminhamento" class="dateinput" value="{{tramitacao.data_encaminhamento|date:'d/m/Y'}}" />
            </div>
            <div class="col-md-6">
              <label>Data Fim Prazo</label>
              <input type="text" name="data_fim_prazo" class="dateinput" value="{{tramitacao.data_fim_prazo|date:'d/m/Y'}}" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label>Texto da Ação</label>
              <textarea rows="4" cols="50" name="texto">{{tramitacao.texto}}</textarea>
            </div>
          </div>

					<input type="submit" value="Salvar" id="salvar" name="salvar" class="primary button" />
					<input type="submit" value="Excluir" id="excluir" name="excluir" class="primary button" />
				</form>
		</fieldset>
	</fieldset>
{% endblock %}
