{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		{% include "materia/resumo_detail_materia.html" %}

		<fieldset>
			<legend>Tramitações</legend>
			<table class="table table-striped table-bordered">
				<thead class="thead-default">
					<tr>
						<th>Data Ação</th>
						<th>Origem</th>
						<th>Destino</th>
						<th>Status</th>
					</tr>
				</thead>
					{% for t in tramitacoes %}
						<tr>
							<td><a href="{% url 'tramitacao_edit' object.id t.id %}">{{t.data_tramitacao|date:'d/m/Y'}}</a></td>
							<td>{{t.unidade_tramitacao_local}}</td>
							<td>{{t.unidade_tramitacao_destino}}</td>
							<td>{{t.status.descricao}}</td>
						</tr>
					{% endfor %}
			</table>
		</fieldset>
		{% crispy form %}
	</fieldset>
{% endblock %}
