{% extends "materia/materialegislativa_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}
	<fieldset>
		<legend>Matéria Legislativa</legend>
		<ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3">
			<li>Tipo: <b>{{materialegislativa.tipo.sigla}}</b></li>
			<li>Número: <b>{{materialegislativa.numero}}</b></li>
			<li>Ano: <b>{{materialegislativa.ano}}</b></li>
		</ul>
		Ementa: <b>{{materialegislativa.ementa}}</b>

		<fieldset>
			<legend>Tramitações</legend>
			<table>
				<tr>
					<th>Data Ação</th>
					<th>Origem</th>
					<th>Destino</th>
					<th>Status</th>
				</tr>
					{% for t in tramitacoes %}
						<tr>
							<td><a href="{% url 'tramitacao_edit' materialegislativa.id t.id %}">{{t.data_tramitacao|date:'d/m/Y'}}</a></td>
							<td>{{t.unidade_tramitacao_local}}</td>
							<td>{{t.unidade_tramitacao_destino}}</td>
							<td>{{t.status.descricao}}</td>
						</tr>
					{% endfor %}
			</table>
		</fieldset>
		{% crispy form %}
	</fieldset>
{% endblock %}
