{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %} {% endblock %}
{% block detail_content %}

<h1>{{expediente.materia}}</h1>
<hr>
<fieldset>
	<legend>Identificação Básica</legend>

	<b>Tipo:</b> {{expediente.materia.tipo.sigla}} - {{expediente.materia.tipo.descricao}} <br />
	<b>Número:</b> {{expediente.materia.numero}} <br />
	<b>Data:</b> {{expediente.materia.data_apresentacao}} <br />
	<b>Ementa:</b> {{expediente.materia.ementa|safe}} <br />
	<b>Indexação:</b> {{expediente.materia.indexacao}} <br />
</fieldset>
<br /><br />
<fieldset>
	<legend>Outras Informações</legend>

	<b>Em Tramitação?</b> {{expediente.materia.em_tramitacao|yesno:"Sim,Não"}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<b>Matéria Polêmica?</b> {{expediente.materia.polemica|yesno:"Sim,Não"}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<b>Regime Tramitação:</b> {{expediente.materia.regime_tramitacao}}
</fieldset>
<br /><br />
<fieldset>
	<legend>Documentos Acessórios</legend>

	{% for d in doc_ace %}
		<b>Nome:</b> {{d.nome}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b>Tipo:</b> {{d.tipo}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b>Data:</b> {{d.data}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<b>Autor:</b> {{d.autor}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

		<br /><br />
	{% endfor %}
</fieldset>
<br /><br />
<fieldset>
	<legend>Tramitação{% if expediente.materia.em_tramitacao %}<a href="{% url 'sapl.materia:acompanhar_materia' expediente.materia.id %}"> >>> Acompanhar matéria <<<</a>{% endif %}</legend>

	{% for t in tramitacao %}
		<b>Data: </b> {{t.data_tramitacao}}<br />
		<b>Origem: </b> {{t.unidade_tramitacao_destino}} - <b>Destino: </b> {{t.unidade_tramitacao_local}}<br />
		<b>Situação: </b> {{t.status}}<br />
		<b>Última Ação: </b> {{t.texto}}<br />

		<br />
	{% endfor %}
</fieldset>
{% endblock %}
