@page{
    margin-top: 4.5cm;
    size: A4 portrait;
} 

h2.gray-title{
    color: gray;
    font-size: 14pt;
    break-after: avoid-page;
    page-break-after: avoid;
}

h3 {
    font-size: 10pt;
    break-after: avoid-page;
    page-break-after: avoid;   
}

p {
    font-size: 10pt; 
    text-align: justify;
    text-justify: inter-word;
}

fieldset {
    border: 0;
}

html body section {
    box-sizing: border-box;
}

html body section dl {
    display: flex;
    flex-wrap: wrap;
    columns: 5;
}

html body section dt{
    width: 50px;
}

html body section dd {
    text-align: center;
}

html body section dd ul li {
    list-style-type: none;
    margin-left: 50px;
}

fieldset {
    page-break-after: avoid;
    margin:5px;
    padding:0px;
}