{% extends "sessao/adicionar_varias_materias_expediente.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block buttons %}

  {% if filter_url and not filter.form.errors %}

    <div class="actions btn-group float-right" role="group">
      <a href="{% url 'sapl.sessao:adicionar_varias_materias_ordem_dia' pk_sessao %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
    </div>

    <div class="actions btn-group float-right" role="group">
      <a href="{% url 'sapl.sessao:ordemdia_list' pk_sessao %}" class="btn btn-outline-primary">{% trans 'Matérias da Ordem do Dia' %}</a>
    </div>

  {% endif %}

{% endblock %}