{% extends "sessao/adicionar_varias_materias_expediente.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block buttons %}

      {% if filter_url %}

            <div class="actions btn-group pull-right" role="group">
              <a href="{% url 'sapl.sessao:adicionar_varias_materias_ordem_dia' pk_sessao %}" class="btn btn-default">{% trans 'Fazer nova pesquisa' %}</a>
            </div>

            <div class="actions btn-group pull-right" role="group">
              <a href="{% url 'sapl.sessao:ordemdia_list' pk_sessao %}" class="btn btn-default">{% trans 'Matérias da Ordem do Dia' %}</a>
            </div>

      {% endif %}

    {% endblock %}