{% extends "crud/list.html" %}
{% load i18n %}
{% load common_tags %}


{% block more_buttons %}

{% if perms|get_add_perm:view %}
    <a href="{% url 'sapl.sessao:reordenar_ordem' root_pk %}" class="btn btn-default">
      {% blocktrans with verbose_name=view.verbose_name %} Ajustar Ordenação {% endblocktrans %}
    </a>
    <a href="{% url 'sapl.sessao:adicionar_varias_materias_ordem_dia' root_pk %}" class="btn btn-default">
      {% blocktrans with verbose_name=view.verbose_name %} Adicionar Várias Matérias {% endblocktrans %}
    </a>
{% endif %}

{% endblock more_buttons %}

{% block extra_js %}

    <script type="text/javascript">
        var pk_sessao = {{root_pk}};
        var pk_list = {{ object_list|to_list_pk|safe }};

        $('tbody').sortable({

        start: function(event, ui) {
            ui.item.startPos = ui.item.index();

        },
        stop: function(event, ui) {
            var pos_ini = ui.item.startPos;
            var pos_fim = ui.item.index();

            $.ajax({
                data: {pos_ini: pos_ini,
                       pos_fim: pos_fim,
                       pk_sessao: pk_sessao,
                       pk_list,
                       materia: 'ordem'},
                type: 'POST',
                url: "{% url 'sapl.sessao:mudar_ordem_materia_sessao' %}",
            });

            setTimeout(function(){ window.location.reload(true) }, 500);
        }
     });
    $(window).on('beforeunload', function () {
            $('tbody').sortable('disable');
            $("input[type=submit], input[type=button]").prop("disabled", "disabled");
     });
    </script>

{% endblock %}
