{% extends "crud/detail.html" %}
{% load i18n %}
{% load staticfiles %}
{% load webpack_static from webpack_loader %}
{% block actions %} {% endblock %}

{% block title %}
	<h1 class="page-header">
		Painel Eletrônico <small>({{sessaoplenaria}})</small>
	</h1>
{% endblock %}


{% block detail_content %}

  <audio type="hidden" id="audio" src="{% webpack_static 'audio/ring.mp3' %}"></audio>

  <div class="row">
    <div class="col-md-6"><a href="" onclick="window.open('{% url 'sapl.painel:painel_principal' pk %}','Comprovante','width=800, height=800, scrollbars=yes'); return false;" class="btn btn-primary btn-sm active">Iniciar painel completo</a></div>
    <div class="col-md-3"><button onclick="switch_painel(true)" id="id_abrir_painel" class="btn btn-primary btn-sm active" style="display: {% if sessaoplenaria.painel_aberto %}none{% else %}inline-block{% endif %};">Abrir Painel</button></div>
    <div class="col-md-3"><button onclick="switch_painel(false)" id="id_fechar_painel" class="btn btn-danger btn-sm active" style="display: {% if sessaoplenaria.painel_aberto %}inline-block{% else %}none{% endif %};">Fechar Painel</button></div>
  </div>
	<br />

	<h1>Operação do Painel Eletrônico</h1>
	<h2><span id="relogio"></span></h2>
	<br />

  <div id="bloco_cronometros" style="display: {% if sessaoplenaria.painel_aberto %}block{% else %}none{% endif %};">
    <div class="row">
      <div class="col-md-12 mb-2"><h3>Cronômetro do Discurso</h3></div>
    </div>

    <div class="row">
      <div class="col-md-2"><input size="2" id="discurso" name="discurso" value="" readyonly="true" class="form-control"></div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-6"><button type="button" id="discursoStart" class="btn btn-success">Iniciar</button></div>
      <div class="col-md-6"><button type="button" id="discursoReset" class="btn btn-success">Reiniciar</button></div>
    </div>

    <br /><br >
    <div class="row">
      <div class="col-md-12 mb-2"><h3>Cronômetro do Aparte</h3></div>
    </div>

    <div class="row">
      <div class="col-md-2"><input size="2" id="aparte" name="aparte" value="" readyonly="true" class="form-control"></div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-6"><button type="button" id="aparteStart" class="btn btn-success">Iniciar</button></div>
      <div class="col-md-6"><button type="button" id="aparteReset" class="btn btn-success" class="btn btn-success">Reiniciar</button></div>
    </div>

    <br /><br >
    <div class="row">
      <div class="col-md-12 mb-2"><h3>Cronômetro da Questão de Ordem </h3></div>
    </div>

    <div class="row">
      <div class="col-md-2"><input size="2" id="ordem" name="ordem" value="" readyonly="true" class="form-control"></div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-6"><button type="button" id="ordemStart" class="btn btn-success">Iniciar</button></div>
      <div class="col-md-6"><button type="button" id="ordemReset" class="btn btn-success">Reiniciar</button></div>
    </div>

    <br/>
    <br/>

    <div class="row">
      <div class="col-md-12 mb-2"><h3>Cronômetro de Considerações Finais</h3></div>
    </div>

    <div class="row">
      <div class="col-md-4"><input size="2" id="consideracoes" name="consideracoes" value="" readyonly="true" class="form-control"></div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-6"><button type="button" id="consideracoesStart" class="btn btn-success">Iniciar</button></div>
      <div class="col-md-6"><button type="button" id="consideracoesReset" class="btn btn-success">Reiniciar</button></div>
    </div>
    <br /><br >

    <div class="row">
      <div class="col-md-6"><button type="button" id="sinalSonoro" class="btn btn-success" onclick="document.getElementById('audio').play();">Sinal Sonoro</button></div>
    </div>
  </div>

{% endblock detail_content %}

{% block extra_js %}
<script language="JavaScript">
var cronometrosStatus = {{ cronometros_status_json|default:"{}"|safe }};

$(function() {

	function checkTime(i) {
		if (i<10) {i = "0" + i};
			return i;
	}

	function startTime() {
		var today=new Date();
	 	var h=today.getHours();
		var m=today.getMinutes();
		var s=today.getSeconds();
		m = checkTime(m);
		s = checkTime(s);
		$("#relogio").text(h+":"+m+":"+s)
		var t = setTimeout(function(){
		    startTime()
		},500);
	}

	startTime();
    var audioAlertFinish = document.getElementById("audio");

    function formatTime(value) {
        let h = Math.floor((value/1000) / 3600);
        h = checkTime(h);
        let m = Math.floor((value/1000) % 3600 / 60);
        m = checkTime(m);
        let s = Math.floor((value/1000) % 3600 % 60);
        s = checkTime(s);
        return h.toString() + ":" + m.toString() + ":" + s.toString();
    }

    function setupCronometro(tipo, startAtSecs, initialStatus) {
        var startAtMs = startAtSecs * 1000;
        var $el = $('#' + tipo);
        var $btnStart = $('#' + tipo + 'Start');
        var $btnReset = $('#' + tipo + 'Reset');

        $el.prop('disabled', false);

        var currentStartAt = startAtMs;
        var initialAction = initialStatus ? initialStatus.action : null;
        var remainingAtStop = initialStatus ? initialStatus.remaining_at_stop : null;
        var remainingAtStart = initialStatus ? initialStatus.remaining_at_start : null;
        var startTs = initialStatus ? initialStatus.start_ts : null;

        if (initialAction === 'stop' && remainingAtStop != null) {
            currentStartAt = Math.max(0, Math.round(remainingAtStop)) * 1000;
        } else if (initialAction === 'start' && startTs != null) {
            var elapsed = (Date.now() / 1000) - startTs;
            var baseRem = remainingAtStart != null ? remainingAtStart : startAtSecs;
            currentStartAt = Math.max(0, Math.round(baseRem - elapsed)) * 1000;
        }

        $el.runner({
            autostart: false,
            countdown: true,
            startAt: currentStartAt,
            stopAt: 0,
            milliseconds: false,
            format: formatTime
        }).on('runnerFinish', function(eventObject, info){
            $.get('/painel/cronometro', { tipo: tipo, action: 'stop', remaining: 0 } );
            if (audioAlertFinish) {
                audioAlertFinish.play();
            }
            $btnReset.show();
            $el.runner('stop');
            $btnStart.text('Iniciar');
        });

        if (initialAction === 'start' && currentStartAt > 0) {
            $el.runner('start');
            $btnStart.text('Parar');
            $btnReset.hide();
        } else if (initialAction === 'stop') {
            $btnStart.text('Resumir');
            $btnReset.show();
        } else {
            $btnStart.text('Iniciar');
            $btnReset.show();
        }

        $btnStart.click(function() {
            if ($btnStart.text() === 'Parar') {
                $el.runner('stop');
                var remaining = Math.max(0, Math.round($el.runner('info').time / 1000));
                $.get('/painel/cronometro', { tipo: tipo, action: 'stop', remaining: remaining } );
                $btnReset.show();
                $btnStart.text('Resumir');
            } else {
                $el.runner('start');
                var remaining = Math.max(0, Math.round($el.runner('info').time / 1000));
                $.get('/painel/cronometro', { tipo: tipo, action: 'start', remaining: remaining } );
                $btnReset.hide();
                $btnStart.text('Parar');
            }
        });

        $btnReset.click(function() {
            $el.runner('stop');
            $el.runner({
                autostart: false,
                countdown: true,
                startAt: startAtMs,
                stopAt: 0,
                milliseconds: false,
                format: formatTime
            });
            $el.runner('reset');
            $btnStart.text('Iniciar');
            $.get('/painel/cronometro', { tipo: tipo, action: 'reset' } );
        });
    }

    setupCronometro('discurso', {{cronometro_discurso}}, cronometrosStatus.discurso);
    setupCronometro('aparte', {{cronometro_aparte}}, cronometrosStatus.aparte);
    setupCronometro('ordem', {{cronometro_ordem}}, cronometrosStatus.ordem);
    setupCronometro('consideracoes', {{cronometro_consideracoes}}, cronometrosStatus.consideracoes);

});

function switch_painel(aberto) {
    var pk_sessao = {{root_pk}};
    var botao_abrir = $('#id_abrir_painel');
    var botao_fechar = $('#id_fechar_painel');
    var bloco_cronometros = $('#bloco_cronometros');

    $.ajax({
        data: {pk_sessao: pk_sessao, aberto: aberto},
        type: 'POST',
        url: "{% url 'sapl.painel:switch_painel' %}",
        headers: {'X-CSRFToken': getCookie('csrftoken')},
    });

    if (aberto) {
        botao_abrir.hide();
        botao_fechar.show();
        bloco_cronometros.show();
    } else {
        botao_abrir.show();
        botao_fechar.hide();
        bloco_cronometros.hide();
        ['discurso', 'aparte', 'ordem', 'consideracoes'].forEach(function(tipo) {
            var $el = $('#' + tipo);
            var $btn = $('#' + tipo + 'Start');
            if ($btn.text() === 'Parar') {
                $el.runner('stop');
                $btn.text('Resumir');
                $('#' + tipo + 'Reset').show();
            }
        });
    }
}

$(document).ready(function(){
    var pk_sessao = {{root_pk}};
    var botao_abrir = $('#id_abrir_painel');
    var botao_fechar = $('#id_fechar_painel');
    var bloco_cronometros = $('#bloco_cronometros');

    $.ajax({
        data: {pk_sessao: pk_sessao},
        type: 'GET',
        dataType: 'json',
        url: "{% url 'sapl.painel:verifica_painel' %}",
        error: function () {
            alert("Erro ao verificar o Painel");
        },
        success: function (data) {
            console.log(`verifica painel: ${data}`);
            if (data['status']) {
                botao_abrir.hide();
                botao_fechar.show();
                bloco_cronometros.show();
            } else {
                botao_abrir.show();
                botao_fechar.hide();
                bloco_cronometros.hide();
            }
        },
    });


});

</script>

{% endblock %}
