{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load i18n staticfiles %}

{% block sections_nav %} {% endblock %}

{% block base_content %}
  <h1><b>Pesquisar Pauta de Sessão</b></h1>
  <br></br>

  {% if not filter_url %}
    {% crispy filter.form %}
  {% endif %}

  {% if filter_url %}
    <p></p>
    <table class="table table-striped table-hover">
      <thead class="thead-default"><tr><td><h3>Resultados</h3></td></tr></thead>
      {% if page_obj|length %}
        {% if numero_res > 1 %}
          <h3>Foram encontradas {{numero_res}} pautas de sessões.</h3></br>
        {% elif numero_res == 1 %}
          <h3>Foi encontrada {{numero_res}} pauta de sessão.</h3></br>
        {% endif %}

        {% for s in page_obj %}
          <tr>
            <td><a href="{% url 'sapl.sessao:pauta_sessao_detail' s.id %}"><strong>{{s}}</strong></br></a></td><td>
					  <a href="{% url 'sapl.relatorios:relatorio_sessao_plenaria' s.id %}"><img src="{% static 'img/file.png' %}"></a>
				    </td>
          </tr>
        {% endfor %}
      {% else  %}
        <tr><td><h3>Nenhuma Pauta de Sessão encontrada com essas especificações</h3></tr>
      {% endif %}
    </table>
    {% include "paginacao.html" %}
  {% endif %}
{% endblock base_content %}
