{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block base_content %}
<div align=right><a href="{% url 'sapl.relatorios:relatorio_sessao_plenaria' object.id %}">> PDF</a></li></div>
<fieldset>
	<legend>Identificação Básica</legend>
	<table class="table">
		<thead class="thead-default">
			<tr>
    		{% for b in basica %}
    			<td>{{b}}</td>
    		{% endfor %}
			</tr>
		</thead>
  </table>
</fieldset>

<fieldset>
	<legend>Expedientes</legend>
	<table class="table">
		<thead class="thead-default">
    	{% for e in expedientes %}
				<tr>
			    <td>
						<b>{{e.tipo}}: </b> <br />
						<p style="text-indent: 50px;">{{e.conteudo}}</p>
					</td>
				</tr>
		  {% endfor %}
		</thead>
  </table>
</fieldset>

<fieldset>
	<legend>Matérias do Expediente</legend>
	<table class="table table-striped">
		<thead class="thead-default">
			<tr>
	      <th>Matéria</th>
	      <th>Ementa</th>
	      <th>Resultado da Votação</th>
    	</tr>
		</thead>
    {% for m in materia_expediente %}
      <tr>
				<td>
	        {{m.numero}} - <a href="{% url 'sapl.sessao:pauta_expediente_detail' m.id %}">{{m.titulo}}</a>
	        <br />
	        <b>Autor{{ m.autor|length|pluralize:"es" }}</b>: {{ m.autor|join:', ' }}
				</td>
	      <td>{{m.ementa|safe}}</td>
	      <td>{{m.situacao}}</td>
			</tr>
    {% endfor %}
  </table>
</fieldset>

<fieldset>
	<legend>Oradores do Expediente</legend>
	<table class="table table-striped">
		<thead class="thead-default">
			<tr>
	      <th>Parlamentar</th>
	      <th>Discurso</th>
			</tr>
		</thead>
    {% for o in oradores %}
			<tr>
	      <td><b>{{o.numero_ordem}}</b> - {{o.parlamentar}}</td>
	      <td>{{o.url_discurso}}</td>
  		</tr>
    {% endfor %}
	</table>
</fieldset>

<fieldset>
	<legend>Matérias da Ordem do Dia</legend>
	<table class="table table-striped">
		<thead class="thead-default">
			<tr>
				<th>Matéria</th>
				<th>Ementa</th>
				<th>Resultado da Votação</th>
			</tr>
		</thead>
    {% for m in materias_ordem %}
      <tr>
        <td>
					{{m.numero}} - <a href="{% url 'sapl.sessao:pauta_ordem_detail' m.id %}">{{m.titulo}}</a>
        	<br />
        	<b>Autor{{ m.autor|length|pluralize:"es" }}</b>: {{ m.autor|join:', ' }}
				</td>
      	<td>{{m.ementa|safe}}</td>
      	<td>{{m.situacao}}</td>
			</tr>
    {% endfor %}
  </table>
</fieldset>
{% endblock base_content %}
