{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
	<h1 class="page-header">
		Resumo <small>({{sessaoplenaria}})</small>
		<br/>
	</h1>
{% endblock %}

{% block detail_content %}
<div>
	<p align="right">
		<strong>
			<a href="{% url 'sapl.relatorios:relatorio_sessao_plenaria' sessaoplenaria.pk %}">
				Impressão PDF
			</a>
		</strong>
	</p>
</div>
	{% include 'sessao/blocos_resumo/identificacao_basica.html' %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/conteudo_multimidia.html' %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/mesa_diretora.html' %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/lista_presenca.html' %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/expedientes.html' %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/materias_expediente.html' %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/oradores_expediente.html' %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/lista_presenca_ordem_dia.html' %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/materias_ordem_dia.html' %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/oradores_explicacoes.html' %}
    <br /><br /><br />

{% endblock detail_content %}
