{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block actions %}
  <div class="actions btn-group pull-right" role="group">
    {% if perms.sessao %}
      <a href="{% url 'sapl.sessao:sessaoplenaria_create' %}" class="btn btn-default">
        {% blocktrans with verbose_name=view.verbose_name %} Adicionar Sessão Plenária {% endblocktrans %}
    {% endif %}
    </a>
  </div>
{% endblock %}

{% block detail_content %}
  {% crispy filter.form %}

  {% if filter_url %}
    <p></p>
    <table class="table table-striped table-hover">
      <thead class="thead-default"><tr><td><h3>Resultados</h3></td></tr></thead>
      {% if page_obj|length %}
        {% if numero_res > 1 %}
          <h3>Foram encontradas {{numero_res}} sessões.</h3></br>
        {% elif numero_res == 1 %}
          <h3>Foi encontrada {{numero_res}} sessão.</h3></br>
        {% endif %}

        {% for s in page_obj %}
          <tr>
            <td>
              <strong><a href="{% url 'sapl.sessao:sessaoplenaria_detail' s.id %}">{{s}}</strong></a></br>
              <strong>Abertura:</strong> {{s.data_inicio}}</br>
              <strong>Legislatura:</strong> {{s.legislatura}}</br>
              <strong>Sessão Legislativa:</strong> {{s.sessao_legislativa}}</br>
              <strong>Tipo:</strong> {{s.tipo}}</br>
            </td>
          </tr>
        {% endfor %}
      {% else  %}
        <tr><td><h3>Nenhuma Sessão Plenária encontrada com essas especificações</h3></tr>
      {% endif %}
    </table>
    {% include "paginacao.html" %}
  {% endif %}
{% endblock detail_content %}
{% block table_content %}
{% endblock table_content %}


{% block extra_js %}

<script type="text/javascript">
  var querystring = "{{filter_url|safe}}"

  // Esse IF garante que já existe uma querystring, ou seja, algo já foi pesquisado
  if(querystring.length != 0){ 
    $('#id_data_inicio__year').on({
      change: function(){
        setTimeout(function(){ 
          window.location.search = jQuery.query.set("data_inicio__year", $('#id_data_inicio__year').val());
        });
    }})

    $('#id_data_inicio__month').on({
      change: function(){
        setTimeout(function(){ 
          window.location.search = jQuery.query.set("data_inicio__month", $('#id_data_inicio__month').val());
        });
    }})

    $('#id_data_inicio__day').on({
      change: function(){
        setTimeout(function(){ 
          window.location.search = jQuery.query.set("data_inicio__day", $('#id_data_inicio__day').val());
        });
    }})

    $('#id_tipo').on({
      change: function(){
        setTimeout(function(){ 
          window.location.search = jQuery.query.set("tipo", $('#id_tipo').val());
        });
    }})
  }


</script>

{% endblock %}