{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block actions %}{% endblock %}
{% block detail_content %}
  <div class="actions btn-group pull-right" role="group">
    {% if perms.norma.add_normajuridica %}
      <a href="{% url 'sapl.norma:normajuridica_create' %}" class="btn btn-default">Adicionar Norma Jurídica</a>
    {% endif %}
  </div>
  <br /><br /><br />
  {% if object_list %}
  	<table class="table table-striped">
  		<thead class="thead-default">
        <tr>
          <th>Tipo da Norma Juridica</th>
          <th>Número</th>
          <th>Ano</th>
          <th>Data</th>
          <th>Ementa</th>
        </tr>
  		</thead>
  		{% for obj in object_list %}
  			<tr>
  				<td><a href="{% url 'sapl.norma:normajuridica_detail' obj.id %}">{{obj.tipo}}</a></td>
          <td>{{obj.numero}}</td>
          <td>{{obj.ano}}</td>
          <td>{{obj.data}}</td>
          <td>{{obj.ementa|safe}}</td>
  			</tr>
  		{% endfor %}
  	</table>
  {% else %}
  	<h2>Nenhum Registro recuperado</h2>
  {% endif %}

{% endblock detail_content %}
