{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block actions %}
  <div class="actions btn-group pull-right" role="group">

    <a href="{% url 'sapl.base:haystack_search' %}" class="btn btn-default">
      Pesquisa Textual
    </a>


    {% if perms.norma.add_normajuridica %}
      <a href="{% url 'sapl.norma:normajuridica_create' %}" class="btn btn-default">
        {% blocktrans with verbose_name=view.verbose_name %} Adicionar Norma Jurídica {% endblocktrans %}
      </a>
    {% endif %}
  {% if show_results %}
      <a href="{% url 'sapl.norma:norma_pesquisa' %}" class="btn btn-default">{% trans 'Fazer nova pesquisa' %}</a>
  {% endif %}
  </div>
  <br /><br />
{% endblock %}

{% block detail_content %}
  {% if not show_results %}
    {% crispy filter.form %}
  {% endif %}

  {% if show_results %}
    {% if page_obj|length %}
      <br />
      {% if page_obj|length > 1 %}
        <h3 style="text-align:right;">Pesquisa concluída com sucesso! Foram encontradas {{paginator.count}} normas.</h3>
      {% elif page_obj|length == 1 %}
        <h3 style="text-align:right;">{% trans 'Pesquisa concluída com sucesso! Foi encontrada 1 norma.'%}</h3>
      {% endif %}
      <br />
      <table class="table table-striped">
    		<thead class="thead-default">
          <tr>
            <th>Tipo</th>
            <th>Número</th>
            <th>Ano</th>
            <th>Data</th>
            <th>Ementa</th>
            <th>Relacionamentos</th>
          </tr>
    		</thead>
        {% for n in page_obj %}
          <tr>
            <td><a href="{% url 'sapl.norma:normajuridica_detail' n.id %}">{{n.tipo}}</a></td>
            <td>{{n.numero}}</td>
            <td>{{n.ano}}</td>
            <td>{{n.data}}</td>
            <td>{{n.ementa|safe}}</td>
            <td>
                {% if n.get_normas_relacionadas.0|length == 0 and n.get_normas_relacionadas.1|length == 0%}
                   Norma sem alterações posteriores.
                {% else %}
                  {% for p in n.get_normas_relacionadas.0 %}
                    <div>
                      <b>{{ p.tipo_vinculo.descricao_ativa }}</b>&nbsp;
                        <a href="{% url 'sapl.norma:normajuridica_detail' p.norma_relacionada.pk %}">
                          {{ p.norma_relacionada }}
                        </a>
                    </div>
                  {% endfor %}
                  {% for r in n.get_normas_relacionadas.1 %}
                    <div>
                      <b>{{ r.tipo_vinculo.descricao_passiva }}</b>&nbsp;
                        <a href="{% url 'sapl.norma:normajuridica_detail' r.norma_principal.pk %}">
                          {{ r.norma_principal }}
                        </a>
                    </div>
                  {% endfor %}
              {% endif %}
            </td>
    			</tr>
    		{% endfor %}
    	</table>
      {% include "paginacao.html" %}
    {% else  %}
      <br /><br />
      <h2>Nenhuma norma encontrada com essas especificações</h2>
    {% endif %}
  {% endif %}

   <script type="text/javascript">
     $(document).ready(function() {
        var numeroField = $("#id_numero");
        numeroField.keyup(function() {
            var numero = numeroField.val();
            if (numero.startsWith("0")) {
               numeroField.val(numero.replace(/^0+/, ''));
            }
        });
     });
   </script>
{% endblock detail_content %}

{% block table_content %}
{% endblock table_content %}
