{% extends "crud/form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block extra_js %}

<script language="Javascript">
  function recuperar_materia() {
    var tipo_materia = $("#id_tipo_materia").val()
    var numero_materia = $("#id_numero_materia").val()
    var ano_materia = $("#id_ano_materia").val()

    if (tipo_materia && numero_materia && ano_materia) {
      $.get("/sessao/recuperar-materia",{tipo_materia: tipo_materia,
                                  numero_materia: numero_materia,
                                  ano_materia: ano_materia},
                                function(data, status) {
                                  $("#id_ementa").val(data.ementa);
                                });
    }
  }
  var fields = ["#id_tipo_materia", "#id_numero_materia", "#id_ano_materia"]
  for (i = 0; i < fields.length; i++) {
    $(fields[i]).change(recuperar_materia);
  }
  function recuperar_norma() {
    var tipo = $("#id_tipo").val()
    var ano = $("#id_ano").val()

    if (tipo) {
      $.get("/norma/recuperar-numero-norma",{tipo: tipo,
                                  ano: ano},
                                function(data, status) {
                                  $("#id_numero").val(data.numero);
                                  $("#id_ano").val(data.ano);
                                });
    }
  }
  var fields = ["#id_tipo", "#id_ano"]
  for (i = 0; i < fields.length; i++) {
    $(fields[i]).change(recuperar_norma);
  }
</script>

{% endblock %}
