{% extends "crud/detail.html" %}
{% load i18n %}
{% load waffle_tags %}
{% load crispy_forms_tags common_tags %}

{% block actions %}

  {% if show_results %}
    <div class="float-left">
      {% with 'sapl.norma:norma_pesquisa' as url_reverse %}
        {% include "crud/format_options.html" %}
      {% endwith %}
    </div>
  {% endif %}

  <div class="actions btn-group float-right" role="group">
    {% switch "SOLR_SWITCH" %}
        <a href="{% url 'sapl.base:haystack_search' %}" class="btn btn-outline-primary">
          Pesquisa Textual
        </a>
    {% endswitch %}
    {% if perms.norma.add_normajuridica %}
      <a href="{% url 'sapl.norma:normajuridica_create' %}" class="btn btn-outline-primary">
        {% blocktrans with verbose_name=view.verbose_name %} Adicionar Norma Jurídica {% endblocktrans %}
      </a>
    {% endif %}
  {% if show_results %}
      <a href="{% url 'sapl.norma:norma_pesquisa' %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
  {% endif %}
  </div>
{% endblock %}

{% block detail_content %}
  {% if not show_results %}
    {% crispy filter.form %}
  {% endif %}

  {% if show_results %}
    {% if page_obj|length %}
      <br />
      {% if page_obj|length > 1 %}
        <h3 style="text-align:right;">Pesquisa concluída com sucesso! Foram encontradas {{paginator.count}} normas.</h3>
      {% elif page_obj|length == 1 %}
        <h3 style="text-align:right;">{% trans 'Pesquisa concluída com sucesso! Foi encontrada 1 norma.'%}</h3>
      {% endif %}
      <br />
      <table class="table table-striped">
        <thead class="thead-default">
          <tr>
            <th>Normas Jurídicas</th>
            <th>Relacionamentos</th>
          </tr>
    		</thead>
        {% for n in page_obj %}
          <tr>
            <td>
              <a href="{% url 'sapl.norma:normajuridica_detail' n.id %}?display">
                <strong>{{n.epigrafe_simplificada}}</strong>
              </a><br>
              {% if n.orgao %}
                <strong>Órgão:</strong> {{n.orgao}}<br>
              {% endif %}

              <strong>Ementa:</strong><br>
              {{n.ementa|safe}}<br>

              {% if n.texto_articulado.exists and not n.texto_articulado.first.privacidade %}
                <a href="{% url 'sapl.norma:normajuridica_detail' n.id %}">
                  <strong>
                    Texto Compilado
                  </strong>
                </a>{% if n.texto_integral %} | {% endif %}
              {% endif %}
              {% if n.texto_integral %}
                  <a href="{{n.texto_integral.url}}">
                  <strong>
                    Texto Original
                  </strong>
                </a><br>
              {% endif %}
            </td>
            <td>
            {% with normas_relacionadas=n.get_normas_relacionadas %}
                {% if normas_relacionadas.0|length == 0 and normas_relacionadas.1|length == 0%}
                    <em>
                      Norma sem alterações posteriores.
                    </em>
                {% else %}
                  {% for p in normas_relacionadas.0 %}
                    <div>
                      <b>{{ p.tipo_vinculo.descricao_ativa }}</b>&nbsp;
                        <a href="{% url 'sapl.norma:normajuridica_detail' p.norma_relacionada.pk %}">
                          {{ p.norma_relacionada }}
                        </a>
                    </div>
                  {% endfor %}
                  {% for r in normas_relacionadas.1 %}
                    <div>
                      <b>{{ r.tipo_vinculo.descricao_passiva }}</b>&nbsp;
                        <a href="{% url 'sapl.norma:normajuridica_detail' r.norma_principal.pk %}">
                          {{ r.norma_principal }}
                        </a>
                    </div>
                  {% endfor %}
              {% endif %}
            {% endwith %}
            {% if n.autoria_set.all %}
              <strong>Autor:</strong>
              {% for a in n.autoria_set.all %}
                {% if not forloop.first %}
                    </br> {{a.autor}}
                {% else %}
                    &nbsp;{{a.autor}}
                {% endif %}
              {% endfor %}
              </br>
            {% endif %}
            </td>
    			</tr>
    		{% endfor %}
    	</table>
      {% include "paginacao.html" %}
    {% else  %}
      <br /><br />
      <h2>Nenhuma norma encontrada com essas especificações</h2>
    {% endif %}
  {% endif %}

{% endblock detail_content %}

{% block table_content %}
{% endblock table_content %}

{% block extra_js %}
   <script type="text/javascript">
     $(document).ready(function() {
        var numeroField = $("#id_numero");
        numeroField.keyup(function() {
            var numero = numeroField.val();
            if (numero.startsWith("0")) {
               numeroField.val(numero.replace(/^0+/, ''));
            }
        });
     });
   </script>
{% endblock extra_js %}