{% extends "base.html" %}
{% load i18n %}

{% block base_content %}
<form action="" method="post">{% csrf_token %}
  <div class="callout panel text-center radius clearfix">

  <p>
    {% blocktrans %}
      Tem certeza que deseja apagar <br/> "{{ object }}"?
    {% endblocktrans %}
  </p>

  <div class="button-group">
    <a href="{{ view.detail_url }}" class="button button radius alert">{% trans 'Cancelar'  %}</a>
    <input name="submit" value="{% trans 'Confirmar' %}" class="submit button button radius success" type="submit"></li>
  </div>

  </div>
</form>
{% endblock %}
