{% extends "base.html" %}
{% load i18n %}

{% block base_content %}

  {# FIXME is this the best markup to use? #}
  <div class="clearfix">
    {% block actions %}
    <div class="actions btn-group pull-right" role="group">
      <a href="{{ view.update_url }}" class="btn btn-default">{% trans 'Editar' %}</a>
      <a href="{{ view.delete_url }}" class="btn btn-default">{% trans 'Excluir' %}</a>
    </div>
    {% endblock actions %}
  </div>

  {% block detail_content %}
    {% for fieldset in view.layout_display %}
    <h2 class="legend">{{ fieldset.legend }}</h2>
    {% for row in fieldset.rows %}
    <div class="row-fluid">
      {% for column in row %}
      <div class="col-sm-{{ column.span }}">
        <div id="div_id_{{ column.id }}" class="form-group">
          <p class="control-label">{{ column.verbose_name }}</p>
          <div class="controls">
            <p class="form-control-static">{{ column.text|safe }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endfor %}
  {% endblock detail_content %}

{% endblock base_content %}
