{% load i18n %}
{% load compilacao_filters %}  

{% for dispositivo in object_list %}
	{% if dispositivo.nivel == view.flag_nivel_old %} 
			</div> 
	{% elif dispositivo.nivel < view.flag_nivel_old %}	 
			{% close_div view.flag_nivel_old dispositivo.nivel 0 %} 
	{% endif%}

	{% if forloop.first and view|isinst:'DispositivoEditView' %}
	{% else %}
		<div class="dispositivo edit {% dispositivo_desativado dispositivo view.inicio_vigencia view.fim_vigencia %}" id="de{{dispositivo.pk}}" pk="{{dispositivo.pk}}">
	{% endif%}

	{% if view|render_actions_head:dispositivo %}
		<ul class="actions_head {% if dispositivo.texto == ''%}actions_insert{%endif%}">

			{% for inserts in view.select_provaveis_inserts%}
				<li class="left" ><a class="btn-action" action="" pk="{{dispositivo.pk}}">{{inserts|get_field:'tipo_insert'}}</a>
					<ul id="afe{{dispositivo.id}}" >
						{% for item in inserts|get_field:'itens' %}
							<li><a class="btn-action" action="{{inserts|get_field:'action'}}" pk="{{item|get_field:'dispositivo_base'}}" variacao="{{item|get_field:'variacao'}}" tipo_pk="{{item|get_field:'tipo_pk'}}">{{item|get_field:'provavel'}}</a></li>
						{% endfor %}
					</ul> 
				</li> 
			{% endfor %}


			 <li class="right"><a class="btn-action" pk="{{dispositivo.pk}}" action="refresh" title="TODO: Aumentar nível do Dispositivo">&gt;</a></li>
			<li class="right"><a class="btn-action" pk="{{dispositivo.pk}}" action="refresh" title="TODO: Reduzir nível do Dispositivo">&lt;</a></li>
			<li class="right"><a class="btn-action" pk="{{dispositivo.pk}}" action="refresh" title="TODO: Descer uma posição">&#8595;</a></li>
			<li class="right"><a class="btn-action" pk="{{dispositivo.pk}}" action="refresh" title="TODO: Subir uma posição">&#8593;</a></li>
			<li class="right"><a class="btn-action" pk="{{dispositivo.pk}}" action="refresh" title="TODO: Descer uma posição com todos os subniveis">&#8595;&#8595;</a></li>
			<li class="right"><a class="btn-action" pk="{{dispositivo.pk}}" action="refresh" title="TODO: Subir uma posição com todos os subniveis">&#8593;&#8593;</a></li>
		</ul> 

		<div class="actions_footer" >
		
			<ul class="left" id="afe{{dispositivo.pk}}" >
				<li><a class="btn-action" >{{dispositivo.tipo_dispositivo}} - {ordem:{{dispositivo.ordem}}, nivel:{{dispositivo.nivel}}}</a></li>
			</ul> 
		</div> 

		<div class="label_pai">
			<div class="left">Em Edição: {% nomenclatura_heranca dispositivo %} </div>
            <div class="right"> {ordem:{{dispositivo.ordem}}, nivel:{{dispositivo.nivel}}}</div>
	   </div> 
    {% endif%}
    
    
    {% if view.pk_view == 0 and view.pk_add == 0 or view.pk_add != view.pk_view %}
    
        <div class="actions">
            <a class="btn-action" pk="{{dispositivo.pk}}"  title="Edição do dispositivo: {{ dispositivo.tipo_dispositivo.nome }} {{ dispositivo.rotulo }}">E</a>
        </div>
    

		<div class="editdi {{ dispositivo.tipo_dispositivo.class_css }}">  
{% spaceless %}
			<a class="di" id="id{{dispositivo.id}}" pk="{{dispositivo.pk}}" ordem="{{dispositivo.ordem}}" name="{{dispositivo.pk}}" title="{{dispositivo.pk}}">
			{{ dispositivo.tipo_dispositivo.rotulo_prefixo_html|safe }}{{ dispositivo.rotulo }}{{ dispositivo.tipo_dispositivo.rotulo_sufixo_html|safe }}{{ dispositivo.tipo_dispositivo.texto_prefixo_html|safe }}
			{% if dispositivo.texto == '' and not dispositivo.tipo_dispositivo.dispositivo_de_articulacao %}<b>({{dispositivo.tipo_dispositivo}} sem texto)</b>{%else%}{{ dispositivo.texto|safe }}{%endif%}
			</a>

			{% if dispositivo.norma_publicada_id != None %}
				 <a class="link_alterador" href="{%url 'compilacao' dispositivo.norma_publicada.pk %}#{{dispositivo.dispositivo_atualizador_id}}">
				{{ dispositivo.tipo_dispositivo.nota_automatica_prefixo_html|safe }}
				{% nota_automatica dispositivo %}
				{{ dispositivo.tipo_dispositivo.nota_automatica_sufixo_html|safe }}
				 </a>
			{% endif %}
{% endspaceless %}
			{% if view.is_norma_alteradora and dispositivo.tipo_dispositivo.class_css == 'bloco_alteracao'%} 
				{%with node=dispositivo template_name='compilacao/edit_bloco_alteracao.html' %}
					{%include template_name%}
				{%endwith%}   
			{% endif%}
		</div>
		<div class="clear"></div>
		
		
    {% endif%}
		
	{% set_nivel_old view dispositivo.nivel %}
{% endfor %}

{% if view|isinst:'DispositivoEditView' %}
	{% close_div view.flag_nivel_old view.flag_nivel_ini -1 %}  
{% else %}
	{% close_div view.flag_nivel_old view.flag_nivel_ini 0 %}  
{% endif%}