{% extends "base.html" %}
{% load i18n %}
{% load compilacao_filters %}
{% load staticfiles %}
{% load sass_tags %}

{% block head_content %}{{block.super}}
      <link rel="stylesheet" href="{% sass_src 'styles/compilacao.scss' %}" type="text/css">
      <script type="text/javascript" src="{% static 'js/compilacao.js' %}"></script>

      <script type="text/javascript" src="{% static 'js/compilacao_view.js' %}"></script>

      {# TODO:  incluir javascript compilacao_notas apenas se houver usuário conectado e que possua permissão para cadastro de notas #}
      <script type="text/javascript" src="{% static 'js/compilacao_notas.js' %}"></script>
{% endblock %}


{% block title%}
    <h1>{{ view.get_norma }}</h1>
{% endblock %}

{% block base_content %}

<div class="cp">

    <div style="float: right; clear:right;">
    <a id="btn_font_menos" title="Diminuir tamanho da letra">a</a>
    <a id="btn_font_mais"  title="Aumentar tamanho da Letra">A</a>
    </div>

		{% for key, values in view.get_vigencias.items %}
			{% if forloop.first %}
<section class="vigencias">
	<nav class="top-bar" data-topbar="" role="navigation">
		<section class="top-bar-section">
			<ul class="nav left">
				{%endif%}
				<li class="nav__item has-dropdown">
					{% if forloop.first %}
						{% for dispositivo in values %}
							<a class="nav__link {% if view.inicio_vigencia == dispositivo.inicio_vigencia %}selected{%endif%}" href="{%url 'vigencia' dispositivo.norma.pk dispositivo|get_sign_vigencia %}" title="{% trans 'Vigência entre'%} {{dispositivo.inicio_vigencia}} {% trans 'e'%} {{dispositivo.fim_vigencia}}">{% trans 'Norma Original'%}</a>
						{% endfor %}
					{% elif forloop.last %}
						{% for dispositivo in values %}
							<a class="nav__link {% if view.inicio_vigencia == None %}selected{%endif%}" href="{%url 'compilacao' dispositivo.norma.pk %}" title="{% trans 'Compilação atual'%}.&#013;{% trans 'Vigência a partir de'%} {{dispositivo.inicio_vigencia}}&#013;{{dispositivo.norma_publicada}}">{% trans 'Norma Atual'%}</a>
						{% endfor %}
					{% else %}
						<a class="nav__link {% if view.inicio_vigencia.year == key %}selected{%endif%}">{{ key }}</a>
					{%endif%}

					{% if not forloop.first and not forloop.last %}
						<ul class="nav__sub-nav dropdown">
							{% for dispositivo in values %}
								<li class="nav__sub-item">
									{% if not forloop.parentloop.first %}
										<a class="nav__sub-link" href="{%url 'vigencia' dispositivo.norma.pk dispositivo|get_sign_vigencia %}" title="{{ dispositivo.norma_publicada }}">{% trans 'Vigência entre'%} {{dispositivo.inicio_vigencia}} {% trans 'e'%} {{dispositivo.fim_vigencia}}</a>
									{%endif%}
								</li>
							{% endfor %}
						</ul>
					{%endif%}
				</li>
				{% if forloop.last %}
			</ul>
			<ul class="nav left tipo-vigencias">
				<li><a class="selected" onclick="textoMultiVigente(this);">{% trans 'Texto Multivigente'%}</a></li>
				<li><a onclick="textoVigente(this, true);">{% trans 'Texto Vigente COM Links para Normas Alteradoras'%}</a></li>
				<li><a onclick="textoVigente(this, false);">{% trans 'Texto Vigente SEM Links para Normas Alteradoras'%}</a></li>
			</ul>
		</section>
	</nav>
</section>
				{%endif%}
			{% endfor %}
<br>
{% if view.inicio_vigencia != None and view.fim_vigencia != None %}
	{% trans 'Vigência entre'%} <b>{{view.inicio_vigencia}}</b> {% trans 'e'%} <b>{{view.fim_vigencia}}</b>.
{%endif%}

{% include 'compilacao/index_bloco.html'%}
</div>
{% endblock base_content %}
