{% load i18n %}
{% load compilacao_filters %}

{% for dpt in object_list %}
	{% if dpt.nivel == view.flag_nivel_old %}
			</div>
		{% elif dpt.nivel < view.flag_nivel_old %}
			{% close_div view.flag_nivel_old dpt.nivel 0 %}
	{% endif%}
	<div class="dpt {% dispositivo_desativado dpt view.inicio_vigencia view.fim_vigencia %}" id="d{{dpt.id}}">
		<div class="{{ dpt.tipo_dispositivo.class_css }}" id="id{{dpt.id}}">
			{% spaceless %}
				{{ dpt.tipo_dispositivo.rotulo_prefixo_html|safe }}<a name="{{dpt.pk}}" title="{{dpt.pk}}">{{ dpt.rotulo }}</a>{{ dpt.tipo_dispositivo.rotulo_sufixo_html|safe }}{{ dpt.tipo_dispositivo.texto_prefixo_html|safe }}{%if dpt.texto%}{{ dpt.texto|safe }}{%else%}&nbsp;{%endif%}
				{% if dpt.norma_publicada_id != None and not dpt.tipo_dispositivo.dispositivo_de_articulacao %}
					<a class="link_alterador" href="{%url 'compilacao' dpt.norma_publicada.pk %}#{{dpt.dispositivo_atualizador_id}}">
						{{ dpt.tipo_dispositivo.nota_automatica_prefixo_html|safe }}
						{% nota_automatica dpt %}
						{{ dpt.tipo_dispositivo.nota_automatica_sufixo_html|safe }}
					</a>
				{% endif %}
			{% endspaceless %}
			{% if view.is_norma_alteradora and dpt.tipo_dispositivo.class_css == 'bloco_alteracao'%}
				{%with node=dpt template_name='compilacao/index_bloco_alteracao.html' %}
					{%include template_name%}
				{%endwith%}
			{% endif%}
		</div>
	{% set_nivel_old view dpt.nivel %}
{% endfor %}
{% close_div view.flag_nivel_old view.flag_nivel_ini 0 %}
