{% extends "base.html" %}
{% load i18n %}
{% load compilacao_filters %}

{% block title%}
  <h1>{{ view.get_norma }}</h1>
{% endblock %}

{% block base_content %}  

<script type="text/javascript">

$( window ).scroll(function() {

    if (window.pageYOffset <= 180) {
        $( "section.vigencias" ).removeClass("fixed");
    }
    else if (!$( "section.vigencias" ).hasClass("fixed")){
        $( "section.vigencias" ).addClass("fixed"); 
    }
});
</script>

<div class="compilacao">  
			{% for key, values in view.get_vigencias.items %}
				{% if forloop.first %}				
<section class="vigencias">
	<nav class="top-bar" data-topbar="" role="navigation">
		<section class="top-bar-section">
			<ul class="nav left"> 
				{%endif%}
				<li class="nav__item has-dropdown">
					{% if forloop.first %}
						{% for dispositivo in values %}
							<a class="nav__link" href="{%url 'vigencia' dispositivo.norma.pk dispositivo|get_sign_vigencia %}" title="{% trans 'Vigência entre'%} {{dispositivo.inicio_vigencia}} {% trans 'e'%} {{dispositivo.fim_vigencia}}">{% trans 'Norma Original'%}</a>
						{% endfor %}
					{% elif forloop.last %}
						{% for dispositivo in values %}
							<a class="nav__link" href="{%url 'compilacao' dispositivo.norma.pk %}" title="{% trans 'Compilação atual'%}.&#013;{% trans 'Vigência a partir de'%} {{dispositivo.inicio_vigencia}}&#013;{{dispositivo.norma_publicada}}">{% trans 'Texto em Vigência'%}</a>
						{% endfor %}
					{% else %}
						<a class="nav__link">{{ key }}</a>
					{%endif%}

					{% if not forloop.first and not forloop.last %} 
						<ul class="nav__sub-nav dropdown">
							{% for dispositivo in values %}
								<li class="nav__sub-item">
									{% if not forloop.parentloop.first %}
										<a class="nav__sub-link" href="{%url 'vigencia' dispositivo.norma.pk dispositivo|get_sign_vigencia %}" title="{{ dispositivo.norma_publicada }}">{% trans 'Vigência entre'%} {{dispositivo.inicio_vigencia}} {% trans 'e'%} {{dispositivo.fim_vigencia}}</a>
									{%endif%}
								</li>
							{% endfor %}
						</ul>
					{%endif%}
				</li>
				{% if forloop.last %}
			</ul>
		</section>
	</nav>
</section>
				{%endif%}
			{% endfor %}

{% if view.inicio_vigencia != None and view.fim_vigencia != None %}
	<br>
	{% trans 'Vigência entre'%} <b>{{view.inicio_vigencia}}</b> {% trans 'e'%} <b>{{view.fim_vigencia}}</b>.
{%endif%}


{% include 'compilacao/template_render_bloco.html'%}
</div>
{% endblock base_content %}