{% load i18n %}
{% load compilacao_filters %}  

{% for dispositivo in view.get_queryset %}
	{% if dispositivo.nivel == view.flag_nivel_old %}
		</div>
	{% elif dispositivo.nivel < view.flag_nivel_old %}
		{% close_div view.flag_nivel_old dispositivo.nivel %}
	{% endif%}
	<div class="dispositivo" id="d{{dispositivo.id}}">
		<div class="{% dispositivo_desativado dispositivo %} {{ dispositivo.tipo_dispositivo.class_css }}" id="id{{dispositivo.id}}">  
{% spaceless %}
				{{ dispositivo.tipo_dispositivo.rotulo_prefixo_html|safe }}
				<a name="{{dispositivo.pk}}">{{ dispositivo.rotulo }}</a>
				{{ dispositivo.tipo_dispositivo.rotulo_sufixo_html|safe }}
				{{ dispositivo.tipo_dispositivo.texto_prefixo_html|safe }}
				{{ dispositivo.texto|safe }}
			{% if dispositivo.norma_publicada_id != None %}
				<a class="link_alterador" href="{%url 'compilacao' dispositivo.norma_publicada.pk %}#{{dispositivo.dispositivo_atualizador_id}}">
				{{ dispositivo.tipo_dispositivo.nota_automatica_prefixo_html|safe }}
				{% nota_automatica dispositivo %}
				{{ dispositivo.tipo_dispositivo.nota_automatica_sufixo_html|safe }}
				</a>
			{% endif %}
{% endspaceless %}
			{% if view.is_norma_alteradora and dispositivo.tipo_dispositivo.class_css == 'bloco_alteracao'%} 
				{%with node=dispositivo template_name='compilacao/bloco_alteracao.html' %}
					{%include template_name%}
				{%endwith%}   
			{% endif%}
		</div>
	{% set_nivel_old view dispositivo.nivel %}
{% endfor %}
{% close_div view.flag_nivel_old view.flag_nivel_ini %} 