{% extends "base.html" %}
{% load i18n %}
{% load compilacao_filters %}

{% block base_content %}


{# FIXME is this the best markup to use? #}

   <a href="#" class="button tiny right" data-dropdown="dropconfig"><i class="fi-widget"></i></a>
      <ul id="dropconfig" class="tiny f-dropdown" data-dropdown-content>
          <li><a href="{% url 'tipo_ta_list' %}">{%model_verbose_name_plural 'TipoTextoArticulado'%}</a></li>
          <li><a href="{% url 'tipopublicacao:list' %}">{%model_verbose_name_plural 'TipoPublicacao'%}</a></li>
          <li><a href="{% url 'veiculopublicacao:list' %}">{%model_verbose_name_plural 'VeiculoPublicacao'%}</a></li>
          <li><a href="{% url 'tiponota:list' %}">{%model_verbose_name_plural 'TipoNota'%}</a></li>
          <li><a href="{% url 'tipovide:list' %}">{%model_verbose_name_plural 'TipoVide'%}</a></li>
          <li><a href="#">Tipo de Dispositivo</a></li>
          <li><a href="#">Perfil Estrutural de Textos Articulados</a></li>
      </ul>

<dl class="sub-nav">
  <dd><a href="{{ view.create_url }}">
    {% trans 'Adicionar'%} {%model_verbose_name 'TextoArticulado'%}

  </a></dd>


  {% block more_buttons %}

  {% endblock more_buttons %}
</dl>

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans 'Tipo'%}</th>
            <th>{% trans 'Número'%}</th>
            <th>{% trans 'Ano'%}</th>
            <th>{% trans 'Data'%}</th>
            <th>{% trans 'Ementa'%}</th>
        </tr>
    </thead>
    <tbody>
        {% for ta in object_list %}
        <tr>
            <td><a href="{% url 'ta_detail' ta.pk %}">{{ ta.tipo_ta }}</a></td>
            <td>{{ ta.numero }}</td>
            <td>{{ ta.ano }}</td>
            <td>{{ ta.data }}</td>
            <td>{{ ta.ementa|safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<div class="pagination-centered">
  <ul class="pagination" role="menubar" aria-label="Pagination">
    {% if page_obj.has_previous %}
    <li>
      <a href="?page={{ page_obj.previous_page_number }}">
        <span class="arrow">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="arrow unavailable" aria-disabled="true"><a href="">&laquo;</a></li>
    {% endif %}

    {% for page in page_range %}
        {% if page %}
            <li {% if page == page_obj.number %}class="current"{% endif %}>
              <a href="?page={{ page }}">{{ page }}</a>
            </li>
            {% else %}
            <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li>
      <a href="?page={{ page_obj.next_page_number }}">
        <span class="arrow">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="arrow unavailable" aria-disabled="true"><a href="">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
{% endblock %}
