{% extends "compilacao/textoarticulado_detail.html" %}
{% load i18n %}
{% load compilacao_filters %}
{% load common_tags %}
{% load staticfiles %}
{% load sass_tags %}

{% block head_content %}
  {{block.super}}
  <link rel="stylesheet" href="{% sass_src 'styles/compilacao.scss' %}" type="text/css">
{% endblock %}

{% block base_content %}
  {% block actions %}
    <div class="clearfix">
      <div class="actions btn-group pull-right" role="group">
        <a href="{% url 'compilacao:ta_text_edit' object.pk %}" class="btn btn-default">{% trans 'Editar Texto' %}</a>
      </div>
    </div>
  {% endblock actions %}

  {% block detail_content %}
    {{block.super}}
  {% endblock %}

  <div class="cp">

  {% if object_list %}
    <div class="clearfix">
      <div class="actions btn-group pull-right" role="group">
        <a class="btn btn-default" id="btn_font_menos" title="Diminuir tamanho da letra">a</a>
        <a class="btn btn-default" id="btn_font_mais"  title="Aumentar tamanho da Letra">A</a>
      </div>
    </div>
  {% endif %}

  {% for key, values in view.get_vigencias.items %}
    {% if forloop.first %}
      <ul class="nav nav-pills cp-vigencias">
        {% for dispositivo in values %}
          <li class="{% if view.inicio_vigencia == dispositivo.inicio_vigencia %}active{%endif%}">
            <a href="{%url 'compilacao:ta_vigencia' dispositivo.ta_id dispositivo|get_sign_vigencia %}" title="{% trans 'Vigência entre'%} {{dispositivo.inicio_vigencia}} {% trans 'e'%} {{dispositivo.fim_vigencia}}">{% trans 'Texto Original'%}</a>
          </li>
        {% endfor %}
    {% elif forloop.last %}
      {% for dispositivo in values %}
        <li class="{% if not view.inicio_vigencia%}active{% endif %}">
          <a href="{%url 'compilacao:ta_text' dispositivo.ta_id %}" title="{% trans 'Compilação atual'%}.&#013;{% trans 'Vigência a partir de'%} {{dispositivo.inicio_vigencia}}&#013;{% if dispositivo.ta_publicado_id in ta_pub_list %}{{ ta_pub_list|lookup:dispositivo.ta_publicado_id }}{%else%}{{dispositivo.ta_publicado}}{%endif%}">{% trans 'Texto Atual'%}</a>
        </li>
        {% if forloop.parentloop.last %}
          </ul>
          {% if view.inicio_vigencia and view.fim_vigencia %}
            <span class="vigencia-active">
              {% blocktrans with inicio_vigencia=view.inicio_vigencia fim_vigencia=view.fim_vigencia ta_publicado=dispositivo.ta_publicado%}
                Vigência entre <b>{{inicio_vigencia}}</b> e <b>{{fim_vigencia}}</b>.
                <br>
                <small>Dada pela {{ta_publicado}}</small>
              </span>
            {% endblocktrans%}
          {% else%}
            <span class="vigencia-active">
              {% blocktrans with inicio_vigencia=dispositivo.inicio_vigencia ta_publicado=dispositivo.ta_publicado%}
                Vigência a partir de <b>{{inicio_vigencia}}</b>.
                <br>
                <small>Dada pela {{ta_publicado}}</small>
              {% endblocktrans %}
            </span>
          {%endif%}
        {% endif%}
      {% endfor %}
    {% else %}
      <li class="{% if values.inicio_vigencia.year == key %}active{% endif %}"><a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ key }}</a>
        <ul class="dropdown-menu">
          {% for dispositivo in values %}
            <li>
            {% if not forloop.parentloop.first %}
              <a href="{%url 'compilacao:ta_vigencia' dispositivo.ta_id dispositivo|get_sign_vigencia %}" title="{% if dispositivo.ta_publicado_id in ta_pub_list%}{{ ta_pub_list|lookup:dispositivo.ta_publicado_id }}{%else%}{{dispositivo.ta_publicado}}{%endif%}">{% trans 'Vigência entre'%} {{dispositivo.inicio_vigencia}} {% trans 'e'%} {{dispositivo.fim_vigencia}}</a>
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}

  <ul class="tipo-vigencias">
      <li><a class="selected" onclick="textoMultiVigente(this, false);" title="{% trans 'Texto Multivigente Sequencial'%}">{% trans 'TMS'%}</a></li>
      <li><a onclick="textoMultiVigente(this, true);" title="{% trans 'Texto Multivigente Integrado com Realce de Alterações'%}">{% trans 'TMI'%}</a></li>
      <li><a onclick="textoVigente(this, true);" title="{% trans 'Texto Vigente COM Links para Textos Alteradores'%}">{% trans 'TVL'%}</a></li>
      <li><a onclick="textoVigente(this, false);" title="{% trans 'Texto Vigente'%}">{% trans 'TVT'%}</a></li>
  </ul>

  {% include 'compilacao/text_list_bloco.html'%}
  </div>
{% endblock base_content %}



{% block foot_js %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'js/compilacao.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/compilacao_view.js' %}"></script>
  {% if perms.compilacao.add_nota %}
    <script type="text/javascript" src="{% static 'js/compilacao_notas.js' %}"></script>
  {% endif %}
{% endblock %}
