{% load i18n %}
{% load compilacao_filters %}
{% load common_tags %}

{% for dpt in object_list %}
  {% if dpt.tipo_dispositivo.dispositivo_de_alteracao and not dpt.tipo_dispositivo.dispositivo_de_articulacao%}
  {% else %}
    {% if dpt.nivel == view.flag_nivel_old %}
        </div>
    {% elif dpt.nivel < view.flag_nivel_old %}
        {% close_div view.flag_nivel_old dpt.nivel 0 %}
    {% endif%}

    {% if forloop.first and view|isinst:'DispositivoSimpleEditView' %}
    {% else %}
      <div class="dpt" id="dpt{{dpt.pk}}" pk="{{dpt.pk}}">
    {% endif%}

    {% if view|render_actions_head:dpt %}
      <div class="csform">
        <form method="post" action="" action_ajax="{{dpt.pk}}/refresh">
          <ul class="btns-action actions_top">
            {% if not dpt.tipo_dispositivo.dispositivo_de_articulacao %}
              <li class="edt-textarea"><a class="btn-top btn-action" pk="{{dpt.pk}}" action="refresh:textarea" title="{% trans 'Edição simples apenas do texto'%}">E</a></li>
              <li class="edt-tinymce"><a class="btn-top btn-action" pk="{{dpt.pk}}" action="refresh:tinymce" title="{% trans 'Editar o texto com TinyMCE'%}">E+</a></li>
            {%endif%}
            <li class="edt-detail"><a class="btn-top" href="{% url 'compilacao:dispositivo_edit' dpt.ta_id dpt.pk %}" title="{% trans 'Edição Avançada'%}">E*</a></li>
            <li class="edt-construct"><a class="btn-top btn-action" pk="{{dpt.pk}}" action="refresh:construct" title="{% trans 'Construçao da estrutura do Texto Articulado'%}">C</a></li>
          </ul>

          <ul class="btns-action actions_right">
              <li><a class="btn-right btn-action" pk="{{dpt.pk}}" action="set_dvt" title="{% trans 'Definir como Dispositivo de Vigência para todos os Dispositivos Originais deste Texto, bem como, dos Textos Anteriores alterados por este Texto!'%}">DVt</a></li>

            {% comment %}
              <li><a class="btn-right btn-action" pk="{{dpt.pk}}" action="refresh" title="{% trans 'TODO: Reduzir nível do Dispositivo'%}">&#10092;</a></li>
              <li><a class="btn-right btn-action" pk="{{dpt.pk}}" action="refresh" title="{% trans 'TODO: Aumentar nível do Dispositivo'%}">&#10093;</a></li>
              <li><a class="btn-right btn-action" pk="{{dpt.pk}}" action="refresh" title="{% trans 'TODO: Subir uma posição'%}">&#8593;</a></li>
              <li><a class="btn-right btn-action" pk="{{dpt.pk}}" action="refresh" title="{% trans 'TODO: Descer uma posição'%}">&#8595;</a></li>
              <li><a class="btn-right btn-action" pk="{{dpt.pk}}" action="refresh" title="{% trans 'TODO: Subir uma posição com todos os subniveis'%}">&#8648;</a></li>
              <li><a class="btn-right btn-action" pk="{{dpt.pk}}" action="refresh" title="{% trans 'TODO: Descer uma posição com todos os subniveis'%}">&#8650;</a></li>
            {% endcomment %}
          </ul>

          <ul class="btns-action actions_left">
            <li><a href ="{% url 'compilacao:ta_text' dpt.ta.pk%}#{{dpt.pk}}" class="btn-left btn-action" pk="{{dpt.pk}}"  title="{% trans 'Ir para Texto'%}">T</a></li>
          </ul>
          <ul class="btns-action actions_bottom">
            {% for perfil in perfil_estrutural_list%}
              <li class="{%if request.session.perfil_estrutural == perfil.pk%}selected{%endif%}"><a class="btn-bottom btn-action" pk="{{dpt.pk}}" perfil_pk="{{perfil.pk}}" action="refresh:perfil" title="{{perfil.nome}}">{{perfil.sigla}}</a></li>
            {% endfor %}
          </ul>

          <ul class="actions_inserts {% if not dpt.tipo_dispositivo.dispositivo_de_articulacao and not dpt.tipo_dispositivo.dispositivo_de_alteracao%}menu_flutuante{% elif dpt.tipo_dispositivo.dispositivo_de_alteracao and dpt.tipo_dispositivo.dispositivo_de_articulacao%}menu_flutuante_fixo{%endif%}">
            {% if dpt.dispositivo_subsequente == None %}
              {% for inserts in view|select_provaveis_inserts:request %}
                {% if inserts.itens %}
                  <li class="{{inserts.action}}"><a class="btn-inserts" action="" pk="{{dpt.pk}}">{{inserts.icone|safe}}<span>{{inserts.tipo_insert}}</span></a>
                    <ul id="afe{{dpt.id}}" >
                      {% for item in inserts.itens %}
                        <li><a class="btn-inserts btn-action" action="{{inserts.action}}" pk="{{item.dispositivo_base}}" variacao="{{item.variacao}}" tipo_pk="{{item.tipo_pk}}">{{item.provavel}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}

              {% endfor %}
            {%endif%}

            {% if not dpt|is_relative_auto_insert:request %}
              <li class="menu_excluir"><a {% if not dpt.dispositivos_filhos_set.exists %}class="btn-excluir btn-action" action="delete_item_dispositivo" pk={{dpt.pk}}{%else%}class="btn-excluir"{%endif%}>&nbsp;<span>Excluir</span></a>
                {% if dpt.dispositivos_filhos_set.exists %}
                  <ul>
                    <li><a href="#" class="btn-excluir btn-action" action="delete_item_dispositivo" pk={{dpt.pk}}>{% trans 'Excluir apenas este dispositivo'%}</a></li>
                    <li><a href="#" class="btn-excluir btn-action" action="delete_bloco_dispositivo" pk={{dpt.pk}}>{% trans 'Excluir este dispositivo e toda sua estrutura'%}</a></li>
                  </ul>
                {% endif %}
              </li>
            {% endif %}

            <li><a onclick="onSubmitEditForm()" class="btn-salvar">&nbsp<span>Salvar</span></a></li>
          </ul>

          <div class="fields">
            {% csrf_token %}

            {% if not dpt.tipo_dispositivo.dispositivo_de_articulacao %}
              <textarea id="editdi_texto" placeholder="{% trans "Insirir o texto do dispositivo aqui... Use, nos menus das bordas de edição, 'E+' ou 'E*' para outras opções de editores."%}" name="texto" rows="7">{{ dpt.texto|safe }}</textarea>
            {%endif%}
          </div>

          <ul class="label_status" >
            <li>p: {{dpt.dispositivo_substituido_id|default:''}}</li>
            <li>&#8226;</li>
            <li>n: {{dpt.dispositivo_subsequente_id|default:''}}</li>
            <li>&#8226;</li>
            <li>Ordem: {{dpt.ordem}}</li>
            <li>&#8226;</li>
            <li>Nivel: {{dpt.nivel}}</li>
            <li>&#8226;</li>
            <li>Número: {{dpt.get_numero_completo}}</li>

            {% if dpt.dispositivo_vigencia %}
              <li>&#8226;</li>
              <li>{% field_verbose_name dpt 'dispositivo_vigencia'%}: <a href="{% url 'compilacao:ta_text_edit' dpt.dispositivo_vigencia.ta_id %}#{{ dpt.dispositivo_vigencia_id }}" action="refresh" pk="{{dpt.dispositivo_vigencia.pk}}" title="{% field_verbose_name dpt 'dispositivo_vigencia'%} {% trans 'em' %}:&#013;{{dpt.dispositivo_vigencia.ta}}">{{dpt.dispositivo_vigencia|nomenclatura}}</a> </li>
            {% endif %}

            <li>&#8226;</li>
            <li><a type="button" data-toggle="modal" data-target="#modal-help">
              ?
              </a>
            </li>


          </ul>

          <ul class="btns-action actions_parents">
            <div>Em Edição:</div>
            {%for parent in dpt.get_parents_asc %}
              <li><a action="refresh" pk="{{parent.pk}}" ordem="{{parent.ordem}}" name="{{parent.pk}}" title="{{parent.texto|short_string:50}}" class="btn-parents btn-action">{{parent|nomenclatura}}</a></li>
            {%endfor %}
            <li class="selected"><a action="refresh" pk="{{dpt.pk}}" ordem="{{dpt.ordem}}" name="{{dpt.pk}}" title="{{dpt.texto|short_string:50}}" class="btn-parents btn-action">{{dpt|nomenclatura}}</a></li>
          </ul>
        </form>
      </div>
    {% endif%}

    {% if view.pk_view == 0 and view.pk_edit == 0 or view.pk_edit != view.pk_view %}
      {% if not dpt.rotulo and not dpt.texto and dpt.tipo_dispositivo.dispositivo_de_articulacao%}
        <div class="btns-action actions_left">
          <a class="btn-edit" pk="{{dpt.pk}}">{% trans 'Editar'%} {{ dpt.tipo_dispositivo.nome }} {{ dpt.rotulo }}</a>
        </div>
      {% endif %}
      <div class="bloco {% dispositivo_desativado dpt view.inicio_vigencia view.fim_vigencia %} {{ dpt.tipo_dispositivo.class_css }}">
        {% spaceless %}
          {% if not dpt.tipo_dispositivo.dispositivo_de_alteracao %}
            <div class="de" id="id{{dpt.id}}" pk="{{dpt.pk}}" ordem="{{dpt.ordem}}" name="{{dpt.pk}}" title="{{dpt.pk}} - {{dpt.ordem}}">{{ dpt.tipo_dispositivo.rotulo_prefixo_html|safe }}{{ dpt.rotulo }}{{ dpt.tipo_dispositivo.rotulo_sufixo_html|safe }}{{ dpt.tipo_dispositivo.texto_prefixo_html|safe }}{% if dpt.texto == '' and not dpt.tipo_dispositivo.dispositivo_de_articulacao %}<span class="semtexto">({{dpt.tipo_dispositivo}} sem texto)</span>{%else%}{{ dpt.texto|safe }}{%endif%}</div>
          {% endif %}
          {% if dpt.ta_publicado_id != None and not dpt.tipo_dispositivo.dispositivo_de_articulacao %}
            <a class="link_alterador" href="{% url 'compilacao:ta_text_edit' dpt.ta_publicado.pk %}#{{dpt.dispositivo_atualizador_id}}">
              {{ dpt.tipo_dispositivo.nota_automatica_prefixo_html|safe }}
              {% nota_automatica dpt  ta_pub_list %}
              {{ dpt.tipo_dispositivo.nota_automatica_sufixo_html|safe }}
            </a>
          {% endif %}
        {% endspaceless %}
        {% if dpt.tipo_dispositivo.dispositivo_de_alteracao %}
          {%with node=dpt template_name='compilacao/text_edit_blocoalteracao.html' %}
            {%include template_name%}
          {%endwith%}
        {% endif%}
      </div>
    {% endif%}

    {% set_nivel_old view dpt.nivel %}
  {% endif%}
{% endfor %}

{% if view|isinst:'DispositivoSimpleEditView' %}
  {% close_div view.flag_nivel_old view.flag_nivel_ini -1 %}
{% else %}
  {% close_div view.flag_nivel_old view.flag_nivel_ini 0 %}
{% endif%}
