{% extends "base.html" %} {% load i18n %} {% load compilacao_filters %}


    {% block sections_nav %}
      <dl class="sub-nav">
        {% if object.content_object%}
            <dd><a href="{% url object|urldetail_content_type object.content_object.pk %}"title="{% trans 'Ir para '%}{{object.content_object}}">Início</a></dd>
        {%else%}
            <dd><a href="{% url 'ta_detail' object.pk %}" {% trans 'Início' %}</a></dd>
        {%endif%}
            <dd><a href="{% url 'ta_pub_list' object.pk %}">{% model_verbose_name_plural 'Publicacao' %}</a></dd>

            <dd><a href="{% url 'ta_text' object.pk %}">{% trans 'Texto' %}</a></dd>
            <dd><a href="{% url 'ta_text_edit' object.pk %}">{% trans 'Edição do Texto' %}</a></dd>

         </dl>
     {% endblock %}

{% block base_content %} {# FIXME is this the best markup to use? #}
<div class="clearfix">
    {% block actions %}
    <ul class="button-group right">
        <li><a href="{% url 'ta_edit' object.pk %}" class="button tiny">{% trans 'Edição dos Metadados do Texto Articulado' %}</a></li>
        <li><a href="{% url 'ta_delete' object.pk %}" class="button alert tiny">{% trans 'Excluir' %}</a></li>

        <li><a href="#" class="button tiny" data-dropdown="drop"><i class="fi-widget"></i></a>
            <ul id="drop" class="tiny f-dropdown" data-dropdown-content>
                <li><a href="{% url 'tipo_ta_list' %}">{%model_verbose_name_plural 'TipoTextoArticulado'%}</a></li>
                <li><a href="{% url 'tipopublicacao:list' %}">{%model_verbose_name_plural 'TipoPublicacao'%}</a></li>
                <li><a href="{% url 'veiculopublicacao:list' %}">{%model_verbose_name_plural 'VeiculoPublicacao'%}</a></li>
          		<li><a href="{% url 'tiponota:list' %}">{%model_verbose_name_plural 'TipoNota'%}</a></li>
          		<li><a href="{% url 'tipovide:list' %}">{%model_verbose_name_plural 'TipoVide'%}</a></li>
          		<li><a href="#">TODO: Tipo de Dispositivo</a></li>
                <li><a href="#">TODO: Perfil Estrutural de Textos Articulados</a></li>
            </ul></li>
    </ul>
    {% endblock actions %}

</div>

{% block detail_content %} {# TODO replace fieldset for something semantically correct, but with similar visual grouping style #}
<fieldset>
    <legend>{%trans 'Identificação Básica'%}</legend>

    <div class="row">

        <div class="columns large-3">
            <div id="div_id_tipo" class="holder">
                <label>{% field_verbose_name object 'tipo_ta' %}</label>
                <p>{{ object.tipo_ta}}</p>
            </div>
        </div>

        {% if object.content_object and object.content_object.tipo%}
        <div class="columns large-3">
            <div id="div_id_tipo" class="holder">
                <label>{% field_verbose_name object.content_object 'tipo' %}</label>
                <p>{{ object.content_object.tipo}}</p>
            </div>
        </div>
        {%endif%}

        <div class="columns large-2">
            <div id="div_id_numero" class="holder">
                <label>{% field_verbose_name object 'numero' %}</label>
                <p>{{ object.numero}}</p>
            </div>
        </div>

        <div class="columns large-2">
            <div id="div_id_ano" class="holder">
                <label>{% field_verbose_name object 'ano' %}</label>
                <p>{{ object.ano}}</p>
            </div>
        </div>

        <div class="columns large-2">
            <div id="div_id_data" class="holder">
                <label>{% field_verbose_name object 'data' %}</label>
                <p>{{ object.data}}</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="columns large-12">
            <div id="div_id_ementa" class="holder">
                <label>{% field_verbose_name object 'ementa' %}</label>
                <p>{{ object.ementa|safe}}</p>
            </div>
        </div>
    </div>
</fieldset>
{% endblock detail_content %} {% endblock base_content %}
