{% extends "compilacao/textoarticulado_detail.html" %}
{% load i18n %}
{% load compilacao_filters %}
{% load staticfiles %}
{% load sass_tags %}

{% block head_content %}{{block.super}}
      <link rel="stylesheet" href="{% sass_src 'styles/compilacao.scss' %}" type="text/css">
      <script type="text/javascript" src="{% static 'jsdiff/diff.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/compilacao.js' %}"></script>

      <script type="text/javascript" src="{% static 'js/compilacao_view.js' %}"></script>

      {% if perms.compilacao.add_nota %}
          <script type="text/javascript" src="{% static 'js/compilacao_notas.js' %}"></script>
      {% endif %}
{% endblock %}

{% block sections_nav %}{{block.super}}
    <dd><a href="{% url 'ta_text_edit' object.pk %}" class="button secondary">{% trans 'Edição' %}</a></dd>
{% endblock %}

{% block base_content %}{{block.super}}
    {% block actions %}{% endblock %}

<div class="cp">
    {% if object_list %}
	    <div style="float: right; clear:right;">
	    <a id="btn_font_menos" title="Diminuir tamanho da letra">a</a>
	    <a id="btn_font_mais"  title="Aumentar tamanho da Letra">A</a>
	    </div>
	{% endif %}

		{% for key, values in view.get_vigencias.items %}
			{% if forloop.first %}
<section class="vigencias">
	<nav class="top-bar" data-topbar="" role="navigation">
		<section class="top-bar-section">
			<ul class="nav left">
				{%endif%}
				<li class="nav__item has-dropdown">
					{% if forloop.first %}
						{% for dispositivo in values %}
							<a class="nav__link {% if view.inicio_vigencia == dispositivo.inicio_vigencia %}selected{%endif%}" href="{%url 'ta_vigencia' dispositivo.ta.pk dispositivo|get_sign_vigencia %}" title="{% trans 'Vigência entre'%} {{dispositivo.inicio_vigencia}} {% trans 'e'%} {{dispositivo.fim_vigencia}}">{% trans 'Texto Original'%}</a>
						{% endfor %}
					{% elif forloop.last %}
						{% for dispositivo in values %}
							<a class="nav__link {% if view.inicio_vigencia == None %}selected{%endif%}" href="{%url 'ta_text' dispositivo.ta.pk %}" title="{% trans 'Compilação atual'%}.&#013;{% trans 'Vigência a partir de'%} {{dispositivo.inicio_vigencia}}&#013;{{dispositivo.ta_publicado}}">{% trans 'Texto Atual'%}</a>
						{% endfor %}
					{% else %}
						<a class="nav__link {% if view.inicio_vigencia.year == key %}selected{%endif%}">{{ key }}</a>
					{%endif%}

					{% if not forloop.first and not forloop.last %}
						<ul class="nav__sub-nav dropdown">
							{% for dispositivo in values %}
								<li class="nav__sub-item">
									{% if not forloop.parentloop.first %}
										<a class="nav__sub-link" href="{%url 'ta_vigencia' dispositivo.ta.pk dispositivo|get_sign_vigencia %}" title="{{ dispositivo.ta_publicado }}">{% trans 'Vigência entre'%} {{dispositivo.inicio_vigencia}} {% trans 'e'%} {{dispositivo.fim_vigencia}}</a>
									{%endif%}
								</li>
							{% endfor %}
						</ul>
					{%endif%}
				</li>
				{% if forloop.last %}
			</ul>

            {% comment %}
            	<ul class="nav left tipo-vigencias">
    				<li><a class="selected" onclick="textoMultiVigente(this);" title="">{% trans 'Texto Multivigente'%}</a></li>
    				<li><a onclick="textoVigente(this, true);">{% trans 'Texto Vigente COM Links para Textos Alteradores'%}</a></li>
    				<li><a onclick="textoVigente(this, false);">{% trans 'Texto Vigente SEM Links para Textos Alteradores'%}</a></li>
    			</ul>

            {% endcomment %}

            <ul class="tipo-vigencias">
                <li><a class="selected" onclick="textoMultiVigente(this, false);" title="{% trans 'Texto Multivigente Sequencial'%}">{% trans 'TMS'%}</a></li>
                <li><a onclick="textoMultiVigente(this, true);" title="{% trans 'Texto Multivigente Integrado com Realce de Alterações'%}">{% trans 'TMI'%}</a></li>
                <li><a onclick="textoVigente(this, true);" title="{% trans 'Texto Vigente COM Links para Textos Alteradores'%}">{% trans 'TVL'%}</a></li>
                <li><a onclick="textoVigente(this, false);" title="{% trans 'Texto Vigente'%}">{% trans 'TVT'%}</a></li>
            </ul>




		</section>
	</nav>
</section>
				{%endif%}
			{% endfor %}
<br>
{% if view.inicio_vigencia != None and view.fim_vigencia != None %}
	{% trans 'Vigência entre'%} <b>{{view.inicio_vigencia}}</b> {% trans 'e'%} <b>{{view.fim_vigencia}}</b>.
{%endif%}

{% include 'compilacao/text_list_bloco.html'%}
</div>
{% endblock base_content %}
