{% extends "crud/detail.html" %}
{% load i18n %}
{% block actions %} {% endblock %}
{% block sections_nav %}
	<div class="actions btn-group pull-right" role="group">
	  <a href="{% url 'sapl.protocoloadm:detail_doc_adm' pk %}" class="btn btn-default">{% trans 'Inicio' %}</a>
	  <a href="{% url 'sapl.protocoloadm:doc_ace_adm' pk %}" class="btn btn-default">{% trans 'Documento Acessório' %}</a>
	  <a href="{% url 'sapl.protocoloadm:tramitacao_adm' pk %}" class="btn btn-default">{% trans 'Tramitação' %}</a>
	</div>
{% endblock sections_nav %}
