{% extends "crud/detail.html" %}
{% load i18n %}
{% block actions %}
{% load common_tags %}

<div class="actions btn-group pull-right" role="group">
  <a href="{% url 'sapl.protocoloadm:tramitacaoadministrativo_list' object.pk %}" class="btn btn-default">{% trans 'Tramitações' %}</a>
  {% if perms|get_change_perm:view %}
    <a href="{{ view.update_url }}" class="btn btn-default">{% trans 'Editar' %}</a>
  {% endif %}
  {% if perms|get_delete_perm:view %}
    <a href="{{ view.delete_url }}" class="btn btn-default">{% trans 'Excluir' %}</a>
  {% endif %}
</div>
{% endblock actions %}