{% extends "crud/detail.html" %}
{% load i18n %}

{% block detail_content %}
    {{ block.super }}

    {% if documentoadministrativo.materiasvinculadas.all.exists %}
      <div class="row">
        <div class="col-12">
          <div id="div_id_materiasvinculadas" class="form-group">
          <p class="control-label">Matérias Legislativas Vinculadas</p>
          <div class="controls">
            <div class="form-control-static">
              {% for vinculodocadmmateria in object.materialegislativa_vinculada_set.all %}
              <strong>Data Anexação:</strong> {{vinculodocadmmateria.data_anexacao}} {% if vinculodocadmmateria.data_desanexacao %} - {{vinculodocadmmateria.data_desanexacao}}{% endif %}
              <br><strong>Matéria:</strong>
              <a href="{% url 'sapl.materia:materialegislativa_detail' vinculodocadmmateria.materia.id %}">
                {{ vinculodocadmmateria.materia }}
              </a>
                {% if not forloop.last %}<hr>{% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}


    {% if user.is_superuser %}
        <div class="row">
            {% if documentoadministrativo.user %}
                <div class="col-sm-4">
                    <div id="div_id_user" class="form-group">
                        <p class="control-label">Usuário</p>
                        <div class="controls">
                            <div class="form-control-static">
                                <div class="dont-break-out">
                                    <a href="{% url 'sapl.base:user_update' documentoadministrativo.user.pk %}">
                                        {{ documentoadministrativo.user }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if documentoadministrativo.ip %}
                <div class="col-sm-4">
                    <div id="div_ip_user" class="form-group">
                        <p class="control-label">IP</p>
                        <div class="controls">
                            <div class="form-control-static">
                                <div class="dont-break-out">
                                    {{ documentoadministrativo.ip }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if documentoadministrativo.ultima_edicao %}
                <div class="col-sm-4">
                    <div id="div_ud_user" class="form-group">
                        <p class="control-label">Data e Hora da Edição</p>
                        <div class="controls">
                            <div class="form-control-static">
                                <div class="dont-break-out">
                                    {{ documentoadministrativo.ultima_edicao }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock detail_content %}
