{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block sections_nav %} {% endblock %}

{% block actions %}
  <div class="actions btn-group pull-right" role="group">
    {% if perms.protocoloadm %}
      <a href="{% url 'sapl.protocoloadm:documentoadministrativo_create' %}" class="btn btn-default">
        {% blocktrans with verbose_name=view.verbose_name %} Adicionar Documento Administrativo {% endblocktrans %}
      </a>
    {% endif %}
  </div>
  {% if filter_url %}
    <div class="actions btn-group pull-right" role="group">
      <a href="{% url 'protocoloadm:pesq_doc_adm' %}" class="btn btn-default">{% trans 'Fazer Nova Pesquisa' %}</a>
    </div>
  {% endif %}
{% endblock actions %}

{% block detail_content %}
  {% if not filter_url %} {% crispy filter.form %} {% endif %}

  {% if filter_url %}
    <table class="table table-striped table-bordered">
      <thead class="thead-default"><tr><td><h3>Resultados</h3></td></tr></thead>
      {% if page_obj|length %}
        {% if numero_res > 1 %}
          <h3>Pesquisa concluída com sucesso! Foram encontrados {{numero_res}} documentos.</h3>
        {% elif numero_res == 1 %}
          <h3>Pesquisa concluída com sucesso! Foi encontrado {{numero_res}} documento.</h3>
        {% endif %}

        {% for d in page_obj %}
          <tr>
            <td>
              <strong><a href="{% url 'protocoloadm:documentoadministrativo_detail' d.id %}">{{d.tipo.sigla}} {{d.numero}}/{{d.ano}} - {{d.tipo}}</strong></a></br>
              <strong>Interessado:</strong>&nbsp;{{ d.interessado|default_if_none:"Não Informado"}}</br>
              <strong>Assunto:</strong>&nbsp;{{ d.assunto|safe }}</br>

              {% if d.protocolo %}
                <strong>Protocolo:</strong>&nbsp;<a href="{% url 'sapl.protocoloadm:protocolo_mostrar' d.protocolo.id %}">{{ d.protocolo}}</a></br>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% else  %}
        <tr><td><h3>Nenhum documento encontrado com essas especificações</h3></tr>
      {% endif %}
    </table>
    {% include "paginacao.html" %}
  {% endif %}
{% endblock detail_content %}

{% block table_content %}
{% endblock table_content %}
