{% extends "base.html" %}
{% load i18n common_tags%}

{% block base_content %}
<div class="alert alert-success alert-dismissible fade in" role="alert">
	<p align="center"><b><font color="green">Matéria procololada com sucesso!</font></b></p>
</div>

<div align="center">

	<div class="row" style="width:50%;">
		<div class="col-md-6">
			<a onclick="window.open('{% url 'sapl.relatorios:relatorio_etiqueta_protocolo' protocolo.numero protocolo.ano %}','Comprovante','width=400, height=200')"class="btn btn-secondary">Imprimir Etiqueta</a>
		</div>
		<div class="col-md-6">
			<a target="popup" class="btn btn-secondary" onclick="window.open('{% url 'sapl.protocoloadm:comprovante_protocolo' protocolo.pk %}','Comprovante','width=800, height=700')">Imprimir Comprovante</a>
		</div>
	</div>

	<div class="row" style="width:50%;">
		<div class="col-md-6">
			<a href="{% url 'sapl.materia:materia_create_simplificado' protocolo.pk %}" class="btn btn-warning">Criar Matéria</a>
		</div>
		<div class="col-md-6">
			<a href="{% url 'sapl.protocoloadm:protocolo_mostrar' protocolo.pk %}" class="btn btn-primary">Continuar</a>
		</div>
	</div>
</div>
{% endblock base_content %}
