{% extends "crud/detail.html" %}
{% load i18n %}
{% block editions %}
  <div class="actions btn-group pull-right" role="group">
    <a href="{% url 'sapl.protocoloadm:protocolar_mat' %}" class="btn btn-outline-dark">{% trans 'Protocolar Matéria' %}</a>
    <a href="{% url 'sapl.protocoloadm:protocolar_doc' %}" class="btn btn-outline-dark">{% trans 'Protocolar Documento' %}</a>
    <a href="{% url 'sapl.protocoloadm:anular_protocolo' %}" class="btn btn-outline-dark btn-excluir">{% trans 'Anular Protocolo' %}</a>
    <a href="{% url 'sapl.protocoloadm:desvincular_documento' %}" class="btn btn-outline-dark btn-excluir">{% trans 'Desvincular Documentos' %}</a>
    <a href="{% url 'sapl.protocoloadm:desvincular_materia' %}" class="btn btn-outline-dark btn-excluir">{% trans 'Desvincular Matérias' %}</a>
  </div>
{% endblock editions %}
