{% extends "protocoloadm/protocoloadm_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
	<strong>Protocolo: </strong>{{ protocolo.numero|stringformat:'06d' }}/{{ protocolo.ano }}</br>
	<strong>Assunto: </strong> {{ protocolo.assunto_ementa|default:" Não informado." }}</br>
	<strong>Data Protocolo: </strong> {{ protocolo.data|date:"d/m/Y" }} - Horário: {{ protocolo.hora|date:"H:i" }}</br>
	<strong>Interessado: </strong> {{ protocolo.interessado|default:" Não informado." }}</br>
	<!-- TODO: convert if-else to custom tag -->
	<strong>Natureza do Processo: </strong>{% if protocolo.tipo_processo == 0 %} Administrativo {% elif protocolo.tipo_processo == 1 %} Legislativo {% endif %}</br>
	<strong>Número de Páginas: </strong> {{ protocolo.numero_paginas }} </br>
	<strong>Observação: </strong>{{ protocolo.observacao|default:" Não informado." }}</br>
	<strong>Anulado: {% if protocolo.anulado %} <font color="red"> Sim {% else %} <font color="green"> Não {% endif %} </font></strong>
	<br /><br />

	<strong>Documento Vinculado:</strong>

	{% if protocolo.tipo_documento %}
		{% if documento %}
			<a href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' documento.pk %}"> {{documento}} </a>
			</br>
		{% else %}
			<br />
			{% if not protocolo.anulado %} <a href="{% url 'sapl.protocoloadm:criar_documento' protocolo.pk %}" class="btn btn-primary">Criar Documento</a>{% endif %}
		{% endif %}
	{% elif protocolo.tipo_materia %}
		{% if materia %}
			<a href="{% url 'sapl.materia:materialegislativa_detail' materia.pk %}"> {{materia}} </a>
			</br>
		{% else %}
			<br />
			{% if not protocolo.anulado %}<a href="{% url 'sapl.materia:materia_create_simplificado' protocolo.pk %}" class="btn btn-primary">Criar Matéria</a>{% endif %}
		{% endif %}
	{% endif %}


	&nbsp;&nbsp;&nbsp;&nbsp;
	<a target="popup" class="btn btn-primary" onclick="window.open('{% url 'sapl.protocoloadm:comprovante_protocolo' protocolo.pk%}','Comprovante','width=800, height=800')">Comprovante
	</a>
{% endblock detail_content %}
