{% extends "protocoloadm/protocoloadm_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}


  {% block actions %}

      {{ block.super }}

    {% if filter_url %}
      <div class="actions btn-group pull-right grid-gutter-width-right " role="group">
        <a href="{% url 'protocoloadm:protocolo' %}" class="btn btn-default">{% trans 'Fazer nova pesquisa' %}</a>
      </div>
    {% endif %}


  {% endblock %}

  {% block detail_content %}
    <br>
    {% if not filter_url %}
      {% crispy filter.form %}
    {% endif %}

  {% if filter_url %}
    <table class="table table-striped table-bordered">
      <thead class="thead-default"><tr><td><h3>Resultados</h3></td></tr></thead>
      {% if page_obj|length %}
        {% if filter_url %}
          {% if numero_res > 1 %}
            <h3>Pesquisa concluída com sucesso! Foram encontrados {{numero_res}} protocolos.</h3>
          {% elif numero_res == 1 %}
            <h3>Pesquisa concluída com sucesso! Foi encontrado {{numero_res}} protocolo.</h3>
          {% endif %}
        {% endif %}
        {% for p in page_obj %}
          <tr>
            <td>
              <strong>Protocolo:
              <a href="{% url 'protocoloadm:protocolo_mostrar' p.pk %}">{{ p.numero|stringformat:'06d' }}/{{ p.ano }}</a></strong>&nbsp;&nbsp;<strong>-</strong>&nbsp;&nbsp;
              <a href="{% url 'relatorios:relatorio_etiqueta_protocolo' p.numero p.ano %}"><img src="{% static 'img/etiqueta.png' %}" alt="Etiqueta Individual"></a>
              {% if p.anulado %}<strong><font color="red">&nbsp;&nbsp;** NULO **</font></strong>{% endif %}
              </br>
              <strong>Assunto:</strong> {{ p.assunto_ementa|default_if_none:"Não Informado"}}</br>
              <strong>Data Protocolo:</strong> {{ p.data|date:"d/m/Y"|default_if_none:"Não Informado" }} - Horário: {{ p.hora|date:"G:i:s" }}</br>
              <strong>Autor:</strong> {{protocolo.autor.nome}} </br>
              <strong>Natureza do Processo:</strong>
              {% if p.tipo_processo == 0 %}
                  Administrativo</br>
                  <strong>Interessado:</strong> {{ p.interessado }}
              {% elif p.tipo_processo == 1 %}
                  Matéria Legislativa
              {% endif %}
              </br>
              <strong>Classificação:</strong> {{ p.tipo_documento|default_if_none:p.tipo_materia }} </br>
              {% if p.anulado %}
                <strong>Anulado por: </strong>{{ p.user_anulacao }} - IP {{ p.ip_anulacao }}</br>
                <strong>Motivo Anulação: </strong>{{ p.justificativa_anulacao }}</br>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% else  %}
        <tr><td><h3>Nenhum protocolo encontrado com essas especificações</h3></tr>
      {% endif %}
    </table>
    {% include "paginacao.html" %}
  {% endif %}
{% endblock detail_content %}

{% block table_content %}
{% endblock table_content %}
