{% extends "protocoloadm/protocoloadm_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block actions %}

  {{ block.super }}
  <div class="actions btn-group pull-right grid-gutter-width-right " role="group">
    <a href="{% url 'sapl.protocoloadm:protocolo' %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
  </div>
{% endblock %}

{% block detail_content %}
	{% crispy form %}
{% endblock detail_content %}

{% block extra_js %}
   <script language="Javascript">
      $(document).ready(function() {
        $("input[name=data_hora_manual]").change(function(event) {
          if (this.value === 'True' && this.checked)
            $("#protocolo_data_hora_manual").removeClass('hidden');
          else if (this.value === 'False' && this.checked)
            $("#protocolo_data_hora_manual").addClass('hidden');
        });
        $("input[name=data_hora_manual]").trigger('change')
      });
   </script>
{% endblock %}
