{% extends "protocoloadm/protocoloadm_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
	
<fieldset>
	Tipo: {{documento.tipo.sigla}}	Número: {{documento.numero}}	Ano: {{documento.ano}}</br>
	Assunto: {{documento.assunto}}
</fieldset>

<fieldset>
	<h2>Tramitação</h2>
	{% if tramitacoes %}
		<table>
			<tr>
				<td>Data Ação</td>
				<td>Origem</td>
				<td>Destino</td>
				<td>Status</td>
				<td>Excluir</td>
			</tr>
			{% for t in tramitacoes %}
				<tr>
					<td><a href="{% url 'sapl.protocoloadm:tramitacao_edit' t.id %}">{{t.data_encaminhamento|date:"d/m/Y"}}</a></td>
					<td>{{t.unidade_tramitacao_local}}</td>
					<td>{{t.unidade_tramitacao_destino}}</td>
					<td>{{t.status.sigla}}</td>
					<td><a href="{% url 'sapl.protocoloadm:tramitacao_delete' documento.id t.id %}">Excluir</ad></td>
				</tr>

			{% endfor %}
		</table>
	{% else %}
		<strong>Nenhuma tramitação cadastrada para este documento.</strong>
	{% endif %}
	</br>
	<a href="{% url 'sapl.protocoloadm:tramitacao_incluir' documento.id %}" class="button primary">Incluir Tramitação</a>
</fieldset>
{% endblock detail_content %}