{% extends "crud/detail.html" %}
{% load i18n %}

{% block actions %}
{% load common_tags %}

<div class="actions btn-group float-right" role="group">
<a href="{% url 'sapl.protocoloadm:documentoadministrativo_detail' root_pk %}" class="btn btn-outline-primary">{% trans 'Início' %}</a>
  {% if perms|get_change_perm:view %}
    <a href="{{ view.update_url }}" class="btn btn-outline-primary">{% trans 'Editar' %}</a>
  {% endif %}
  {% if perms|get_delete_perm:view %}
    <a href="{{ view.delete_url }}" class="btn btn-outline-primary">{% trans 'Excluir' %}</a>
  {% endif %}
</div>
{% endblock actions %}

{% block detail_content %}
    {{ block.super }}
    {% if user.is_superuser %}
        <div class="row">
          {% if tramitacaoadministrativo.user %}
            <div class="col-sm-6">
                <div id="div_id_user" class="form-group">
                    <p class="control-label">Usuário</p> 
                    <div class="controls">
                        <div class="form-control-static">
                            <div class="dont-break-out">
                                <a href="{% url 'sapl.base:user_edit' tramitacaoadministrativo.user.pk %}">{{tramitacaoadministrativo.user}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}
          {% if tramitacaoadministrativo.ip %}
            <div class="col-sm-6">
                <div id="div_ip_user" class="form-group">
                    <p class="control-label">IP</p> 
                    <div class="controls">
                        <div class="form-control-static">
                            <div class="dont-break-out">
                                {{tramitacaoadministrativo.ip}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}
        </div>
    {% endif %}
{% endblock detail_content %}
