{% extends "base.html" %}
{% load i18n %}
{% load tz %}
{% load common_tags %}
{% block base_content %}
    <fieldset>
        <h1>Lista de Bancadas e Comissões com Autor Externo</h1>
        {% if not bancada_comissao_autor_externo %}
            <p>{{ NO_ENTRIES_MSG }}</p>
        {% else %}
            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Autor</th>
                    <th>Descrição Objeto</th>
                    <th>Objeto</th>
                  </tr>
                </thead>
                <tbody>
                  {% for autor, objeto, descricao_objeto in bancada_comissao_autor_externo %}
                    <tr>
                      <td>
                         <a>{{ autor.nome }}</a>
                      </td>
                      <td>{{ descricao_objeto }}</td>
                      <td>{{ objeto }}</td>
                     </tr>
                  {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </fieldset>
 {% include 'paginacao.html'%}
{% endblock base_content %}