{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags common_tags %}

{% block base_content %}
  {% if not ano %}
    {% crispy form %}
  {% else %}
    <div class="actions btn-group float-right" role="group">
      <a href="{% url 'sapl.relatorios:estatisticas_acesso' %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
    </div>
    <br /><br /><br /><br />
    <b>PARÂMETROS DE PESQUISA:<br /></b>
    &emsp;Ano: {{ ano }} <br />
    <br/>
    {% if normas_mes|length == 0 %}
        <br>
        <h3>{% trans 'Nenhuma norma teve acesso neste ano.'%}</h3>
    {% else %}
      {% for mes, normas in normas_mes.items %}
        <div style="overflow:auto; ">
          <table class="table table-bordered table-hover" style="width:100%; margin-bottom: 30px;">
            <thead class="thead-default" >
                <tr>
                  <th colspan=3>
                    <h3 style="text-align:center;">Mês: {{ mes }}</h3>
                    <center>
                      <h5>Um total de acessos {{normas_count_mes|lookup:mes}} nas {{normas|length}} mais acessadas.</h5>
                    </center>
                  </th>
                </tr>
                <tr class="active">
                  <th>Posição</th>
                  <th>Acessos</th>
                  <th>Norma</th>
                </tr>
              </thead>
              <tbody>
                {% for n in normas %}
                  {% if n.norma_count > 0 %}
                    <tr>
                      <td align="center">{{n.mais_acessadas}}º</td>
                      <td align="center">{{n.norma_count}}</td>
                      <td>
                        <a href="{% url 'sapl.norma:normajuridica_detail' n.norma_id %}">
                          {{n.norma_tipo_descricao}} nº {{n.norma_numero}}, de {{n.norma_data}}
                        </a>
                        <br>{{n.norma_ementa}}
                        {% if n.norma_observacao %}
                        <small>
                          <i>
                            <br><strong>Observações:</strong> {{n.norma_observacao}}
                          </i>
                        </small>
                        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
        </div>
      {% endfor %}
    {% endif %}
  {% endif %}
{% endblock base_content %}

{% block extra_js %}

<script type="text/javascript">

  $(document).ready(function(){
    $('#id_mes').change(function(event) {
      if (event.currentTarget.selectedOptions[0].value === '') {
        $('#id_mais_acessadas').val('5')
        $('#id_mais_acessadas')[0].options[2].setAttribute('disabled', true)
        $('#id_mais_acessadas')[0].options[3].setAttribute('disabled', true)
        $('#id_mais_acessadas')[0].options[4].setAttribute('disabled', true)
        $('#id_mais_acessadas')[0].options[5].setAttribute('disabled', true)
      } else {
        $('#id_mais_acessadas')[0].options[2].removeAttribute('disabled')
        $('#id_mais_acessadas')[0].options[3].removeAttribute('disabled')
        $('#id_mais_acessadas')[0].options[4].removeAttribute('disabled')
        $('#id_mais_acessadas')[0].options[5].removeAttribute('disabled')
      }

      //$('#id_mais_acessadas').prop('disabled', event.currentTarget.selectedOptions[0].value === '')
    }).trigger('change')

  })
</script>
{% endblock extra_js %}


