{% extends "base.html" %}
{% load common_tags %}
{% block base_content %}
  <fieldset>
    <h1>Lista de Parlamentares com Mandatos em Interseção</h1>
    <br/>
    {% if not parlamentares_mandatos_intersecao %}
      <p>{{ NO_ENTRIES_MSG }}</p>
    {% else %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Parlamentar</th>
            <th>Mandato 1</th>
            <th>Mandato 2</th>
          </tr>
        </thead>
        <tbody>
          {% for parlamentar, mandato_a, mandato_b in parlamentares_mandatos_intersecao %}
            <tr>
              <td>
                <a href="{% url 'sapl.parlamentares:mandato_list' parlamentar.pk %}">{{ parlamentar }}</a>
              </td>
              <td>{{ mandato_a.legislatura }}</br>{{ mandato_a.data_inicio_mandato|date:"d/m/Y" }} - {{ mandato_a.data_fim_mandato|date:"d/m/Y" }}</td>
              <td>{{ mandato_b.legislatura }}</br>{{ mandato_b.data_inicio_mandato|date:"d/m/Y" }} - {{ mandato_b.data_fim_mandato|date:"d/m/Y" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </fieldset>
  {% include 'paginacao.html' %}
  <br/>
{% endblock base_content %}