{% extends "base.html" %}
{% load common_tags %}
{% block base_content %}
  <fieldset>
    <h1>Lista de Parlamentares Duplicados</h1>
    <br/>
    {% if not parlamentares_duplicados %}
      <p>{{ NO_ENTRIES_MSG }}</p>
    {% else %}
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nome do Parlamentar</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          {% for parlamentar in parlamentares_duplicados %}
            <tr>
              <td>
                <a href="{% url 'sapl.parlamentares:pesquisar_parlamentar' %}?nome_parlamentar={{ parlamentar.nome_parlamentar }}">{{ parlamentar.nome_parlamentar }}</a>
              </td>
              <td>{{ parlamentar.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </fieldset>
  {% include 'paginacao.html' %}
  <br/>
{% endblock base_content %}