{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block base_content %}
  {% if not show_results %}
    {% crispy filter.form %}
  {% endif %}

  {% if show_results %}
    <div class="actions btn-group pull-right" role="group">
      <a href="{% url 'sapl.base:materia_por_ano_autor_tipo' %}" class="btn btn-default">{% trans 'Fazer nova pesquisa' %}</a>
    </div>
    <br /><br /><br /><br />

    {% for r in relatorio %}
       <h3>{{r.autor}}</h3><br/>
       <table class="table table-bordered table-hover">
         <thead class="thead-default" >
           <tr class="active">
             <th>Natureza da Propositura</th>
             <th>Quantidade</th>
           </tr>
         </thead>
         <tbody>
           {% for i in r.materia %}
             <tr>
               <td>{{i.0}}</td><td>{{i.1}}</td>
             </tr>
           {% endfor %}
         </tbody>
       </table>
       <h3>Total: {{r.total}}</h3><br/>
       <br/>
       <br/>
    {% endfor %}
    <br/><br/>

    <table class="table table-bordered table-hover">
      <thead class="thead-default" >
        <tr class="active"><th colspan="2" class="text-center">QUADRO GERAL</th></tr>
        <tr class="active">
          <th>Tipo Matéria</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in qtdes.items %}
          <tr>
            <td>{{key.sigla}} - {{key}}</td>
            <td>{{value}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock base_content %}
