{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load common_tags %}

{% block base_content %}
  {% if not show_results %}
    {% crispy filter.form %}
  {% endif %}

  {% if show_results %}
    <style type="text/css">
      .presenca_table td, th{
        text-align: center;
      }
    </style>

    <div class="actions btn-group float-right" role="group">
      <a href="{% url 'sapl.base:presenca_sessao' %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
    </div>
    <br /><br /><br /><br />
    <b>PERÍODO: {{periodo}}</b><br />
    <b>Legislatura: {{legislatura}}</b><br />
    <b>Sessão Legislativa: {{sessao_legislativa}}</b><br />
    <b>Tipo Sessão Plenária: {{tipo}}<br /> </b>
    <b>TOTAIS NO PERÍODO - SESSÕES: {{total_sessao}} - ORDENS DO DIA: {{total_ordemdia}}</b><br />
    <b>Exibir presença das Ordens do Dia: {% if exibir_ordem %} Sim {% else %} Não {% endif %}</b><br />
    <br>
    <h4><b>Atenção!</b> Este relatório leva em conta os afastamentos cadastrados em Parlamentar -> Afastamentos.
    A porcentagem de presença exclui períodos em que o parlamentar estava afastado.</h4>
    <br>
    <table class="table table-bordered table-hover presenca_table">
      <thead class="thead-default" align="center">
        <tr class="active">
          <th rowspan="2">Nome Parlamentar / Partido</th>
          <th rowspan="2">Titular?</th>
          <th rowspan="2">Ativo?</th>
          <th colspan="3">Sessão</th>
          {% if exibir_ordem %} <th colspan="3">Ordem do Dia</th> {% endif %}
        </tr>
        <tr class="active">
          <th>(Qtd Presente)</th>
          <th>(Qtde Afastado)</th>
          <th>( % )</th> 
          {% if exibir_ordem %}
            <th>(Qtd Presente)</th>
            <th>(Qtde Afastado)</th>
            <th>( % )</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for p in parlamentares %}
          <tr>
            <td><b>{{p.parlamentar}}</b> / {{p.parlamentar|filiacao_intervalo_filter:date_range|default:"Sem Partido"}}</td>
            <td>{% if p.titular %} Sim {% else %} Não {% endif %}</td>
            <td>{% if p.parlamentar.ativo %} Sim {% else %} Não {% endif %}</td>
            <td>{{p.sessao_count}}</td>
            <td>{{p.sessao_afast}}</td>
            <td>{{p.sessao_porc}}</td>
            {% if exibir_ordem %} 
              <td>{{p.ordemdia_count}}</td>
              <td>{{p.ordem_afast}}</td>
              <td>{{p.ordemdia_porc}}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock base_content %}

{% block extra_js %}

<script type="text/javascript">

  $(document).ready(function(){

    var original_options = [];
    $.each($("#id_sessao_legislativa").children(), function(idx, obj) {
      original_options.push($(obj));
    });
    
    $('#id_legislatura').change(function(event) {
      
      let legislatura = $("#id_legislatura").val();
      var json_data = {
        legislatura : legislatura,
      }

      if(legislatura){
        $.getJSON("{% url 'sapl.parlamentares:get_sessoes_legislatura' %}", json_data, function(data){
            if (data) {
              $("#id_sessao_legislativa").children().remove();
              if (data.sessoes_legislativas.length > 1) {
                sel = $("#id_sessao_legislativa").append("<option>---------</option>");
                sel.children().last().attr("value", "");
              }
              $.each(data.sessoes_legislativas, function(idx, obj) {
                $("#id_sessao_legislativa")
                  .append($("<option></option>")
                  .attr("value", obj[0])
                  .text(obj[1]));
              });
            }
        });
      }else{
        $("#id_sessao_legislativa").children().remove();
        $.each(original_options, function(idx, obj) {
          $("#id_sessao_legislativa").append(obj);
        });
        $("#id_sessao_legislativa").children().first().attr('selected', true);
      }
    })
  
  });

</script>

{% endblock %}
