{% extends "crud/list.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block base_content %}
  {% if not show_results %}
    {% crispy filter.form %}
  {% endif %}

  {% if show_results %}
    <div class="actions btn-group float-right" role="group">
      <a href="{% url 'sapl.base:audiencia' %}" class="btn btn-outline-primary">{% trans 'Fazer nova pesquisa' %}</a>
    </div>
    <br /><br /><br /><br />
    {% if object_list|length > 0 %}
    <table class="table table-bordered table-hover">
      <thead class="thead-default" >
        <tr class="active">
          <th>Tipo de Audiência</th>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        {% for audiencia in object_list %}
          <tr>
            <td><a href="{% url 'sapl.audiencia:audienciapublica_detail' audiencia.id %}">
              {{audiencia.tipo}}
            </a></td>
            <td>{{audiencia.nome}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <font size="5"><p align="center">Nenhuma Audiência Pública foi encontrada!</p></font>
    {% endif %}
  {% endif %}
{% endblock base_content %}