    <h2 class="gray-title">Matérias da Ordem do Dia</h2>

    <table class="grayTable" style="height: 145px;" width="443">
            <thead>
                <tr>
                    <th>Matéria</th>
                    <th>Ementa</th>
                    <th>Resultado da Votação</th>
                </tr>
            </thead>
            <tbody>
                {% for materia in lst_votacao%}
                    <tr>
                        <td>
                            <dl>
                                <dt><b>{{materia.num_ordem}} -</b> {{materia.id_materia}}</dt>
                                <dt style="text-align: left;"><b>Turno:</b> {{materia.des_turno}}</dt>
                                <dt style="text-align: left;"><b>{{materia.num_autores}}: </b>{{materia.nom_autor}}</dt>
                                {% if materia.situacao %}
                                    <dt style="text-align: left;"><b>Situação: </b>{{materia.situacao}}</dt>
                                {% endif %}
                            </dl>
                        </td>
                        <td style="width:60%">{{materia.txt_ementa}}</td>
                        <td style="text-align: center;">&nbsp;<b>{{materia.nom_resultado}}</b></td>
                    </tr>
                {% endfor %}

            </tbody>
    </table>