    {% if lst_votacao_vot_nom %}
    <h2 class="gray-title">Votações Nominais - Matérias da Ordem do Dia</h2>
    <table class="grayTable">
            <thead>
                <tr>
                    <th>Matéria</th>
                    <th>Votos</th>
                </tr>
            </thead>
            {% for votacao_vot_nom in lst_votacao_vot_nom %}
            <tr>
                <td>{{votacao_vot_nom.titulo}}</td>
                <td>
                    {% if votacao_vot_nom.votos %}
                        <dl>
                            {% for v in votacao_vot_nom.votos %}
                                <dt style="text-align: left;">&nbsp;<b>{{v.parlamentar}}</b> {{v.voto}}</dt>
                            {% endfor %}
                        </dl>
                    {% else %}
                        <td><p><b>Matéria não votada</b></p></td>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}