{% load i18n compilacao_filters %}

{% if object_list.count >= 100 %}
  <div class="alert-box success radius">
    {% trans 'Use argumentos para simplificar listagem...' %}
  </div>
{% endif %}

{% for dpt in object_list %}
  {% ifchanged dpt.ta%}
    {% if not forloop.first %}</ul>{% endif %}
    <ul class="cp" id="ta{{dpt.ta.pk}}">
      {% if request.GET.data_type_selection == 'checkbox' %}
        <li class="ta_title">
          <div class="iteminput">
            <input type="{{request.GET.data_type_selection}}" name="ta_select_all" id="ta_title{{dpt.ta.pk}}" value="{{dpt.ta.pk}}"/>
          </div>
          <div class="itemlabel">
              <label for="ta_title{{dpt.ta.pk}}">{{dpt.ta}}</label>
          </div>
        </li>
      {% else %}
        <li class="ta_title"><span>{{dpt.ta}}</span></li>
      {% endif %}
  {% endifchanged %}

  {% if dpt.tipo_dispositivo.dispositivo_de_alteracao or dpt.dispositivo_pai.nivel > 0 and dpt.auto_inserido and dpt.dispositivo_pai not in object_list %}
    <li>
      <div class="iteminput">
          <input type="{{request.GET.data_type_selection}}" name="{{request.GET.data_field}}" id="dpt{{dpt.pk}}" value="{{dpt.pk}}"/>
      </div>
      <div class="itemlabel dpt">
        {% if dpt.dispositivo_pai.nivel > 1 %}
          <a class="clearfix" target="_blank" href="{% url 'sapl.compilacao:ta_text' dpt.dispositivo_pai.ta.pk%}#{{dpt.dispositivo_pai.pk}}" class="nomenclatura_heranca">{% trans "Herança:" %} {% heranca request dpt 1 0 %}</a>
        {% endif %}
        <div class="{{ dpt.dispositivo_pai.tipo_dispositivo.class_css }}">
          <div class="dptt {% dispositivo_desativado dpt.dispositivo_pai None None %}"  id="dptt{{dpt.dispositivo_pai.pk}}" >
            {{ dpt.dispositivo_pai.tipo_dispositivo.rotulo_prefixo_html|safe }}
            {{ dpt.dispositivo_pai.rotulo }}
            {{ dpt.dispositivo_pai.tipo_dispositivo.rotulo_sufixo_html|safe }}
            <span class="dtxt" id="d{% if not dpt.dispositivo_pai.dispositivo_subsequente_id and dpt.dispositivo_pai.dispositivo_substituido_id %}a{% endif %}{{dpt.dispositivo_pai.pk}}" pks="{{dpt.dispositivo_pai.dispositivo_substituido_id|default:''}}" pk="{{dpt.dispositivo_pai.pk}}">{{ dpt.dispositivo_pai.tipo_dispositivo.texto_prefixo_html|safe }}{%if dpt.dispositivo_pai.texto %}{{ dpt.dispositivo_pai.texto|safe }}{%else%}{%if not dpt.dispositivo_pai.tipo_dispositivo.dispositivo_de_articulacao %}&nbsp;{% endif %}{% endif %}</span>
            {% if dpt.dispositivo_pai.ta_publicado_id %}
              <a class="nota-alteracao" href="{% url 'sapl.compilacao:ta_text' dpt.dispositivo_pai.ta_publicado.pk %}#{{dpt.dispositivo_pai.dispositivo_atualizador_id}}">
                {{ dpt.dispositivo_pai.tipo_dispositivo.nota_automatica_prefixo_html|safe }}
                {% nota_automatica dpt.dispositivo_pai ta_pub_list %}
                {{ dpt.dispositivo_pai.tipo_dispositivo.nota_automatica_sufixo_html|safe }}
              </a>
            {% endif %}
          </div>
        </div>

      </div>
    </li>
  {% endif %}

  <li>
    <div class="iteminput">
        <input type="{{request.GET.data_type_selection}}" name="{{request.GET.data_field}}" id="dpt{{dpt.pk}}" value="{{dpt.pk}}"/>
    </div>
    <div class="itemlabel dpt">
      {% if dpt.nivel > 1 %}
        <a class="clearfix"  target="_blank" href="{% url 'sapl.compilacao:ta_text' dpt.ta.pk%}#{{dpt.pk}}" class="nomenclatura_heranca">{% trans "Herança:" %} {% heranca request dpt 1 0 %}</a>
      {% endif %}
      <div class="{{ dpt.tipo_dispositivo.class_css }}">
        <div class="dptt {% dispositivo_desativado dpt None None %}"  id="dptt{{dpt.pk}}" >
          {{ dpt.tipo_dispositivo.rotulo_prefixo_html|safe }}
          {% if dpt.rotulo or dpt.nivel = 1 %}{{ dpt.rotulo }}{%else%}[{{ dpt|nomenclatura}} {% trans "de" %} {{ dpt.dispositivo_pai.rotulo }}] - {% endif %}
          {{ dpt.tipo_dispositivo.rotulo_sufixo_html|safe }}

          <span class="dtxt"
                id="d{% if not dpt.dispositivo_subsequente_id and dpt.dispositivo_substituido_id %}a{% endif %}{{dpt.pk}}"
                pks="{{dpt.dispositivo_substituido_id|default:''}}"
                pk="{{dpt.pk}}">{{ dpt.tipo_dispositivo.texto_prefixo_html|safe }}{%if dpt.texto %}{{ dpt.texto|safe }}{%else%}{%if not dpt.tipo_dispositivo.dispositivo_de_articulacao %}&nbsp;{% endif %}{% endif %}</span>
          {% if dpt.ta_publicado_id %}
            <a class="nota-alteracao" href="{% url 'sapl.compilacao:ta_text' dpt.ta_publicado.pk %}#{{dpt.dispositivo_atualizador_id}}">
              {{ dpt.tipo_dispositivo.nota_automatica_prefixo_html|safe }}
              {% nota_automatica dpt ta_pub_list %}
              {{ dpt.tipo_dispositivo.nota_automatica_sufixo_html|safe }}
            </a>
          {% endif %}

        </div>
        {% if dpt.tipo_dispositivo.dispositivo_de_alteracao%}
          {%with node=dpt template_name='compilacao/text_list_blocoalteracao.html' %}
            {%include template_name%}
          {%endwith%}
        {% endif%}
      </div>
    </div>
  </li>

  {% if request.GET.dispositivos_internos == 'True' %}
    {% for df in dpt.dispositivos_filhos_set.all %}
      {% if df not in object_list %}
        <li>
          <div class="iteminput">
              <input type="{{request.GET.data_type_selection}}" name="{{request.GET.data_field}}" id="dpt{{df.pk}}" value="{{df.pk}}"/>
          </div>
          <div class="itemlabel dpt">
            {% if df.nivel > 1 %}
            <a class="clearfix"  target="_blank" href="{% url 'sapl.compilacao:ta_text' df.ta.pk%}#{{df.pk}}" class="nomenclatura_heranca">{% trans "Herança:" %} {% heranca request df 1 0 %}</a>
            {% endif %}

            <div class="{{ df.tipo_dispositivo.class_css }}">
              <div class="dptt {% dispositivo_desativado dpt None None %}"  id="dptt{{df.pk}}" >
                {{ df.tipo_dispositivo.rotulo_prefixo_html|safe }}
                <a name="{{df.pk}}" title="{{df.pk}}">{% if df.rotulo or df.nivel = 1%}{{ df.rotulo }}{%else%}[{{ df|nomenclatura}} {% trans "de" %} {{ df.dispositivo_pai.rotulo }}] - {% endif %}</a>
                {{ df.tipo_dispositivo.rotulo_sufixo_html|safe }}
                <span class="dtxt" id="d{% if not df.dispositivo_subsequente_id and df.dispositivo_substituido_id %}a{% endif %}{{df.pk}}" pks="{{df.dispositivo_substituido_id|default:''}}" pk="{{df.pk}}">{{ df.tipo_dispositivo.texto_prefixo_html|safe }}{%if df.texto %}{{ df.texto|safe }}{%else%}{%if not df.tipo_dispositivo.dispositivo_de_articulacao %}&nbsp;{% endif %}{% endif %}</span>
                {% if df.ta_publicado_id %}
                  <a class="nota-alteracao" href="{% url 'sapl.compilacao:ta_text' df.ta_publicado.pk %}#{{df.dispositivo_atualizador_id}}">
                    {{ df.tipo_dispositivo.nota_automatica_prefixo_html|safe }}
                    {% nota_automatica df ta_pub_list %}
                    {{ df.tipo_dispositivo.nota_automatica_sufixo_html|safe }}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
