{% load i18n compilacao_filters %}

{% for message in messages %}
  <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible " role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    {{ message|safe }}
  </div>
{% endfor %}
{% if object_list|length > 1000 %}
  <div class="alert alert-warning">
    {% trans 'Mais de Mil itens no resultado... melhore os argumentos para simplificar listagem...' %}
  </div>
{% endif %}
{% with  object_list|length as length_results %}
  {% if length_results %}
    <span class="length_results">
      {{ length_results }} ite{{ length_results|pluralize:"m,ns"}} corresponde{{length_results|pluralize:"m"}} a sua busca.
    </span>
  {% endif %}
{% endwith %}
{% for dpt in object_list %}  
  {% ifchanged dpt.ta%}
    {% if not forloop.first %}</ul>{% endif %}
    <ul class="cp" id="ta{{dpt.ta.pk}}">
      {% if request.GET.data_type_selection == 'checkbox' %}
        <li class="ta_title">
          <div class="iteminput">
            <input type="{{request.GET.data_type_selection}}" name="ta_select_all" id="ta_title{{dpt.ta.pk}}" value="{{dpt.ta.pk}}"/>
          </div>
          <label class="itemlabel" for="ta_title{{dpt.ta.pk}}">{{dpt.ta}}</label>
        </li>
      {% else %}
        <li class="ta_title"><span>{{dpt.ta}}</span></li>
      {% endif %}
  {% endifchanged %}

  {% with dpt as df %}
    {% include "compilacao/dispositivo_form_search_fragment_child.html" %}
  {% endwith %}
  {% if forloop.last %}</ul>{% endif %}
{% empty %}
  <div class="alert alert-info">Não foram encontrados itens com seus critérios de busca!</div>
{% endfor %}
