{% extends "compilacao/base_compilacao.html" %}
{% load i18n crispy_forms_tags compilacao_filters %}

{% block sections_nav %}
  <ul class="nav nav-pills justify-content-end">
    {% url 'sapl.compilacao:dispositivo_edit' object.ta_id object.pk as edit_url%}
    {% url 'sapl.compilacao:dispositivo_edit_vigencia' object.ta_id object.pk as edit_vigencia_url %}
    {% url 'sapl.compilacao:dispositivo_edit_alteracao' object.ta_id object.pk as edit_alteracao_url %}
    {% url 'sapl.compilacao:dispositivo_edit_definidor_vigencia' object.ta_id object.pk as edit_definidor_vigencia_url %}
    {% if perms.compilacao.change_dispositivo_edicao_avancada %}<li class="nav-item"><a class="nav-link btn-warning {% if request.get_full_path == edit_url %}active{%endif%}" href="{{ edit_url }}">{% trans 'Dados Básicos' %}</a></li>{% endif %}
    {% if perms.compilacao.change_dispositivo_edicao_avancada %}<li class="nav-item"><a class="nav-link btn-warning {% if request.get_full_path == edit_vigencia_url %}active{%endif%}" href="{{ edit_vigencia_url }}" >{% trans 'Vigência' %}</a></li>{% endif %}
    {% if perms.compilacao.change_dispositivo_de_vigencia_global %}<li class="nav-item"><a class="nav-link btn-danger {% if request.get_full_path == edit_definidor_vigencia_url %}active{%endif%}" href="{{ edit_definidor_vigencia_url }}" >{% trans 'Definidor de Vigência' %}</a></li>{% endif %}
    {% if perms.compilacao.change_dispositivo_registros_compilacao %}<li class="nav-item"><a class="nav-link btn-danger {% if request.get_full_path == edit_alteracao_url %}class="active{%endif%}" href="{{ edit_alteracao_url }}" >{% trans 'Alteração' %}</a></li>{% endif %}
  </ul>
{% endblock sections_nav %}{% trans '' %}

{% block title %}
  <h1><small>{{object.ta}}</small><br>{% trans 'Edição de Dispositivo' %}</h1>
{% endblock%}
{% block base_content %}
    <div class="btn-group btn-group-sm" role="group">
      <div class="btn-group cp-nav-parents " role="group">
        <a href="#" class="btn btn-outline-primary">
          {% trans "Articulações" %}
        </a>
        <div class="dropdown-menu">
            {%for parent in object.select_roots %}
              <a  class="dropdown-item" href="{% url view.get_url_this_view parent.ta_id parent.pk %}">
                {{parent.dispositivo0}} - {{parent|nomenclatura}}
              </a>
            {%endfor %}
        </div>
      </div>
    
      {%for parent in object.get_parents_asc %}
        {%with node=parent active=False template_name='compilacao/dispositivo_form_parents.html' %}
          {%include template_name%}
        {%endwith%}
      {%endfor %}

    {%with node=object active=True template_name='compilacao/dispositivo_form_parents.html' %}
      {%include template_name%}
    {%endwith%}
  </div>
  <br>
  {%if object.ta_publicado_id %}
    <a class="text-warning" href="{%url 'sapl.compilacao:ta_text' object.ta_publicado.pk %}#{{object.dispositivo_atualizador_id}}">
      <small>{{ object.tipo_dispositivo.nota_automatica_prefixo_html|safe }}
      {% nota_automatica object None %}
      {{ object.tipo_dispositivo.nota_automatica_sufixo_html|safe }}</small></a>
  {%endif%}
  <br><br>
  {% crispy form %}
{% endblock %}
