{% extends "base.html" %}
{% load i18n %}
{% load compilacao_filters %}
{% load common_tags %}

{% block base_content %}
  <div class="clearfix">
    {% block actions %}
    <div class="actions btn-group pull-right" role="group">
        <a href="{% url 'sapl.compilacao:ta_pub_edit' object.ta.pk object.pk %}" class="btn btn-default">{% trans 'Editar' %}</a>
        <a href="{% url 'sapl.compilacao:ta_pub_delete' object.ta.pk object.pk %}" class="btn btn-default btn-excluir">{% trans 'Excluir' %}</a>
    </div>
    {% endblock actions %}
  </div>
  <div class="actions btn-group pull-right" role="group">
    {% block sections_nav %}
    {% endblock %}
  </div>

  {% block detail_content %} {# TODO replace fieldset for something semantically correct, but with similar visual grouping style #}
    <fieldset>
      <legend>{%trans 'Identificação Básica'%}</legend>
      <div class="row">
        <div class="col-md-4">
          <div id="div_id_tipo" class="holder">
            <label>{% field_verbose_name object 'tipo_publicacao' %}</label>
            <p>{{ object.tipo_publicacao}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div id="div_id_tipo" class="holder">
            <label>{% field_verbose_name object 'veiculo_publicacao' %}</label>
            <p>{{ object.veiculo_publicacao}}</p>
          </div>
        </div>
        <div class="col-md-2">
          <div id="div_id_tipo" class="holder">
            <label>{% field_verbose_name object 'ano' %}</label>
            <p>{{ object.ano}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div id="div_id_tipo" class="holder">
            <label>{% field_verbose_name object 'data' %}</label>
            <p>{{ object.data}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div id="div_id_tipo" class="holder">
            <label>{% field_verbose_name object 'hora' %}</label>
            <p>{{ object.hora|time:"H:i:s"}}</p>
          </div>
        </div>
        <div class="col-md-2">
          <div id="div_id_tipo" class="holder">
            <label>{% field_verbose_name object 'numero' %}</label>
            <p>{{ object.numero|default:''}}</p>
          </div>
        </div>
        <div class="col-md-2">
          <div id="div_id_tipo" class="holder">
            <label>{% field_verbose_name object 'edicao' %}</label>
            <p>{{ object.edicao|default:''}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div id="div_id_tipo" class="holder">
            <label>{% field_verbose_name object 'pagina_inicio' %}</label>
            <p>{{ object.pagina_inicio|default:''}}</p>
          </div>
        </div>
        <div class="col-md-2">
          <div id="div_id_tipo" class="holder">
            <label>{% field_verbose_name object 'pagina_fim' %}</label>
            <p>{{ object.pagina_fim|default:''}}</p>
          </div>
        </div>
        <div class="col-md-8">
          <div id="div_id_tipo" class="holder">
            {% if object.url_externa %}
            <label><a href="{{ object.url_externa|default:''}}">{% field_verbose_name object 'url_externa' %}</a></label>
            {% endif %}
          </div>
        </div>
      </div>
    </fieldset>
  {% endblock detail_content %}
{% endblock base_content %}
