{% extends "base.html" %}
{% load i18n %}
{% load compilacao_filters %}
{% load common_tags %}

{% block sections_nav %}
  <ul class="nav nav-pills navbar-right">
    {%if object %}
      <li>
        {% if request.GET.back_type == 'history' and object.content_object %}
          <a href="javascript:window.history.back()" title="{% trans 'Voltar para '%}{{object.content_object}}">{% trans 'Voltar para '%}{{object.content_object}}</a>
        {% elif object.content_object%}
          <a href="{% url object|urldetail_content_type object.content_object.pk %}" title="{% trans 'Voltar para '%}{{object.content_object}}">{% trans 'Voltar para '%}{{object.content_object}}</a>
        {%else%}
          <a href="{% url 'sapl.compilacao:ta_detail' object.pk %}">{% trans 'Início' %}</a>
        {%endif%}
      </li>
      {% if object.tipo_ta.publicacao_func %}
        <li><a href="{% url 'sapl.compilacao:ta_pub_list' object.pk %}">{% model_verbose_name_plural 'sapl.compilacao.models.Publicacao' %}</a></li>
      {% endif %}
      {% if perms.compilacao.view_dispositivo_notificacoes %}
        <li><a href="{% url 'sapl.compilacao:ta_text_notificacoes' object.pk %}">{% trans 'Notificações' %}</a></li>
      {% endif %}
      {% block extra_sections_nav %}
        <li><a href="{% url 'sapl.compilacao:ta_text' object.pk %}">{% trans 'Texto' %}</a></li>
      {% endblock %}
    {% endif %}
  </ul>
{% endblock %}

{% block base_content %}

  {% block actions %}
    <div class="clearfix hidden-print">

      <div class="actions btn-group pull-right" role="group">
        {% if perms.compilacao.lock_unlock_textoarticulado and not object.editable_only_by_owners%}
              <a href="{% url 'sapl.compilacao:ta_text_edit' object.pk %}?{% if object.editing_locked %}unlock{%else%}lock{% endif %}" class="btn btn-default btn-excluir">{% if object.editing_locked %}{% trans 'Desbloquear Edição' %}{%else%}{% trans 'Bloquear Edição' %}{% endif %}</a>
        {% endif %}
        {% if perms.compilacao.change_textoarticulado and object|can_use_dynamic_editing:user %}
          <a href="{% url 'sapl.compilacao:ta_edit' object.pk %}" class="btn btn-default">{% trans 'Editar Metadados do Texto Articulado' %}</a>
        {% endif %}
        {% if object|can_use_dynamic_editing:user %}
              <a href="{% url 'sapl.compilacao:ta_text_edit' object.pk %}" class="btn btn-default">{% trans 'Editar Texto' %}</a>
        {% endif %}

	     </div>
    </div>
  {% endblock actions %}

  {% block detail_content %} {# TODO replace fieldset for something semantically correct, but with similar visual grouping style #}
    <fieldset class="hidden-print">
        <legend>{%trans 'Identificação Básica'%}</legend>
        <div class="row">
          <div class="col-md-3">
            <div id="div_id_tipo" class="holder">
              <label>{% field_verbose_name object 'tipo_ta' %}</label>
              <p>{{ object.tipo_ta}}</p>
            </div>
          </div>

          {% if object.content_object and object.content_object.tipo%}
            <div class="col-md-3">
              <div id="div_id_tipo" class="holder">
                <label>{% field_verbose_name object.content_object 'tipo' %}</label>
                <p>{{ object.content_object.tipo}}</p>
              </div>
            </div>
          {%endif%}

          <div class="col-md-2">
            <div id="div_id_numero" class="holder">
              <label>{% field_verbose_name object 'numero' %}</label>
              <p>{{ object.numero}}</p>
            </div>
          </div>

          <div class="col-md-2">
            <div id="div_id_ano" class="holder">
              <label>{% field_verbose_name object 'ano' %}</label>
              <p>{{ object.ano}}</p>
            </div>
          </div>

          <div class="col-md-2">
            <div id="div_id_data" class="holder">
              <label>{% field_verbose_name object 'data' %}</label>
              <p>{{ object.data}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="div_id_ementa" class="holder">
              <label>{% field_verbose_name object 'ementa' %}</label>
              <p>{{ object.ementa|safe}}</p>
            </div>
          </div>
        </div>
    </fieldset>
  {% endblock detail_content %}
{% endblock base_content %}
