{% load i18n %}
{% load compilacao_filters %}
{% load common_tags %}

{% for dpt in object_list %}
  {% if dpt.tipo_dispositivo.dispositivo_de_alteracao and not dpt.tipo_dispositivo.dispositivo_de_articulacao%}
  {% else %}
    {% if dpt.nivel == view.flag_nivel_old %}
      </div>
    {% elif dpt.nivel < view.flag_nivel_old %}
      {% close_div view.flag_nivel_old dpt.nivel 0 %}
    {% endif%}

    {% if forloop.first and not view|isinst:'TextView' %}
    {% else %}
      <div class="dpt {%if dpt.tipo_dispositivo.dispositivo_de_articulacao and dpt.tipo_dispositivo.dispositivo_de_alteracao%}{{dpt.tipo_dispositivo.class_css}}{% endif %}{% if 'indent' in dpt.tipo_dispositivo.class_css%}indent{% endif %}" nivel="{{dpt.nivel}}">
    {% endif%}

    {% spaceless %}
      <div class="{{ dpt.tipo_dispositivo.class_css }}">
        <div class="dptt {% dispositivo_desativado dpt view.inicio_vigencia view.fim_vigencia %}"  id="dptt{{dpt.pk}}" >


          {% if not dpt.tipo_dispositivo.dispositivo_de_articulacao or dpt.tipo_dispositivo.dispositivo_de_articulacao and dpt.dispositivo_subsequente %}
            {% if dpt.auto_inserido %}
              {{ dpt.dispositivo_pai.tipo_dispositivo.rotulo_prefixo_html|safe }}
              <a class="dpt-link" name="{{dpt.pk}}">{{ dpt.dispositivo_pai.rotulo }}</a>
              {{ dpt.dispositivo_pai.tipo_dispositivo.rotulo_sufixo_html|safe }}
            {% else %}
              {{ dpt.tipo_dispositivo.rotulo_prefixo_html|safe }}
              <a class="dpt-link" name="{{dpt.pk}}" title="{{dpt.pk}}">{{ dpt.rotulo }}</a>
              {{ dpt.tipo_dispositivo.rotulo_sufixo_html|safe }}
            {% endif %}
          {% endif %}

          <span class="dtxt" id="d{% if not dpt.dispositivo_subsequente_id and dpt.dispositivo_substituido_id %}a{% endif %}{{dpt.pk}}" pks="{{dpt.dispositivo_substituido_id|default:''}}" pk="{{dpt.pk}}">{{ dpt.tipo_dispositivo.texto_prefixo_html|safe }}{%if dpt.texto %}{{ dpt.texto|safe }}{%else%}{%if not dpt.tipo_dispositivo.dispositivo_de_articulacao %}&nbsp;{% endif %}{% endif %}</span>
          {% if dpt.ta_publicado_id %}
            <a class="nota-alteracao" href="{%url 'sapl.compilacao:ta_text' dpt.ta_publicado.pk %}#{{dpt.dispositivo_atualizador_id}}">
              {{ dpt.tipo_dispositivo.nota_automatica_prefixo_html|safe }}
              {% nota_automatica dpt ta_pub_list %}
              {{ dpt.tipo_dispositivo.nota_automatica_sufixo_html|safe }}
              {% if dpt.tipo_dispositivo.dispositivo_de_articulacao and dpt.dispositivo_substituido %}
                &nbsp;
              {% endif %}
            </a>
          {% endif %}
            {% if user.is_authenticated and not dpt.tipo_dispositivo.dispositivo_de_articulacao%}
              {% if perms.compilacao.add_nota or perms.compilacao.add_vide or perms.compilacao.change_dispositivo%}
                <div class="dne" id="dne{{dpt.pk}}" pk="{{dpt.pk}}">
                  <ul class="btns-action">
                    {% if perms.compilacao.change_dispositivo %}<li><a href = "{% url 'sapl.compilacao:ta_text_edit' dpt.ta.pk%}#{{dpt.pk}}" class="btn-action" title="{% trans 'Editar Dispositivo'%}">Ed</a></li>{% endif %}
                    {% if perms.compilacao.add_nota %}<li><a class="btn-action btn-nota-create"  model="nota" pk="{{dpt.pk}}" title="{% trans 'Adicionar Nota'%}">N</a></li>{% endif %}
                    {% if perms.compilacao.add_vide %}<li><a class="btn-action btn-vide-create" model="vide"  pk="{{dpt.pk}}" title="{% trans 'Adicionar Vide'%}">V</a></li>{% endif %}
                  </ul>
                  <div class="dne-form clearfix"></div>
                </div>
              {% endif %}
            {% endif %}
        </div>

        {% if not dpt.tipo_dispositivo.dispositivo_de_articulacao %}
          <div class="dn" id="dn{{dpt.pk}}" pk="{{dpt.pk}}">{# Dispostivo Nota e Vides #}
            <ul class="dnl">{# Dispostivo Nota Lista#}

              {% if cita and cita|lookup:dpt.pk %}
                {% for vide in cita|lookup:dpt.pk %}

                  {%if not forloop.first %}
                    <li class="bullet">&#8226;</li>
                  {% endif %}
                  <li class="dnli" id="nt{{vide.pk}}">

                    <ul>
                      {% if user.is_authenticated %}
                        {% if perms.compilacao.change_vide %}
                          <li><a class="btn-action btn-vide-edit" model="vide" pk="{{vide.pk}}">Editar</a></li>
                          <li class="bullet">&#8226;</li>
                        {% endif %}
                        {% if perms.compilacao.delete_vide %}
                          <li><a class="btn-action btn-vide-delete" model="vide" pk="{{vide.pk}}">Excluir</a></li>
                          <li class="bullet">&#8226;</li>
                        {% endif %}
                      {% endif %}
                      <li class="ntipo">{{vide.tipo.nome}}</li>
                      <li class="bullet">&#8226;</li>
                      <li class="npublicacao" title="{% trans 'Data de Criação'%}">{{vide.created|date:"d M Y"}}</li>
                    </ul>
                    <div class="ntitulo">Vide: </div>
                    <div class="ntexto">
                      {% if vide.dispositivo_ref.dispositivo_pai.nivel != 0 and vide.dispositivo_ref.dispositivo_pai.tipo_dispositivo.dispositivo_de_articulacao %}
                        <a href="{% url 'sapl.compilacao:ta_text' vide.dispositivo_ref.dispositivo_pai.ta.pk%}#{{vide.dispositivo_ref.dispositivo_pai.pk }}">{{ vide.dispositivo_ref}} {% trans 'do'%} {{ vide.dispositivo_ref.dispositivo_pai}} - {{ vide.dispositivo_ref.dispositivo_pai.ta}}</a>
                      {% else %}
                        <a href="{% url 'sapl.compilacao:ta_text' vide.dispositivo_ref.ta.pk%}#{{vide.dispositivo_ref.pk }}">{{ vide.dispositivo_ref}} - {{vide.dispositivo_ref.ta}}</a>
                      {% endif %}
                      {% if vide.texto %} - {{vide.texto}}{% endif %}
                    </div>
                  </li>
                {% endfor %}
              {% endif %}

              {% if citado and citado|lookup:dpt.pk %}
                {% if cita and cita|lookup:dpt.pk %}
                  <li class="bullet">&#8226;</li>
                {% endif %}

                {% for vide in citado|lookup:dpt.pk %}
                  {%if not forloop.first %}
                    <li class="bullet">&#8226;</li>
                  {% endif %}
                  <li class="dnli" id="nt{{vide.pk}}">
                    <ul>
                      <li class="ntipo">{{vide.tipo.nome}}</li>
                      <li class="bullet">&#8226;</li>
                      <li class="npublicacao" title="{% trans 'Data de Criação'%}">{{vide.created|date:"d M Y"}}</li>
                    </ul>
                    <div class="ntitulo">Citado em: </div>
                    <div class="ntexto">
                      {% if vide.dispositivo_base.dispositivo_pai.nivel != 0 and vide.dispositivo_base.dispositivo_pai.tipo_dispositivo.dispositivo_de_articulacao%}
                      <a href="{% url 'sapl.compilacao:ta_text' vide.dispositivo_base.dispositivo_pai.ta.pk%}#{{vide.dispositivo_base.dispositivo_pai.pk }}">{{ vide.dispositivo_base}} {% trans 'do'%} {{ vide.dispositivo_base.dispositivo_pai}} - {{ vide.dispositivo_base.dispositivo_pai.ta}}</a>
                      {% else %}
                      <a href="{% url 'sapl.compilacao:ta_text' vide.dispositivo_base.ta.pk%}#{{vide.dispositivo_base.pk }}">{{ vide.dispositivo_base}} - {{ vide.dispositivo_base.ta}}</a>
                      {% endif %}
                      {% if vide.texto %} - {{vide.texto}}{% endif %}
                    </div>
                  </li>
                {% endfor %}
              {% endif %}
              {%if notas and notas|lookup:dpt.pk and cita and cita|lookup:dpt.pk or notas and notas|lookup:dpt.pk and citado and citado|lookup:dpt.pk %}
                <li class="bullet">&#8226;</li>
              {% endif %}
              {% if notas and notas|lookup:dpt.pk %}
                {% for nota in notas|lookup:dpt.pk  %}

                  {% if user.is_superuser or nota.publicidade == nota.NPUBL or nota.publicidade == nota.NINST and user.is_authenticated or nota.publicidade == nota.NPRIV and nota.owner == user %}
                    {%if not forloop.first %}
                      <li class="bullet">&#8226;</li>
                    {% endif %}
                    <li class="dnli" id="nt{{nota.pk}}">
                      <ul>
                        {% if user.is_authenticated %}
                          {% if user == nota.owner and perms.compilacao.change_nota or user.is_superuser%}
                            <li><a class="btn-action btn-nota-edit"  model="nota" pk="{{nota.pk}}">Editar</a></li>
                            <li class="bullet">&#8226;</li>
                          {% endif %}
                          {% if user == nota.owner and perms.compilacao.delete_nota or user.is_superuser %}
                            <li><a class="btn-action btn-nota-delete"  model="nota" pk="{{nota.pk}}">Excluir</a></li>
                            <li class="bullet">&#8226;</li>
                          {% endif %}
                        {% endif %}
                        <li class="ntipo">{{nota.tipo.nome}}</li>
                        <li class="bullet">&#8226;</li>
                        <li class="nowner" title="{% trans 'Criado Por' %}">{%if nota.owner.first_name%}{{nota.owner.first_name}}{%else%}{{nota.owner}}{% endif %}</li>
                        <li class="bullet">&#8226;</li>
                        <li class="npublicacao" title="{% trans 'Data de Publicação'%}">{{nota.publicacao|date:"d M Y"}}</li>
                      </ul>

                      {%if nota.titulo %}
                        <div class="ntitulo">
                          {%if nota.url_externa %}<a target="_blank" href="{{nota.url_externa}}">{% endif %}{{nota.titulo}} - {%if nota.url_externa %}</a>{% endif %}
                        </div>
                      {% endif %}
                      <div class="ntexto">
                        {%if nota.url_externa %}<a target="_blank" href="{{nota.url_externa}}">{% endif %}{{ nota.texto}}{%if nota.url_externa %}</a>{% endif %}
                      </div>

                      {%comment%}
                      <ul>
                        <li class="nefetividade" title="{% trans 'Data de Efetividade'%}">{{nota.efetividade|date:"d M Y"}}</li>
                        <li class="bullet">&#8226;</li>
                        <li class="npublicidade">{{nota.get_publicidade_display}}</li>
                      </ul>
                      {%endcomment%}
                    </li>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        {% endif%}
      </div>
    {% endspaceless %}
    {% if dpt.tipo_dispositivo.dispositivo_de_alteracao%}
      {%with node=dpt template_name='compilacao/text_list_blocoalteracao.html' %}
        {%include template_name%}
      {%endwith%}
    {% endif%}
    {% set_nivel_old view dpt.nivel %}
  {% endif %}
{% endfor %}

{% if not view|isinst:'TextView' %}
  {% close_div view.flag_nivel_old view.flag_nivel_ini -1 %}
{% else %}
  {% close_div view.flag_nivel_old view.flag_nivel_ini 0 %}
{% endif%}
