{% load i18n %}
{% load compilacao_filters %}
{% load common_tags %}

<div class="cp">
  {% if object_list %}
    <div class="clearfix">
      <div class="actions btn-group float-right" role="group">
        <a class="btn btn-outline-primary" id="btn_font_menos" title="Diminuir tamanho da letra">a</a>
        <a class="btn btn-outline-primary" id="btn_font_mais"  title="Aumentar tamanho da Letra">A</a>
      </div>
    </div>
  {% endif %}

  {% for key, values in view.get_vigencias.items %}
    {% if forloop.first %}
      <ul class="cp-linha-vigencias">
        {% for dispositivo in values %}
          <li class="{% if view.inicio_vigencia == dispositivo.inicio_vigencia %}active{%endif%}">
            <a class="" href="{% url 'sapl.compilacao:ta_vigencia' dispositivo.ta_id dispositivo|get_sign_vigencia %}" title="{% trans 'Vigência entre'%} {{dispositivo.inicio_vigencia}} {% trans 'e'%} {{dispositivo.fim_vigencia}}">{% trans 'Texto Original'%}</a>
            <span class="circle"> </span>
          </li>
        {% endfor %}
    {% elif forloop.last %}
      {% for dispositivo in values %}
        <li class="{% if not view.inicio_vigencia%}active{% endif %}">
          <a class="" href="{% url 'sapl.compilacao:ta_text' dispositivo.ta_id %}" title="{% trans 'Compilação atual'%}.&#013;{% trans 'Vigência a partir de'%} {{dispositivo.inicio_vigencia}}&#013;{% if dispositivo.ta_publicado_id in ta_pub_list %}{{ ta_pub_list|lookup:dispositivo.ta_publicado_id }}{%else%}{%if dispositivo.ta_publicado %}{{dispositivo.ta_publicado}}{%else%}{{dispositivo.ta}}{%endif%}{%endif%}">{% trans 'Texto Atual'%}</a>
          <span class="circle"> </span>
        </li>
        {% if forloop.parentloop.last %}
          </ul>
          <span class="vigencia-active">

            {% if view.inicio_vigencia and view.fim_vigencia %}
              {% blocktrans with inicio_vigencia=view.inicio_vigencia fim_vigencia=view.fim_vigencia%}
                Vigência entre <b>{{inicio_vigencia}}</b> e <b>{{fim_vigencia}}</b>.
              {% endblocktrans%}
            {% else%}
              {% blocktrans with inicio_vigencia=dispositivo.inicio_vigencia%}
                Vigência a partir de <b>{{inicio_vigencia}}</b>.
              {% endblocktrans%}
            {% endif %}
            <br>
            {% if view.ta_vigencia %}
                <small>{% trans 'Dada por '%}<a href="{% url 'sapl.compilacao:ta_text' view.ta_vigencia %}">{{ta_pub_list|lookup:view.ta_vigencia}}</a></small>
            {% elif view.ta_vigencia and view.ta_vigencia != 0%}
                <small>{% trans 'Dada por '%}<a href="{% url 'sapl.compilacao:ta_text' dispositivo.ta_publicado.pk %}">{{dispositivo.ta_publicado}}</a></small>
            {% endif %}
          </span>
        {% endif%}
      {% endfor %}
    {% else %}
      <li class="{% if key == view.inicio_vigencia.year %}active{% endif %}">
      <a class="" href="#">{{ key }}</a>
          <span class="circle"> </span>
        <ul class="">
        {% comment "" %}
          <div class="arrow top"></div>
        {% endcomment %}
          {% for dispositivo in values %}
            <li class="">
            {% if not forloop.parentloop.first %}
              <a href="{% url 'sapl.compilacao:ta_vigencia' dispositivo.ta_id dispositivo|get_sign_vigencia %}" title="{% if dispositivo.ta_publicado_id in ta_pub_list%}{{ ta_pub_list|lookup:dispositivo.ta_publicado_id }}{%else%}{%if dispositivo.ta_publicado %}{{dispositivo.ta_publicado}}{%else%}{{dispositivo.ta}}{%endif%}{%endif%}">{% trans 'Vigência entre'%} {{dispositivo.inicio_vigencia}} {% trans 'e'%} {{dispositivo.fim_vigencia}}</a>
            {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
  
  <div class="tipo-vigencias d-flex fixed-bottom justify-content-center">
    <div class="btn-group btn-group-sm">
      <a class="btn btn-primary active" onclick="textoMultiVigente(this, false);" title="{% trans 'Texto Multivigente Sequencial'%}">{% trans 'TMS'%}</a>
      <a class="btn btn-primary" onclick="textoMultiVigente(this, true);" title="{% trans 'Texto Multivigente Integrado com Realce de Alterações'%}">{% trans 'TMI'%}</a>
      <a class="btn btn-primary"  onclick="textoMultiVigente(this, false); textoVigente(this, true);" title="{% trans 'Texto Vigente COM Links para Textos Alteradores'%}">{% trans 'TVL'%}</a>
      <a class="btn btn-primary"  onclick="textoVigente(this, false);" title="{% trans 'Texto Vigente'%}">{% trans 'TVT'%}</a>
    </div>
  </div>

  {% include 'compilacao/text_list_bloco.html'%}
</div>