{% extends "compilacao/textoarticulado_detail.html" %}
{% load i18n %}
{% load compilacao_filters %}
{% load common_tags %}

{% block title %}
  <h2 class="page-header">{% if object.content_object.title_type %}{{object.content_object.title_type}}{%else%}{{object}}{% endif %}{% comment %}<small><i>{% trans 'Texto Multivigente em Edição' %}</i></small>{% endcomment %}</h2>
{% endblock %}

{% block extra_sections_nav %}
        <li><a href="{% url 'sapl.compilacao:ta_text' object.pk %}?print">{% trans 'Versão para Impressão' %}</a></li>
{% endblock %}
{% block base_content %}

  {% block actions %}
    {{block.super}}
  {% endblock %}

  {% comment %}

	{% if perms.compilacao.change_dispositivo_edicao_dinamica %}
    {% block actions %}
      <div class="clearfix">
        <div class="actions btn-group float-right" role="group">
  		  <a href="{% url 'sapl.compilacao:ta_text_edit' object.pk %}" class="btn btn-outline-primary">{% trans 'Editar Texto' %}</a>
        </div>
      </div>
    {% endblock actions %}
  {% endif %}
  {% endcomment %}

  {% block detail_content %}
    {{block.super}}
  {% endblock %}
  {% include 'compilacao/text_list__embedded.html'%}

{% endblock base_content %}
