{% extends "compilacao/text_list.html" %}
{% load i18n %}
{% load compilacao_filters %}
{% load common_tags %}

{% block navigation %}{% endblock %}
{% block sections_nav %}{% endblock %}
{% block extra_sections_nav %}{% endblock %}
{% block actions %}{% endblock %}
{% block dsp_actions %}{% endblock %}

{% block detail_content %}{% endblock %}
{% block footer_container %}{% endblock %}


{% block base_content %}
<div class="cp-print">
  <a class="btn btn-success d-print-none" href="javascript:window.print()" title="Imprimir Texto Compilado. Para gerar PDF do texto, utilize a opção &#34;Salvar como PDF&#34; do seu navegador.">
    <i class="fas fa-print"></i>
  </a>
  {{ block.super }}
</div>
{% endblock %}