{% extends "base.html" %}
{% load i18n %}
{% load compilacao_filters %}
{% load common_tags %}

{% block base_content %}
  {% block actions %}
    {% if perms.compilacao.add_tipotextoarticulado %}
      <div class="actions btn-group pull-right" role="group">
        <a href="{{ view.create_url }}" class="btn btn-default">
          {% trans 'Adicionar'%} {%model_verbose_name 'sapl.compilacao.models.TipoTextoArticulado'%}
        </a>
      </div>
    {% endif %}
  {% endblock actions %}

  {% if not object_list %}
    <p>{{ NO_ENTRIES_MSG }}</p>
  {% else %}
    <table class="table table-striped table-hover" width=100%>
      <thead>
        <tr>
          <th>{% fieldclass_verbose_name 'sapl.compilacao.models.TipoTextoArticulado' 'sigla' %}</th>
          <th>{% fieldclass_verbose_name 'sapl.compilacao.models.TipoTextoArticulado' 'descricao' %}</th>
          <th>{% fieldclass_verbose_name 'sapl.compilacao.models.TipoTextoArticulado' 'content_type' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for tipo_ta in object_list %}
          <tr>
            <td><a href="{% url 'sapl.compilacao:tipo_ta_detail' tipo_ta.pk %}">{{ tipo_ta.sigla }}</a></td>
            <td>{{ tipo_ta.descricao }}</td>
            <td>{{ tipo_ta.content_type }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {%endif%}
  {% include 'paginacao.html'%}
{% endblock %}
