<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src='https://meet.jit.si/external_api.js'></script>
    <script language="Javascript">
        api = undefined;
        $(document).ready(function() {
            const domain = 'jitsih.interlegis.leg.br';
            const options= {
                roomName: '{{object.chat_id}}',
                width: 700,
                height: 700,
                parentNode: document.querySelector('#meet'),
                interfaceConfigOverwrite: {TOOLBAR_BUTTONS: ['hangup','microphone', 'camera']}
            };
            api = new JitsiMeetExternalAPI(domain, options);
            api.executeCommand('displayName', '{{nome}}');
            // api.executeCommand('password', '12345');
            api.executeCommand('toggleTileView');
            //api.executeCommand('toggleChat');
            api.executeCommand('subject', '{{object.titulo}}');

            api.on('readyToClose', () => {
                console.log('Closed session');
                window.location.href = "{% url 'sapl.videoconf:videoconferencia_list' %}";
            });
        });
    </script>
    <title>Videoconferência</title>
</head>
<body>
    <div id="content">
        <h3>Título: {{ object.titulo }}<br/></h3>
        <h3>Descrição: {{ object.descricao }}<br/></h3>
        <strong>ID: </strong>{{ object.chat_id }}<br/>
    </div>
    <div id="meet"></div>
</body>
</html>