{% extends 'crud/form.html' %}
{% load crispy_forms_tags %}
{% load common_tags %}
{% load waffle_tags %}
{% block base_content %}
  <h1><legend>Pesquisa Textual</legend></h1>
  </br>
  <form method="get" action=".">
    <div class="row">
      <div class="col-md-12">
        {{ form.q|as_crispy_field }}
      </div>
    </div>
    {% switch "SAPLN_SWITCH" %}
      &nbsp;
    {% else %}
      <div class="row">
        <div class="col-md-8">
          <h3> Em quais tipos de documento deseja pesquisar?</h3>
          <br/>
          <div class="checkbox" id="check_all">
            <label for="id_check_all">
              <input type="checkbox" id="id_check_all" onchange="checkAll(this)" /> Marcar/Desmarcar Todos
            </label>
          </div>
          <br/>
          {{ form.models }}
        </div>
      </div>
    {% endswitch %}

    <div  class="row">
      <div class="col-md-12">
        <input class="btn btn-primary float-right" type="submit" value="Pesquisar">
      </div>
    </div>
    </br>
    {% if query %}
      <table class="table table-striped table-bordered">
        <thead class="thead-default">
          <tr><td><h3>Resultados - Foram encontrados {{ page.paginator.count }} registros <br/>
            {% if page.paginator.count %}
            Registros {{ page.start_index }} a {{ page.end_index }} de {{ page.paginator.count }}
            {% endif %}
          </h3></td></tr>
        </thead>

      {% for result in page.object_list %}
        <tr>
          <td>
            {% if result.object|search_get_model == 'm' %}
              <p>
                <strong>Matéria Legislativa: </strong> <a href="{% url 'sapl.materia:materialegislativa_detail' result.object.pk %}">{{ result.object }}</a></br>
                {{result.object.ementa|safe}}<br>

                {% if result.object.texto_original %}
                <strong>Texto Original:</strong> <a href="{{result.object.texto_original.url}}"> Clique aqui </a></br>
                {% endif %}
                {% if result.object.texto_articulado.exists %}
                  <strong>Texto Articulado:</strong> <a href="{% url 'sapl.materia:materia_ta' result.object.pk %}"> Clique aqui </a></br>
                {% endif %}
              </p>

            {% elif result.object|search_get_model == 'd' %}
              <p>
                <strong> Documento Acessório: </strong><a href="{% url 'sapl.materia:documentoacessorio_detail' result.object.pk %}">{{ result.object }}</a></br>
                {{result.object.ementa|safe}}<br>
                {% if result.object.arquivo %}
                <strong>Texto Original:</strong> <a href="{{result.object.arquivo.url}}"> Clique aqui </a></br>
                {% endif %}
              </p>

            {% elif result.object|search_get_model == 'n' %}
              <p>
                <strong> Norma Jurídica: </strong><a href="{% url 'sapl.norma:normajuridica_detail' result.object.pk %}">{{ result.object }}</a></br>
                {{ result.object.ementa|safe }}<br>
                {% if result.object.texto_integral %}
                <strong>Texto Original:</strong> <a href="{{result.object.texto_integral.url}}"> Clique aqui </a></br>
                {% endif %}
                {% if result.object.texto_articulado.exists %}
                  <strong>Texto Articulado:</strong> <a href="{% url 'sapl.norma:norma_ta' result.object.pk %}"> Clique aqui </a></br>
                {% endif %}
              </p>
            {% elif result.object|search_get_model == 's' %}
              <p>
                <strong>Sessão Plenária: </strong><a href="{% url 'sapl.sessao:sessaoplenaria_detail' result.object.pk %}">{{ result.object }}</a></br>
                <strong>Abertura:</strong> {{result.object.data_inicio}}</br>
                <strong>Legislatura:</strong> {{result.object.legislatura}}</br>
                <strong>Sessão Legislativa:</strong> {{result.object.sessao_legislativa}}</br>
                <strong>Tipo:</strong> {{result.object.tipo}}</br>
                {% if result.object.upload_ata %}
                  <strong>Ata:</strong> <a href="{{result.object.upload_ata.url}}"> Clique aqui </a></br>
                {% endif %}
                {% if result.object.upload_pauta %}
                  <strong>Pauta:</strong> <a href="{{result.object.upload_pauta.url}}"> Clique aqui </a></br>
                {% endif %}
                {% if result.object.upload_anexo %}
                  <strong>Anexo:</strong> <a href="{{result.object.upload_anexo.url}}"> Clique aqui </a></br>
                {% endif %}
              </p>
            {% endif %}


          </td>
        </tr>

        {% empty %}
        <h3> Nenhum texto encontrado! </h3>
        <tr>
          <td>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% if page.object_list  %}
        {% include "paginacao.html" %}
      {% endif %}


    {% else %}
       {% if 'q=' in request.get_full_path %}
        <strong><h2>Favor informar um conjunto de caracteres na caixa 'Pesquisar' para realizar a busca</h2></strong>
       {% endif %}
    {% endif %}

  </form>
{% endblock %}

{% block extra_js %}

  <script language="JavaScript">
		function checkAll(elem) {
      let checkboxes = document.getElementsByName('models');
      for (let i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].type == 'checkbox')
            checkboxes[i].checked = elem.checked;
      }
    }
  </script>

{% endblock %}