{% load i18n staticfiles sass_tags menus %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}{% trans 'SAPL - Sistema de Apoio ao Processo Legislativo' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_content %}
      <link rel="icon" href="{% static 'img/favicon.ico' %}"  type="image/png" >

      {# Styles #}
      <link rel="stylesheet" href="{% static 'components-font-awesome/css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% sass_src 'bootstrap-sass/assets/stylesheets/_bootstrap.scss' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'drunken-parrot-flat-ui/css/drunken-parrot.css' %}">
      <link rel="stylesheet" href="{% sass_src 'styles/app.scss' %}" type="text/css">

      <link rel="stylesheet" href="{% static 'jquery-ui/themes/cupertino/jquery-ui.min.css' %}">

      {# Scripts #}
      {# modernizr must be in head (see http://modernizr.com/docs/#installing) #}
    {% endblock %}
  </head>

  <body>
    <div class="page fadein">

      {% block navigation %}

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Institucional <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'mesa_diretora' %}">Mesa Diretora</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'comissao:list' %}">Comissões</a></li>
                    <!-- <li class="nav__sub-item"><a class="nav__sub-link" href="#">Bancadas</a></li> -->
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'parlamentares' %}">Parlamentares</a></li>
                  </ul>
                </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Protocolo <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'protocolo' %}">Pesquisar</a></li>
                    <!-- <li class="nav__sub-item"><a class="nav__sub-link" href="/materia">Protocolo Legislativo</a></li> -->
                    {# <li class="nav__sub-item"><a class="nav__sub-link" href="">Protocolo Geral</a></li> #}
                    {# <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'proposicao' %}">Proposições</a></li> #}
                  </ul>
                </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Atividade Legislativa <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'list_proposicao' %}">Proposições</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'materialegislativa:list' %}">Matérias Legislativas</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sessaoplenaria:list_sessao' %}">Sessões Plenárias</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'sessaoplenaria:list_pauta_sessao' %}">Pautas das Sessões</a></li>
                    <!-- <li class="nav__sub-item"><a class="nav__sub-link" href="#">Atas das Sessões</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Reuniões das Comissões</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Tramitação em Lote</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Impressos</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Relatórios</a></li> -->
                  </ul>
                </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Legislação'%} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav__sub-item"><a class="nav__sub-link" href="{% url 'normajuridica:list'%}">{% trans 'Normas Jurídicas'%}</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Índice de Assuntos</a></li>
                  </ul>
                </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sistema <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="nav__sub-item"><a class="nav__sub-link" href="/sistema">Tabelas Auxiliares</a></li>
<!--                     <li class="nav__sub-item"><a class="nav__sub-link" href="#">Provedor LexML</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Publicador LexML</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Gerenciar Usuários</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Backup e Restauração</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Migração de Dados</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Sobre</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">ZopeEdit Windows</a></li>
                    <li class="nav__sub-item"><a class="nav__sub-link" href="#">Troca de Senha</a></li> -->
                  </ul>
                </li>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      {% endblock navigation %}

      {# Header #}
      {% block main_header %}
      <header class="masthead">
        <div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">
							<img src="{% if logotipo %}{{ MEDIA_URL }}{{ logotipo }}{% else %}{% static 'img/logo.png' %}{% endif %}"
							alt="Logo" class="img-responsive visible-lg-inline-block vcenter" >
							<span class="vcenter">
								{# XXX Make better use of translation tags in html blocks ie. actually use the proper blocktrans tag efficiently #}
								{{ parliament_type }} {% trans 'de' %} {{ city }} - {{ state }}
								<br/><small>{% trans 'Sistema de Apoio ao Processo Legislativo' %}</small>
							</span>
						</a>
					</div>
          {% block sections_nav %} {% subnav %} {% endblock sections_nav %}
        </div>
      </header>
      {% endblock main_header %}

      {# Main content #}
      {% block content_container %}
        <main id="content" class="content page__row">

          <div class="container">

            {# Feedback messages #}
            {% for message in messages %}
              <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                {{ message|safe }}
              </div>
            {% endfor %}

            {# Content header #}
            {% block base_header %}
              <div class="clearfix">

                {% block help %}
                  {% if view.help_path %}
                    <a class="contextual-help right" href="{% url 'help_base' %}{{ view.help_path }}">{% trans 'Ajuda' %}</a>
                  {% endif %}
                {% endblock %}

                {% block title %}
                  <h1 class="page-header">
                    {% if view.title %}
                      {{ view.title|safe|linebreaksbr }}
                    {% else %}
                      {{ title|safe|linebreaksbr }}
                    {% endif %}
                    </h1>
                {% endblock %}

              </div>
            {% endblock base_header %}

            {# Content per se #}
            {% block base_content %}{% endblock %}

          </div>
        </main>

      {% endblock content_container %}

      <footer id="footer" class="footer page__row">
        <div class="container">

          <div class="row">
            <div class="col-md-4">

              <a class="footer__logo" href="#">
                <img src="{% static 'img/logo_interlegis.png' %}" alt="{% trans 'Logo do Interlegis' %} ">
              </a>
              <p>
                <small>
                  Desenvolvido pelo <a href="#">Interlegis</a> em software livre e aberto.
                </small>
              </p>
            </div>
            <div class="col-md-4">
              <a class="footer__logo" href="#">
                <img src="{% static 'img/logo_cc.png' %}" alt="{% trans 'Logo do Creative Commons BY SA' %}">
              </a>
              <p>
                <small>
                  Conteúdo e dados sob licença <a href="#">Creative Commons</a> 4.0 <a href="#">Atribuir Fonte - Compartilhar Igual</a>
                </small>
              </p>
            </div>
            <div class="col-md-4">
              <address>
                <small>
                  <strong>
                    <span class="org">{{ parliament_type }}</span> de <span class="locality">{{ city }}</span> - <abbr class="region" title="{{ state }}">{{ state_abbr }}</abbr>
                  </strong>
                  <br>
                  <span class="street-address">{{ address }}</span>
                  <br> CEP: <span class="postal-code">{{ postal_code }}</span> | Telefone: <span>{{ phone_number }}</span>
                  <br>
                  <a href="{{url_portal}}" class="url">{% trans 'Site da Câmara' %}</a> | <a href="{{url_email}}" class="email">{% trans 'Fale Conosco' %}</a>
                </small>
              </address>
            </div>
          </div>
        </div>
      </footer>
    </div>

    {% block foot_js %}
      <!-- Bootstrap core JavaScript ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'jquery-ui/ui/i18n/datepicker-pt-BR.js' %}"></script>

      <script type="text/javascript" src="{% static 'jQuery-runner/build/jquery.runner.js' %}"></script>
      <script type="text/javascript" src="{% static 'jquery-mask-plugin/dist/jquery.mask.js' %}"></script>

      <script src="{% static 'tinymce/tinymce.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'jsdiff/diff.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

      {% block extra_js %}{% endblock %}

    {% endblock foot_js %}
  </body>
</html>
