{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block head_title %}{% trans 'SAPL - Sistema de Apoio ao Processo Legislativo' %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_content %}
      <link rel="stylesheet" href="{% static 'foundation/css/foundation.min.css' %}">
      <link rel="stylesheet" href="{% static 'foundation-datepicker/css/foundation-datepicker.min.css' %}">
      <link rel="stylesheet" href="{% static 'components-font-awesome/css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'foundation-icon-fonts/foundation-icons.css' %}">

      {# modernizr must be in head (see http://modernizr.com/docs/#installing) #}
      <script type="text/javascript" src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>

      <script type="text/javascript" src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'foundation-datepicker/js/foundation-datepicker.js' %}"></script>
    {% endblock %}
</head>

<body>
    <header>
      ... header ...
      <hr/>
    </header>

    <!-- Content -->
    {% block content_container %}
    {# FIXME: row class is not for that: replace it keeping the layout (notice width) #}
    <div id="body_content" class="row">

      {# Feedback messages #}
      {% for message in messages %}
        <div data-alert class="alert-box {% if message.tags == 'error' %}alert{% else %}{{ message.tags }}{% endif %} radius">
          {{ message|safe }}
          <a href="#" class="close">&times;</a>
        </div>
      {% endfor %}

      {% block base_header %}
      <div class="clearfix">
        {% block help %}
          {% if view.help_path %}<a class="contextual-help right" href="{{ view.help_path }}">{% trans 'Ajuda' %}</a>{% endif %}
        {% endblock %}
        {% block title %}{% if view.title %}<h1>{{ view.title }}</h1>{% endif %}{% endblock %}
      </div>
      {% endblock base_header %}

      {% block base_content %}{% endblock %}
    </div>
    {% endblock content_container %}
    <!-- END Content -->

    <footer id="footer">
      <hr/>
      ... footer...
    </footer>

    {% block foot_js %}
      <script type="text/javascript" src="{% static 'foundation/js/foundation.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'foundation/js/vendor/fastclick.js' %}"></script>
      <script>
        $(document).foundation();
      </script>
    {% endblock foot_js %}
</body>
</html>
