{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block base_content %}

	<h2>Configuração Inicial</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'casa_legislativa' %}" class="btn btn-link">Casa Legislativa</a></div>
  </div>

	<h2>Módulo Parlamentares</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'legislatura:list' %}" class="btn btn-link">Legislatura</a></div>
    <div class="col-md-6"><a href="{% url 'tipoafastamento:list' %}" class="btn btn-link">Tipo de Afastamento</a></div>
    <div class="col-md-6"><a href="{% url 'tipodependente:list' %}" class="btn btn-link">Tipo de Dependente</a></div>
    <div class="col-md-6"><a href="{% url 'situacaomilitar:list' %}" class="btn btn-link">Tipo de Situação Militar</a></div>
    <div class="col-md-6"><a href="{% url 'nivelinstrucao:list' %}" class="btn btn-link">Nível de Intrução</a></div>
    <div class="col-md-6"><a href="{% url 'partido:list' %}" class="btn btn-link">Partido</a></div>
    <div class="col-md-6"><a href="{% url 'coligacao:list' %}" class="btn btn-link">Coligação</a></div>
  </div>

	<h2>Módulo Mesa Diretora</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'sessaolegislativa:list' %}" class="btn btn-link">Sessão Legislativa</a></div>
    <div class="col-md-6"><a href="{% url 'cargomesa:list' %}" class="btn btn-link">Cargo da Mesa</a></div>
  </div>

	<h2>Módulo Comissões</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'cargocomissao:list' %}" class="btn btn-link">Cargo de Comissão</a></div>
    <div class="col-md-6"><a href="{% url 'periodo:list' %}" class="btn btn-link">Período de Composição</a></div>
    <div class="col-md-6"><a href="{% url 'tipocomissao:list' %}" class="btn btn-link">Tipo de Composição</a></div>
  </div>

	<h2>Módulo Bancadas</h2>
  <div class="row">
    <div class="col-md-6"><a href="#" class="btn btn-link">Bancadas</a></div>
    <div class="col-md-6"><a href="#" class="btn btn-link">Cargo de Bancada</a></div>
  </div>

	<h2>Módulo Proposições</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'tipoproposicao:list' %}" class="btn btn-link">Tipo de Proposição</a></div>
    <div class="col-md-6"><a href="{% url 'autor:list' %}" class="btn btn-link">Autor</a></div>
  </div>

	<h2>Módulo Matéria Legislativa</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'tipomaterialegislativa:list' %}" class="btn btn-link">Tipo de Matéria Legislativa</a></div>
    <div class="col-md-6"><a href="{% url 'regimetramitacao:list' %}" class="btn btn-link">Regime de Tramitação</a></div>
    <div class="col-md-6"><a href="{% url 'tipoautor:list' %}" class="btn btn-link">Tipo de Autor</a></div>
    <div class="col-md-6"><a href="{% url 'tipodocumento:list' %}" class="btn btn-link">Tipo de Documento</a></div>
    <div class="col-md-6"><a href="{% url 'tipofimrelatoria:list' %}" class="btn btn-link">Tipo de fim de Relatoria</a></div>
    <div class="col-md-6"><a href="{% url 'unidadetramitacao:list' %}" class="btn btn-link">Unidade de Tramitação</a></div>
    <div class="col-md-6"><a href="{% url 'origem:list' %}" class="btn btn-link">Origem</a></div>
    <div class="col-md-6"><a href="{% url 'autor:list' %}" class="btn btn-link">Autor</a></div>
    <div class="col-md-6"><a href="{% url 'statustramitacao:list' %}" class="btn btn-link">Status da Tramitação</a></div>
    <div class="col-md-6"><a href="{% url 'orgao:list' %}" class="btn btn-link">Órgão</a></div>
  </div>

	<h2>Módulo Normas Jurídicas</h2>
  <div class="row">
    <div class="col-md-6"><a href="" class="btn btn-link">Tipo de Norma Jurídica</a></div>
    <div class="col-md-6"><a href="" class="btn btn-link">Assunto de Norma Jurídica</a></div>
  </div>

	<h2>Módulo Sessão Plenária</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'tiposessao:list' %}" class="btn btn-link">Tipo de Sessão Plenária</a></div>
    <div class="col-md-6"><a href="{% url 'tiporesultadovotacao:list' %}" class="btn btn-link">Tipo de Resultado da Votação</a></div>
    <div class="col-md-6"><a href="#" class="btn btn-link">Cadastro dos endereços dos computadores dos parlamentares</a></div>
    <div class="col-md-6"><a href="{% url 'tipoexpediente:list' %}" class="btn btn-link">Tipo de Expediente</a></div>
    <div class="col-md-6"><a href="#" class="btn btn-link">Propriedades do Painel Eletrônico</a></div>
  </div>

	<h2>Módulo LexML</h2>
  <div class="row">
    <div class="col-md-6"><a href="{% url 'lexmlprovedor:list' %}" class="btn btn-link">Provedor</a></div>
    <div class="col-md-6"><a href="{% url 'lexmlpublicador:list' %}" class="btn btn-link">Publicador</a></div>
  </div>

	<h2>Módulo Administrativo</h2>
  <div class="row">
    <div class="col-md-6"><a href="#" class="btn btn-link">Tipo de Documento</a></div>
    <div class="col-md-6"><a href="#" class="btn btn-link">Tipo de Instituição</a></div>
    <div class="col-md-6"><a href="#" class="btn btn-link">Status de Tramitação</a></div>
  </div>

{% endblock base_content %}
