
$blue:    #02baf2 !default;
$red:     #f84545 !default;

@import "~bootstrap/scss/bootstrap";


@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
    border-color: #d6e1e5;
  }
}


