
//@import "bootstrap";
@import "bootstrap/variables.scss";
@import "header";

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.masthead {
  padding: 10px;
  .nav {
    margin-top: 65px;
  }
  .navbar-brand {
    color: $headings-color;
    font-size: 24px;
    img {
      margin-right: $navbar-padding-horizontal;
    }
    small {
      color: #93A4AA;
      font-size: 75%;
      line-height: 25px;
    }
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding: 0px;
}

// TODO: ajust all the hx sizes from drunken parrot
h1,
.h1 {
  font-size: 30px;
}
.page-header {
    margin: 20px 0px 10px;
}
