

#message_block {
    
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(220, 220, 220, 0.75);
    z-index:99;
}

#message_block #msg{
	position: relative;
    margin: 20% auto;
    padding: 1.2em 2em;
    max-width: 600px;
    text-align: center;
    font-size: 1.5em;
    color: #677;

    border: 1px solid #eee; 
    background-color: #fff !important;
    box-shadow: 0 1px 2px #999;
}

.dispositivo {
	font-size:1em;
	transition: all 0.2s ease-in-out;
}


.dispositivo .ementa {
	padding: 4em 0em 3em 35%;
	font-weight: bold;
	
} 

.dispositivo .anexo, 
.dispositivo .disp_preliminares, 
.dispositivo .disp_gerais, 
.dispositivo .disp_transitorias, 
.dispositivo .disp_finais {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	margin-top: 3em;
	margin-bottom: 1em;
}

.dispositivo .parte {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 1em;
}
.dispositivo .livro {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: 1em;
}

.dispositivo .titulo {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	margin-top: 2em; 
	margin-bottom: 1em;
}

.dispositivo .capitulo { 
	margin-bottom: 1em;
	margin-top: 1.5em;
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
}

.dispositivo .secao {
	margin-top: 1.2em;
	margin-bottom: 0.7em;
	font-size: 1.2em;
	text-align: center;
	font-weight: bold;
}

.dispositivo .subsecao, .dispositivo .itemsecao {
	margin-top: 1em;
	margin-bottom: 0.6em;
	font-size: 1.2em;
	text-align: center;
	font-style: italic;
	font-weight: bold;
} 

.dispositivo .artigo {  
	font-size: 1.15em;
	float:left;
}
.dispositivo .caput { 
	margin-top: 0.3333em; 
	font-size: 1.15em;  
	display: block;
} 
 
.dispositivo .paragrafo {
	padding-left: 1.5em;
	font-size: 1.1em;
	margin-top: 0.2222em; 
}
 
.dispositivo .inciso {
	font-size: 1.1em;
	padding-left: 2.5em;
	margin-top: 0.1667em;  
}

.dispositivo .alinea {
	font-size: 1.0em;
	padding-left: 3.5em;
	margin-top: 2px;
}

.dispositivo .item {
	font-size: 1.0em;
	padding-left: 4.5em;
	margin-top: 2px;
}

.compilacaoedit .desativado, .compilacaoedit .desativado *,
.compilacao .desativado, .compilacao .desativado * {
	text-decoration: line-through;
	color: #777 !important;
} 
.compilacaoedit .desativado table, .compilacaoedit .desativado table td,
.compilacao .desativado table, .compilacao .desativado table td {
	border: 1px dotted #ccc;
	text-decoration: line-through;
}

.dispositivo a {
	color: #444444 !important;
}
.dispositivo a.link_alterador {
	color: #2980B9 !important;
	font-size: 0.75em; 
}
 
.dispositivo .bloco_alteracao {
	padding-left: 10%;
	font-style: italic;
}

.dispositivo .bloco_alteracao:hover a {
    text-decoration: underline;
}

.dispositivo .bloco_alteracao,
.dispositivo .bloco_alteracao a, 
.dispositivo .bloco_alteracao table,
.dispositivo .bloco_alteracao table td {
	color: #018 !important;  
}
 
 
.compilacao .top-bar-section li:not(.has-form) a:not(.button), 
.compilacao .top-bar {
	line-height: 1.6rem;
	height: auto;
	background: #2980B9;
	z-index:1;
	margin: 0 auto;
	max-width: 62.5rem; 
}

.compilacao .top-bar-section li:not(.has-form) a:not(.button).selected,
.compilacao .top-bar-section li:not(.has-form) a:not(.button):hover {
	background: #1056A0;
}

.compilacao .top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 0.43333rem;
}

.compilacao ul.nav {
	background: #2980B9;
	display:block;
	width: 100%;
	z-index:1;
}
.compilacao .tipo-vigencias {
	border-top: 1px solid #62B5B5;
}
 
.compilacao .vigencias {
	margin: 2.5em 0 0 0; 
	transition: all .4s ease-in-out;
	background: #2980B9;
	clear:both;
}

.compilacao .fixed{ 	
	z-index:98;  
}

.displaynone {
	display: none !important;
}


.compilacaoedit {
	margin-bottom: 30em;
    margin-left: 0.8em;
    z-index: 1;
}


.compilacaoedit .semtexto {
    font-weight: bold;
    color: #8DA6D8;
}



.compilacaoedit  .edit {
	position: relative;
	display:block;
	background-color: transparent !important;
	border: 0px none #fff;
} 
.compilacaoedit  .edit .artigo {
	float: none;
}

.compilacaoedit  .edit > .actions {
	color: #fff; 
	position: absolute;
	padding: 0 0.2em;
	left: -2.2em;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.compilacaoedit  .edit > .actions a.btn-inserts {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #ffffff !important; 
  font-weight: bold;
  padding: 2px 6px 2px 7px;
  text-decoration: none;
}

.compilacaoedit  .edit > .actions a.btn-inserts:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.compilacaoedit .edit:hover > .actions { 
	z-index: 9;
	opacity: 0.5; 
	background-color: transparent !important
}

.compilacaoedit  .edit:hover > .actions:hover {
	opacity: 1; 
}

.compilacaoedit  .edit:hover > .actions:hover::before {
    
    border-color: transparent transparent transparent #78F9FF; 
}

.compilacaoedit  .edit:hover > .actions::before {
    border: inset 0.375rem;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent transparent #78F9FF; 
    position: absolute;
    top: 0.53rem;
    right: -0.51rem;
} 


.compilacaoedit .editdi {
    display: block;
    clear: left; 
}

.compilacaoedit .editdi *:hover {
  background-color: #eee;
}


.compilacaoedit .articulacao{
    margin-left: -0.8em;
    margin-top: 2em;
}

.compilacaoedit .articulacao::before {
    content: "Articulação";
    background-color: #eee;
    border-bottom: 1px solid #aaa; 
    padding: 0.333em;
    padding-left: 1em;
    display:block;
}

.compilacaoedit .editselected .articulacao::before {
    display: none;
}
.compilacaoedit .editselected > .editdi {
    padding-top: 1em;
}

.compilacaoedit .editselected > .label_pai {
	position: absolute;
	color: #999;
	top: -1.7em;
	left: 0;
	right: 0; 
	width: auto;
	height: auto;
}

.compilacaoedit  .editselected {	
	border: 2.2em solid #eee;
    padding: 1em; 
	margin: 1em -2em 1em -2.8em;
	z-index: 1;
	background-color: #fff !important;
	box-shadow: 0 1px 2px #aaa; 
}

.compilacaoedit .editselected > .actions {
    display: none;
}


.compilacaoedit .actions_inserts {
	color: #fff; 
	position: relative; 
	transition: all 0.4s ease-in-out;  
	margin: 0em;  
}


.compilacaoedit .actions_inserts ul {
	margin-left: 0;
	}
	
.compilacaoedit .actions_inserts li {
    font-weight: normal !important;
    display: inline-block;
    position: relative;
    white-space:nowrap;  
    }
.compilacaoedit .actions_inserts > li.left {
    border-right: 1px solid white;
    }
    
    
.compilacaoedit .actions_inserts > li.right { 
    min-width: 2em;
    text-align: center; 
}


.compilacaoedit .actions_inserts li ul {
	display: none;
	position:absolute;
	top: auto;
	}
	
.compilacaoedit .actions_inserts li:hover ul{
	display: block; 
	}

.compilacaoedit .actions_inserts li:hover ul li{
	display: block;
	background: #3498db;
	background-image: none;
}

.compilacaoedit .actions_inserts { 
    z-index: 99; 
}

.compilacaoedit a.btn-inserts {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #ffffff !important;
  font-size: 0.8em; 
  padding: 0 6px 0 7px;
  text-decoration: none;
  display: block; 
  line-height: 1.7em;
  min-height: 1.7em;
  margin: 0;
}

.compilacaoedit a.btn-inserts:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
} 

.compilacaoedit .actions_inserts > li >a.btn-inserts {
  line-height: 2.2em; 
  min-height: 2.2em;
  font-size: 1em;
  padding: 0 1em;
    }
    




.compilacaoedit .editdi_form input[type=submit] { 
    margin: 0; 
    padding: 0.35em 2em;
} 
 
.compilacaoedit .editdi_form a.alert {
    background-image: none;
    background-color: #A70808 !important;
    color: #c99 !important;
    font-weight: normal !important;
    margin: 0; 
    padding: 0.35em 2em;
}

.compilacaoedit .editdi_form a.alert:hover { 
    background-image: none;
    background-color: #c70808 !important;
    color: #ecc !important;
}



 
.compilacaoedit .actions_head {
    margin: -2.2em -2.2em 0 0;
	position: absolute; 
	top: 0; 
	right: 0;
    list-style: none;
    display: table; 
    z-index: 98;
}

.compilacaoedit .actions_head > li{  
  float: right;
}
 

.compilacaoedit a.btn-action {
    display: table-cell;
    font-size: 1em;
    background-image: none;
    background-color: transparent !important;
    color: #615151 !important;
    vertical-align: middle;
    line-height: 2.2em;
    min-width: 2.2em;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.compilacaoedit a.btn-action:hover {
    background-color: rgba(0,0,0,0.1) !important;
    text-shadow: 0 0 5px #777;
    color: #fff !important;
}

.compilacaoedit .actions_right {
    margin: 0 -2.2em 0 0;
    position: absolute; 
    top: 0; 
    right: 0;
    list-style: none;
    display: table; 
    z-index: 9;
}
















 
 

.compilacaoedit .editdi_form {
    display: block;
    clear: both;
    margin: -1em; 
}

.compilacaoedit .editdi_form textarea {
    margin: 0;
    resize: vertical;
    min-height: 12.5em;
}

.compilacaoedit .actions_insert {
    opacity: 1;  
    display: block;
} 

.compilacaoedit .actions_insert li {
    opacity: 1;
    display: block;
}

.compilacaoedit .actions_insert > li.right{
    opacity: 1; 
    text-align: center;
} 
.compilacaoedit .actions_insert > li.left:nth-child(1),
.compilacaoedit .actions_insert > li.left:nth-child(2) {
    opacity: 1;
    display: block;
    min-width: 33%; 
    max-width: 33%; 
}
.compilacaoedit .actions_insert li.left:nth-child(1) ul,
.compilacaoedit .actions_insert li.left:nth-child(2) ul {
    display: block; 
    position: relative;
}

.compilacaoedit .actions_insert li.left:nth-child(n+3):hover ul {
    right: 0;
    box-shadow: -3px 3px 1.5em #336;
}


.compilacaoedit .actions_footer { 
    position: absolute;
    top: 100%;
    left: -1.8em; 
    right: -1.8em;
    color: #999;
    transition: all 0.4s ease-in-out; 
    padding: 0.3em 0;
}

.compilacaoedit .actions_footer ul  {
	margin-left: 0;
	margin-bottom: 0;
}

.compilacaoedit .actions_footer li  {
	display: block;
    height: auto !important; 
}

.clear {
	 clear:both;
}

.mce-container {
    border-color: #ccc !important;
}

@media only screen and (max-width: 40.0625em) {

	.compilacao .fixed{     
	    z-index:98;  
	    position: relative;
	}


}


@media print {
	.compilacao .vigencias {
		display:none;
	}
}