-r test-requirements.txt

autopep8==1.2.4
beautifulsoup4==4.9.1
django-debug-toolbar==3.2.1
ipdb==0.13.3
fancycompleter==0.9.1
pdbpp==0.10.3
pip-review==0.4
pipdeptree==0.10.1
pydevd-pycharm~=203.7148.7
