django-admin-bootstrapped==2.5.4
django-bootstrap3==6.1.0
django-bower==5.0.4
django-braces==1.8.1
django-compressor==1.5
django-crispy-forms==1.5.1
django-extra-views==0.7.1
django-model-utils==2.4
django-sass-processor==0.2.5
django-vanilla-views==1.0.4
django==1.9
djangorestframework==3.3.2
git+git://github.com/interlegis/trml2pdf.git
libsass==0.8.3
psycopg2==2.6.1
pytz==2015.4
pyyaml==3.11
unipath==1.1
