{% if expedientes %}
<fieldset>
  <legend>Expedientes</legend>
    <table class="table">
      <thead class="thead-default">
        {% for e in expedientes %}
          {% if e.conteudo %}
            <tr>
              <td>
                <b>{{e.tipo}}: </b> <br /><br />
                <div style="border:0.5px solid #BAB4B1; border-radius: 10px; background-color: rgba(225, 225, 225, .8);">
                  <p>{{e.conteudo|safe}}</p>
                </div>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </thead>
    </table>
</fieldset>
<br /><br /><br />
{% endif %}