<fieldset>
  <legend>Matérias do Expediente</legend>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Matéria</th>
        <th>Ementa</th>
        <th>Resultado da Votação</th>
      </tr>
    </thead>
    <tbody>
      {% for m in materia_expediente %}
        <tr>
          <td>
            {{m.numero}} - {{m.titulo}}
            <br />
            <b>Autor{{ m.autor|length|pluralize:"es" }}</b>: {{ m.autor|join:', ' }}
          </td>
          <td>{{m.ementa|safe}}</td>
          <td><b>{{m.resultado}}</b><br/>{{m.resultado_observacao}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</fieldset>