<fieldset>
  <legend>Oradores do Expediente</legend>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Parlamentar</th>
        <th>Discurso</th>
        <th>Observação</th>
      </tr>
    </thead>
    <tbody>
      {% for o in oradores %}
        <tr>
          <td>
           <b>{{o.numero_ordem}}</b> - {{o.parlamentar}}</
          </td>
          <td>{{o.url_discurso}}</td>
          <td><b>{{o.observacao}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</fieldset>