{% if oradores %}
<fieldset>
  <legend>Oradores do Expediente</legend>
  <div class="row">
    <div class="col-md-4">Parlamentar</div>
    <div class="col-md-4">Discurso</div>
    <div class="col-md-4">Observação</div>
  </div>
  <div class="row">
    {% for o in oradores %}
        <div class="col-md-4"><b>{{o.numero_ordem}}</b> - {{o.parlamentar}}</div>
        <div class="col-md-4">{{o.url_discurso}}</div>
        <div class="col-md-4">{{o.observacao}}</div>
        </br>
    {% endfor %}
  </div>
</fieldset>
<br /><br /><br />
{% endif %}