{% extends "parlamentares/parlamentares_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}{% endblock %}
{% block detail_content %}
	
<strong>Parlamentar: </strong>{{ parlamentar.nome_parlamentar }}

<fieldset>
	<legend>Dependentes</legend>

	<table>
		<tr>
			<th><strong>Nome Dependente</strong></th>
			<th><strong>Tipo</strong></th>
			<th><strong>Data de Nascimento</strong></th>
		</tr>
			{% for d in dependentes %}
				<tr>
					<td><a href="{% url 'parlamentares_dependentes_edit' parlamentar.id d.id %}">{{d.nome}}</a></td>
					<td>{{d.tipo }}</td>
					<td>{{d.data_nascimento|default_if_none:""}}</td>
				</tr>
			{% endfor %}
	</table>
</fieldset>

{% crispy form %}

{% endblock detail_content %}
