{% extends "parlamentares/parlamentares_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block sections_nav %}
<dl class="sub-nav left">
	{% if parlamentar %}
		<dd><a href="{% url 'parlamentares_editar' legislatura_id parlamentar.id %}" id="incluir-parlamentar" class="button secondary">{% trans 'Inicio' %}</a></dd>
		<dd><a href="{% url 'parlamentares_mandato' parlamentar.id %}" id="incluir-parlamentar" class="button secondary">{% trans 'Mandatos' %}</a></dd>
		<dd><a href="{% url 'parlamentares_filiacao' parlamentar.id %}" id="incluir-parlamentar" class="button secondary">{% trans 'Filiações Partidárias' %}</a></dd>
		<dd><a href="{% url 'parlamentares_dependentes' parlamentar.id %}" id="incluir-parlamentar" class="button secondary">{% trans 'Dependentes' %}</a></dd>
	{% else %}
		<dd><a href="" id="incluir-parlamentar" class="button secondary" disabled="">{% trans 'Inicio' %}</a></dd>
		<dd><a href="" id="incluir-parlamentar" class="button secondary" disabled="">{% trans 'Mandatos' %}</a></dd>
		<dd><a href="" id="incluir-parlamentar" class="button secondary" disabled="">{% trans 'Filiações Partidárias' %}</a></dd>
		<dd><a href="" id="incluir-parlamentar" class="button secondary" disabled="">{% trans 'Dependentes' %}</a></dd>
	{% endif %}
</dl>
{% endblock sections_nav %}

{% block detail_content %}
	{% crispy form %}
{% endblock %}