{% extends "parlamentares/parlamentares_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}{% endblock %}
{% block detail_content %}

	<h2><strong>Parlamentar: </strong>{{ object.nome_parlamentar }}</h2>

	<fieldset>
		<legend>Mandatos</legend>

		<table class="table table-striped table-bordered">
			<thead class="thead-default">
				<tr>
					<th><strong>Legislatura</strong></th>
					<th><strong>Coligação</strong></th>
					<th><strong>Fim Mandato</strong></th>
					<th><strong>Exp. Diploma</strong></th>
					<th><strong>Nº Votos</strong></th>
					<th><strong>Observação</strong></th>
				</tr>
			</thead>
			{% for m in mandatos %}
				<tr>
					<td><a href="{% url 'parlamentares:parlamentares_mandato_edit' object.id m.id %}">{{m.legislatura}}</a></td>
					<td>{{m.coligacao|default_if_none:""}}</td>
					<td>{{m.data_fim_mandato|default_if_none:""}}</td>
					<td>{{m.data_expedicao_diploma|default_if_none:""}}</td>
					<td>{{m.votos_recebidos|default_if_none:""}}</td>
					<td>{{m.observacao|default_if_none:""}}</td>
				</tr>
			{% endfor %}
		</table>
	</fieldset>

	{% crispy form %}

{% endblock detail_content %}
