{% extends "parlamentares/parlamentares_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}{% endblock %}
{% block detail_content %}

	<h2><strong>Parlamentar: </strong>{{ object.nome_parlamentar }}</h2>

	<fieldset>
		<legend>Filiações</legend>

		<table class="table table-striped table-bordered">
			<thead class="thead-default">
				<tr>
					<th><strong>Partido</strong></th>
					<th><strong>Data Filiação</strong></th>
					<th><strong>Data Desfiliação</strong></th>
				</tr>
			</thead>
			{% for f in filiacoes %}
				<tr>
					<td><a href="{% url 'parlamentares:parlamentares_filiacao_edit' object.id f.id %}">{{f.partido.sigla}}</a></td>
					<td>{{f.data}}</td>
					<td>{{f.data_desfiliacao|default_if_none:""}}</td>
				</tr>
			{% endfor %}
		</table>
	</fieldset>
	{% crispy form %}
{% endblock detail_content %}
