{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}
  <dl class="sub-nav left">

    <dd><a href="{% url 'parlamentares_editar' legislatura_id parlamentar.id %}" id="incluir-parlamentar" class="button secondary">{% trans 'Inicio' %}</a></dd>

    <dd><a href="{% url 'parlamentares_mandato' parlamentar.id %}" id="incluir-parlamentar" class="button secondary">{% trans 'Mandatos' %}</a></dd>

    <dd><a href="{% url 'parlamentares_filiacao' parlamentar.id %}" id="incluir-parlamentar" class="button secondary">{% trans 'Filiações Partidárias' %}</a></dd>

    <dd><a href="{% url 'parlamentares_dependentes' parlamentar.id %}" id="incluir-parlamentar" class="button secondary">{% trans 'Dependentes' %}</a></dd>

  </dl>
{% endblock %}
{% block detail_content %}
	
<strong>Parlamentar: </strong>{{ parlamentar.nome_parlamentar }}

<fieldset>
	<legend>Dependentes</legend>

	<table>
		<tr>
			<th><strong>Nome Dependente</strong></th>
			<th><strong>Tipo</strong></th>
			<th><strong>Data de Nascimento</strong></th>
		</tr>
			{% for d in dependentes %}
				<tr>
					<td><a href="{% url 'parlamentares_dependentes_edit' parlamentar.id d.id %}">{{d.nome}}</a></td>
					<td>{{d.tipo }}</td>
					<td>{{d.data_nascimento}}</td>
				</tr>
			{% endfor %}
	</table>
</fieldset>

{% crispy form %}

{% endblock detail_content %}
