{% extends "crud/detail.html" %}
{% load i18n %}
{% load common_tags %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

{% block vue_content %}
<style>[v-cloak]{display:none}</style>
<div id="leitura-materia" v-cloak
     data-sessao-id="{{ pk }}"
     data-oid="{{ oid }}"
     data-mid="{{ mid }}"
     data-materia-texto="{{ materia_texto }}"
     data-materia-ementa="{{ materia_ementa }}"
     data-observacao="{{ observacao }}">
    <ws-status-banner :status="wsStatus" :message="wsErrorMessage"></ws-status-banner>
    <leitura-materia
        :error-message="error_message"
        :cancel-url="cancelUrl"
        :initial-observacao="initialObservacao"
        :initial-materia-texto="initialMateriaTexto"
        :initial-materia-ementa="initialMateriaEmenta"
        @cancelar="onCancelar"
        @salvar="onSalvar"
        ref="leituraMateria">
    </leitura-materia>
</div>
{% endblock vue_content %}

{% block webpack_loader_css %}
    {{ block.super }}
    {% render_bundle 'leitura-materia' 'css' %}
{% endblock %}

{% block webpack_loader_js %}
    {% render_chunk_vendors 'js' %}
    {% render_bundle  'global' 'js' %}
    {% render_bundle 'leitura-materia' 'js' %}
{% endblock %}
