{% extends "crud/detail.html" %}
{% load i18n crispy_forms_tags %}

{% block detail_content %}
<form method="post">
	{% csrf_token %}

	<fieldset>
		<legend>Votação Nominal</legend>
		<div>
			Matéria: {{materia.materia}}
			<br />
			Ementa: {{materia.ementa|safe}}
		</div>
		<br />
		{% if total == 0 %}
			<div class="alert alert-info alert-dismissible fade in" role="alert">
				<div>Não existe nenhum parlamentar presente para que a votação ocorra.</div>
			</div>
			<a href="{% url 'sapl.sessao:sessaoplenaria_detail' object.pk %}" class="btn btn-warning">Voltar</a>
		{% else %}
			<fieldset class="form-group">
				<div class="row">
					<div class="col-md-12"><input type="button" value="Atualizar Votos" onClick="window.location.href=window.location.href" class="btn btn-primary sm"></div>
				</div>
				<br />

				<legend>Votos</legend>
	      <div class="row">
	        {% for parlamentar in parlamentares %}
		        <div class="col-md-4" id="styleparlamentar">{{parlamentar.0.nome_parlamentar}}</div>
		        <div class="col-md-5">
							{% if parlamentar.1 %} <input type="hidden" name="voto_parlamentar" value="{{parlamentar.1}}:{{parlamentar.0.id}}" /> {% endif %}
		          <select id="voto_parlamentar" name="voto_parlamentar" class="form-control" {% if parlamentar.1 %} disabled {% endif %}>
		            <option value="Não Votou:{{parlamentar.0.id}}">Não Votou</option>
		            <option value="Sim:{{parlamentar.0.id}}" {% if parlamentar.1 == 'Sim' %} selected {% endif %}>Sim</option>
		            <option value="Não:{{parlamentar.0.id}}" {% if parlamentar.1 == 'Não' %} selected {% endif %}>Não</option>
		            <option value="Abstenção:{{parlamentar.0.id}}" {% if parlamentar.1 == 'Abstenção' %} selected {% endif %}>Abstenção</option>
		          </select>
		        </div>
	        {% endfor %}
	      </div>
			</fieldset>

	    <div class="row">
	      <div class="col-md-12">
	        {{ form.resultado_votacao|as_crispy_field }}
	      </div>
	    </div>

			<br />
	    <div class="row">
	      <div class="col-md-12">
	        Observações<br/>
	        <textarea id="observacao" name="observacao" style="width:100%;" rows="7"></textarea>
	      </div>
	    </div>

			<br /><br />
			<input type="submit" id="salvar-votacao" name="salvar-votacao" value="Fechar Votação" class="btn btn-primary" />
			<input type="submit" id="cancelar-votacao" name="cancelar-votacao" value="Cancelar Votação" class="btn btn-warning" />
		</fieldset>
	</form>
	{% endif %}
{% endblock detail_content %}

{% block extra_js %}
	<script>
		function voltar() {
			window.history.back();
		}

		$(window).on('beforeunload', function () {
            $("input[type=submit], input[type=button]").prop("disabled", "disabled");
        });

	</script>
{% endblock extra_js%}
