{% extends "crud/detail.html" %}
{% load i18n %}

{% block detail_content %}
<form method="post">
	{% csrf_token %}

	<fieldset>
		<legend>Votação Nominal</legend>
		<div>
			Matéria: {{materia.materia}}
			<br />
			Ementa: {{materia.ementa|safe}}
		</div>
		<br />
		<fieldset class="form-group">
			<legend>Votos</legend>
      <div class="row">
        {% for parlamentar in parlamentares %}
        <div class="col-md-6">{{parlamentar.nome_parlamentar}}</div>
        <div class="col-md-6">
          <select id="voto_parlamentar" name="voto_parlamentar" class="form-control">
            <option value="sim:{{parlamentar.id}}">Sim</option>
            <option value="nao:{{parlamentar.id}}">Não</option>
            <option value="abstencao:{{parlamentar.id}}">Abstenção</option>
            <option value="nao_votou:{{parlamentar.id}}">Não Votou</option>
          </select>
        </div>
        {% endfor %}
      </div>
		</fieldset>

    <div class="row">
      <div class="col-md-12">
        Resultado da Votação
        <select id="resultado_votacao" name="resultado_votacao" class="form-control">
          {% for tipo in tipos %}
          <option value="{{tipo.id}}">{{tipo.nome}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

		<br />
    <div class="row">
      <div class="col-md-12">
        Observações<br/>
        <textarea id="observacao" name="observacao" style="width:100%;" rows="7"></textarea>
      </div>
    </div>

		<br /><br />
		<input type="submit" id="salvar-votacao" name="salvar-votacao" value="Salvar" class="btn btn-primary" />
		<input type="submit" id="cancelar-votacao" name="cancelar-votacao" value="Cancelar Votação" class="btn btn-warning" />
	</fieldset>
</form>
{% endblock detail_content %}
