{% extends "crud/detail.html" %}
{% load i18n %}

{% block detail_content %}
<form id="form-votacao" method="post">
	{% csrf_token %}

	<fieldset class="form-group">
		<legend>{{votacao_titulo}}</legend>

		{% if form.errors %}
			<div class="alert-box alert">
				<b><h4>Os seguintes erros foram encontrados:</h4></b>
				<ul>
					{% for field in form %}
						{% if field.errors %}
							{% if field.label == 'total'%}
								<li>O total de votos não corresponde com a quantidade de presentes!</li>
							{% else %}
								<li>O campo <b>{{field.label}}</b> é obrigatório!</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		<div>
			<b>Matéria:</b> {{materia.materia|safe}}
			<br />
			<b>Ementa:</b> {{materia.ementa|safe}}
			<br />
			<br />
			<b>Total presentes:</b> {{total_presentes}} (com presidente)
			<input type="hidden" id="total_votos" name="total_votos">
		</div>
		<br />

    <div class="row">
      <div class="col-md-4">Sim: <input type="text" id="votos_sim" name="votos_sim" value="" class="form-control"/></div>
      <div class="col-md-4">Não: <input type="text" id="votos_nao" name="votos_nao" value="" class="form-control"/></div>
      <div class="col-md-4">Abstenções: <input type="text" id="abstencoes" name="abstencoes" value="" class="form-control"/></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        A totalização inclui o voto do Presidente?
        <select id="voto_presidente" name="voto_presidente" class="form-control">
          <option value="1">Sim</option>
          <option value="0" selected>Não</option>
        </select>
      </div>

      <div class="col-md-6">
        Resultado da Votação
        <select id="resultado_votacao" name="resultado_votacao" class="form-control">
          {% for tipo in view.get_tipos_votacao %}
          	<option value="{{tipo.id}}">{{tipo.nome}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        Observações
        <textarea id="observacao" name="observacao" cols="10" rows="10" class="form-control"></textarea>
      </div>
    </div>

		<br /><br />
		<input type="submit" id="salvar-votacao" name="salvar-votacao" value="Salvar" class="btn btn-primary" />
		<input type="submit" id="cancelar-votacao" name="cancelar-votacao" value="Cancelar Votação" class="btn btn-warning" />
	</fieldset>
</form>
{% endblock detail_content %}
