{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block actions %}{% endblock %}

{% block sections_nav %}
{% endblock %}

{% block detail_content %}
    {% block buttons %}

      {% comment %} {% if filter_url and not filter.form.errors %}
            <div class="actions btn-group pull-right" role="group">
              <a href="{% url 'sapl.sessao:votacao_bloco_expediente' pk_sessao %}" class="btn btn-default">{% trans 'Fazer nova pesquisa' %}</a>
            </div>

            <div class="actions btn-group pull-right" role="group">
              <a href="{% url 'sapl.sessao:expedientemateria_list' pk_sessao %}" class="btn btn-default">{% trans 'Matérias do Expediente' %}</a>
            </div>

      {% endif %} {% endcomment %}

    {% endblock %}

  <p></p>
        
        {% comment %} {% if paginator.count %} {% endcomment %}
          <form method="POST" enctype="application/x-www-form-urlencoded">
          {% csrf_token %}
            {% comment %} {% if paginator.count > 1 %}
                <h3>{% blocktrans with paginator.count as total_materias %}Pesquisa concluída com sucesso! Foram encontradas {{total_materias}} matérias.{% endblocktrans %}</h3>
            {% elif paginator.count == 1 %}
                <h3>{% trans 'Pesquisa concluída com sucesso! Foi encontrada 1 matéria.'%}</h3>
            {% endif %} {% endcomment %}
            <br><br>
            <table class="table table-striped table-bordered">
                <thead class="thead-default">
                    <tr>
                        <td><h3>{% trans "Tipo de Votação" %}</h3></td>
                    </tr>
                </thead>
                <tr>
                    <td class="col-md-12">
                        <input type="radio" name="tipo_votacao_{{m.id}}" id="tipo_votacao_{{m.id}}" value="1"> <label for="tipo">Simbólica</label>
                        </br>
                        <input type="radio" name="tipo_votacao_{{m.id}}" id="tipo_votacao_{{m.id}}" value="2"> <label for="tipo">Nominal</label>
                        </br>
                    </td>
                </tr>
            </table>
            
            <br>
            <h3>Selecione a(s) ordem(s) do dia desejada(s).</h3>
            <table class="table table-striped table-bordered">
              <thead class="thead-default">
                <tr>
                  <td><h3>{% trans "Ordem do dia" %}</h3></td>
                </tr>
              </thead>

              <div class="checkbox">
                <label for="id_check_all">
                  <input type="checkbox" id="id_check_all" onchange="checkAll(event)" /> Marcar/Desmarcar Todos
                </label>
              </div>
             

                {% for m in ordem_dia %}
                    <tr>
                        <td>
                            <input type="checkbox" name="materia_id" id="{{m.id}}" value="{{m.id}}" {% if check %} checked {% endif %}>
                            <strong><a href="{% url 'sapl.materia:materialegislativa_detail' m.id %}">{{m.materia.tipo.sigla}} {{m.materia.numero}}/{{m.materia.ano}} - {{m.materia.tipo}}</strong></a></br>
                            {% if m.materia.numeracao_set.last %}
                              <strong>Processo:</strong> &nbsp; {{m.materia.numeracao_set.last}}</br>
                            {% endif %}
                            <strong>Autor:</strong>
                            {% for a in m.materia.autoria_set.all %}
                              {% if not forloop.first %}
                                , &nbsp;&nbsp; {{a.autor|default_if_none:""}}
                              {% else %}
                                &nbsp;{{a.autor|default_if_none:""}}
                              {% endif %}
                            {% endfor %}
                            </br>
                            {% if m.materia.numero_protocolo %}
                              <strong>Protocolo:</strong> &nbsp; {{m.materia.numero_protocolo}}</br>
                            {% endif %}
                            {% if  m.materia.tramitacao_set.last %}
                              {% if m.materia.tramitacao_set.last.turno %}
                                <strong>Turno:</strong>&nbsp;
                                {% for t in turno_choices %}
                                  {% if t.0 == m.materia.tramitacao_set.last.turno %}
                                    {{ t.1 }}
                                  {% endif %}
                                {% endfor %}</br>
                              {% endif %}
                            {% endif %}
                            <strong>Ementa:</strong>&nbsp;{{ m.ementa|safe }}</br>
                            <p></p>
                        </td>
                    </tr>         
                {% endfor %}
              </table>
              <input type="submit" value="Registrar votação" class="btn btn-primary"S>
            </form>
        {% comment %} {% else %}
          <table class="table table-striped table-bordered">
            <tr>
                <td>
                    <h3>Nenhuma ordem do dia aberta.</h3>
                </td>
            </tr>
          </table>
        {% endif %} {% endcomment %}


{% endblock detail_content %}

{% block extra_js %}
	<script>

		$(window).on('beforeunload', function () {
            $("input[type=submit], input[type=button]").prop("disabled", "disabled");
        });

	</script>

  <script language="JavaScript">
		function checkAll(event) {
			$('[name=materia_id]').each(function() {
				$(this).prop('unchecked', event.target.checked ? 'checked': null);
				$(this).trigger('click');
			});
		}
	</script>
{% endblock extra_js%}
