{% extends "protocoloadm/proposicoes_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
			<h2>Proposições Incorporadas</h2>
			<table>
				{% for p in object_list %}
				<tr>
					<td>
						<a href="{% url 'proposicao_view' p.id %}">
							{{ p.data_envio|date:"d/m/Y" }}
						</a>
					</td>
					<td>
						{{ p.tipo.descricao }}
					</td>					
					<td>
						{{ p.descricao }}
					</td>
					<td>
						{{ p.autor }}
					</td>
				</tr>
				{% endfor %}
			</table>
			{% include "paginacao.html" %}
{% endblock detail_content %}