{% extends "crud/detail.html" %}
{% load i18n %}

{% block sections_nav %}
<div class="actions btn-group pull-right" role="group">
  <a href="{% url 'protocoloadm:proposicao_receber' %}" class="btn btn-default">{% trans 'Incorporar Proposições' %}</a>
  <a href="{% url 'protocoloadm:proposicoes_naorecebidas' %}" class="btn btn-default">{% trans 'Proposições Não Recebidas' %}</a>
  <a href="{% url 'protocoloadm:proposicoes_naoincorporadas' %}" class="btn btn-default">{% trans 'Proposições Não Incorporadas' %}</a>
  <a href="{% url 'protocoloadm:proposicoes_incorporadas' %}" class="btn btn-default">{% trans 'Proposições Incorporadas' %}</a>
</div>
{% endblock sections_nav %}
