{% extends "protocoloadm/protocoloadm_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block detail_content %}
			Total: {{ protocolos|length }} 		
			<table>
				<tr><td>Número de Protocolo</td>
					<td>Assunto</td>
					<td>Tipo de Documento</td>
					<td>Ano</td>
					<td>Data</td>
				</tr>
				{% for p in protocolos %}
					<tr><td>{{ p.numero }}</td>
						<td>{{ p.ano }}</td>					
						<td>{{ p.assunto_ementa }}</td>
						<td>{{ p.tipo_documento }}</td>
						<td>{{ p.data|date:"d/m/Y" }}</td>
					</tr>
				{% endfor %}
			</table>
			{% include "paginacao.html" %}
{% endblock detail_content %}
