@import "bootstrap/variables.scss";

@import "header";

@import "home_index";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 160px;
}

h1, h2, h3, h4, h5, h6, form, dl, dt, dd, p, div, img, a {
  margin: 0;
  padding: 0;
}
h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 24px;
}
h3, .h3 {
  font-size: 20px;
}
h4, .h4 {
  font-size: 16px;
}
h5, .h5 {
  font-size: 14px;
}
h6, .h6 {
  font-size: 12px;
}

p {
  margin: 0.5em 0;
  .control-label {
    font-weight: bold;
  }
}

label {
  margin-bottom: 0;
  line-height: 1;
}

fieldset {
  fieldset {
    font-size: 95%;
    legend {
      font-size: 18px;
    }
  }
}

.page-header {
  margin: 20px 0px 10px;
}

.caret {
  &.top {
    transform: rotate(180deg);
  }
}

.btn:hover, .btn:focus {
  color: inherit;
}

.btn-default {
  &.btn-excluir {
    color: $btn-danger-bg;
    &:hover {
      color: $btn-danger-color;
      border-color: lighten($btn-danger-bg, 5%);
      background-color: lighten($btn-danger-bg, 5%);
    }
  }
}

.btn-cancel-iframe {
  position: relative;
  text-align: right;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
  a {
    padding: 10px;
    display: inline-block;
  }
}

.legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
  clear: both;
}
.grid-gutter-width-right {
  margin-right: $grid-gutter-width / 2;
}

.help-block-danger {
  margin: $grid-gutter-width / 2;
  padding: $grid-gutter-width / 2;
  border: 2px dashed #f00;
}

.control-label {
  margin: 0;
}

.form-control-static {
  padding-top: 0;
  min-height: auto;
  img {
    max-width: 100%;
  }
}

.pagination {
  padding-top: 25px;
}

.modal {
  .alert {
    margin-bottom: 0;
  }
}

.avatar-parlamentar {
  height: 128px;
  width: 128px;
  margin: 0 auto;
  display: table;
}


.masthead {
  padding: 10px;
  .nav {
    clear:both;
  }
  .navbar-brand {
    padding: 0px;
    color: $headings-color;
    font-size: 24px;
    img.img-responsive {
      height: 95px;
      margin-right: $navbar-padding-horizontal;
      display: inline-block;
    }
    small {
      color: #93A4AA;
      font-size: 75%;
      line-height: 25px;
    }
    .vcenter {
      display: inline-block;
      vertical-align: middle;
      float: none;
      padding: 10px;
    }
  }
}

nav {
  &.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 15px;
  }
  .navbar-nav {
    & > li {
      & > a {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: $grid-gutter-width * 2.5;
        &:hover {
          background-color: $link-hover-color;
        }
      }
      &:nth-child(2) {
        & > .dropdown-menu {
          right: auto;
        }
      }

    }
    &:last-child {
      & > li:last-child {
        a {
          padding-right: 0px;
        }
      }
    }
  }
}

.controls-radio-checkbox, .controls-file {
  padding: 0px;
  border: 1px solid #d6e1e5;
  border-radius: 4px;
  min-height: 20px;
  
  .checkbox, .radio, .checkbox-inline, .radio-inline  {
    padding: 8px 8px 8px 36px;
    margin: 0;
    line-height: 1.6;
    display: block;

    &:hover {
      background-color: #d6e1e5;
    }
    .icons {
      top: auto;
      left: 8px;
    }
  }
  .checkbox-inline, .radio-inline {
    display: inline-block;
  }

  .help-block {
    margin: $grid-gutter-width / 2;
    padding: $grid-gutter-width / 2;
    border: 2px dashed #d6e1e5;
  }
}

.manual {
  &, & ul {
    padding-left: 1.5em;
    list-style-type: none;
    margin-top: 0;
    font-size: 100%;
  }
  li {
    display: list-item;
    line-height: 1.5em;
    padding-right: 0;
    a {
      background-color: transparent;
      border: none;
      border-radius: none;
      padding: 0;
    }
  }
}
.controls-file {
  padding: 15px;
}
.container-tabaux {
  .sidebar-tabaux {
    background: #fafafa;
    margin-top: -70px;
    padding: 10px;
    border: 1px solid #eee;
    .navbar-right {
      margin: 0;
    }
    .nav-pills > li + li {
      margin-left: 0px;
    }
    li {
      width: 100%;
    }
    span {
      display: none;
    }
    .dropdown-menu {
      padding: 0px;
      right: 10px;
      margin-top: -5px;
      overflow: hidden;
      a {
        border: 0px;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .list {
    font-family: "SourceSansProSemiBold", Helvetica, Arial, sans-serif;
    font-size: 0px;
    display: table;
    width: 100%;
    margin: 0;

    ul {
      display: table;
      width: 100%;
      margin: 0;
    }

    li {
      width: calc(50%);
      display: inline-block;
      position: relative;
    }
    & > li {
      width: 100%;
      border-bottom: 1px solid #eee;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .head_title {
      color: #364347;
      font-size: 2.4rem;
      text-transform: none;
    }

    a {
      span {
        display: none;
      }
    }
  }
}

#styleparlamentar {
  border: 0px solid #d6e1e5;
  border-top-color: rgb(214, 225, 229);
  border-right-color: rgb(214, 225, 229);
  border-bottom-color: rgb(214, 225, 229);
  border-left-color: rgb(214, 225, 229);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-repeat: initial;
  font-size: 16px;
  line-height: 1.467;
  padding: 7px 12px;
  height: 40px;
  -webkit-appearance: none;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-left: 1.0em;
}

.footer {
  background: #364347;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  p {
    color: white;
    margin-top: 10px;
  }
  .container {
    padding-top: 25px;
  }
}

@media (max-width: 1199px) {
  nav {
    .container {
      width: auto !important;
    }
  }
  .navbar-nav > li > a {
     padding-left: $grid-gutter-width / 2.8;
     padding-right:  $grid-gutter-width / 2.8;
  }
}


@media (max-width: 1091px) {
  .container {
    width: auto;
  }
  .navbar-nav > li > a {
     padding-left: $grid-gutter-width / 4;
     padding-right:  $grid-gutter-width / 4;
  }
  .masthead {
    .navbar-brand {
      font-size: 22px;
      img.img-responsive {
        height: 60px;
        margin-right: $navbar-padding-horizontal / 2;
      }
    }
  }
}

@media (max-width: 991px) {
  body {
    margin: 0;
  }
  .footer {
    position: relative;
  }
  .caret {
    margin-left: 1px;
  }
  .navbar-nav > li > a {
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media (max-width: 767px) {
  nav {
    .navbar-nav > li > a { 
      line-height: 2.5;
    }
    .navbar-right {
      position: absolute;
      top: 0;
      margin: 10px;
      & > li {
        vertical-align: top;
        display: inline-block;
        a {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .pesquisa.open {
        ul {
          position: absolute;
        }
      } 
      .navbar-form {
        margin: 8px 0;
      }
    }
  }
  .table{
    width: auto;
    white-space: normal;
    display:block;
    overflow-x: auto;
  }
}
.lista-parlamentares .table td {
  vertical-align: middle;
}

@media (min-width: 1092px) and (max-width: 1199px) {
  .container {
      width: 1070px;
  }
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
