
@import "bootstrap/variables.scss";
@import "header";

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.masthead {
  padding: 10px;
  .nav {
    margin-top: 65px;
  }
  .navbar-brand {
    color: $headings-color;
    font-size: 24px;
    img {
      margin-right: $navbar-padding-horizontal;
    }
    small {
      color: #93A4AA;
      font-size: 75%;
      line-height: 25px;
    }
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding: 0px;
}

// ADJUST DRUNKEN PARROT STYLES ########################################
h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 24px;
}
h3, .h3 {
  font-size: 20px;
}
h4, .h4 {
  font-size: 16px;
}
h5, .h5 {
  font-size: 14px;
}
h6, .h6 {
  font-size: 12px;
}

.page-header {
    margin: 20px 0px 10px;
}

.btn:hover, .btn:focus {
    color: inherit;
}

// #### CRUD DETAIL ########################################
p.control-label {
  font-weight: bold;
}

// copied from bootstrap _forms.scss legend
// using @extend would require importing parts of bootstrap again and overriding drunken parrot css
//   @import "bootstrap/mixins.scss";
//   @import "bootstrap/forms.scss";

.legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font-size: ($font-size-base * 1.5);
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
}

// #### footer ###########################################
// based on http://getbootstrap.com/examples/sticky-footer

$footer-height : 140px;
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height + 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background: #364347 none repeat scroll 0% 0%;
  color: white;
  text-align: center;
  p {
    color: white;
    margin-top: 10px;
  }
  .container {
    padding-top: 25px;
  }
}

// #### pagination ########################################
.pagination {
  padding-top: 25px;
}

// #### conserta radios e checkboxes escondidas pelo drunken parrot ############
// FIXME ajustar após solução definitiva
.checkbox input, .radio input {
    display: initial;
}

.modal {
  .alert {
    margin-bottom: 0;
  }
}

fieldset {
  fieldset {
    font-size: 95%;
    legend {
      font-size: 18px;
    }
  }
}

.btn-primary, .btn-danger{
  font-size: 16px;
  height: 40px !important;
  display: inline-block;
}

/* INDEX */
#homeIndex {
    text-align: center;
}

.homeBanner span {
    color: white;
    font-size: 32px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    padding: 2px 45px 4px;
    border: 2px solid;
}

.homeBanner::after {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.homeBlock {
    display: inline-block;
    position: relative;
    background-color: #EBEBEB;
    width: 190px;
    height: 260px;
    margin: 3px;
    text-align: center;
    font-size: 0;
    overflow: hidden;
}

.homeBlock > a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.homeBlock::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    overflow: visible;
    clear: none;
    visibility: initial;
}

.homeContent {
    position: relative;
    padding: 10px;
    text-align: justify;
    font-size: 14px;
    color: #FFF;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: inline-block;
    vertical-align: middle;
}

.homeContent p {
    display: block;
    line-height: 13px;
    font-size: 80%;
}

.homeIcon {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background: #27ae60;
    z-index: 1;
}

.homeIcon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #27ae60;
    top: 0;
    left: 0;
    transform: scale(0.95);
    transition: transform 0.6s ease;
}

.homeIcon img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: opacity 0.4s 0.4s ease;
}

.homeFront {
    position: absolute;
    top: 46%;
    width: 100%;
    font-size: 0;
    transform: translateY(-60%);

}

.homeFront h2 {
    position: absolute;
    margin-top: 14px;
    font-size: 20px;
    font-weight: 700;
    color: #595959 !important;
    width: 88%;
    padding: 0 6%;
    z-index: 0;
}

.homeTitle {
    display: block;
    height: 32px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.homeTitle::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.homeTitle h2 {
    display: inline-block;
    vertical-align: middle;
    max-width: 110px;
    font-size: 14px;
    color: white !important;
    line-height: 1em;
}

.homeTitle img {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    margin-right: 5px;
}

.homeBlock:hover .homeIcon::before {
    transform: scale(3.6) translateY(7px);
}

.homeBlock:hover .homeContent{
    opacity: 1;
    transition-delay: 0.2s;
}

.homeBlock:hover .homeIcon img {
    opacity: 0;
    transition-duration: 0.2s;
    transition-delay: 0s;
}

.homeBlock:hover .homeTitle {
    opacity: 1;
}

h1, h2, h3, h4, h5, h6, form, dl, dt, dd, p, div, img, a {
    margin: 0;
    padding: 0;
}

p {
    margin: 0.5em 0;
}
/* FIM INDEX */
