{% load crispy_forms_filters %}
{% load i18n compilacao_filters common_tags%}


<div class="controls lista-dispositvo"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
  {% include 'bootstrap/layout/field_errors_block.html' %}

    {% for choice, dpt in  field.field.choices %}
      {% ifchanged dpt.ta%}
        {% if not forloop.first %}</ul>{% endif %}
          <ul id="ta{{dpt.ta.pk}}">
            <li class="ta_title"><span>{{dpt.ta}}</span></li>
      {% endifchanged %}

      <li>
        <div class="iteminput">
          <input type="{{field.field.widget.attrs|lookup:"data-type-selection"}}" name="{{ field.html_name }}" id="dpt{{dpt.pk}}" value="{{dpt.pk}}"  {% if choice|stringformat:"s" == field.value|stringformat:"s" %} checked="checked"{% endif %} />
        </div>
        <div class="itemlabel dpt">
          {% if dpt.nivel > 1 %}
            <a class="clearfix"  target="_blank" href="{% url 'sapl.compilacao:ta_text' dpt.ta.pk%}#{{dpt.pk}}" class="nomenclatura_heranca">{% trans "Herança:" %} {% heranca request dpt 1 0 %}</a>
          {% endif %}
          <div class="{{ dpt.tipo_dispositivo.class_css }}">
            <div class="dptt {% dispositivo_desativado dpt None None %}"  id="dptt{{dpt.pk}}" >
              {{ dpt.tipo_dispositivo.rotulo_prefixo_html|safe }}
              {% if dpt.rotulo or dpt.nivel = 1 %}{{ dpt.rotulo }}{%else%}[{{ dpt|nomenclatura}} {% trans "de" %} {{ dpt.dispositivo_pai.rotulo }}] - {% endif %}
              {{ dpt.tipo_dispositivo.rotulo_sufixo_html|safe }}
              <span class="dtxt"
                    id="d{% if not dpt.dispositivo_subsequente_id and dpt.dispositivo_substituido_id %}a{% endif %}{{dpt.pk}}"
                    pks="{{dpt.dispositivo_substituido_id|default:''}}"
                    pk="{{dpt.pk}}">{{ dpt.tipo_dispositivo.texto_prefixo_html|safe }}{%if dpt.texto %}{{ dpt.texto|safe }}{%else%}{%if not dpt.tipo_dispositivo.dispositivo_de_articulacao %}&nbsp;{% endif %}{% endif %}</span>
            </div>
          </div>
        </div>
      </li>

      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}



    {% include 'bootstrap/layout/help_text.html' %}
</div>
