
{% load i18n %}

{% if menu %} 
<ul class="nav nav-pills justify-content-end">
  {% for item in menu %}
    {% if item.children %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle  {{item.active}}" data-toggle="dropdown" href="#fakeLink">
          {% trans item.title %}
        </a>
        <ul class="dropdown-menu" role="menu">
          {% for subitem in item.children %}
              {% if subitem.url %}
                <li class="dropdown-item {{subitem.active}}"><a href="{{ subitem.url }}">{% trans subitem.title %}</a></li>
              {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% else %}
      {% if item.url %}
        <li class="nav-item {{item.active}}"><a class="nav-link {{item.active}}" href="{{ item.url }}">{% trans item.title %}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
