{% extends "crud/detail.html" %}
{% load i18n sass_tags %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

{% block main_header %}
<head>
  <title>Resumo</title>
  <meta charset="utf-8">
</head>
{% endblock main_header %}

<style type="text/css">
  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  @media print{

    margin-bottom: 40px;
    counter-increment: page;

    .footer {
      position: fixed;
      bottom: 0;
      padding: 1rem;
      background-color: #efefef;
      align-content: space-between;
    }
  }
</style>

<body style="margin-left:80px;margin-right:80px; margin-top: -50px">

{% block detail_content %}
  <div style="page-break-inside: avoid;">
  {% include 'sessao/blocos_resumo/'|add:primeiro_ordenacao %}
    <br /><br /><br />
  </div>
  <div style="page-break-inside: avoid;">
    {% include 'sessao/blocos_resumo/'|add:segundo_ordenacao %}
    <br /><br /><br />
  </div>
  <div style="page-break-inside: avoid;">
    {% include 'sessao/blocos_resumo/'|add:terceiro_ordenacao %}
    <br /><br /><br />
  </div>
  <div style="page-break-inside: avoid;">
    {% include 'sessao/blocos_resumo/'|add:quarto_ordenacao %}
    <br /><br /><br />
  </div>
  <div style="page-break-inside: avoid;">
    {% include 'sessao/blocos_resumo/'|add:quinto_ordenacao %}
    <br /><br /><br />
  </div>
  <div style="page-break-inside: avoid;">
    {% include 'sessao/blocos_resumo/'|add:sexto_ordenacao %}
    <br /><br /><br />
  </div>
  <div style="page-break-inside: avoid;">
    {% include 'sessao/blocos_resumo/'|add:setimo_ordenacao %}
    <br /><br /><br />
  </div>
  <div style="page-break-inside: avoid;">
    {% include 'sessao/blocos_resumo/'|add:oitavo_ordenacao %}
    <br /><br /><br />
  <div style="page-break-inside: avoid;">
  </div>
    {% include 'sessao/blocos_resumo/'|add:nono_ordenacao %}
    <br /><br /><br />
  </div>
  <div style="page-break-inside: avoid;">
    {% include 'sessao/blocos_resumo/'|add:decimo_ordenacao %}
  </div>
{% endblock detail_content %}

{% block footer_container %}
<hr>
<footer id="footer" class="footer page__row">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        {% if nome %}
        <address>
          <small>
            <strong>
              <span class="org">{{ nome }}</span>
            </strong>
            <br>
            <span class="street-address">{{ endereco }}</span>
            <br> CEP: <span class="postal-code">{{ cep }}</span> |
              {% if telefone %}
                Telefone: <span>{{ telefone }}</span>
              {% else %}
                Telefone: Não informado.
              {% endif %}
            <br>
          </small>
        </address>

        {% endif %}
      </div>
    </div>
  </div>
</footer>
{% endblock footer_container %}

</body>
