<!DOCTYPE html>
<html>

<head>
    <title>Impressos</title>
    <meta charset="utf-8">
</head>

<style type="text/css">
    .text_pdf{
        font-family: verdana;
        font-size: 77%;
    }
    .alert_message{
        font-family: verdana;
        font-size: 77%;
        color: red;

    @media print {
    p {page-break-inside: avoid;}
}
    }
</style>

<body style="margin-left:80px;margin-right:80px; margin-top: -50px">

{% extends "crud/detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    <h1 class="page-header">
        Resumo <small>({{sessaoplenaria}})</small>
        <br/>
    </h1>
{% endblock %}

{% block detail_content %}

    {% include 'sessao/blocos_resumo/'|add:primeiro_ordenacao %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/'|add:segundo_ordenacao %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/'|add:terceiro_ordenacao %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/'|add:quarto_ordenacao %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/'|add:quinto_ordenacao %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/'|add:sexto_ordenacao %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/'|add:setimo_ordenacao %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/'|add:oitavo_ordenacao %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/'|add:nono_ordenacao %}
    <br /><br /><br />

    {% include 'sessao/blocos_resumo/'|add:decimo_ordenacao %}
    <br /><br /><br />


{% endblock detail_content %}

</body>
