{% extends "crud/detail.html" %}
{% load i18n crispy_forms_tags %}
{% block detail_content %}

    {% if not show_results %}
        {% crispy filter.form %}
    {% else %}
        {% if object_list|length > 0 %}
            {% if object_list|length == 1 %}
                <h3 style="text-align: right;">{% trans 'Pesquisa concluída com sucesso! Foi encontrada 1 matéria.'%}</h3>
            {% else %}
                <h3 style="text-align: right;">Foram encontradas {{object_list|length}} matérias.</h3>
            {% endif %}
            {% crispy form %}
        {% else %}
            <tr><td><h3 style="text-align: right;">Nenhuma matéria encontrada.</h3></td></tr>
        {% endif %}

    {% endif%}
{% endblock detail_content %}

{% block extra_js %}
	<script language="JavaScript">
	function checkAll(elem) {
      let checkboxes = document.getElementsByName('materias');
      for (let i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].type == 'checkbox') 
            checkboxes[i].checked = elem.checked;
      }
    }
	</script>
{% endblock %}
