{% extends "crud/detail.html" %}
{% load i18n crispy_forms_tags %}
{% block actions %}{% endblock %}
{% block detail_content %}

  {% if not filter_url %}
    {% crispy filter.form %}
  {% endif %}

  {% if filter_url %}
    {% if object_list|length > 0 %}
      {% if object_list|length == 1 %}
        <h3 style="text-align: right;">{% trans 'Pesquisa concluída com sucesso! Foi encontrada 1 matéria.'%}</h3>
      {% else %}
        <h3 style="text-align: right;">Foram encontradas {{object_list|length}} matérias.</h3>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        <fieldset>
          <legend>1. Detalhes da tramitação:</legend>

          <div class="row">
            <div class="col-md-4">
              <label>Data da Tramitação*</label>
              <input type="text" name="data_tramitacao" class="form-control dateinput" required="True">
            </div>

            <div class="col-md-4">
              <label>Data Encaminhamento</label>
              <input type="text" name="data_encaminhamento" class="form-control dateinput">
            </div>

            <div class="col-md-4">
              <label>Data Fim do Prazo</label>
              <input type="text" name="data_fim_prazo" class="form-control dateinput">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <label>Unidade Local*</label>
              <select id="id_unidade_tramitacao_local" name="unidade_tramitacao_local" class="form-control" required="True">
                {% if unidade_local|length > 1 %}<option></option>{% endif %}                
                {% for u in unidade_local %} <option value="{{u.id}}">{{u}}</option> {% endfor %}
              </select>
            </div>

            <div class="col-md-6">
              <label>Unidade Destino*</label>
              <select name="unidade_tramitacao_destino" class="form-control" required="True">
                <option></option>
                {% for u in unidade_destino %} <option value="{{u.id}}">{{u}}</option> {% endfor %}
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <label>Status*</label>
              <select name="status" class="form-control" required="True">
                <option></option>
                {% for s in status_tramitacao %} <option value="{{s.id}}">{{s}}</option> {% endfor %}
              </select>
            </div>

            <div class="col-md-4">
              <label>Urgente?*</label>
              <select name="urgente" class="form-control" required="True">
                <option></option>
                {% for u in urgente_tramitacao %} <option value="{{u|first}}">{{u|last}}</option> {% endfor %}
              </select>
            </div>

            <div class="col-md-4">
              <label>Turno</label>
              <select name="turno" class="form-control">
                <option></option>
                {% for t in turnos_tramitacao %} <option value="{{t|first}}">{{t|last}}</option> {% endfor %}
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label>Texto da Ação*</label>
              <textarea name="texto" class="textarea form-control" cols="40" rows="10" required="True"></textarea>
            </div>
          </div>
        </fieldset>

        <br /><br /><br />

        <fieldset>
          <legend>2. Selecione as matérias para primeira tramitação:</legend>
          <table class="table table-striped table-hover">
            <div class="controls">
					<div class="checkbox">
						<label for="id_check_all">
							<input type="checkbox" id="id_check_all" onchange="checkAll(event)" /> Marcar/Desmarcar Todos
						</label>
					</div>
			</div>
            <thead>
              <tr><th>Matéria</th></tr>
            </thead>
            <tbody>
                {% for materia in object_list %}

                  <tr>
                    <td>
                      <input type="checkbox" name="materia_id" value="{{materia.id}}" {% if check %} checked {% endif %}/>
                      {{materia.tipo.sigla}} {{materia.tipo.descricao}} {{materia.numero}}/{{materia.ano}}
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </fieldset>
        <input type="submit" value="Salvar" class="btn btn-primary"S>
      </form>
    {% else %}
      <tr><td><h3 style="text-align: right;">Nenhuma matéria encontrada.</h3></td></tr>
    {% endif %}
  {% endif %}
{% endblock detail_content %}
{% block extra_js %}
	<script language="JavaScript">
		function checkAll(event) {
			$('[name=materia_id]').each(function() {
				$(this).prop('checked', event.target.checked ? 'checked': null);
				$(this).trigger('click');
			});
		}

    $(document).ready(function(){
      $('#id_unidade_tramitacao_local').prop('disabled', true);
    });

    // Reabilita o campo, no momento do Submit, para que seu dado seja enviado
    $('form').submit(function(){
      $('#id_unidade_tramitacao_local').prop('disabled', false);
    });
	</script>
{% endblock %}
